Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

`HasModels` trait
  src/Cms/HasModels.php
  src/Cms/Page.php
  src/Cms/User.php
Due: backend

Fix unit test for File::save
  tests/Cms/NewFile/NewFileSaveTest.php
Due: none

NewFile::copy method which always returns the correct file instance
  src/Cms/NewFile.php
Due: backend

Suppress psalm error
  src/Cms/NewFile.php
  src/Cms/NewPage.php
Due: backend

`k-item`: fix non-selectable state
  panel/src/components/Collection/Item.vue
Due: frontend

PHPUnit attributes for `Kirby\Toolkit`
  .github/workflows/backend.yml
  tests/Toolkit/ATest.php
  tests/Toolkit/CollectionFilterTest.php
  tests/Toolkit/CollectionTest.php
  tests/Toolkit/ComponentTest.php
  tests/Toolkit/ControllerTest.php
  tests/Toolkit/DateTest.php
  tests/Toolkit/DomTest.php
  tests/Toolkit/EscapeTest.php
  tests/Toolkit/HtmlTest.php
  tests/Toolkit/I18nTest.php
  tests/Toolkit/IteratorTest.php
  tests/Toolkit/LazyValueTest.php
  tests/Toolkit/LocaleTest.php
  tests/Toolkit/ObjTest.php
  tests/Toolkit/PaginationTest.php
  tests/Toolkit/SiloTest.php
  tests/Toolkit/StrTest.php
  tests/Toolkit/SymmetricCryptoTest.php
  tests/Toolkit/TotpTest.php
  tests/Toolkit/VTest.php
  tests/Toolkit/ViewTest.php
  tests/Toolkit/XmlTest.php
Due: none

Improved NewModel::convertTo
  src/Cms/NewModelFixes.php
Due: backend

The unit tests need to be adapted after the last commit
  tests/Cms/NewFile/NewFileChangeNameTest.php
  tests/Content/ChangesTest.php
Due: none

Improved changeTemplate and contentFileData
  src/Cms/NewFile.php
Due: backend

After the version changes, the breaking additional title field is gone
  tests/Cms/NewPage/NewPageContentTest.php
Due: none

Extended the NewFile::changeTemplate tests
  tests/Cms/NewFile/NewFileChangeTemplateTest.php
Due: none

The plain text storage handler does no longer store empty meta files
  src/Content/PlainTextStorage.php
Due: backend

Remove null fields when reading versions
  src/Content/Version.php
  tests/Content/VersionTest.php
Due: backend

Adjust the old unit tests
  tests/Cms/File/FileActionsTest.php
Due: none

Improve the comment
  src/Cms/NewFile.php
Due: backend

Fix psalm issues
  src/Cms/NewFile.php
Due: backend

Save some real meta data after the PlainTextStorage changes
  tests/Panel/ChangesDialogTest.php
Due: none

Add unit tests for new PlainTextStorage behaviour
  tests/Content/PlainTextStorageTest.php
Due: none

Add unit tests for the improved contentFileData method
  tests/Cms/NewFile/NewFileContentFileDataTest.php
Due: none

Fix doc blocks
  src/Cms/NewModelFixes.php
Due: backend

Switch to attributes
  tests/Content/PlainTextStorageTest.php
Due: none

Remove unnecessary test
  tests/Cms/NewFile/NewFileChangeTemplateTest.php
Due: none

Add missing test for NewFile class
  src/Cms/NewFile.php
  tests/Cms/NewFile/NewFileCreateTest.php
Due: backend

Fix image focus removing #7022
  panel/src/components/Views/Files/ImageFilePreview.vue
Due: frontend

Skip fields with null values when replacing strings
  src/Content/Storage.php
Due: backend

Content::update now throws an exception
  src/Content/Content.php
Due: backend

Remove unnecessary content update calls
  src/Uuid/ModelUuid.php
Due: backend

Replace $content->update() in unit tests
  tests/Cms/Model/ModelWithContentTest.php
Due: none

Remove outdated content update tests
  tests/Content/ContentTest.php
Due: none

Remove ContentTranslation
  config/aliases.php
  src/Content/ContentTranslation.php
  src/Content/Translation.php
  tests/Cms/Page/PageDuplicateTest_.php
  tests/Content/ContentTranslationTest.php
Due: backend

Move property setting to avoid app construction with an invalid site content setup
  src/Cms/App.php
Due: backend

Fix invalid account route test
  src/Cms/User.php
  tests/Cms/Api/routes/AccountRoutesTest.php
Due: backend

Update the site instance in the App object
  src/Cms/App.php
  src/Cms/SiteActions.php
Due: backend

Overwrite the $page object with the new instance
  config/areas/site/dialogs.php
Due: backend

Fix removed content->update calls in UUID tests
  tests/Uuid/FileUuidTest.php
  tests/Uuid/PageUuidTest.php
Due: none

Fix another immutable issue
  src/Content/Version.php
Due: backend

Remove the underscore from the test file
  tests/Cms/Page/PageDuplicateTest.php
Due: none

Fix PageCopyTest
  tests/Cms/Page/PageCopyTest.php
Due: none
