Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

System view: Support for different icons per issue
  panel/src/components/Views/SystemView.vue
Due: frontend

New class `Kirby\Cms\System\UpdateStatus`
  i18n/translations/en.json
  src/Cms/System/UpdateStatus.php
Due: backend

`updateStatus()` methods for system and plugins
  src/Cms/Plugin.php
  src/Cms/System.php
Due: backend

Display update status on system view
  config/areas/system/views.php
  panel/src/components/Layout/TableUpdateStatusCell.vue
  panel/src/components/Views/SystemView.vue
  panel/src/config/components.js
  tests/Panel/Areas/SystemTest.php
  tests/Panel/Areas/fixtures/SystemTest/plugins/getkirby/public.json
  tests/Panel/Areas/fixtures/SystemTest/security.json
Due: backend, frontend

Fix url field ellipsis text overflow #4677
  panel/src/components/Forms/Previews/UrlFieldPreview.vue
Due: frontend

Remove validation
  panel/src/components/Forms/Field/ObjectField.vue
Due: frontend

Remove error collection
  panel/src/components/Forms/Field/ObjectField.vue
Due: frontend

ContentTranslation: `::exists()` for virtual pages
  src/Cms/ContentTranslation.php
  tests/Cms/Content/ContentTranslationTest.php
Due: backend

`Database\Query`: more specific unit tests
  tests/Database/QueryTest.php
Due: none

`Database\Query`: `andWhere`, `orWhere` unit tests
  tests/Database/QueryTest.php
Due: none

Set empty string instead of null
  config/fields/object.php
  panel/src/components/Forms/Field/ObjectField.vue
  tests/Form/Fields/ObjectFieldTest.php
Due: backend, frontend

Consistent style for table row while dragging
  panel/src/components/Layout/Table.vue
Due: frontend

Fix changing template of home page
  src/Cms/PagePermissions.php
  tests/Cms/Pages/PagePermissionsTest.php
Due: backend

Reword EOL warnings
  i18n/translations/en.json
Due: none

Merge UpdateStatus from improvements branch
  src/Cms/System/UpdateStatus.php
Due: backend

Use `A::filter()`
  src/Cms/Plugin.php
Due: backend

More explicit empty value checking
  src/Cms/System/UpdateStatus.php
Due: backend

Rename option from `update` to `updates`
  src/Cms/Plugin.php
  src/Cms/System.php
Due: backend

Option values `true | 'security' | false`
  src/Cms/Plugin.php
  src/Cms/System.php
Due: backend

Plugins: No security-only mode for now
  src/Cms/Plugin.php
Due: backend

Display latest version even w/o current version
  src/Cms/System/UpdateStatus.php
Due: backend

Fix PHPUnit annotations
  tests/Field/FieldOptionsTest.php
  tests/Option/OptionTest.php
  tests/Option/OptionsApiTest.php
  tests/Option/OptionsQueryTest.php
  tests/Option/OptionsTest.php
Due: none

Don't suggest a target version on error
  src/Cms/System/UpdateStatus.php
Due: backend

Fix typo
  src/Cms/System/UpdateStatus.php
Due: backend

Fix tags field focus issue #4681
  panel/src/components/Drawers/FormDrawer.vue
Due: frontend

Update dist files and translations
  composer.json
  composer.lock
  i18n/translations/bg.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/eo.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/is_IS.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
  panel/dist/css/style.css
  panel/dist/js/index.js
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

Merge in draft for improved update status cell
  config/areas/system/views.php
  panel/src/components/Layout/TableUpdateStatusCell.vue
  panel/src/components/Views/SystemView.vue
  src/Cms/System/UpdateStatus.php
Due: backend, frontend

Simple text fallback if update check is disabled
  config/areas/system/views.php
  panel/src/components/Layout/TableUpdateStatusCell.vue
Due: backend, frontend

Get rid of hasInfo prop
  panel/src/components/Layout/TableUpdateStatusCell.vue
Due: frontend

Disable version information button for missing URL
  panel/src/components/Layout/TableUpdateStatusCell.vue
Due: frontend

Hide not saveable fields for object field #4688
  panel/src/components/Forms/Field/ObjectField.vue
Due: frontend

Slightly nicer green
  panel/src/styles/variables.css
Due: frontend

Auto-height for stats cells
  panel/src/components/Layout/Stats.vue
Due: frontend

Fixed color for url previews without links
  panel/src/components/Forms/Previews/UrlFieldPreview.vue
Due: frontend

Show message below unregistered license in system view
  config/areas/system/views.php
Due: backend

Less aggressive colors in system stats
  panel/src/components/Views/SystemView.vue
Due: frontend

Fix panel favicon for dark mode
  src/Panel/Document.php
Due: backend

`Uuids::generate()`
  src/Uuid/Uuids.php
  tests/Uuid/UuidsTest.php
Due: backend

Fix structure field index number #4695
  panel/src/components/Forms/Field/StructureField.vue
Due: frontend

Improve design of the system stats
  config/areas/system/views.php
  panel/src/components/Views/SystemView.vue
Due: backend, frontend
