Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Dark mode: dimmed buttons bright on hover/current
  panel/src/components/Navigation/Button.vue
Due: frontend

New model permissions
  config/api/routes/languages.php
  i18n/translations/en.json
  src/Cms/Api.php
  src/Cms/Permissions.php
  tests/Cms/Api/ApiTest.php
Due: backend

Remove new `hasAccess` method
  src/Cms/Api.php
Due: backend

Implement `isAccessible` method for user model
  src/Cms/Api.php
  src/Cms/Find.php
  src/Cms/User.php
Due: backend

Remove no needed translation strings
  i18n/translations/en.json
Due: none

Implement `access` permission to `Language` class
  src/Cms/Api.php
  src/Cms/Find.php
  src/Cms/Language.php
  src/Cms/LanguagePermissions.php
Due: backend

DRY `LanguagePermissions` and `ModelPermissions`
  src/Cms/LanguagePermissions.php
  src/Cms/ModelPermissions.php
  src/Cms/NewPermissions.php
Due: backend

Revert "DRY `LanguagePermissions` and `ModelPermissions`"
  src/Cms/LanguagePermissions.php
  src/Cms/ModelPermissions.php
  src/Cms/NewPermissions.php
Due: backend

Add `Language` class support to `ModelPermissions` class
  src/Cms/LanguagePermissions.php
  src/Cms/ModelPermissions.php
Due: backend

Fix rebase stuff
  src/Cms/Find.php
  src/Cms/Language.php
Due: backend

Fix code style
  src/Cms/Language.php
Due: backend

Update Api.php
  src/Cms/Api.php
Due: backend

New storage core component
  config/components.php
  src/Cms/App.php
  src/Cms/ModelWithContent.php
  tests/Cms/App/AppComponentsTest.php
Due: backend

Fix CS issues
  config/components.php
  src/Cms/Files.php
  src/Cms/PagePicker.php
  src/Cms/Pages.php
  src/Cms/Users.php
  src/Http/Environment.php
  src/Panel/Panel.php
  src/Parsley/Parsley.php
  src/Toolkit/A.php
Due: backend

Fix cs
  config/components.php
  src/Cms/Files.php
  src/Cms/PagePicker.php
  src/Cms/Pages.php
  src/Cms/Users.php
  src/Http/Environment.php
  src/Panel/Panel.php
  src/Parsley/Parsley.php
  src/Toolkit/A.php
Due: backend

Writer toolbar: hide when no buttons
  panel/src/components/Forms/Toolbar/Toolbar.vue
  panel/src/components/Forms/Writer/Toolbar.vue
Due: frontend

Batch editing mode for model sections
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/ModelsSection.vue
  panel/src/components/Sections/PagesSection.vue
Due: frontend

Validate min validation
  config/sections/files.php
  config/sections/pages.php
Due: backend

Selectable items
  panel/lab/components/items/1_list/index.vue
  panel/lab/components/items/2_cards/index.vue
  panel/lab/components/items/3_cardlets/index.vue
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/Item.vue
  panel/src/components/Collection/Items.vue
Due: frontend

Catch errors and send them to the error dialog
  config/sections/files.php
  config/sections/pages.php
Due: backend

Backend requests for batch deleting files and pages
  config/sections/files.php
  config/sections/pages.php
Due: backend

Fix covers annotations
  tests/Cms/Pages/PagesTest.php
Due: none

Add unit tests for the batch option
  tests/Cms/Sections/FilesSectionTest.php
  tests/Cms/Sections/PagesSectionTest.php
Due: none

Add unit tests for new collection methods
  src/Cms/Files.php
  tests/Cms/Files/FilesTest.php
  tests/Cms/Pages/PagesTest.php
Due: backend

Translate the bulk exceptions for Files::delete and Pages::delete
  i18n/translations/en.json
  src/Cms/Files.php
  src/Cms/Pages.php
Due: backend

Only activate the batch mode by option
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

New batch mixin
  config/sections/files.php
  config/sections/mixins/batch.php
  config/sections/pages.php
  src/Cms/Core.php
Due: backend

Check for the batch option in the ApI calls
  config/sections/files.php
  config/sections/pages.php
Due: backend

Move batch delete logic into the pages and files classes
  config/sections/files.php
  config/sections/pages.php
  src/Cms/Files.php
  src/Cms/Pages.php
Due: backend

Reuse the validation error messages
  config/sections/files.php
  config/sections/pages.php
Due: backend

Add selectable prop to collection, items and table
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/Items.vue
  panel/src/components/Layout/Table.vue
Due: frontend

Remove the layout check
  config/sections/mixins/batch.php
  tests/Cms/Sections/FilesSectionTest.php
  tests/Cms/Sections/PagesSectionTest.php
Due: backend

New lab examples
  panel/lab/components/tables/1_horizontal/index.vue
  panel/lab/components/tables/4_component/index.vue
Due: none

Selectable item: click anywhere to select
  panel/src/components/Collection/Item.vue
Due: frontend

Stop click event on input
  panel/src/components/Collection/Item.vue
Due: frontend

Enable selectable mode
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Already show a disabled delete button if nothing is selected
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Set the outline for selected items
  panel/src/components/Collection/Item.vue
Due: frontend

No longer send the checkbox event
  panel/src/components/Collection/Items.vue
  panel/src/components/Layout/Table.vue
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
