Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: Revert one too many preventing event passed
  panel/src/components/Collection/Collection.vue
Due: frontend

fix: Dialogs/drawers for blocks fieldset fields
  src/Form/Field/BlocksField.php
Due: backend

feat: Resize observer
  panel/lab/components/frames/3_image/index.vue
  panel/src/components/Layout/Frame/ImageFrame.vue
  panel/src/libraries/autosizes.js
Due: frontend

refact: Simplify error responses
  src/Panel/Response/JsonResponse.php
  src/Panel/Response/ViewResponse.php
  src/Panel/Router.php
  tests/Panel/Response/JsonResponseTest.php
  tests/Panel/RouterTest.php
Due: backend

fix: Ensure context variables in view object
  src/Panel/Response/ViewDocumentResponse.php
  src/Panel/Response/ViewResponse.php
Due: backend

fix: Only return error view state in the document response
  src/Panel/Response/ViewDocumentResponse.php
  src/Panel/Response/ViewResponse.php
  tests/Panel/Areas/AreaTestCase.php
  tests/Panel/Areas/PluginTest.php
Due: backend

feat: New k-code-token component
  panel/lab/components/code/blocks/index.php
  panel/lab/components/code/blocks/index.vue
  panel/lab/components/code/tokens/index.php
  panel/lab/components/code/tokens/index.vue
  panel/src/components/Lab/DocsTypes.vue
  panel/src/components/Text/Code.vue
  panel/src/components/Text/CodeToken.vue
  panel/src/components/Text/index.js
Due: frontend

feat: Responsive mode for the table
  panel/src/components/Layout/Table.vue
Due: frontend

feat: New App::relativeRoot method
  src/Cms/AppErrors.php
Due: backend

feat: New trace display
  panel/src/components/Dialogs/RequestErrorDialog.vue
  src/Cms/AppErrors.php
Due: backend, frontend

feat: New k-request-error-dialog
  panel/src/components/Dialogs/RequestErrorDialog.vue
  panel/src/components/Dialogs/index.js
  panel/src/panel/notification.js
Due: frontend

fix: Only return error view state in the document response
  tests/Panel/Areas/PluginTest.php
Due: none

fix: Code tokens
  panel/src/components/Dialogs/RequestErrorDialog.vue
Due: frontend

refact: Better relative paths
  src/Cms/AppErrors.php
Due: backend

fix: exclude CORS headers from cache
  src/Cms/Page.php
  src/Cms/Responder.php
  tests/Cms/CorsTest.php
  tests/Cms/ResponderTest.php
Due: backend

fix: add cacheHeaders method to handle request-dependent headers
  src/Cms/Responder.php
Due: backend

refactor: rename requestDependentHeaders to volatileHeaders
  src/Cms/Responder.php
Due: backend

feat: New stack component
  panel/src/components/Layout/Stack.vue
  panel/src/components/Layout/index.js
Due: frontend

feat: New Url::editor() method
  src/Http/Url.php
Due: backend

feat: New Definitions components
  panel/src/components/Layout/Definition.vue
  panel/src/components/Layout/Definitions.vue
  panel/src/components/Layout/index.js
Due: frontend

feat: New error components
  panel/src/components/Errors/ErrorDetails.vue
  panel/src/components/Errors/ErrorTable.vue
  panel/src/components/Errors/ErrorTrace.vue
  panel/src/components/Errors/index.js
  panel/src/components/index.js
Due: frontend

refact: Use new Url::editor method to create a nicer trace
  src/Cms/AppErrors.php
Due: backend

refact: Use new error components
  panel/src/components/Dialogs/ErrorDialog.vue
  panel/src/components/Dialogs/RequestErrorDialog.vue
Due: frontend

refact!: Don’t resolve nested errors
  panel/src/panel/notification.js
Due: frontend

feat: Stack layout props
  panel/src/components/Layout/Stack.vue
Due: frontend

feat: Definitions custom props
  panel/src/components/Layout/Definitions.vue
Due: frontend

feat: Pass the editor link in the exception response
  src/Cms/AppErrors.php
Due: backend

feat: New ValidationException
  src/Exception/ValidationException.php
Due: backend

refact: Use ValidationException in form classes
  src/Form/Fields.php
  src/Form/Form.php
Due: backend

feat: New open in editor button for the request error dialog
  panel/src/components/Dialogs/RequestErrorDialog.vue
Due: frontend

feat: New k-validation-error-dialog
  panel/src/components/Dialogs/ValidationErrorDialog.vue
  panel/src/components/Dialogs/index.js
Due: frontend

refact: Open validation error dialog
  panel/src/errors/RequestError.js
  panel/src/panel/notification.js
Due: frontend

feat: Improve error examples
  panel/lab/internals/errors/index.vue
  src/Panel/Lab/Responses.php
Due: backend

fix: Sort blocks by position before merging
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

feat: `k-video-frame` component
  panel/lab/components/frames/4_video/index.php
  panel/lab/components/frames/4_video/index.vue
  panel/lab/components/frames/5_color/index.php
  panel/lab/components/frames/5_color/index.vue
  panel/src/components/Layout/Frame/VideoFrame.vue
  panel/src/components/Layout/index.js
Due: frontend

refact: Use `k-video-frame` in video block preview
  panel/src/components/Forms/Blocks/Types/Video.vue
Due: frontend

refact: Add async support to `k-image-frame`
  panel/src/components/Layout/Frame/ImageFrame.vue
  src/Panel/Controller/Request/ModelItemsRequestController.php
Due: backend, frontend

refact: Use file ID as src in image block preview
  panel/src/components/Forms/Blocks/Types/Image.vue
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
