Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

fix: Structure field no selecting when drawer open
  panel/src/components/Forms/Field/StructureField.vue
Due: frontend

fix: `Imagick::thumbnailImage()` usage
  src/Image/Darkroom/Imagick.php
Due: backend

Merge pull request #7524 from getkirby/fix/7506-field-input-prop-v2
  panel/src/components/Forms/Field.vue
Due: frontend

fix: Focus cropping for `Imagick` driver
  src/Image/Darkroom/Imagick.php
Due: backend

fix: Imagick resize and crop
  src/Image/Darkroom/Imagick.php
Due: backend

fix: `::pickerData()` for models
  config/fields/users.php
  src/Panel/File.php
  src/Panel/Page.php
  src/Panel/Ui/Item/PageItem.php
  src/Panel/Ui/Item/UserItem.php
  src/Panel/User.php
  tests/Form/Field/PagesFieldTest.php
  tests/Panel/Ui/Item/PageItemTest.php
  tests/Panel/Ui/Item/UserItemTest.php
Due: backend

fix: `::pickerData()` for models (#7510)
  config/fields/users.php
  src/Panel/File.php
  src/Panel/Page.php
  src/Panel/Ui/Item/PageItem.php
  src/Panel/Ui/Item/UserItem.php
  src/Panel/User.php
  tests/Form/Field/PagesFieldTest.php
  tests/Panel/Ui/Item/PageItemTest.php
  tests/Panel/Ui/Item/UserItemTest.php
Due: backend

feat: New `imagick` darkroom driver (#6754)
  composer.json
  src/Image/Darkroom.php
  src/Image/Darkroom/GdLib.php
  src/Image/Darkroom/ImageMagick.php
  src/Image/Darkroom/Imagick.php
  tests/Image/Darkroom/ImagickTest.php
  tests/Image/DarkroomTest.php
  tests/Image/fixtures/image/animated.gif
Due: backend

fix: UserItem unit test
  tests/Panel/Ui/Item/UserItemTest.php
Due: none

feat: Models picker dialogs classes
  src/Panel/Controller/Dialog/FilesPickerDialogController.php
  src/Panel/Controller/Dialog/ModelsPickerDialogController.php
  src/Panel/Controller/Dialog/PagesPickerDialogController.php
  src/Panel/Controller/Dialog/UsersPickerDialogController.php
  tests/Panel/Controller/Dialog/FilesPickerDialogControllerTest.php
  tests/Panel/Controller/Dialog/PagesPickerDialogControllerTest.php
  tests/Panel/Controller/Dialog/UsersPickerDialogControllerTest.php
Due: backend

feat: Models picker dialogs classes (#7527)
  src/Panel/Controller/Dialog/FilesPickerDialogController.php
  src/Panel/Controller/Dialog/ModelsPickerDialogController.php
  src/Panel/Controller/Dialog/PagesPickerDialogController.php
  src/Panel/Controller/Dialog/UsersPickerDialogController.php
  tests/Panel/Controller/Dialog/FilesPickerDialogControllerTest.php
  tests/Panel/Controller/Dialog/PagesPickerDialogControllerTest.php
  tests/Panel/Controller/Dialog/UsersPickerDialogControllerTest.php
Due: backend

refact!: Move more logic to `picker` field mixin
  config/fields/files.php
  config/fields/mixins/picker.php
  config/fields/pages.php
  config/fields/users.php
  tests/Form/Field/FilesFieldTest.php
  tests/Form/Field/Mixins/PickerMixinTest.php
  tests/Form/Field/PagesFieldTest.php
  tests/Form/Field/UsersFieldTest.php
Due: backend

refact!: Models fields use models picker dialogs
  config/fields/files.php
  config/fields/mixins/filepicker.php
  config/fields/mixins/pagepicker.php
  config/fields/mixins/picker.php
  config/fields/mixins/userpicker.php
  config/fields/pages.php
  config/fields/textarea.php
  config/fields/users.php
  panel/src/components/Dialogs/FilesPickerDialog.vue
  panel/src/components/Dialogs/ModelsDialog.vue
  panel/src/components/Dialogs/ModelsPickerDialog.vue
  panel/src/components/Dialogs/PagesDialog.vue
  panel/src/components/Dialogs/PagesPickerDialog.vue
  panel/src/components/Dialogs/UsersDialog.vue
  panel/src/components/Dialogs/UsersPickerDialog.vue
  panel/src/components/Dialogs/index.js
  panel/src/components/Forms/Field/ModelsField.vue
  panel/src/components/Forms/Input/TextareaInput.vue
  src/Cms/Core.php
  src/Cms/FilePicker.php
  src/Cms/PagePicker.php
  src/Cms/Picker.php
  src/Cms/UserPicker.php
  tests/Cms/CoreTest.php
  tests/Form/Field/FilesFieldTest.php
  tests/Form/Field/Mixins/FilePickerMixinTest.php
  tests/Form/Field/Mixins/PagePickerMixinTest.php
  tests/Form/Field/Mixins/UserPickerMixinTest.php
  tests/Form/Field/PagesFieldTest.php
  tests/Form/Field/UsersFieldTest.php
  tests/Panel/Controller/Dialog/UserChangeRoleDialogControllerTest.php
Due: backend, frontend

feat: Models picker dialogs
  config/fields/files.php
  config/fields/mixins/picker.php
  config/fields/mixins/upload.php
  panel/lab/components/item/1_list/index.vue
  panel/lab/components/item/2_cards/index.vue
  panel/lab/components/item/3_cardlets/index.vue
  panel/lab/components/item/4_skeleton/index.vue
  panel/lab/components/items/1_list/index.vue
  panel/lab/components/items/2_cards/index.vue
  panel/lab/components/items/3_cardlets/index.vue
  panel/lab/components/items/4_table/index.vue
  panel/lab/components/items/index.php
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/Item.vue
  panel/src/components/Collection/Items.vue
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Dialogs/Elements/Search.vue
  panel/src/components/Dialogs/FilesPickerDialog.vue
  panel/src/components/Dialogs/ModelsPickerDialog.vue
  panel/src/components/Forms/Field/BlocksField.vue
  panel/src/components/Forms/Field/EntriesField.vue
  panel/src/components/Forms/Field/FilesField.vue
  panel/src/components/Forms/Field/LayoutField.vue
  panel/src/components/Forms/Field/ObjectField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Layout/Dropzone.vue
  panel/src/components/Layout/Table.vue
  panel/src/components/Sections/ModelsSection.vue
  panel/src/mixins/batchEditing.js
  panel/src/panel/upload.js
  src/Panel/Collector/ModelsCollector.php
  src/Panel/Controller/Dialog/FilesPickerDialogController.php
Due: backend, frontend

fix: add "audio/wav" mime type
  src/Filesystem/Mime.php
Due: backend

refact: `App:instance(lazy: true)`
  src/Data/Yaml.php
  src/Data/YamlSymfony.php
  src/Filesystem/File.php
  src/Http/Cookie.php
  src/Http/Environment.php
  src/Http/Remote.php
  src/Http/Request.php
  src/Http/Uri.php
  src/Toolkit/Date.php
  src/Toolkit/Dom.php
  src/Toolkit/Str.php
  tests/Cms/App/AppTest.php
Due: backend

Update src/Filesystem/Mime.php
  src/Filesystem/Mime.php
Due: backend

refact!: Merge `Cms\Api` into `Api\Api` class
  config/aliases.php
  config/fields/mixins/upload.php
  src/Api/Api.php
  src/Cms/Api.php
  src/Cms/App.php
  tests/Api/ApiTest.php
  tests/Api/CollectionTestCase.php
  tests/Api/Collections/ChildrenCollectionTest.php
  tests/Api/Collections/FilesCollectionTest.php
  tests/Api/Collections/LanguagesCollectionTest.php
  tests/Api/Collections/PagesCollectionTest.php
  tests/Api/Collections/RolesCollectionTest.php
  tests/Api/Collections/TranslationsCollectionTest.php
  tests/Api/Collections/UsersCollectionTest.php
  tests/Api/ModelTestCase.php
  tests/Api/Models/FileBlueprintModelTest.php
  tests/Api/Models/FileModelTest.php
  tests/Api/Models/FileVersionModelTest.php
  tests/Api/Models/PageBlueprintModelTest.php
  tests/Api/Models/PageModelTest.php
  tests/Api/Models/SiteModelTest.php
  tests/Api/Models/UserBlueprintModelTest.php
  tests/Api/Models/UserModelTest.php
  tests/Api/Routes/AccountRoutesTest.php
  tests/Api/Routes/AuthRoutesTest.php
  tests/Api/Routes/LanguagesRoutesTest.php
  tests/Api/Routes/PagesRoutesTest.php
  tests/Api/Routes/RolesRoutesTest.php
  tests/Api/Routes/SiteRoutesTest.php
  tests/Api/Routes/SystemRoutesTest.php
  tests/Api/Routes/TranslationsRoutesTest.php
  tests/Api/Routes/UsersRoutesTest.php
  tests/Api/Routes/fixtures/avatar.jpg
  tests/Cms/Api/ApiTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

refact!: Make Symfony default YAML handler
  src/Data/Yaml.php
  src/Data/YamlSpyc.php
  tests/Data/YamlTest.php
  tests/Option/OptionsQueryTest.php
Due: backend

refact!: Removed `k-bubble` components
  panel/lab/components/fieldpreviews/bubbles/index.php
  panel/lab/components/fieldpreviews/bubbles/index.vue
  panel/src/components/Forms/Previews/BubblesFieldPreview.vue
  panel/src/components/Forms/Previews/index.js
  panel/src/components/Layout/Bubble.vue
  panel/src/components/Layout/Bubbles.vue
  panel/src/components/Layout/index.js
Due: frontend

refact!: Remove deprecated color field options
  config/fields/color.php
Due: backend

refact!: Rename to `k-dropdown`, drop `align` prop
  panel/lab/components/buttons/5_groups/index.vue
  panel/lab/components/dropdowns/1_themes/index.vue
  panel/lab/components/dropdowns/2_alignment/index.vue
  panel/lab/components/dropdowns/index.php
  panel/src/components/Drawers/Drawer.vue
  panel/src/components/Dropdowns/Dropdown.vue
  panel/src/components/Dropdowns/DropdownItem.vue
  panel/src/components/Dropdowns/OptionsDropdown.vue
  panel/src/components/Dropdowns/PicklistDropdown.vue
  panel/src/components/Dropdowns/index.js
  panel/src/components/Forms/Blocks/BlockOptions.vue
  panel/src/components/Forms/Blocks/Elements/BlockBackgroundDropdown.vue
  panel/src/components/Forms/Field/BlocksField.vue
  panel/src/components/Forms/Field/ColorField.vue
  panel/src/components/Forms/Field/DateField.vue
  panel/src/components/Forms/Field/EntriesField.vue
  panel/src/components/Forms/Field/LayoutField.vue
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Field/TimeField.vue
  panel/src/components/Forms/FormControls.vue
  panel/src/components/Forms/Layouts/Layout.vue
  panel/src/components/Forms/Toolbar/Toolbar.vue
  panel/src/components/Layout/Tabs.vue
  panel/src/components/Navigation/Breadcrumb.vue
  panel/src/components/Navigation/Pagination.vue
  panel/src/components/Navigation/SearchBar.vue
  panel/src/components/View/Buttons/Button.vue
  panel/src/components/View/Buttons/LanguagesDropdown.vue
  panel/src/components/Views/Files/FilePreviewFrame.vue
  panel/src/components/Views/Preview/PreviewView.vue
  panel/src/components/Views/System/TableUpdateStatusCell.vue
  panel/src/components/Views/Users/UserAvatar.vue
Due: frontend

refact: Replace `get_class()` with `::class`
  src/Toolkit/Component.php
Due: backend

refact!: Rename to `k-dropdown`, drop `align` prop (#7535)
  panel/lab/components/buttons/5_groups/index.vue
  panel/lab/components/dropdowns/1_themes/index.vue
  panel/lab/components/dropdowns/2_alignment/index.vue
  panel/lab/components/dropdowns/index.php
  panel/src/components/Drawers/Drawer.vue
  panel/src/components/Dropdowns/Dropdown.vue
  panel/src/components/Dropdowns/DropdownItem.vue
  panel/src/components/Dropdowns/OptionsDropdown.vue
  panel/src/components/Dropdowns/PicklistDropdown.vue
  panel/src/components/Dropdowns/index.js
  panel/src/components/Forms/Blocks/BlockOptions.vue
  panel/src/components/Forms/Blocks/Elements/BlockBackgroundDropdown.vue
  panel/src/components/Forms/Field/BlocksField.vue
  panel/src/components/Forms/Field/ColorField.vue
  panel/src/components/Forms/Field/DateField.vue
  panel/src/components/Forms/Field/EntriesField.vue
  panel/src/components/Forms/Field/LayoutField.vue
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Field/TimeField.vue
  panel/src/components/Forms/FormControls.vue
  panel/src/components/Forms/Layouts/Layout.vue
  panel/src/components/Forms/Toolbar/Toolbar.vue
  panel/src/components/Layout/Tabs.vue
  panel/src/components/Navigation/Breadcrumb.vue
  panel/src/components/Navigation/Pagination.vue
  panel/src/components/Navigation/SearchBar.vue
  panel/src/components/View/Buttons/Button.vue
  panel/src/components/View/Buttons/LanguagesDropdown.vue
  panel/src/components/Views/Files/FilePreviewFrame.vue
  panel/src/components/Views/Preview/PreviewView.vue
  panel/src/components/Views/System/TableUpdateStatusCell.vue
  panel/src/components/Views/Users/UserAvatar.vue
Due: frontend

refact!: Merge `Cms\Api` into `Api\Api` class (#7532)
  config/aliases.php
  config/fields/mixins/upload.php
  src/Api/Api.php
  src/Cms/Api.php
  src/Cms/App.php
  tests/Api/ApiTest.php
  tests/Api/CollectionTestCase.php
  tests/Api/Collections/ChildrenCollectionTest.php
  tests/Api/Collections/FilesCollectionTest.php
  tests/Api/Collections/LanguagesCollectionTest.php
  tests/Api/Collections/PagesCollectionTest.php
  tests/Api/Collections/RolesCollectionTest.php
  tests/Api/Collections/TranslationsCollectionTest.php
  tests/Api/Collections/UsersCollectionTest.php
  tests/Api/ModelTestCase.php
  tests/Api/Models/FileBlueprintModelTest.php
  tests/Api/Models/FileModelTest.php
  tests/Api/Models/FileVersionModelTest.php
  tests/Api/Models/PageBlueprintModelTest.php
  tests/Api/Models/PageModelTest.php
  tests/Api/Models/SiteModelTest.php
  tests/Api/Models/UserBlueprintModelTest.php
  tests/Api/Models/UserModelTest.php
  tests/Api/Routes/AccountRoutesTest.php
  tests/Api/Routes/AuthRoutesTest.php
  tests/Api/Routes/LanguagesRoutesTest.php
  tests/Api/Routes/PagesRoutesTest.php
  tests/Api/Routes/RolesRoutesTest.php
  tests/Api/Routes/SiteRoutesTest.php
  tests/Api/Routes/SystemRoutesTest.php
  tests/Api/Routes/TranslationsRoutesTest.php
  tests/Api/Routes/UsersRoutesTest.php
  tests/Api/Routes/fixtures/avatar.jpg
  tests/Cms/Api/ApiTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

refact!: Remove deprecated color field options (#7534)
  config/fields/color.php
Due: backend

chore: Remove phpmd
  .gitattributes
  .github/workflows/backend.yml
  composer.json
  etc/psalm-plugins/HelperFunctionUsePlugin.php
  phpmd.xml.dist
  scripts/pre-commit
  src/Filesystem/F.php
  src/Sane/DomHandler.php
Due: backend

refact!: Removed `k-bubble` components (#7533)
  panel/lab/components/fieldpreviews/bubbles/index.php
  panel/lab/components/fieldpreviews/bubbles/index.vue
  panel/src/components/Forms/Previews/BubblesFieldPreview.vue
  panel/src/components/Forms/Previews/index.js
  panel/src/components/Layout/Bubble.vue
  panel/src/components/Layout/Bubbles.vue
  panel/src/components/Layout/index.js
Due: frontend

refact!: Make Symfony default YAML handler (#7530)
  src/Data/Yaml.php
  src/Data/YamlSpyc.php
  tests/Data/YamlTest.php
  tests/Option/OptionsQueryTest.php
Due: backend

refact: Use `json_validate` for `V::json()`
  src/Toolkit/V.php
Due: backend

fix: add more wav mime types
  src/Filesystem/Mime.php
Due: backend

fix: Support more MIME type fors .wav
  src/Filesystem/Mime.php
  tests/Cms/Blueprints/FileBlueprintTest.php
Due: backend

feat: Section dialogs + drawers
  config/areas/account/dialogs.php
  config/areas/account/drawers.php
  config/areas/site/dialogs.php
  config/areas/site/drawers.php
  config/areas/users/dialogs.php
  config/areas/users/drawers.php
  src/Cms/Section.php
  src/Panel/Controller/Dialog/SectionDialogController.php
  src/Panel/Controller/Drawer/SectionDrawerController.php
  src/Panel/Controller/SectionController.php
  tests/Cms/Sections/SectionTest.php
  tests/Panel/Controller/Dialog/SectionDialogControllerTest.php
  tests/Panel/Controller/Drawer/SectionDrawerControllerTest.php
Due: backend

fix: Page create ignore all core fields
  src/Panel/Controller/Dialog/PageCreateDialogController.php
Due: backend

refact: `ModelCreateDialogController`
  src/Panel/Controller/Dialog/ModelCreateDialogController.php
  src/Panel/Controller/Dialog/PageCreateDialogController.php
  tests/Panel/Controller/Dialog/PageCreateDialogControllerTest.php
Due: backend

refact: Simplify construct for page create dialog
  panel/src/components/Sections/PagesSection.vue
  src/Panel/Controller/Dialog/PageCreateDialogController.php
  tests/Panel/Controller/Dialog/PageCreateDialogControllerTest.php
Due: backend, frontend

Page create dialog as section dialog
  config/areas/site/dialogs.php
  config/sections/pages.php
  panel/src/components/Sections/PagesSection.vue
  src/Panel/Controller/Dialog/PageCreateDialogController.php
  tests/Panel/Controller/Dialog/PageCreateDialogControllerTest.php
Due: backend, frontend

fix: Lazy page create section dialog
  config/sections/pages.php
Due: backend
