Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix double-escaping bug in the language view
  config/areas/languages/views.php
Due: backend

Fix HTML output in the changes dialog
  src/Panel/ChangesDialog.php
Due: backend

Fix HTML output in the admin TOTP disable dialog
  src/Panel/UserTotpDisableDialog.php
Due: backend

More unit tests for `Str::safeTemplate()`
  tests/Toolkit/StrTest.php
Due: none

Add missing class aliases
  config/aliases.php
Due: backend

Remove unnecessary section from license dialog
  panel/src/components/Dialogs/LicenseDialog.vue
Due: frontend

Adjust upgrade flow
  config/areas/system/dialogs.php
  src/Cms/License.php
Due: backend

Use error messages from the hub
  src/Cms/License.php
Due: backend

Fix cs
  src/Cms/License.php
  tests/Cms/System/LicenseTest.php
Due: backend

Fix js unit tests
  panel/src/panel/panel.test.js
Due: frontend

Block selector: fix for empty groups
  panel/src/components/Forms/Blocks/BlockSelector.vue
Due: frontend

Object field: fix disabled table style
  panel/src/components/Forms/Field/ObjectField.vue
Due: frontend

Remove `k-structure-form`
  panel/src/components/Forms/Structure/StructureForm.vue
  panel/src/components/Forms/index.js
Due: frontend

Link field: fix model preview for too long titles
  panel/src/components/Forms/Field/LinkField.vue
Due: frontend

Slug field: respect custom slug allow from `Str`
  panel/src/helpers/string.js
  panel/src/helpers/string.slug.test.js
  src/Panel/Field.php
  tests/Panel/FieldTest.php
Due: backend, frontend

Fix header wrapping for fields and sections
  panel/src/components/Forms/Field.vue
  panel/src/components/Sections/Section.vue
Due: frontend

Fix the label truncation and a few inconsistencies in section
  panel/lab/components/field/index.vue
  panel/lab/components/section/index.php
  panel/lab/components/section/index.vue
  panel/src/components/Sections/Section.vue
  panel/src/components/Text/Label.vue
Due: frontend

Field & section: add title attr for label
  panel/src/components/Forms/Field.vue
  panel/src/components/Sections/Section.vue
Due: frontend

Models fields: add disable style
  panel/src/components/Forms/Field/ModelsField.vue
Due: frontend

Update version constraints for PHP 8.3
  .github/workflows/backend.yml
  bootstrap.php
  composer.json
  composer.lock
  src/Cms/System.php
  vendor/composer/ClassLoader.php
Due: backend

Drop PHP 8.0 support
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  bootstrap.php
  composer.json
  composer.lock
  config/helpers.php
  src/Cms/System.php
  src/Http/Response.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/laminas/laminas-escaper/composer.json
  vendor/laminas/laminas-escaper/src/Escaper.php
  vendor/symfony/deprecation-contracts/LICENSE
  vendor/symfony/deprecation-contracts/composer.json
  vendor/symfony/deprecation-contracts/function.php
Due: backend

Upgrade CI
  .github/workflows/backend.yml
Due: none

Upgrade Psalm even more
  .github/workflows/backend.yml
Due: none

Suppress Psalm error
  src/Toolkit/A.php
Due: backend

Change theme for `LicenseStatus::Legacy`
  src/Cms/LicenseStatus.php
Due: backend

Add some more unit tests
  composer.json
  src/Cms/License.php
  src/Cms/LicenseStatus.php
  src/Cms/LicenseType.php
  tests/Cms/System/LicenseTest.php
  tests/Cms/System/fixtures/LicenseTest/.license
Due: backend

colors.js: support HEX without leading `#`
  panel/src/libraries/colors-checks.js
  panel/src/libraries/colors-checks.test.js
  panel/src/libraries/colors-func.js
  panel/src/libraries/colors.js
  panel/src/libraries/colors.test.js
Due: frontend

ColornameInput: getComputedStyle only last resort
  panel/src/components/Forms/Input/ColornameInput.vue
Due: frontend

New LicenseStatus::Demo
  config/areas/system/dialogs.php
  src/Cms/LicenseStatus.php
Due: backend

`theme: disabled` for Items
  panel/lab/components/item/1_list/index.vue
  panel/lab/components/item/2_cards/index.vue
  panel/lab/components/item/3_cardlets/index.vue
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/Item.vue
  panel/src/components/Collection/Items.vue
  panel/src/components/Forms/Field/ModelsField.vue
Due: frontend

Update dist files
  composer.json
  composer.lock
  panel/dist/css/style.min.css
  panel/dist/js/index.min.js
  panel/dist/ui/Collection.json
  panel/dist/ui/Item.json
  panel/dist/ui/Items.json
  panel/dist/ui/Section.json
  panel/dist/ui/StructureForm.json
  vendor/composer/installed.php
Due: none

Update translations
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/ro.json
  i18n/translations/ru.json
Due: none

Revert "Slug field: respect custom slug allow from `Str`"
  panel/src/helpers/string.js
  panel/src/helpers/string.slug.test.js
  src/Panel/Field.php
  tests/Panel/FieldTest.php
Due: backend, frontend

Update dependencies
  composer.json
  composer.lock
  panel/dist/js/index.min.js
  vendor/composer/installed.php
Due: none

`Xml::attr()`: Support empty string as empty value
  src/Cms/Helpers.php
  src/Toolkit/Xml.php
  tests/Toolkit/HtmlTest.php
  tests/Toolkit/XmlTest.php
Due: backend

`Xml::attr()`: Deprecate passing single space
  config/tags.php
  src/Cms/Helpers.php
  src/Toolkit/Html.php
  src/Toolkit/Xml.php
  tests/Toolkit/HtmlTest.php
  tests/Toolkit/XmlTest.php
Due: backend

Postpone PHP 8.0 todo comment
  src/Cms/Auth/TotpChallenge.php
Due: backend

Postpone v4 todo comment
  src/Cms/Collections.php
Due: backend

Use normalize instead of sanitize
  src/Cms/License.php
  tests/Cms/System/LicenseTest.php
Due: backend

Add more checks to isComplete
  src/Cms/License.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
