Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Normalize empty array default
  src/Panel/Lab/Docs.php
Due: backend

Fix paste blocks when fieldset is not available #5769
  src/Form/Field/BlocksField.php
  tests/Form/Fields/BlocksFieldTest.php
Due: backend

Fixed broken prop docs
  panel/src/components/Lab/Docs.vue
  src/Panel/Lab/Docs.php
Due: backend, frontend

Fix reactivity issue and simplify HMR
  panel/src/components/Drawers/FiberDrawer.vue
  panel/src/components/Lab/PlaygroundView.vue
Due: frontend

Docs: only reload drawer for current component
  panel/scripts/docs.mjs
  panel/scripts/vite-kirby.mjs
  panel/src/components/Lab/PlaygroundView.vue
Due: frontend

Update docs jsons
  panel/dist/ui/Form.json
  panel/dist/ui/Notification.json
  panel/dist/ui/Text.json
Due: none

Fix file icon colors and add new lab examples
  panel/lab/basics/icons/1_iconset/index.php
  panel/lab/basics/icons/1_iconset/index.vue
  panel/lab/basics/icons/2_files/index.vue
  src/Panel/File.php
Due: backend

Various docs fixes
  panel/dist/ui/DialogNotification.json
  panel/dist/ui/DialogText.json
  panel/dist/ui/DrawerText.json
  panel/dist/ui/Form.json
  panel/dist/ui/LabForm.json
  panel/dist/ui/RemoveDialog.json
  panel/dist/ui/TextDialog.json
  panel/dist/ui/TextDrawer.json
  panel/src/components/Dialogs/Elements/Notification.vue
  panel/src/components/Dialogs/Elements/Text.vue
  panel/src/components/Drawers/Elements/Text.vue
  panel/src/components/Lab/Form.vue
Due: frontend

Added better drawer docs
  panel/dist/ui/DrawerHeader.json
  panel/dist/ui/FormDrawer.json
  panel/dist/ui/TextDrawer.json
  panel/lab/components/drawers/form/index.php
  panel/lab/components/drawers/form/index.vue
  panel/lab/components/drawers/index.php
  panel/lab/components/drawers/text/index.php
  panel/lab/components/drawers/text/index.vue
  panel/src/components/Drawers/Elements/Header.vue
  panel/src/components/Drawers/FormDrawer.vue
  panel/src/components/Drawers/TextDrawer.vue
  panel/src/mixins/drawer.js
Due: frontend

Append copy suffix of duplicated pages #5787
  src/Cms/PageActions.php
  tests/Cms/Pages/PageActionsTest.php
Due: backend

Docs: assign unique names
  panel/dist/ui/DialogBody.json
  panel/dist/ui/DialogButtons.json
  panel/dist/ui/DialogFields.json
  panel/dist/ui/DialogFooter.json
  panel/dist/ui/DialogSearch.json
  panel/dist/ui/Docs.json
  panel/dist/ui/DocsDrawer.json
  panel/dist/ui/Example.json
  panel/dist/ui/Examples.json
  panel/dist/ui/FieldExamples.json
  panel/dist/ui/FieldPreviewExample.json
  panel/dist/ui/IndexView.json
  panel/dist/ui/InputExamples.json
  panel/dist/ui/InputboxExamples.json
  panel/dist/ui/OptionsFieldExamples.json
  panel/dist/ui/OptionsInputExamples.json
  panel/dist/ui/OptionsInputboxExamples.json
  panel/dist/ui/OutputDialog.json
  panel/dist/ui/PlaygroundView.json
  panel/scripts/docs.mjs
  panel/src/components/Dialogs/Elements/Body.vue
  panel/src/components/Dialogs/Elements/Buttons.vue
  panel/src/components/Dialogs/Elements/Fields.vue
  panel/src/components/Dialogs/Elements/Footer.vue
  panel/src/components/Dialogs/Elements/Search.vue
  panel/src/components/Dialogs/Elements/Text.vue
  panel/src/components/Drawers/Elements/Text.vue
Due: frontend

Hot reload for lab examples
  panel/scripts/vite-kirby.mjs
  panel/src/components/Lab/PlaygroundView.vue
Due: frontend

Update docs json
  panel/dist/ui/BlockDrawer.json
  panel/dist/ui/Body.json
  panel/dist/ui/Buttons.json
  panel/dist/ui/Drawer.json
  panel/dist/ui/Fields.json
  panel/dist/ui/Footer.json
  panel/dist/ui/LabForm.json
  panel/dist/ui/Search.json
  panel/dist/ui/StructureDrawer.json
Due: none

Docs: fix defaults from function
  src/Panel/Lab/Docs.php
Due: backend

Fix tests after icon change
  tests/Panel/Areas/SiteSearchesTest.php
  tests/Panel/FileTest.php
Due: none

Docs: fix table word break
  panel/src/components/Lab/Docs.vue
Due: frontend

Fix prop defaults once more
  src/Panel/Lab/Docs.php
Due: backend

Docs: split in multiple components
  panel/src/components/Lab/Docs.vue
  panel/src/components/Lab/DocsEvents.vue
  panel/src/components/Lab/DocsExamples.vue
  panel/src/components/Lab/DocsMethods.vue
  panel/src/components/Lab/DocsProps.vue
  panel/src/components/Lab/DocsSlots.vue
Due: frontend

Docs: description own component
  panel/src/components/Lab/Docs.vue
  panel/src/components/Lab/DocsDescription.vue
  panel/src/components/Lab/DocsProps.vue
Due: frontend

Remove error boundary
  panel/src/components/Forms/Fieldset.vue
Due: frontend

Docs: move components into subfolder
  panel/src/components/Lab/Docs.vue
  panel/src/components/Lab/Docs/Description.vue
  panel/src/components/Lab/Docs/Events.vue
  panel/src/components/Lab/Docs/Examples.vue
  panel/src/components/Lab/Docs/Methods.vue
  panel/src/components/Lab/Docs/Props.vue
  panel/src/components/Lab/Docs/Slots.vue
Due: frontend

Docs: remove code leftover
  panel/src/components/Lab/Docs/Props.vue
Due: frontend

Docs: fixed example hot reload for tabs
  panel/lab/components/frames/1_mixed/index.vue
  panel/scripts/vite-kirby.mjs
Due: none

`k-frame`: tweak docs
  panel/dist/ui/ColorFrame.json
  panel/dist/ui/Frame.json
  panel/dist/ui/IconFrame.json
  panel/dist/ui/ImageFrame.json
  panel/src/components/Layout/Frame/Frame.vue
Due: frontend

Docs: filter unset props
  src/Panel/Lab/Docs.php
Due: backend

Move suffix process to duplicate dialog #5787
  config/areas/site/dialogs.php
  src/Cms/PageActions.php
  tests/Cms/Pages/PageActionsTest.php
  tests/Panel/Areas/PageDialogsTest.php
Due: backend

Fix backend redirects with Panel::go
  src/Panel/Json.php
Due: backend

The dialogs also need a container to apply the container queries
  panel/src/components/Dialogs/Dialog.vue
Due: frontend

Fix linting issue
  panel/src/components/Lab/Docs/Props.vue
Due: frontend

Fix mroe linting issues
  panel/src/components/Forms/Previews/HtmlFieldPreview.vue
  panel/src/components/Lab/Docs/Description.vue
  panel/src/components/Lab/Docs/Events.vue
  panel/src/components/Lab/Docs/Methods.vue
  panel/src/components/Lab/Docs/Slots.vue
Due: frontend

Fix cs
  src/Panel/Lab/Docs.php
Due: backend

Fix unit tests after Panel redirects change
  tests/Panel/JsonTest.php
Due: none

Item docs and table option slot fix
  panel/dist/ui/Item.json
  panel/dist/ui/Items.json
  panel/dist/ui/Table.json
  panel/lab/components/item/1_list/index.vue
  panel/lab/components/item/2_cards/index.vue
  panel/lab/components/item/3_cardlets/index.vue
  panel/lab/components/item/index.php
  panel/lab/components/items/1_list/index.vue
  panel/lab/components/items/2_cards/index.vue
  panel/lab/components/items/3_cardlets/index.vue
  panel/lab/components/items/4_table/index.vue
  panel/lab/components/items/index.php
  panel/src/components/Collection/Item.vue
  panel/src/components/Collection/Items.vue
  panel/src/components/Layout/Table.vue
Due: frontend

Docs view
  config/areas/lab/drawers.php
  config/areas/lab/views.php
  panel/src/components/Lab/DocsView.vue
  panel/src/components/Lab/IndexView.vue
  panel/src/components/Lab/index.js
  src/Panel/Lab/Docs.php
Due: backend, frontend

Docs: normalize more default function values
  config/areas/lab/views.php
  src/Panel/Lab/Docs.php
Due: backend

Docs: support backlinks to examples
  panel/dist/ui/Bar.json
  panel/src/components/Lab/DocsDrawer.vue
  panel/src/components/Lab/DocsView.vue
  panel/src/components/Layout/Bar.vue
  src/Panel/Lab/Docs.php
Due: backend, frontend

Docs: since and deprecated tags support
  panel/src/components/Lab/Docs.vue
  panel/src/components/Lab/Docs/Deprecated.vue
  panel/src/components/Lab/Docs/Description.vue
  panel/src/components/Lab/Docs/Props.vue
  src/Panel/Lab/Docs.php
Due: backend, frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
