Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Writer toolbar: hide when no buttons
  panel/src/components/Forms/Toolbar/Toolbar.vue
  panel/src/components/Forms/Writer/Toolbar.vue
Due: frontend

Color field: warning for deprecated notation
  config/fields/color.php
  tests/Form/Fields/ColorFieldTest.php
Due: backend

`Assets::favicons()`: warnings for depreacted keys
  src/Panel/Assets.php
  tests/Panel/AssetsTest.php
Due: backend

Remove retry dialog for now
  i18n/translations/en.json
  panel/src/components/Views/ModelView.vue
  panel/src/panel/content.js
Due: frontend

Add Serbian
  i18n/translations/sr@latin.json
Due: none

Update composer dependencies
  composer.json
  composer.lock
  vendor/bin/yaml-lint.bat
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_files.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/phpmailer/phpmailer/src/PHPMailer.php
  vendor/phpmailer/phpmailer/src/POP3.php
  vendor/phpmailer/phpmailer/src/SMTP.php
  vendor/symfony/deprecation-contracts/LICENSE
  vendor/symfony/deprecation-contracts/composer.json
  vendor/symfony/deprecation-contracts/function.php
  vendor/symfony/yaml/Command/LintCommand.php
  vendor/symfony/yaml/Dumper.php
  vendor/symfony/yaml/Escaper.php
  vendor/symfony/yaml/Exception/ParseException.php
  vendor/symfony/yaml/Inline.php
  vendor/symfony/yaml/Parser.php
  vendor/symfony/yaml/Unescaper.php
  vendor/symfony/yaml/Yaml.php
  vendor/symfony/yaml/composer.json
Due: none

Quick fix for the version issue
  src/Content/Version.php
Due: backend

Fix alt attribute for FileVersion #6852
  src/Image/Image.php
  tests/Cms/Files/FileVersionTest.php
Due: backend

Fix for homepage preview URLs on proper domains
  src/Content/Version.php
  tests/Content/VersionTest.php
Due: backend

Hide language selector for single language #6850
  src/Panel/Ui/Buttons/LanguagesDropdown.php
  tests/Panel/Ui/Buttons/LanguagesDropdownTest.php
Due: backend

Selectable items
  panel/lab/components/items/1_list/index.vue
  panel/lab/components/items/2_cards/index.vue
  panel/lab/components/items/3_cardlets/index.vue
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/Item.vue
  panel/src/components/Collection/Items.vue
Due: frontend

Catch errors and send them to the error dialog
  config/sections/files.php
  config/sections/pages.php
Due: backend

Fix covers annotations
  tests/Cms/Pages/PagesTest.php
Due: none

Only activate the batch mode by option
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Translate the bulk exceptions for Files::delete and Pages::delete
  i18n/translations/en.json
  src/Cms/Files.php
  src/Cms/Pages.php
Due: backend

Add unit tests for the batch option
  tests/Cms/Sections/FilesSectionTest.php
  tests/Cms/Sections/PagesSectionTest.php
Due: none

Batch editing mode for model sections
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/ModelsSection.vue
  panel/src/components/Sections/PagesSection.vue
Due: frontend

Backend requests for batch deleting files and pages
  config/sections/files.php
  config/sections/pages.php
Due: backend

Already show a disabled delete button if nothing is selected
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

New batch mixin
  config/sections/files.php
  config/sections/mixins/batch.php
  config/sections/pages.php
  src/Cms/Core.php
Due: backend

Move batch delete logic into the pages and files classes
  config/sections/files.php
  config/sections/pages.php
  src/Cms/Files.php
  src/Cms/Pages.php
Due: backend

Stop click event on input
  panel/src/components/Collection/Item.vue
Due: frontend

Check for the batch option in the ApI calls
  config/sections/files.php
  config/sections/pages.php
Due: backend

Reuse the validation error messages
  config/sections/files.php
  config/sections/pages.php
Due: backend

Add unit tests for new collection methods
  src/Cms/Files.php
  tests/Cms/Files/FilesTest.php
  tests/Cms/Pages/PagesTest.php
Due: backend

Validate min validation
  config/sections/files.php
  config/sections/pages.php
Due: backend

Selectable item: click anywhere to select
  panel/src/components/Collection/Item.vue
Due: frontend

Allow disable all page buttons
  src/Cms/Blueprint.php
  src/Panel/Ui/Buttons/ViewButtons.php
  tests/Cms/Blueprints/BlueprintTest.php
  tests/Panel/Ui/Buttons/ViewButtonsTest.php
Due: backend

New lab examples
  panel/lab/components/tables/1_horizontal/index.vue
  panel/lab/components/tables/4_component/index.vue
Due: none

Add selectable prop to collection, items and table
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/Items.vue
  panel/src/components/Layout/Table.vue
Due: frontend

Remove the layout check
  config/sections/mixins/batch.php
  tests/Cms/Sections/FilesSectionTest.php
  tests/Cms/Sections/PagesSectionTest.php
Due: backend

Enable selectable mode
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Fix ucfirst behavior #6834
  src/Toolkit/Str.php
  tests/Toolkit/StrTest.php
Due: backend

Reload the section on error as well
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Move logic into batch mixin
  config/sections/files.php
  config/sections/mixins/batch.php
  config/sections/pages.php
Due: backend

Simplify code
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Close selection mode if another section opens theirs
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Improve search input for dark mode #6851
  panel/src/components/Views/SearchView.vue
Due: frontend

Increase contrast of button icon
  panel/src/styles/config/colors.css
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
