Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Throw exceptions instead of returning void
  src/Uuid/Uuids.php
  tests/Uuid/UuidsTest.php
Due: backend

Fix docblock comment
  config/fields/mixins/picker.php
Due: backend

Fix cs issues
  config/fields/mixins/picker.php
Due: backend

Update transifex config and languages
  .tx/config
  composer.json
  i18n/translations/fi.json
  i18n/translations/is_IS.json
Due: none

Update dist files
  cacert.pem
  composer.lock
  panel/dist/css/style.css
  panel/dist/js/index.js
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

Upgrade composer dependencies
  composer.json
  composer.lock
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/laminas/laminas-escaper/composer.json
  vendor/laminas/laminas-escaper/composer.lock
  vendor/laminas/laminas-escaper/src/Exception/ExceptionInterface.php
  vendor/phpmailer/phpmailer/composer.json
  vendor/phpmailer/phpmailer/language/phpmailer.lang-da.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-pl.php
  vendor/phpmailer/phpmailer/src/PHPMailer.php
  vendor/phpmailer/phpmailer/src/POP3.php
  vendor/phpmailer/phpmailer/src/SMTP.php
Due: none

Organize component imports with additional index.js files
  panel/src/components/Dialogs/index.js
  panel/src/components/Drawers/index.js
  panel/src/components/Forms/index.js
  panel/src/components/Layout/index.js
  panel/src/components/Misc/index.js
  panel/src/components/Navigation/index.js
  panel/src/components/Views/index.js
  panel/src/config/components.js
Due: frontend

Separate email normalization and rate limit check
  src/Cms/Auth.php
Due: backend

Swallow all errors during auth challenge creation
  src/Cms/Auth.php
Due: backend

Use fail method throughout the `Auth` class
  src/Cms/Auth.php
Due: backend

New `$auth->fail()` method with auth.debug option
  src/Cms/Auth.php
Due: backend

Longer minimum auth delays
  src/Cms/Auth.php
Due: backend

Temporarily switch to tabs for indentation
  src/Cms/Auth.php
  tests/Cms/Auth/AuthChallengeTest.php
  tests/Cms/Auth/AuthProtectionTest.php
  tests/Cms/Auth/AuthTest.php
Due: backend

DRY `Kirby\Cms\Auth`
  src/Cms/Auth.php
Due: backend

Fixes setting `uuid` value when `content.uuid` option disabled #4787
  src/Cms/FileActions.php
  src/Cms/ModelWithContent.php
  src/Cms/PageActions.php
Due: backend

Switch `uuidGenerate` method to inline `Uuids::enabled()` usage #4787
  src/Cms/FileActions.php
  src/Cms/ModelWithContent.php
  src/Cms/PageActions.php
Due: backend

Unit tests for new auth behavior
  tests/Cms/Auth/AuthChallengeTest.php
  tests/Cms/Auth/AuthProtectionTest.php
  tests/Cms/Auth/mocks.php
Due: none

Catch errors from user.login:failed hook
  src/Cms/Auth.php
Due: backend

Adapt unit tests to new `auth.debug` option
  tests/Cms/Auth/AuthChallengeTest.php
  tests/Cms/Auth/AuthProtectionTest.php
  tests/Cms/Auth/AuthTest.php
Due: none

Hide errors in production during rate limit check
  src/Cms/Auth.php
Due: backend

Switch back to spaces for indentation
  src/Cms/Auth.php
  tests/Cms/Auth/AuthChallengeTest.php
  tests/Cms/Auth/AuthProtectionTest.php
  tests/Cms/Auth/AuthTest.php
Due: backend

Update version number and cert bundle
  cacert.pem
  composer.json
  composer.lock
  vendor/composer/installed.php
Due: none
