Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

test: Fix Psalm baseline
  psalm-baseline.xml
Due: none

refact: Remove `Session::__call()`
  src/Session/Session.php
  tests/Session/SessionTest.php
Due: backend

refact: `Kirby\Session\Cookie`
  src/Session/Cookie.php
  src/Session/Session.php
  src/Session/Sessions.php
  tests/Session/CookieTest.php
  tests/Session/SessionsTest.php
Due: backend

refact: `Kirby\Session\Header`
  src/Session/Header.php
  src/Session/Sessions.php
  tests/Session/HeaderTest.php
  tests/Session/SessionsTest.php
Due: backend

Merge pull request #8243 from getkirby/fix/8242-writer-field-preview
  panel/lab/components/fieldpreviews/writer/index.php
  panel/lab/components/fieldpreviews/writer/index.vue
  panel/src/components/Forms/Previews/HtmlFieldPreview.vue
  panel/src/components/Forms/Previews/WriterFieldPreview.vue
  panel/src/components/Forms/Previews/index.js
  panel/src/helpers/string.sanitizeHTML.test.ts
Due: frontend

fix: `npm run build:docs` (#8244)
  panel/package.json
Due: none

refact: Remove `Session::__call()` (#8229)
  src/Session/Session.php
  tests/Session/SessionTest.php
Due: backend

fix: restore link field model previews (#8241)
  panel/src/helpers/link.test.ts
  panel/src/helpers/link.ts
Due: frontend

fix: Remove `Inventory::$numSeparator` for now
  src/Cms/Inventory.php
  src/Cms/Page.php
  src/Filesystem/Dir.php
Due: backend

fix: Add `$key` for permissions deprecated call
  src/Cms/Helpers.php
  src/Cms/ModelWithContent.php
  src/Cms/Permissions.php
Due: backend

fix: restore plugin block previews registered as template strings #8251
  panel/src/panel/plugins.test.ts
  panel/src/panel/plugins.ts
Due: frontend

fix: Restore plugin block previews registered as template strings
  panel/src/panel/plugins.test.ts
  panel/src/panel/plugins.ts
Due: frontend

docs: Update CHANGELOG for 6.0.0-alpha.3
  CHANGELOG.md
Due: none

fix: When max reached in model picker dialogs
  panel/src/components/Dialogs/ModelPickerDialog.vue
Due: frontend

fix: Constrain dialogs to viewport #6012
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Dialogs/Elements/Body.vue
Due: frontend

fix: Scroll expanded link browsers #6012
  panel/src/components/Forms/Field/LinkField.vue
Due: frontend

fix: Scroll move dialog page tree only
  panel/src/components/Dialogs/PageMoveDialog.vue
Due: frontend

fix: Scroll model picker lists #8160
  panel/src/components/Dialogs/ModelsDialog.vue
Due: frontend

feat: `k-scrollable`
  panel/lab/components/scrollable/index.php
  panel/lab/components/scrollable/index.vue
  panel/src/components/Collection/Collection.vue
  panel/src/components/Dialogs/Elements/Body.vue
  panel/src/components/Dialogs/ModelsDialog.vue
  panel/src/components/Drawers/Elements/Body.vue
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Layout/Scrollable.vue
  panel/src/components/Layout/index.js
Due: frontend

fix: `Routes::pattern()` to support pattern array
  src/Panel/Routes/Routes.php
  tests/Panel/Routes/DialogRoutesTest.php
  tests/Panel/Routes/RoutesTest.php
Due: backend

style: Fix cs
  src/Cms/AppCaches.php
  src/Http/Remote.php
Due: backend

feat: IP rate limiting for identity-unknown auth
  src/Auth/Limits.php
  src/Auth/Methods.php
  tests/Auth/LimitsTest.php
  tests/Auth/MethodsTest.php
Due: backend

feat: Clear single-use challenge nonce on failure
  src/Auth/Challenge.php
  src/Auth/Challenges.php
  tests/Auth/Challenge/EmailChallengeTest.php
  tests/Auth/Challenge/TotpChallengeTest.php
  tests/Auth/ChallengesTest.php
Due: backend

fix: Handle picker max limit without disabling all items
  panel/src/components/Dialogs/ModelPickerDialog.vue
Due: frontend

feat: `Auth::guard()` rate-limit helper
  src/Auth/Auth.php
  tests/Auth/AuthChallengeTest.php
  tests/Auth/AuthTest.php
Due: backend

chore: Add workflow to sync kits on release
  .github/workflows/sync-kits.yml
Due: none

docs: Add video KirbyTag breaking change
  CHANGELOG.md
Due: none

fix: Add `$key` for permissions deprecated call (#8253)
  src/Cms/Helpers.php
  src/Cms/ModelWithContent.php
  src/Cms/Permissions.php
Due: backend

feat: More hardening against path traversal
  config/components.php
  src/Filesystem/Asset.php
  tests/Filesystem/AssetTest.php
Due: backend

fix: handle broken link tag inline instead of error page #7426
  config/tags.php
  tests/Text/LinkKirbyTagTest.php
Due: backend

fix: Restore block navigation in the panel #8264
  panel/src/helpers/history.test.ts
  panel/src/helpers/history.ts
Due: frontend

fix: handle broken link tag inline instead of error page (#8257)
  config/tags.php
  tests/Text/LinkKirbyTagTest.php
Due: backend

fix: Not track `verifyChallenge` when no challenge
  src/Auth/Auth.php
  tests/Auth/AuthChallengeTest.php
Due: backend

docs: Extend changelog
  CHANGELOG.md
Due: none

fix: Restore block navigation in the panel (#8265)
  panel/src/helpers/history.test.ts
  panel/src/helpers/history.ts
Due: frontend

types: Fix plugin components type
  panel/src/panel/plugins.ts
Due: frontend
