Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Block background: remove unnecessary value entries
  panel/src/components/Forms/Blocks/Elements/BlockBackgroundDropdown.vue
Due: frontend

Slightly changed button design
  panel/src/components/Forms/Blocks/Elements/BlockBackgroundDropdown.vue
Due: frontend

Add i18n strings
  i18n/translations/en.json
  panel/src/components/Forms/Blocks/Elements/BlockBackgroundDropdown.vue
Due: frontend

Fix `field.blocks.figure.back.plain` i18 string
  i18n/translations/en.json
Due: none

Fix default bg for image/gallery block
  panel/src/components/Forms/Blocks/Types/Gallery.vue
  panel/src/components/Forms/Blocks/Types/Image.vue
Due: frontend

Move focus code inside `k-file-preview`
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileView.vue
Due: frontend

`File::preview()` method for preview props
  src/Filesystem/File.php
  src/Panel/File.php
Due: backend

Video file preview
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileVideoPreview.vue
  panel/src/components/Views/Files/index.js
Due: frontend

Audio file preview
  panel/src/components/Views/Files/FileAudioPreview.vue
  panel/src/components/Views/Files/index.js
Due: frontend

File previews: support data provider closures
  panel/src/components/Views/Files/FileView.vue
  src/Panel/File.php
Due: backend, frontend

Bring back focus btn in file image preview
  panel/src/components/Views/Files/FileAudioPreview.vue
  panel/src/components/Views/Files/FileDefaultPreview.vue
  panel/src/components/Views/Files/FileFocusButton.vue
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileVideoPreview.vue
  panel/src/components/Views/Files/index.js
Due: frontend

File preview components per type
  panel/src/components/Views/Files/FileDefaultPreview.vue
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Files/index.js
  src/Panel/File.php
Due: backend, frontend

Move `filePreviews` to actual extension
  config/areas/files/previews.php
  src/Cms/AppPlugins.php
  src/Cms/Core.php
  src/Panel/File.php
Due: backend

Clean up preview Vue components
  panel/src/components/Views/Files/FileAudioPreview.vue
  panel/src/components/Views/Files/FileDefaultPreview.vue
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileVideoPreview.vue
Due: frontend

Move to v5
  config/areas/files/previews.php
  panel/src/components/Views/Files/FileAudioPreview.vue
  panel/src/components/Views/Files/FileDefaultPreview.vue
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileVideoPreview.vue
  src/Cms/AppPlugins.php
  src/Cms/Core.php
  src/Panel/File.php
Due: backend, frontend

Less magical Closure call
  src/Panel/File.php
Due: backend

Fix unit tests
  tests/Panel/FileTest.php
Due: none

`Panel\File::preview()`: adapt array structure
  panel/src/components/Views/Files/FileView.vue
  src/Panel/File.php
Due: backend, frontend

Remove leftovers from merge conflict
  src/Panel/File.php
Due: backend

More fixes
  src/Panel/File.php
Due: backend

File previews: fix extending data
  src/Cms/AppPlugins.php
  src/Panel/File.php
  tests/Cms/App/AppPluginsTest.php
Due: backend

Unit tests for `Panel\File::preview()`
  src/Panel/File.php
  tests/Panel/FileTest.php
Due: backend

Separate file preview details & thumb components
  panel/src/components/Views/Files/FileAudioPreview.vue
  panel/src/components/Views/Files/FileDefaultPreview.vue
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FilePreviewDetails.vue
  panel/src/components/Views/Files/FilePreviewThumb.vue
  panel/src/components/Views/Files/FileVideoPreview.vue
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Files/index.js
Due: frontend

moooore
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FilePreviewThumb.vue
  panel/src/components/Views/Files/FileVideoPreview.vue
  src/Cms/AppPlugins.php
  src/Cms/Core.php
  src/Panel/File.php
  src/Panel/Ui/FilePreview.php
  src/Panel/Ui/FilePreviews/FileAudioPreview.php
  src/Panel/Ui/FilePreviews/FileImagePreview.php
  src/Panel/Ui/FilePreviews/FileVideoPreview.php
Due: backend, frontend

`filePreviews` extension
  src/Cms/AppPlugins.php
  src/Cms/Core.php
  tests/Cms/App/AppPluginsTest.php
  tests/Cms/CoreTest.php
Due: backend

Improve the base test case for content tests
  tests/Content/TestCase.php
Due: none

Improve PlainTextContentStorage::exists and ::read to provide stable defaults for models
  src/Content/PlainTextContentStorageHandler.php
  tests/Content/PlainTextContentStorageHandlerTest.php
Due: backend

Adjust tests after PlainTextContentStorageHandler changes
  tests/Content/TranslationTest.php
  tests/Content/VersionTest.php
Due: none

`ViewButtons::bind()`
  config/areas/languages/views.php
  config/areas/users/dropdowns.php
  config/areas/users/views.php
  src/Panel/File.php
  src/Panel/Page.php
  src/Panel/Site.php
  src/Panel/Ui/Buttons/ViewButton.php
  src/Panel/Ui/Buttons/ViewButtons.php
  src/Panel/User.php
  tests/Panel/Ui/Buttons/ViewButtonsTest.php
Due: backend

Fix cs
  src/Panel/File.php
  src/Panel/Page.php
  src/Panel/Site.php
  src/Panel/User.php
Due: backend

`Panel\Ui\View` class
  src/Panel/Ui/View.php
  tests/Panel/Ui/ViewTest.php
Due: backend

`Panel\View::reponse()`: auto-render UI views
  src/Panel/View.php
  tests/Panel/ViewTest.php
Due: backend

`Panel\Ui\Component`: stable keys
  src/Panel/Ui/Component.php
  tests/Panel/Ui/ComponentTest.php
Due: backend

`rawvalues` option for pages section tables
  config/sections/mixins/layout.php
Due: backend

Improve PlainTextContentStorageHandler::delete
  src/Content/PlainTextContentStorageHandler.php
  tests/Content/PlainTextContentStorageHandlerTest.php
Due: backend

Improve PlainTextContentStorageHandler ::read and ::exists methods
  src/Content/PlainTextContentStorageHandler.php
  tests/Content/TranslationTest.php
  tests/Content/VersionTest.php
Due: backend

Prevent partial matches for `pattern` validation
  src/Form/Validations.php
  tests/Form/ValidationsTest.php
Due: backend

Improve PlainTextContentStorageHandler::move
  src/Content/PlainTextContentStorageHandler.php
  tests/Content/PlainTextContentStorageHandlerTest.php
Due: backend

Fix `ContentStorageHandler::moveLanguage()`
  src/Content/ContentStorageHandler.php
Due: backend

Fix comment style
  src/Content/PlainTextContentStorageHandler.php
Due: backend
