Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: `F::range()`
  src/Filesystem/F.php
  tests/Filesystem/FTest.php
Due: backend

style: Fix cs
  src/Http/Range.php
Due: backend

fix: Use the original file source for the direct response
  src/Cms/Media.php
Due: backend

test: Add missing unit tests
  src/Filesystem/F.php
  tests/Filesystem/FTest.php
  tests/Http/RangeTest.php
Due: backend

feat: Support file range requests
  src/Cms/Media.php
  src/Http/Range.php
  src/Http/Response.php
  tests/Cms/Media/MediaTest.php
  tests/Http/RangeTest.php
  tests/Http/ResponseTest.php
Due: backend

fix: Correct since tags
  src/Filesystem/F.php
  src/Http/Range.php
  src/Http/Response.php
Due: backend

fix: Unit tests
  tests/Http/RangeTest.php
  tests/Http/ResponseTest.php
Due: none

feat: Design tokens file
  panel/src/styles/tokens.json
Due: frontend

feat: New Kirby\Reflection\Field class to extract info about fields
  src/Reflection/Field.php
Due: backend

feat: Reflect new default value attribute if it exists
  src/Reflection/Attributes/DefaultValue.php
  src/Reflection/Field.php
Due: backend

feat: New Kirby\Reflection\DocComment class to parse docblock comments
  src/Reflection/DocComment.php
Due: backend

first version
  config/areas/site/views.php
  panel/src/components/Views/Blueprints/BlueprintFieldView.vue
  panel/src/components/Views/Blueprints/BlueprintFieldsView.vue
  panel/src/components/Views/Blueprints/BlueprintTabView.vue
  panel/src/components/Views/Blueprints/BlueprintView.vue
  panel/src/components/Views/Blueprints/index.js
  panel/src/components/Views/index.js
  src/Panel/Controller/Dropdown/PageSettingsDropdownController.php
  src/Panel/Controller/View/BlueprintFieldViewController.php
  src/Panel/Controller/View/BlueprintFieldsViewController.php
  src/Panel/Controller/View/BlueprintTabViewController.php
  src/Panel/Controller/View/BlueprintViewController.php
  src/Reflection/Field.php
Due: backend, frontend

fix: Use new Blueprint namespace
  src/Panel/Controller/View/BlueprintViewController.php
Due: backend

feat: Discard and save individual items
  panel/src/components/Dialogs/ChangesDialog.vue
Due: frontend

feat: Discard and save all models in changes dialog
  config/api/routes/changes.php
  panel/src/components/Dialogs/ChangesDialog.vue
  src/Api/Controller/Changes.php
Due: backend, frontend

refact: More playing around
  panel/src/components/Dialogs/ChangesDialog.vue
  src/Content/Changes.php
  src/Panel/ChangesDialog.php
Due: backend, frontend

First draft for a file drawer
  config/areas/files/drawers.php
  config/areas/site/drawers.php
  panel/src/components/Drawers/FileDrawer.vue
  panel/src/components/Drawers/index.js
  panel/src/components/Sections/FilesSection.vue
Due: backend, frontend

fix: Drawer styling and fields
  config/areas/files/drawers.php
  panel/src/components/Drawers/FileDrawer.vue
Due: backend, frontend

fix: Merge issues
  config/areas/files/drawers.php
Due: backend

Replace files in the file drawer
  config/areas/files/drawers.php
  panel/src/components/Drawers/FileDrawer.vue
Due: backend, frontend

feat: First set of events
  panel/src/components/Drawers/FileDrawer.vue
Due: frontend

feat: New modules classes
  src/Modules/Module.php
  src/Modules/Modules.php
Due: backend

refact: Rename classes to Node/Nodes
  src/Modules/Module.php
  src/Nodes/Node.php
  src/Nodes/Nodes.php
Due: backend

test: Cover Pages Permissions
  src/Permissions/PagesPermissions.php
  tests/Permissions/PagesPermissionsTest.php
Due: backend

refact: Simplify from methods
  src/Permissions/Permissions.php
Due: backend

fix: Add Language Variable permissions to Permissions
  src/Permissions/Permissions.php
Due: backend

fix: Declare all acount permissions
  src/Permissions/AccountPermissions.php
Due: backend

refact: Simplify code with new Foundation class
  src/Permissions/Foundation.php
  src/Permissions/ModelPermissions.php
  src/Permissions/Permissions.php
Due: backend

test: First set of unit tests
  src/Permissions/Abstracts/PermissionsFoundation.php
  src/Permissions/Abstracts/PermissionsGroup.php
  src/Permissions/Abstracts/PermissionsGroups.php
  src/Permissions/AccountPermissions.php
  src/Permissions/AreaPermissions.php
  src/Permissions/FilesPermissions.php
  src/Permissions/LanguageVariablePermissions.php
  src/Permissions/LanguageVariablesPermissions.php
  src/Permissions/LanguagesPermissions.php
  src/Permissions/ModelPermissions.php
  src/Permissions/ModelsPermissions.php
  src/Permissions/PagePermissions.php
  src/Permissions/PanelPermissions.php
  src/Permissions/Permissions.php
  src/Permissions/SystemPermissions.php
  src/Permissions/UsersPermissions.php
  tests/Permissions/AccountPermissionsTest.php
  tests/Permissions/AreaPermissionsTest.php
  tests/Permissions/FilePermissionsTest.php
  tests/Permissions/LanguagePermissions.php
  tests/Permissions/LanguageVariablePermissionsTest.php
  tests/Permissions/LanguageVariablesPermissionsTest.php
  tests/Permissions/ModelPermissionsTest.php
  tests/Permissions/PagePermissionsTest.php
  tests/Permissions/PanelPermissionsTest.php
  tests/Permissions/PermissionsGroupTestCase.php
  tests/Permissions/PermissionsTest.php
  tests/Permissions/PermissionsTestCase.php
  tests/Permissions/RoleMatrixTest.php
  tests/Permissions/SitePermissionsTest.php
  tests/Permissions/SystemPermissionsTest.php
  tests/Permissions/UserPermissionsTest.php
  tests/Permissions/UsersPermissionsTest.php
Due: backend

refact: Use new Constructor reflection class
  src/Permissions/ModelPermissions.php
  src/Permissions/Permissions.php
Due: backend

fix: Declare all LanguageVariable permissions
  src/Permissions/LanguageVariablePermissions.php
Due: backend

feat: New permission classes
  src/Permissions/AccountPermissions.php
  src/Permissions/FilePermissions.php
  src/Permissions/FilesPermissions.php
  src/Permissions/LanguagePermissions.php
  src/Permissions/LanguagesPermissions.php
  src/Permissions/ModelPermissions.php
  src/Permissions/PagePermissions.php
  src/Permissions/PagesPermissions.php
  src/Permissions/PanelPermissions.php
  src/Permissions/Permissions.php
  src/Permissions/SitePermissions.php
  src/Permissions/SystemPermissions.php
  src/Permissions/UserPermissions.php
  src/Permissions/UsersPermissions.php
  src/Toolkit/Reflection.php
Due: backend

feat: New Role Matrix class
  src/Permissions/RoleMatrix.php
Due: backend

further simplify
  src/Permissions/Permissions.php
Due: backend

test: Additional tests
  tests/Permissions/AccountPermissionsTest.php
  tests/Permissions/AreaPermissionsTest.php
  tests/Permissions/FilePermissionsTest.php
  tests/Permissions/LanguagePermissions.php
  tests/Permissions/LanguageVariablePermissionsTest.php
  tests/Permissions/LanguageVariablesPermissionsTest.php
  tests/Permissions/ModelPermissionsTest.php
  tests/Permissions/PagePermissionsTest.php
  tests/Permissions/PanelPermissionsTest.php
  tests/Permissions/PermissionsGroupTestCase.php
  tests/Permissions/SitePermissionsTest.php
  tests/Permissions/SystemPermissionsTest.php
  tests/Permissions/UserPermissionsTest.php
  tests/Permissions/UsersPermissionsTest.php
Due: none

feat: Add Language Variable Permission classes
  src/Permissions/LanguageVariablePermissions.php
  src/Permissions/LanguageVariablesPermissions.php
Due: backend

More sandbox code
  src/Permissions/Sandbox/ClientRolePermissions.php
  src/Permissions/Sandbox/Page.php
  src/Permissions/Sandbox/Role.php
  src/Permissions/Sandbox/roles/ClientRolePermissions.php
  src/Permissions/Sandbox/roles/admin.php
  src/Permissions/Sandbox/roles/client.php
  src/Permissions/Sandbox/roles/editor.php
Due: backend

fix: Remove outdated Reflection class
  src/Toolkit/Reflection.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
