Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

perf: Improve modellist field table layout
  src/Form/Field/ModelListField.php
  src/Form/Field/PageListField.php
  src/Panel/Ui/Item/ModelItem.php
  tests/Form/Field/FileListFieldTest.php
  tests/Panel/Ui/Item/ModelItemTest.php
Due: backend

[remove fields] #15 - test: Remove sections from test setups (#8442)
  tests/Api/Routes/AccountRoutesTest.php
  tests/Api/Routes/UsersRoutesTest.php
  tests/Blueprint/AcceptRulesTest.php
  tests/Blueprint/BlueprintExtendAndUnsetTest.php
  tests/Blueprint/BlueprintFieldReferencesTest.php
  tests/Blueprint/BlueprintTest.php
  tests/Cms/File/FileBlueprintsTest.php
  tests/Cms/File/FileChangeTemplateTest.php
  tests/Cms/File/FilePermissionsTest.php
  tests/Cms/File/FileRulesTest.php
  tests/Cms/FileListTemplateChangeTest.php
  tests/Cms/Model/ModelWithContentTest.php
  tests/Cms/Page/PageBlueprintsTest.php
  tests/Cms/Page/PageErrorsTest.php
  tests/Cms/Page/PageMoveTest.php
  tests/Cms/Page/PageRulesTest.php
  tests/Guards/FileAbilitiesTest.php
  tests/Guards/FileValidatorsTest.php
  tests/Guards/PageGuardsTest.php
  tests/Guards/PageValidatorsTest.php
  tests/Panel/Controller/Dialog/PageMoveDialogControllerTest.php
  tests/Panel/Controller/Request/PageTreeRequestControllerTest.php
  tests/Panel/Controller/View/ModelViewControllerTest.php
Due: none

fix: Enforce the content lock in the model form (#8437)
  panel/src/components/Forms/ModelForm.test.ts
  panel/src/components/Forms/ModelForm.vue
  panel/src/components/Views/Preview/PreviewForm.vue
Due: frontend

[remove fields] fix: Protect fields against single field error (#8443)
  src/Form/Field.php
  src/Form/Field/FileListField.php
  src/Form/Field/ModelListField.php
  src/Form/Field/PageListField.php
  src/Form/Fields.php
  tests/Form/Field/FileListFieldTest.php
  tests/Form/Field/PageListFieldTest.php
  tests/Form/FieldTest.php
  tests/Form/FieldsTest.php
  tests/Form/FormTest.php
Due: backend

fix: `field` param support for controller factory
  src/Panel/Controller/Dialog/PageCreateDialogController.php
  tests/Panel/Controller/Dialog/PageCreateDialogControllerTest.php
Due: backend

fix: Psalm errors in ModelListField::row()
  src/Form/Field/ModelListField.php
Due: backend

fix: `$field->isActive()` for display fields (#8453)
  src/Form/Mixin/When.php
  tests/Form/FieldTest.php
Due: backend

perf: `k-validator` for more fields
  panel/src/components/Forms/Field/EntriesField.vue
  panel/src/components/Forms/Field/ModelPickerField.vue
  panel/src/components/Forms/Field/StructureField.vue
Due: frontend

refact: Don't throw for array field extensions
  src/Cms/AppPlugins.php
  tests/Cms/App/AppPluginsTest.php
Due: backend

style: Fix cs
  tests/Cms/App/AppPluginsTest.php
Due: none

perf: `k-validator` for blocks and layout field
  panel/src/components/Forms/Field/BlocksField.vue
  panel/src/components/Forms/Field/LayoutField.vue
Due: frontend

fix: Pass content lock to preview form
  panel/src/components/Views/Preview/PreviewView.vue
Due: frontend

fix: Collect field names in a single namespace
  src/Blueprint/Blueprint.php
  src/Blueprint/FieldsRegistry.php
  src/Blueprint/Normalizer.php
  src/Cms/Fieldset.php
  tests/Blueprint/BlueprintFieldReferencesTest.php
  tests/Blueprint/BlueprintTest.php
  tests/Blueprint/FieldsRegistryTest.php
  tests/Blueprint/NormalizerTest.php
  tests/Cms/Fieldsets/FieldsetTest.php
  tests/Guards/PageValidatorsTest.php
Due: backend

fix: Field shortcuts with empty props and unusable names
  src/Blueprint/Normalizer.php
  tests/Blueprint/NormalizerTest.php
Due: backend

perf: Cache normalized blueprints
  src/Blueprint/Blueprint.php
  src/Blueprint/Normalizer.php
  src/Blueprint/PageBlueprint.php
  src/Blueprint/UserBlueprint.php
  src/Cms/App.php
  src/Cms/File.php
  src/Cms/Page.php
  src/Cms/Site.php
  src/Cms/User.php
  src/Content/Content.php
  src/Form/Field/PageListField.php
  tests/Api/ApiTest.php
  tests/Api/Routes/AccountRoutesTest.php
  tests/Api/Routes/UsersRoutesTest.php
  tests/Api/UploadTest.php
  tests/Blueprint/BlueprintTest.php
  tests/Blueprint/FileBlueprintTest.php
  tests/Blueprint/NormalizerTest.php
  tests/Blueprint/PageBlueprintTest.php
  tests/Blueprint/UserBlueprintTest.php
  tests/Cms/Page/PageBlueprintsTest.php
  tests/Cms/TestCase.php
  tests/Form/Field/PageListFieldTest.php
  tests/Panel/Areas/AreaTestCase.php
  tests/Panel/TestCase.php
  tests/Panel/UserTest.php
Due: backend

style: Fix cs
  src/Blueprint/Blueprint.php
Due: backend

fix: Reset app instance in `App::destory()`
  src/Cms/App.php
Due: backend

feat: Field props reflection
  src/Cms/Fieldsets.php
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
  src/Form/Mixin/Label.php
  src/Form/Mixin/Name.php
  src/Reflection/Attributes/Computed.php
  src/Reflection/Constructor.php
  src/Reflection/Props.php
  tests/Reflection/Attributes/ComputedTest.php
  tests/Reflection/ConstructorTest.php
  tests/Reflection/PropsTest.php
Due: backend

refact: Better class hierachy
  src/Form/Field/ListField.php
  src/Form/Field/ProseMirrorField.php
  src/Form/Field/StringField.php
  src/Form/Field/TextField.php
  src/Form/Field/WriterField.php
  tests/Form/Field/InputFieldTest.php
  tests/Form/Field/ListFieldTest.php
  tests/Form/Field/TextFieldTest.php
  tests/Form/Field/WriterFieldTest.php
  tests/Form/ValidationsTest.php
Due: backend

refact: Use `...$args` for field constructors
  src/Form/Field/BlocksField.php
  src/Form/Field/ButtonsField.php
  src/Form/Field/CheckboxesField.php
  src/Form/Field/ColorField.php
  src/Form/Field/DateField.php
  src/Form/Field/DateTimeField.php
  src/Form/Field/DisplayField.php
  src/Form/Field/EmailField.php
  src/Form/Field/EntriesField.php
  src/Form/Field/FileListField.php
  src/Form/Field/FilePickerField.php
  src/Form/Field/HeadlineField.php
  src/Form/Field/InfoField.php
  src/Form/Field/InputField.php
  src/Form/Field/LayoutField.php
  src/Form/Field/LinkField.php
  src/Form/Field/ModelListField.php
  src/Form/Field/ModelPickerField.php
  src/Form/Field/MultiselectField.php
  src/Form/Field/NumberField.php
  src/Form/Field/ObjectField.php
  src/Form/Field/OptionField.php
  src/Form/Field/OptionsField.php
  src/Form/Field/PageListField.php
  src/Form/Field/PagePickerField.php
  src/Form/Field/RadioField.php
  src/Form/Field/RangeField.php
  src/Form/Field/SelectField.php
  src/Form/Field/SlugField.php
  src/Form/Field/StatsField.php
  src/Form/Field/StringField.php
  src/Form/Field/StructureField.php
  src/Form/Field/TagsField.php
  src/Form/Field/TelField.php
  src/Form/Field/TextField.php
  src/Form/Field/TextareaField.php
  src/Form/Field/TimeField.php
  src/Form/Field/ToggleField.php
  src/Form/Field/TogglesField.php
  src/Form/Field/UrlField.php
Due: backend

refact: Use model guards, not deprecated `->can()`
  config/api/routes/files.php
  config/api/routes/users.php
  src/Api/Controller/Changes.php
  src/Auth/Method/PasswordMethod.php
  src/Blueprint/PageBlueprint.php
  src/Blueprint/SiteBlueprint.php
  src/Cms/File.php
  src/Cms/FileActions.php
  src/Cms/Page.php
  src/Cms/Roles.php
  src/Cms/Site.php
  src/Cms/User.php
  src/Cms/UserActions.php
  src/Form/Fields.php
  src/Panel/Controller/Dialog/PageChangeTitleDialogController.php
  src/Panel/Controller/Drawer/UserEmailChallengeDrawerController.php
  src/Panel/Controller/Drawer/UserSecurityDrawerController.php
  src/Panel/Controller/View/SiteViewController.php
  src/Panel/Ui/Button/PageStatusButton.php
  src/Panel/Ui/Item/FileItem.php
  src/Panel/Ui/Item/PageItem.php
  tests/Auth/Method/PasswordMethodTest.php
  tests/Panel/Controller/Dialog/PagePickerDialogControllerTest.php
Due: backend

refact!: Remove the deprecated permission cache
  src/Cms/App.php
  src/Cms/FilePermissions.php
  src/Cms/ModelPermissions.php
  src/Cms/PagePermissions.php
  src/Cms/UserPermissions.php
  tests/Cms/File/FilePermissionsTest.php
  tests/Cms/Page/PagePermissionsTest.php
  tests/Cms/Site/SitePermissionsTest.php
  tests/Cms/User/UserPermissionsTest.php
Due: backend

refact: Memoize model guards in `ModelGuards::for()`
  src/Cms/File.php
  src/Cms/Language.php
  src/Cms/Model.php
  src/Cms/Page.php
  src/Cms/Site.php
  src/Cms/User.php
  src/Guards/ModelGuards.php
  tests/Cms/Model/ModelWithContentTest.php
  tests/Guards/ModelGuardsTest.php
Due: backend

feat: Add `ModelGuards::toArray()`
  config/api/models/Site.php
  src/Cms/ModelPermissions.php
  src/Guards/ModelGuards.php
  src/Panel/Controller/View/ModelViewController.php
  src/Panel/Controller/View/SiteViewController.php
  src/Panel/Model.php
  src/Panel/Ui/Item/ModelItem.php
  tests/Guards/ModelGuardsTest.php
Due: backend

perf: Cache the resolved action methods of the guards
  src/Guards/HasActions.php
Due: backend

perf: Optimize Exception
  psalm-baseline.xml
  src/Exception/Exception.php
  tests/Exception/ExceptionTest.php
Due: backend

perf: Memoize the user checks in the permission guards
  src/Guards/ModelPermissions.php
Due: backend

perf: Resolve plain permission checks without exceptions
  src/Guards/ModelGuards.php
  tests/Guards/ModelGuardsTest.php
Due: backend

refact: Check roles through `Role::isAdmin()` and `::isNobody()`
  src/Cms/User.php
  src/Panel/Field.php
Due: backend

fix: Default bindings in `Sql::insert()`
  src/Database/Sql.php
  tests/Database/SqlTest.php
Due: backend

fix: Only strip pairs in `::unquoteIdentifier()`
  src/Database/Sql.php
  tests/Database/SqlTest.php
Due: backend

fix: `Database::connect()` incomplete params
  src/Database/Database.php
  tests/Database/DatabaseTest.php
Due: backend

fix: Add `Query::order()` return type
  src/Database/Query.php
Due: backend

fix: Keep accumulated bindings in `Sql::joins()`
  src/Database/Sql.php
  tests/Database/SqlTest.php
Due: backend

refact: Type `Database::connect()` params as array
  src/Database/Database.php
Due: backend

fix: Type `Query::filterQuery()` param and return
  src/Database/Query.php
Due: backend

test: Add unit test for failing `Database::connect()`
  tests/Database/DatabaseTest.php
Due: none

style: PHP CS Fixer﻿ plugin for short class names
  .gitignore
  .php-cs-fixer.dist.php
  .php-cs-fixer.types.php
  composer.json
  etc/cs-fixer-plugins/NamespacedFullyQualifiedStrictTypesFixer.php
Due: none

style: PHP CS Fixer﻿ plugin for redundant `@param` types
  .php-cs-fixer.dist.php
  etc/cs-fixer-plugins/PhpdocNoRedundantTypesFixer.php
Due: none
