Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore: Upgrade Parsedown
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_namespaces.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/erusev/parsedown-extra/ParsedownExtra.php
  vendor/erusev/parsedown-extra/composer.json
  vendor/erusev/parsedown/Parsedown.php
  vendor/erusev/parsedown/composer.json
Due: none

refact: New SectionField
  panel/src/components/Forms/Field/SectionField.vue
  panel/src/components/Forms/Field/index.js
  src/Blueprint/Blueprint.php
  src/Cms/Core.php
  src/Form/Field/SectionField.php
  tests/Blueprint/BlueprintTest.php
  tests/Form/Field/SectionFieldTest.php
Due: backend, frontend

refact: Convert sections to fields
  src/Panel/Controller/View/ModelViewController.php
Due: backend

refact: New ModelForm component
  panel/src/components/Forms/ModelForm.vue
  panel/src/components/Forms/index.js
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Pages/SiteView.vue
  panel/src/components/Views/Preview/PreviewForm.vue
  panel/src/components/Views/Users/UserView.vue
Due: frontend

refact: Tweaks to unified fields handling
  panel/src/components/Forms/Field/SectionField.vue
  panel/src/components/Forms/ModelForm.vue
  src/Form/Field/SectionField.php
  src/Panel/Controller/View/ModelViewController.php
  tests/Form/Field/SectionFieldTest.php
Due: backend, frontend

deprecate: Info & Stats sections
  config/sections/info.php
  config/sections/stats.php
  panel/src/components/Sections/InfoSection.vue
  panel/src/components/Sections/StatsSection.vue
  panel/src/components/Sections/index.js
  src/Form/Mixin/Model.php
  src/Panel/Controller/View/ModelViewController.php
  tests/Panel/Controller/View/ModelViewControllerTest.php
Due: backend, frontend

chore: Upgrade Parsedown (#8213)
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_namespaces.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/erusev/parsedown-extra/ParsedownExtra.php
  vendor/erusev/parsedown-extra/composer.json
  vendor/erusev/parsedown/Parsedown.php
  vendor/erusev/parsedown/composer.json
Due: none

fix: Persist sorting in the default language #8212
  src/Cms/FileActions.php
  tests/Cms/File/FileChangeSortTest.php
Due: backend

fix: Persist sorting in the default language (#8215)
  src/Cms/FileActions.php
  tests/Cms/File/FileChangeSortTest.php
Due: backend

refact: Use `F::update()` for Auth limits (#8210)
  src/Auth/Limits.php
  tests/Auth/LimitsTest.php
Due: backend

fix: @since version number for License changes
  src/Cms/License.php
  src/Cms/LicenseStatus.php
  src/Cms/LicenseType.php
Due: backend

fix: RedisCache escape glob metachars in prefix
  src/Cache/RedisCache.php
  tests/Cache/RedisCacheTest.php
Due: backend

refact: Add checks hint to dev activation dialog
  i18n/translations/en.json
Due: none

chore: Update EULA to 2026-07-02
  LICENSE.md
Due: none

fix: Backoff for license reissue attempts
  src/Cms/License.php
  src/Cms/System.php
  tests/Cms/System/LicenseTest.php
  tests/Cms/System/SystemTest.php
Due: backend

fix: Ensure containment in `::realpath()`
  src/Filesystem/Dir.php
  src/Filesystem/F.php
  tests/Filesystem/DirTest.php
  tests/Filesystem/FTest.php
Due: backend

fix: Path traversal in `Media::thumb()`
  src/Cms/Media.php
  tests/Cms/Media/MediaTest.php
Due: backend

fix: Disguise file paths in API errors
  src/Api/Api.php
  src/Cms/AppErrors.php
  tests/Api/ApiTest.php
  tests/Cms/Api/ApiTest.php
Due: backend

fix: Mark ResizeObserver as raw
  panel/src/panel/observers.ts
Due: frontend

fix: Handle `panel.$t` as legacy
  panel/src/panel/panel.ts
Due: frontend

style: Remove unnecessary type unions
  panel/src/panel/dialog.ts
  panel/src/panel/drawer.ts
Due: frontend

fix: `modal.submit()` value fallback
  panel/src/panel/modal.test.ts
  panel/src/panel/modal.ts
Due: frontend

perf: Stable consts for event s key aliases
  panel/src/panel/events.ts
Due: frontend

fix: `panel.event.unsubscribe()`
  panel/src/panel/events.test.ts
  panel/src/panel/events.ts
Due: frontend

refact: Remove dead `dragexit` event
  panel/src/panel/events.ts
Due: frontend

perf: Revoke file object URLs in `panel.upload`
  panel/src/panel/upload.test.ts
  panel/src/panel/upload.ts
Due: frontend

perf: Skip template() regex work for plain strings
  panel/src/helpers/string.template.test.ts
  panel/src/helpers/string.ts
Due: frontend

refact: Replace `empty()` with explicit checks
  config/fields/color.php
  config/fields/object.php
  src/Api/Upload.php
  src/Cms/Block.php
  src/Cms/Core.php
  src/Cms/FileRules.php
  src/Cms/Language.php
  src/Cms/LanguageRoutes.php
  src/Cms/LanguageVariable.php
  src/Cms/Page.php
  src/Cms/PageRules.php
  src/Cms/System.php
  src/Data/Txt.php
  src/Email/Email.php
  src/Filesystem/Dir.php
  src/Filesystem/F.php
  src/Filesystem/Filename.php
  src/Panel/Panel.php
  src/Plugin/Assets.php
  src/Sane/Sane.php
  src/Toolkit/Dom.php
  src/Uuid/ModelUuid.php
Due: backend

test: Fix mismatching DocBlock return types
  src/Cms/Files.php
  src/Cms/Pages.php
  src/Cms/Users.php
Due: backend

test: Remove unused Psalm suppress
  psalm.xml.dist
  src/Session/Session.php
  src/Toolkit/Locale.php
Due: backend

refact: Fix passing too many arguments
  src/Filesystem/Mime.php
  src/Form/Field/ToggleField.php
  src/Panel/Controller/Dialog/PageCreateDialogController.php
  src/Panel/Controller/Dropdown/FileSettingsDropdownController.php
  src/Panel/Controller/Dropdown/UserSettingsDropdownController.php
  src/Toolkit/A.php
Due: backend

test: Unit test for page create dialog auto submit
  tests/Panel/Controller/Dialog/PageCreateDialogControllerTest.php
Due: none

test: Add unit tests for `Pages::merge()`
  tests/Cms/Pages/PagesTest.php
Due: none

refact: Remove redundant conditions
  src/Api/Api.php
  src/Cms/App.php
  src/Cms/AppTranslations.php
  src/Cms/Events.php
  src/Cms/Items.php
  src/Cms/LanguageRules.php
  src/Cms/PagePicker.php
  src/Cms/Pages.php
  src/Content/PlainTextStorage.php
  src/Filesystem/Mime.php
  src/Form/Field/BlocksField.php
  src/Form/Field/EntriesField.php
  src/Form/Field/LayoutField.php
  src/Http/Request/Body.php
  src/Panel/Collector/ModelsCollector.php
  src/Panel/Controller/Dialog/PageMoveDialogController.php
  src/Panel/Controller/Request/PageTreeParentsRequestController.php
  src/Panel/Controller/View/PreviewViewController.php
  src/Panel/Controller/View/SystemViewController.php
  src/Panel/Controller/View/UserFileViewController.php
  src/Panel/Panel.php
  src/Panel/State.php
  src/Parsley/Element.php
  src/Parsley/Schema/Blocks.php
  src/Parsley/Schema/Plain.php
  src/Plugin/LicenseStatus.php
  src/Toolkit/Iterator.php
  src/Toolkit/Pagination.php
  src/Toolkit/Str.php
  src/Toolkit/Xml.php
Due: backend

fix: Invalid scalar arguments
  src/Cms/BlockConverter.php
  src/Cms/License.php
  src/Image/QrCode.php
  src/Option/Option.php
  src/Panel/Controller/View/LabDocViewController.php
  src/Panel/Ui/Button/ViewButton.php
  src/Toolkit/A.php
  src/Toolkit/Iterator.php
  tests/Option/OptionTest.php
Due: backend

refact: Sort Session methods alphabetically
  src/Session/AutoSession.php
  src/Session/FileSessionStore.php
  src/Session/Session.php
  src/Session/SessionStore.php
  src/Session/Sessions.php
Due: backend

refact: `Kirby\Session\Token`
  src/Session/Session.php
  src/Session/Token.php
  tests/Session/SessionTest.php
  tests/Session/SessionsTest.php
  tests/Session/TokenTest.php
Due: backend

refact: DRY session exceptions
  src/Session/FileSessionStore.php
  src/Session/Session.php
Due: backend

fix: Translate tags input placeholder #6114
  i18n/translations/en.json
  panel/src/components/Forms/Input/TagsInput.vue
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
