Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: Add Ukranian translation
  i18n/translations/uk.json
Due: none

fix: Add a labels to the blocks field options button and the form controls more button (#8036)
  panel/src/components/Forms/Field/BlocksField.vue
  panel/src/components/Forms/FormControls.vue
Due: frontend

chore: Update js dependencies
  panel/package-lock.json
  panel/package.json
Due: none

build: Preflight for 5.3.3
  cacert.pem
  composer.json
  composer.lock
  i18n/translations/ko.json
  panel/dist/css/style.min.css
  panel/dist/js/index.min.js
  panel/dist/js/vendor.min.js
  panel/dist/ui/Collection.json
  panel/dist/ui/Items.json
  vendor/composer/installed.php
Due: none

refact: Migrate `panel.feature` to TypeScript (#8038)
  panel/src/helpers/url.ts
  panel/src/panel/dialog.test.js
  panel/src/panel/drawer.test.js
  panel/src/panel/dropdown.js
  panel/src/panel/dropdown.test.js
  panel/src/panel/feature.test.js
  panel/src/panel/feature.test.ts
  panel/src/panel/feature.ts
  panel/src/panel/listeners.ts
  panel/src/panel/modal.js
  panel/src/panel/modal.test.js
  panel/src/panel/view.js
  panel/src/panel/view.test.js
Due: frontend

chore: Update JS dependencies
  panel/package-lock.json
  panel/package.json
Due: none

chore: Update EULA to 2026-03-26
  LICENSE.md
Due: none

chore: Update EULA to 2026-03-26 (#8052)
  LICENSE.md
Due: none

refact: Migrate `panel.dropdown` to TypeScript
  panel/src/panel/dropdown.js
  panel/src/panel/dropdown.test.js
  panel/src/panel/dropdown.test.ts
  panel/src/panel/dropdown.ts
Due: frontend

refact: Migrate `panel.plugins` to TypeScript
  panel/eslint.config.js
  panel/src/panel/panel.js
  panel/src/panel/plugins.test.js
  panel/src/panel/plugins.test.ts
  panel/src/panel/plugins.ts
Due: frontend

refact: Migrate `panel.view` to TypeScript
  panel/lab/internals/panel/view/index.php
  panel/src/panel/panel.js
  panel/src/panel/view.test.js
  panel/src/panel/view.test.ts
  panel/src/panel/view.ts
Due: frontend

fix: Ensure permissions when creating non-draft
  src/Cms/PageRules.php
  tests/Cms/Page/PageRulesTest.php
Due: backend

refact: Migrate `panel.dropdown` to TypeScript (#8041)
  panel/src/panel/dropdown.js
  panel/src/panel/dropdown.test.js
  panel/src/panel/dropdown.test.ts
  panel/src/panel/dropdown.ts
Due: frontend

refact: Migrate `panel.plugins` to TypeScript (#8043)
  panel/eslint.config.js
  panel/src/panel/panel.js
  panel/src/panel/plugins.test.js
  panel/src/panel/plugins.test.ts
  panel/src/panel/plugins.ts
Due: frontend

refact: Migrate `panel.view` to TypeScript (#8042)
  panel/lab/internals/panel/view/index.php
  panel/src/panel/panel.js
  panel/src/panel/view.test.js
  panel/src/panel/view.test.ts
  panel/src/panel/view.ts
Due: frontend

fix: Move picker search props into shared models dialog mixin #8053
  panel/src/components/Dialogs/ModelsDialog.vue
Due: frontend

fix: Restore feature TS migration
  panel/src/panel/feature.test.js
  panel/src/panel/feature.ts
Due: frontend

test: Fix Panel module unit tests
  panel/src/panel/dropdown.test.ts
  panel/src/panel/plugins.test.ts
  panel/src/panel/search.test.ts
Due: frontend

fix: Prevent stale page writes from recreating moved page directories #7964
  src/Content/PlainTextStorage.php
  tests/Cms/Page/PageChangeSortTest.php
  tests/Cms/Page/PageUpdateTest.php
  tests/Content/PlainTextStorageTest.php
Due: backend

fix: Ensure permissions when creating non-draft
  src/Cms/PageRules.php
  tests/Cms/Pages/PageRulesTest.php
Due: backend

fix: Dont' resolve queries twice in Option classes
  src/Option/Option.php
  src/Option/Options.php
  src/Option/OptionsApi.php
  src/Option/OptionsQuery.php
  tests/Option/OptionTest.php
  tests/Option/OptionsApiTest.php
  tests/Option/OptionsQueryTest.php
  tests/Option/OptionsTest.php
  tests/Option/fixtures/data-injection.json
Due: backend

fix: Don't turn AbortError into JonRequestError
  panel/src/panel/request.js
Due: frontend

chore: Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

chore: Upgrade npm dependencies (#8060)
  panel/package-lock.json
  panel/package.json
Due: none

fix: Use `<div>` tags for `<k-input>`
  panel/src/components/Forms/Input.vue
Due: frontend

fix: `::filterBy()` with non-default separator
  src/Toolkit/Collection.php
  tests/Toolkit/CollectionFilterTest.php
  tests/Toolkit/CollectionTest.php
Due: backend

fix: Dont' resolve queries twice in Option classes (#5)
  src/Option/Option.php
  src/Option/Options.php
  src/Option/OptionsApi.php
  src/Option/OptionsQuery.php
  tests/Option/OptionTest.php
  tests/Option/OptionsApiTest.php
  tests/Option/OptionsQueryTest.php
  tests/Option/OptionsTest.php
  tests/Option/fixtures/data-injection.json
Due: backend

fix: `::filterBy()` with non-default separator (#8064)
  src/Toolkit/Collection.php
  tests/Toolkit/CollectionFilterTest.php
  tests/Toolkit/CollectionTest.php
Due: backend

fix: Use `<div>` for `k-input-element` (#8061)
  panel/src/components/Forms/Input.vue
Due: frontend

Fix filteredOptions returning undefined when search.min is set
  panel/src/components/Forms/Input/PicklistInput.vue
Due: frontend

Fix #8067 filteredOptions returning undefined when search.min is set (#8068)
  panel/src/components/Forms/Input/PicklistInput.vue
Due: frontend

fix: Don't turn AbortError into JsonRequestError (#8059)
  panel/src/panel/request.js
Due: frontend

test: Add unit test for rethrowing AbortError
  panel/src/panel/request.test.ts
Due: frontend

fix: Default access permission for custom areas
  src/Cms/AppPlugins.php
  src/Cms/Permissions.php
  tests/Cms/Permissions/PermissionsTest.php
Due: backend

fix: Allow arbitrary permissions in v5
  src/Cms/Permissions.php
  tests/Cms/Helpers/HelperFunctionsTest.php
  tests/Cms/Helpers/HelpersTest.php
  tests/Cms/HelpersTestCase.php
  tests/Cms/Permissions/PermissionsTest.php
  tests/Cms/TestCase.php
  tests/TestCase.php
Due: backend

test: Fix deprecated TS config
  panel/tsconfig.json
Due: none

chore: Upgrade to Vite 8
  panel/package-lock.json
  panel/package.json
  panel/scripts/vite-kirby.js
  panel/src/components/Text/Highlight.vue
  panel/vite.config.js
  src/Panel/Assets.php
Due: backend, frontend

feat: Switch between auth challenges
  src/Auth/Auth.php
  src/Auth/Challenges.php
  tests/Auth/ChallengesTest.php
Due: backend

refact!: Remove legacy auth challenges support
  psalm-baseline.xml
  src/Auth/Challenge/LegacyChallenge.php
  src/Auth/Challenges.php
  src/Cms/Auth/Challenge.php
  src/Cms/Auth/EmailChallenge.php
  src/Cms/Auth/TotpChallenge.php
  tests/Auth/ChallengesTest.php
  tests/Cms/App/AppPluginsTest.php
  tests/Panel/Areas/RedirectTest.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
