Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

UUID: more conservative ID generation
  src/Uuid/FieldUuid.php
  src/Uuid/FileUuid.php
  src/Uuid/ModelUuid.php
  src/Uuid/PageUuid.php
  src/Uuid/SiteUuid.php
  src/Uuid/UserUuid.php
  src/Uuid/Uuid.php
  tests/Uuid/SiteUuidTest.php
  tests/Uuid/UuidTest.php
Due: backend

`thumb` component: process in tmp location
  config/components.php
Due: backend

Clean up `Toolkit` package
  src/Toolkit/A.php
  src/Toolkit/Component.php
  src/Toolkit/Controller.php
  src/Toolkit/Date.php
  src/Toolkit/Facade.php
  src/Toolkit/Html.php
  src/Toolkit/Iterator.php
  src/Toolkit/Obj.php
  src/Toolkit/Pagination.php
  src/Toolkit/Str.php
  src/Toolkit/Tpl.php
  src/Toolkit/V.php
  src/Toolkit/View.php
  src/Toolkit/Xml.php
Due: backend

Toolkit cleanup: Fixes after review
  src/Toolkit/A.php
  src/Toolkit/Date.php
Due: backend

`Toolkit\Date`: add `|null` where needed
  src/Toolkit/Date.php
Due: backend

`ContentTranslation` without `Properties` trait
  src/Cms/ContentTranslation.php
Due: backend

Fiber: handle popping state
  panel/src/fiber/app.js
  panel/src/fiber/index.js
Due: frontend

feat: externalize vue, make accessible to plugins
  panel/dist/js/index.js
  panel/dist/js/vendor.js
  panel/dist/js/vue.js
  panel/dist/js/vuedraggable.js
  panel/package-lock.json
  panel/package.json
  panel/vite.config.js
  src/Panel/Document.php
Due: backend

test: don't externalize Vue in Vitest
  panel/dist/js/index.js
  panel/dist/js/vendor.js
  panel/vite.config.js
Due: none

test: update DocumentTest for asset 'vue'
  tests/Panel/DocumentTest.php
Due: none

fix: don't pre-bundle vue so deps use external one
  panel/vite.config.js
Due: none

Externalize at `window.Vue`
  panel/package-lock.json
  panel/package.json
  panel/vite.config.js
  src/Panel/Document.php
  tests/Panel/DocumentTest.php
Due: backend

Fix after review
  src/Toolkit/Date.php
Due: backend

Fix #160
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/BlockOptions.vue
  panel/src/components/Forms/Writer/Toolbar.vue
  panel/src/components/Layout/TableUpdateStatusCell.vue
Due: frontend

Remove `v-model` from `k-form`
  panel/src/components/Forms/Fieldset.vue
  panel/src/components/Forms/Form.vue
Due: frontend

Keep local data state for values in Fieldset
  panel/src/components/Forms/Fieldset.vue
Due: frontend

Response: support range requests for files
  src/Filesystem/F.php
  src/Http/Response.php
Due: backend

Upgrade to vite 4.3
  panel/package-lock.json
  panel/package.json
  panel/vite.config.js
Due: none

Refactor index.js
  panel/src/index.js
Due: frontend

Always use the timestamp as key for the panel component to make sure it gets rerendered reliably.
  panel/src/fiber/app.js
Due: frontend

Update dependencies
  composer.json
  composer.lock
  panel/dist/css/style.css
  panel/dist/js/vendor.js
  panel/dist/js/vuedraggable.js
  vendor/composer/InstalledVersions.php
  vendor/composer/installed.php
Due: none

Ignore tests for moving files onto a new filesystem
  src/Filesystem/F.php
Due: backend

The weird double assignment is no longer needed
  views/panel.php
Due: none

Use panel.view in fiber
  panel/src/fiber/app.js
Due: frontend

Move $view to $panel.view
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Layout/Inside.vue
  panel/src/components/Navigation/Topbar.vue
  panel/src/components/Sections/Sections.vue
  panel/src/panel/view.js
Due: frontend

rename panel.vue to panel.app
  panel/src/config/legacy.js
  panel/src/index.js
  panel/src/panel/panel.js
Due: frontend

Start to use the legacy plugin
  panel/src/fiber/app.js
  panel/src/fiber/plugin.js
  panel/src/index.js
  panel/src/legacy/index.js
Due: frontend

More steps to get rid of fiber
  panel/src/fiber/app.js
  panel/src/fiber/plugin.js
  panel/src/index.js
  panel/src/legacy/index.js
Due: frontend

Remove old fiber files
  panel/src/config/legacy.js
  panel/src/fiber/app.js
  panel/src/fiber/dialog.test.js
  panel/src/fiber/dropdown.js
  panel/src/fiber/dropdown.test.js
  panel/src/fiber/index.js
  panel/src/fiber/index.test.tmp
  panel/src/fiber/plugin.js
  panel/src/fiber/search.js
  panel/src/fiber/search.test.js
Due: frontend

Use the new panel request method for dialogs
  panel/src/fiber/dialog.js
Due: frontend

Hook up the panel app
  panel/src/index.js
  panel/src/legacy/index.js
  panel/src/panel/app.js
  panel/src/panel/dropdown.js
  panel/src/panel/island.js
  panel/src/panel/panel.js
Due: frontend

Simplified Panel component
  panel/src/components/Layout/Panel.vue
Due: frontend

More clean up tasks
  panel/src/components/Layout/Overlay.vue
  panel/src/components/Views/InstallationView.vue
Due: frontend

Hook up new dialogs
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Dialogs/Elements/Notification.vue
  panel/src/components/Dialogs/FiberDialog.vue
  panel/src/components/Drawers/Drawer.vue
  panel/src/components/Drawers/Elements/Notification.vue
  panel/src/components/Drawers/FormDrawer.vue
  panel/src/components/Layout/Panel.vue
  panel/src/components/Misc/Notification.vue
  panel/src/fiber/dialog.js
  panel/src/legacy/index.js
  panel/src/panel/island.js
  panel/src/panel/notification.js
  panel/src/panel/panel.js
  panel/src/store/store.js
Due: frontend

Bring back `panel` shortcuts
  panel/src/index.js
  panel/src/legacy/go.js
  panel/src/legacy/index.js
Due: frontend

UI items
  config/blocks/gallery/gallery.yml
  panel/public/img/icons.svg
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/Empty.vue
  panel/src/components/Collection/Item.vue
  panel/src/components/Collection/ItemImage.vue
  panel/src/components/Collection/Items.vue
  panel/src/components/Collection/index.js
  panel/src/components/Forms/Previews/FlagFieldPreview.vue
  panel/src/components/Layout/Empty.vue
  panel/src/components/Layout/Item.vue
  panel/src/components/Layout/index.js
  panel/src/components/Misc/SortHandle.vue
  panel/src/components/Misc/StatusIcon.vue
  panel/src/components/Misc/index.js
  panel/src/components/Navigation/Search.vue
  panel/src/components/Sections/PagesSection.vue
  panel/src/components/Views/PageView.vue
  panel/src/components/Views/UsersView.e2e.js
  panel/src/components/index.js
  panel/src/helpers/index.js
  panel/src/helpers/page.js
  panel/src/styles/reset.css
Due: backend, frontend

Items: tweak small size
  panel/src/components/Collection/Items.vue
Due: frontend

Fix height differences
  panel/src/components/Collection/Item.vue
  panel/src/components/Forms/Field/DateField.vue
  panel/src/components/Layout/Box.vue
Due: frontend
