Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix default columns for radio input
  panel/src/components/Forms/Input/RadioInput.vue
Due: frontend

Validate roles when creating user
  src/Cms/UserRules.php
  tests/Cms/Users/UserRulesTest.php
Due: backend

Better content storage `::move()` + new `::copy()`
  src/Cms/FileActions.php
  src/Content/ContentStorageHandler.php
  src/Content/ImmutableMemoryContentStorageHandler.php
  src/Content/PlainTextContentStorageHandler.php
  src/Content/Version.php
  tests/Content/ContentStorageHandlerTest.php
  tests/Content/ImmutableMemoryContentStorageHandlerTest.php
  tests/Content/PlainTextContentStorageHandlerTest.php
  tests/Content/VersionTest.php
Due: backend

Use Form Controls in Model Views
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/ModelView.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Pages/SiteView.vue
  panel/src/components/Views/Users/UserView.vue
Due: frontend

Remove FormButton component
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Forms/index.js
Due: frontend

Fix ImageFilePreview
  panel/src/components/Views/Files/ImageFilePreview.vue
Due: frontend

Implement changes dialog backend logic with new changes class
  config/areas/site/dialogs.php
  src/Panel/ChangesDialog.php
Due: backend

Simplify items method
  src/Panel/ChangesDialog.php
Due: backend

Refactor changes dialog component for new backend implementation
  i18n/translations/en.json
  panel/src/components/Dialogs/ChangesDialog.vue
Due: frontend

Add unit tests and code comments for the changes dialog
  src/Panel/ChangesDialog.php
  tests/Panel/ChangesDialogTest.php
Due: backend

Add construct cover annotation
  tests/Panel/ChangesDialogTest.php
Due: none

Add unit test for the dialog route
  tests/Panel/Areas/SiteDialogsTest.php
Due: none

First step to simplify the content module
  panel/src/components/Views/ModelView.vue
  panel/src/panel/content.js
Due: frontend

Refactor model views
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/ModelView.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Pages/SiteView.vue
  panel/src/components/Views/Users/UserAvatar.vue
  panel/src/components/Views/Users/UserProfile.vue
  panel/src/components/Views/Users/UserView.vue
  panel/src/panel/content.js
  src/Panel/File.php
  src/Panel/Model.php
  src/Panel/Page.php
  src/Panel/Site.php
  src/Panel/User.php
Due: backend, frontend

Undo breaking model changes
  panel/src/components/Views/ModelView.vue
  src/Panel/File.php
  src/Panel/Page.php
  src/Panel/Site.php
  src/Panel/User.php
Due: backend, frontend

Force content and originals to be returned as empty object
  src/Panel/Model.php
Due: backend

Use new advanced throttle helper to improve input saving
  panel/src/components/Views/ModelView.vue
  panel/src/helpers/throttle.js
Due: frontend

Fix throttling call
  panel/src/components/Views/ModelView.vue
  panel/src/helpers/throttle.js
Due: frontend

Track changes in the Version class
  src/Content/Version.php
Due: backend

Add advanced debounce & throttle JS helpers
  panel/lab/internals/helpers/throttle/index.php
  panel/lab/internals/helpers/throttle/index.vue
  panel/src/helpers/debounce.js
  panel/src/helpers/debounce.test.js
  panel/src/helpers/index.js
  panel/src/helpers/throttle.js
  panel/src/helpers/throttle.test.js
Due: frontend

Fix `$library.colors` lab examples
  panel/lab/internals/library.colors/index.vue
Due: none

`Search` Panel controller class
  config/areas/site/searches.php
  config/areas/users/searches.php
  src/Panel/Controller/Search.php
  tests/Panel/Controller/SearchTest.php
Due: backend

Allow `null` for `$query`
  src/Panel/Controller/Search.php
  tests/Panel/Controller/SearchTest.php
Due: backend

Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

Only apply locking in the default language
  src/Content/Lock.php
  src/Content/Version.php
Due: backend

Simplify unit tests
  tests/Panel/Areas/SiteTest.php
  tests/Panel/ModelTest.php
Due: none

Return new lock info array for panel views
  src/Panel/Model.php
Due: backend

New Lock class
  src/Content/Lock.php
Due: backend

Add lock unit tests
  src/Content/Lock.php
  tests/Content/LockTest.php
Due: backend

Show relative dates in the form control dropdown
  panel/src/components/Forms/FormControls.vue
  panel/src/libraries/dayjs.js
Due: frontend

Pass new lock info to form controls
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/ModelView.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Pages/SiteView.vue
  panel/src/components/Views/Users/UserView.vue
Due: frontend

Fix cs issues
  src/Content/Lock.php
  src/Panel/Model.php
Due: backend

Fix docblock
  src/Panel/Model.php
Due: backend

Make user and modification timestamp optional
  src/Content/Lock.php
Due: backend

Fix wrong temp directory
  tests/Content/FieldMethodsTest.php
Due: none

Keep track of the editing user
  src/Content/Version.php
Due: backend

Only set a lock user if it can be found
  src/Content/Lock.php
  tests/Content/LockTest.php
Due: backend

Remove field signature
  panel/src/components/Forms/Fieldset.vue
  src/Form/Field.php
  tests/Form/FieldTest.php
Due: backend, frontend

Remove relative date
  panel/lab/components/formcontrols/index.vue
  panel/src/components/Forms/FormControls.vue
  panel/src/libraries/dayjs.js
Due: frontend

Remove unnecessary argument
  src/Content/Lock.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
