Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Fix unit tests
  tests/Form/Fields/BlocksFieldTest.php
  tests/Form/Fields/LayoutFieldTest.php
Due: none

Fix linting issue
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

New keyboard and clipboard helpers and new translations
  i18n/translations/en.json
  panel/src/components/Forms/Blocks/BlockOptions.vue
  panel/src/components/Forms/Blocks/BlockPasteboard.vue
  panel/src/components/Forms/Blocks/BlockSelector.vue
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/helpers/clipboard.js
  panel/src/helpers/index.js
  panel/src/helpers/keyboard.js
Due: frontend

Add unit tests
  tests/Form/Fields/BlocksFieldTest.php
Due: none

Refactor event handling
  panel/src/components/Forms/Blocks/BlockSelector.vue
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/config/events.js
Due: frontend

Update dist files
  composer.json
  composer.lock
  i18n/translations/bg.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
  panel/dist/css/style.css
  panel/dist/img/icons.svg
  panel/dist/js/index.js
  vendor/composer/InstalledVersions.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_files.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

Reintroduce item slots from PR #3217
  panel/src/components/Layout/Item.vue
Due: frontend

Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

Fix `timestamp()` helper step calculation
  config/helpers.php
  tests/Cms/Helpers/TimestampHelpersTest.php
  tests/Form/Fields/TimeFieldTest.php
Due: backend

`timestamp()`: allow passing base for step
  config/helpers.php
  tests/Cms/Helpers/TimestampHelpersTest.php
Due: backend

Vite config gets transpiled, thus use ES syntax
  panel/vite.config.js
Due: none

Use terser for smaller bundle size
  panel/vite.config.js
Due: none

Use `defineConfig` to leverage IDE's intellisense
  panel/vite.config.js
Due: none

`datetime` mixin: improve `format` description
  config/fields/mixins/datetime.php
Due: backend

`datetime` helpers + unit tests
  panel/src/helpers/datetime.class.spec.js
  panel/src/helpers/datetime.combinations.spec.js
  panel/src/helpers/datetime.input.spec.js
  panel/src/helpers/datetime.js
  panel/src/helpers/datetime.pattern.spec.js
  panel/src/helpers/datetime.tokens.spec.js
  panel/src/helpers/index.js
  panel/src/helpers/validate.js
Due: frontend

Consistent formatting in Vite config
  panel/vite.config.js
Due: none

Fixes border-radius in lists
  panel/src/components/Layout/Item.vue
Due: frontend

Extending blocks model
  src/Cms/AppPlugins.php
  src/Cms/Block.php
  tests/Cms/Blocks/BlockModelsTest.php
Due: backend

Extends blocks and layout methods
  src/Cms/AppPlugins.php
  src/Cms/Block.php
  src/Cms/Layout.php
  src/Cms/LayoutColumn.php
  tests/Cms/Blocks/BlockMethodsTest.php
  tests/Cms/Blocks/BlocksMethodsTest.php
  tests/Cms/Layouts/LayoutColumnMethodsTest.php
  tests/Cms/Layouts/LayoutMethodsTest.php
  tests/Cms/Layouts/LayoutsMethodsTest.php
Due: backend

Multiselect with CMD/CTRL keys for blocks field
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Default model for blocks
  src/Cms/Block.php
  tests/Cms/Blocks/BlockModelsTest.php
Due: backend

Refactor Fiber internals to fix history
  panel/src/components/Forms/FormButtons.vue
  panel/src/fiber/app.js
  panel/src/fiber/index.js
  panel/src/fiber/plugin.js
Due: frontend

Code comments
  panel/src/fiber/app.js
  panel/src/fiber/index.js
Due: frontend

Fix parsing logic for entire documents and breaks
  src/Parsley/Inline.php
  src/Parsley/Parsley.php
  src/Parsley/Schema/Blocks.php
  tests/Parsley/fixtures/no-body.html
  tests/Parsley/fixtures/no-body.php
  tests/Parsley/fixtures/skip-empty-paragraph.html
  tests/Parsley/fixtures/skip-empty-paragraph.php
Due: backend

Remove unwanted defaults
  src/Parsley/Schema/Blocks.php
Due: backend

Fix hover effect on disabled buttons
  panel/src/components/Navigation/ButtonDisabled.vue
Due: frontend

Use filemtime again for F::modified
  src/Filesystem/F.php
Due: backend

Reload translation after login and installation
  panel/src/components/Forms/Login.vue
  panel/src/components/Views/InstallationView.vue
Due: frontend

CI: Disable PHPMD temporarily
  .github/workflows/ci.yml
Due: none

Solve update and revert issues in the writer
  panel/src/components/Forms/Writer/Editor.js
  panel/src/components/Forms/Writer/Marks/Link.js
  src/Parsley/Schema/Blocks.php
Due: backend, frontend

Fix unit tests
  tests/Parsley/fixtures/link-with-nested-div.php
Due: none

Remove non breaking spaces from content in clipboard
  panel/src/helpers/clipboard.js
Due: frontend

Fix nbps issue in Parsley
  panel/src/components/Forms/Writer/Editor.js
  src/Parsley/Inline.php
  src/Parsley/Parsley.php
  tests/Parsley/fixtures/inline-encoding.html
  tests/Parsley/fixtures/inline-encoding.php
Due: backend, frontend

Select blocks in the correct order
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Fix empty box layout for cardlets
  panel/src/components/Layout/Empty.vue
Due: frontend

Remove unnecessary code
  src/Parsley/Parsley.php
Due: backend

Use card layout instead of list
  panel/src/components/Layout/Empty.vue
Due: frontend

Fix non-replaceable clipboard data
  panel/src/helpers/clipboard.js
Due: frontend

add layout option to panel picker
  config/fields/files.php
  config/fields/pages.php
  src/Cms/Picker.php
Due: backend

Small improvements
  config/fields/files.php
  config/fields/pages.php
  src/Cms/Picker.php
Due: backend
