Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refact: Migrate Editor marks to TypeScript
  panel/src/components/Forms/Writer/Marks/Bold.ts
  panel/src/components/Forms/Writer/Marks/Clear.ts
  panel/src/components/Forms/Writer/Marks/Code.ts
  panel/src/components/Forms/Writer/Marks/Email.ts
  panel/src/components/Forms/Writer/Marks/Italic.ts
  panel/src/components/Forms/Writer/Marks/Link.ts
  panel/src/components/Forms/Writer/Marks/Strike.ts
  panel/src/components/Forms/Writer/Marks/Sub.ts
  panel/src/components/Forms/Writer/Marks/Sup.ts
  panel/src/components/Forms/Writer/Marks/Underline.ts
  panel/src/components/Forms/Writer/Marks/index.ts
  panel/tests/unit/editor.ts
Due: frontend

refact: Link/Email insert, guard against no href
  panel/src/components/Forms/Writer/Marks/Bold.ts
  panel/src/components/Forms/Writer/Marks/Email.test.ts
  panel/src/components/Forms/Writer/Marks/Email.ts
  panel/src/components/Forms/Writer/Marks/Link.test.ts
  panel/src/components/Forms/Writer/Marks/Link.ts
Due: frontend

test: Unit tests for Editor nodes
  panel/src/components/Forms/Writer/Nodes/BulletList.test.ts
  panel/src/components/Forms/Writer/Nodes/Doc.test.ts
  panel/src/components/Forms/Writer/Nodes/HardBreak.test.ts
  panel/src/components/Forms/Writer/Nodes/Heading.test.ts
  panel/src/components/Forms/Writer/Nodes/HorizontalRule.test.ts
  panel/src/components/Forms/Writer/Nodes/ListDoc.test.ts
  panel/src/components/Forms/Writer/Nodes/ListItem.test.ts
  panel/src/components/Forms/Writer/Nodes/OrderedList.test.ts
  panel/src/components/Forms/Writer/Nodes/Paragraph.test.ts
  panel/src/components/Forms/Writer/Nodes/Quote.test.ts
  panel/src/components/Forms/Writer/Nodes/Text.test.ts
  panel/tests/unit/editor.ts
Due: frontend

test: Fix temporary TS errors
  panel/src/components/Forms/Writer/Nodes/HardBreak.test.ts
  panel/src/components/Forms/Writer/Nodes/Heading.test.ts
Due: frontend

fix: Heading input rule when levels disabled
  panel/src/components/Forms/Writer/Nodes/Heading.js
  panel/tests/unit/editor.ts
Due: frontend

test: Fix `panel.t()` stubs in nodes
  panel/src/components/Forms/Writer/Nodes/BulletList.test.ts
  panel/src/components/Forms/Writer/Nodes/Heading.test.ts
  panel/src/components/Forms/Writer/Nodes/HorizontalRule.test.ts
  panel/src/components/Forms/Writer/Nodes/OrderedList.test.ts
  panel/src/components/Forms/Writer/Nodes/Paragraph.test.ts
  panel/src/components/Forms/Writer/Nodes/Quote.test.ts
Due: frontend

fix: Heading input rule when levels disabled
  panel/tests/unit/editor.ts
Due: none

refact: Migrate Editor nodes to TypeScript
  panel/src/components/Forms/Input/WriterInput.vue
  panel/src/components/Forms/Writer/Nodes/BulletList.ts
  panel/src/components/Forms/Writer/Nodes/Doc.ts
  panel/src/components/Forms/Writer/Nodes/HardBreak.js
  panel/src/components/Forms/Writer/Nodes/HardBreak.ts
  panel/src/components/Forms/Writer/Nodes/Heading.ts
  panel/src/components/Forms/Writer/Nodes/HorizontalRule.js
  panel/src/components/Forms/Writer/Nodes/HorizontalRule.ts
  panel/src/components/Forms/Writer/Nodes/ListDoc.js
  panel/src/components/Forms/Writer/Nodes/ListDoc.ts
  panel/src/components/Forms/Writer/Nodes/ListItem.ts
  panel/src/components/Forms/Writer/Nodes/OrderedList.ts
  panel/src/components/Forms/Writer/Nodes/Paragraph.ts
  panel/src/components/Forms/Writer/Nodes/Quote.ts
  panel/src/components/Forms/Writer/Nodes/Text.ts
  panel/src/components/Forms/Writer/Nodes/index.ts
  panel/src/components/Forms/Writer/Utils/nodeInputRule.ts
  panel/src/helpers/writer.test.js
  panel/tests/unit/editor.ts
Due: frontend

refact: Migrate Editor `Extensions` to TypeScript
  panel/src/components/Forms/Writer/Extensions.js
  panel/src/components/Forms/Writer/Extensions.ts
Due: frontend

refact: Sort `Extensions` methods alphabetically
  panel/src/components/Forms/Writer/Extensions.js
Due: frontend

fix: Do not use extension button without name/id
  panel/src/components/Forms/Writer/Extensions.js
Due: frontend

refact: Store editor instance in `Extensions`
  panel/src/components/Forms/Writer/Extensions.js
Due: frontend

test: Add unit tests for Editor `Extensions`
  panel/src/components/Forms/Writer/Extensions.test.ts
Due: frontend

perf: Use reverse MIME -> extensions map in `Mime`
  src/Filesystem/Mime.php
  tests/Filesystem/MimeTest.php
Due: backend

test: Add removed coverage annotations
  tests/Toolkit/DomTest.php
Due: none

style: Fix coding style
  src/Cms/PagePicker.php
  tests/Cms/Pages/PagePickerTest.php
Due: backend

style: Fix coding style
  src/Cms/PagePicker.php
Due: backend

refact: Use more modern first class callables
  config/components.php
  config/fields/mixins/picker.php
  src/Cms/Responder.php
  src/Filesystem/Dir.php
  src/Http/Router.php
  src/Http/VolatileHeaders.php
  src/Plugin/Plugin.php
  src/Text/KirbyTag.php
  tests/Toolkit/ATest.php
Due: backend

fix: read Forwarded `for=` field from parsed fields, not host parts (#8166)
  src/Http/Environment.php
  tests/Http/EnvironmentTest.php
Due: backend

ci: Upgrade codecov action to v7
  .github/workflows/backend.yml
Due: none

feat: `F::modify()`
  src/Filesystem/F.php
  tests/Filesystem/FTest.php
Due: backend

test: Add code coverage for frontend
  .github/workflows/frontend.yml
  panel/package-lock.json
  panel/package.json
  panel/vite.config.ts
Due: none

test: Ignore deprecated code for coverage
  panel/src/components/Dialogs/FilesDialog.vue
  panel/src/components/Dialogs/ModelsDialog.vue
  panel/src/components/Dialogs/PagesDialog.vue
  panel/src/components/Dialogs/UsersDialog.vue
  panel/src/components/Forms/Field/LegacyFilesField.vue
  panel/src/components/Forms/Field/LegacyModelsField.vue
  panel/src/components/Forms/Field/LegacyPagesField.vue
  panel/src/components/Forms/Field/LegacyUsersField.vue
  panel/src/components/Forms/Input/TextareaInput.vue
  panel/src/components/Forms/Input/WriterInput.vue
  panel/src/components/Forms/Writer/Writer.vue
  panel/src/panel/dropdown.ts
Due: frontend

test: Fix `k-` element handling in vitest
  .github/workflows/frontend.yml
  panel/.gitignore
  panel/src/components/Text/Code.test.ts
  panel/tests/unit/setup.ts
  panel/vite.config.ts
Due: frontend

fix: Dead `complete` callback in upload helper
  panel/src/helpers/upload.ts
Due: frontend

test: Add missing unit tests for `$helper.array`
  panel/src/helpers/array.fromObject.test.ts
  panel/src/helpers/array.search.test.ts
  panel/src/helpers/array.sortBy.test.ts
Due: frontend

test: Mark iOS part in `$helper.clipboard` ignored
  panel/src/helpers/clipboard.test.ts
  panel/src/helpers/clipboard.ts
Due: frontend

test: Add missing unit tests for `$helper.embed`
  panel/src/helpers/embed.test.ts
Due: frontend

test: Add unit tests for `$helper.field`
  panel/src/helpers/field.test.ts
Due: frontend

test: Add unit test for `$helper.focus`
  panel/src/helpers/focus.test.ts
Due: frontend

test: Add unit test for `$helper.history`
  panel/src/helpers/history.test.ts
Due: frontend

test: Add unit tests for `$helper.isComponent`
  panel/src/helpers/isComponent.test.ts
Due: frontend

test: Add unit tests for `$helper.isUploadEvent`
  panel/src/helpers/isUploadEvent.test.ts
Due: frontend

test: Add unit tests for `$helper.keyboard`
  panel/src/helpers/keyboard.test.ts
Due: frontend

test: Add unit tests for `$helper.object`
  panel/src/helpers/object.clone.test.ts
  panel/src/helpers/object.filter.test.ts
  panel/src/helpers/object.isEmpty.test.ts
Due: frontend

test: Add unit tests for `$helper.ratio`
  panel/src/helpers/ratio.test.ts
Due: frontend

test: Add unit tests for `$helper.sort`
  panel/src/helpers/sort.test.ts
Due: frontend

test: Add unit tests for `$helper.string.slug`
  panel/src/helpers/string.slug.test.ts
Due: frontend

fix: Dead fallback value in `$helper.string`
  panel/src/helpers/string.ts
Due: frontend

test: Add unit tests for `$helper.upload`
  panel/src/helpers/upload.test.ts
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
