Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

set "interpreted" as default query runner
  src/Query/Query.php
Due: backend

Remove unused imports in Query.php
  src/Query/Query.php
Due: backend

Fix file preview links
  src/Cms/File.php
  tests/Cms/Files/FileTest.php
Due: backend

New legacy support for old .lock files
  src/Content/Lock.php
Due: backend

Show special lock state for old locks in the preview view
  panel/src/components/Views/PreviewView.vue
Due: frontend

Clean up old lock files in the changes controller
  src/Api/Controller/Changes.php
  src/Content/Lock.php
Due: backend

Fix unit tests
  tests/Content/LockTest.php
  tests/Panel/Areas/SiteTest.php
Due: none

Unit tests for the new Lock methods
  tests/Content/LockTest.php
Due: none

Simplify code with match block
  src/Content/Lock.php
Due: backend

Add better inline comments to the controller
  src/Api/Controller/Changes.php
Due: backend

Extend unit tests
  tests/Content/LockTest.php
Due: none

Preflight for 4.5.0
  cacert.pem
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

Require location field to be set
  config/blocks/image/image.yml
Due: backend

Additional dark mode changes
  panel/src/components/Collection/Item.vue
  panel/src/components/Dialogs/Elements/Search.vue
  panel/src/components/Drawers/Elements/Header.vue
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/BlockSelector.vue
  panel/src/components/Forms/Blocks/Elements/BlockFigure.vue
  panel/src/components/Forms/Previews/UrlFieldPreview.vue
  panel/src/components/Layout/Stat.vue
  panel/src/components/Layout/Table.vue
  panel/src/components/Navigation/Button.vue
  panel/src/components/Navigation/ButtonGroup.vue
  panel/src/components/Navigation/Tag.vue
  panel/src/components/Text/Label.vue
  panel/src/components/Text/Text.vue
  panel/src/components/Views/Login/LoginView.vue
  panel/src/components/Views/PreviewView.vue
  panel/src/styles/config/shadow.css
  panel/src/styles/utilities/theme.css
Due: frontend

Tweak the l values
  panel/src/styles/config/colors.css
Due: frontend

Fix the layout field
  panel/src/components/Forms/Layouts/Layout.vue
  panel/src/components/Forms/Layouts/LayoutColumn.vue
Due: frontend

Adjusted dropdowns, shadows and block toolbar
  panel/src/components/Dropdowns/DropdownContent.vue
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/BlockOptions.vue
  panel/src/components/Forms/Toolbar/Toolbar.vue
  panel/src/styles/config/shadow.css
Due: frontend

Polyfill for `light-dark()`
  panel/package-lock.json
  panel/package.json
  panel/vite.config.mjs
Due: none

Fix kbd
  panel/src/styles/reset.css
Due: frontend

Various additional fixes
  panel/lab/components/browsers/browser/index.vue
  panel/src/components/Forms/Blocks/Types/Fields.vue
  panel/src/components/Forms/Blocks/Types/Gallery.vue
  panel/src/components/Forms/Blocks/Types/Quote.vue
  panel/src/components/Forms/Blocks/Types/Table.vue
  panel/src/components/Forms/Counter.vue
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Forms/Input/RangeInput.vue
  panel/src/components/Forms/Input/TogglesInput.vue
  panel/src/components/Forms/Previews/LinkFieldPreview.vue
  panel/src/components/Lab/DocsTypes.vue
  panel/src/components/Lab/Example.vue
  panel/src/components/Layout/Frame/ColorFrame.vue
  panel/src/components/Layout/Stat.vue
  panel/src/components/Misc/Progress.vue
  panel/src/components/Navigation/Browser.vue
  panel/src/components/Navigation/Button.vue
  panel/src/components/Navigation/FileBrowser.vue
  panel/src/components/Navigation/Tree.vue
  panel/src/components/Text/Code.vue
  panel/src/components/Text/Highlight.vue
  panel/src/components/Text/Label.vue
  panel/src/components/Text/Text.vue
  panel/src/components/Uploads/UploadItem.vue
  panel/src/styles/reset/range.css
  panel/src/styles/utilities/theme.css
  src/Panel/Lab/Docs.php
  src/Panel/Lab/Example.php
Due: backend, frontend

Stronger themed text colors
  panel/src/styles/utilities/theme.css
Due: frontend

Fixed colors in system view
  panel/src/components/Views/System/SystemSecurity.vue
  panel/src/components/Views/System/SystemView.vue
Due: frontend

Fix sort handle
  panel/src/components/Collection/Item.vue
Due: frontend

Better button variables
  panel/src/components/Navigation/Button.vue
  panel/src/styles/utilities/theme.css
Due: frontend

Better link colors
  panel/src/components/Text/Text.vue
Due: frontend

Adjusted color values
  panel/src/styles/config/colors.css
Due: frontend

Fix choices in dark mode
  panel/src/styles/reset/choice.css
Due: frontend

Improve text color
  panel/src/styles/utilities/theme.css
Due: frontend

Extend page render unit tests
  tests/Cms/Pages/PageRenderTest.php
  tests/Cms/Pages/fixtures/PageRenderTest/controllers/controller.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/cache-data.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/cache-default.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/cache-disabled.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/cache-dynamic.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/cache-expiry.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/cache-metadata.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/controller.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/hook-bar.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/hook-foo.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/representation.json.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/representation.php
Due: none

Refactor page render tests out into separate class
  tests/Cms/Pages/PageCacheTest.php
  tests/Cms/Pages/PageRenderTest.php
  tests/Cms/Pages/PageTest.php
  tests/Cms/Pages/fixtures/PageRenderTest/cache-default.php
  tests/Cms/Pages/fixtures/PageRenderTest/cache-disabled.php
  tests/Cms/Pages/fixtures/PageRenderTest/cache-dynamic.php
  tests/Cms/Pages/fixtures/PageRenderTest/cache-expiry.php
  tests/Cms/Pages/fixtures/PageRenderTest/hook-bar.php
  tests/Cms/Pages/fixtures/PageRenderTest/hook-foo.php
Due: none

Fix coverage detection
  tests/Cms/Pages/PageRenderTest.php
Due: none

Move `isCacheable()` tests into `PageRenderTest`
  tests/Cms/Pages/PageCacheTest.php
  tests/Cms/Pages/PageRenderTest.php
Due: none

`$app->contentToken()`: Stricter model type
  src/Cms/App.php
  tests/Cms/App/AppTest.php
Due: backend

`$app->contentToken()`: Support null for `$model`
  src/Cms/App.php
  tests/Cms/App/AppTest.php
Due: backend

More secure token validation
  src/Cms/Page.php
Due: backend

Fix parameter name for consistency
  src/Cms/Page.php
Due: backend

Move render version detection to `Page::render()`
  src/Cms/App.php
  src/Cms/Page.php
  tests/Cms/Pages/PageRenderTest.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/version-exception.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/version-recursive.php
  tests/Cms/Pages/fixtures/PageRenderTest/templates/version.php
Due: backend

Rename `token` query param for consistency
  src/Cms/App.php
  src/Content/Version.php
  tests/Cms/App/AppResolveTest.php
  tests/Cms/Pages/PageTest.php
  tests/Content/VersionTest.php
Due: backend

New `VersionId::render()` method
  src/Content/VersionId.php
  tests/Content/VersionIdTest.php
Due: backend
