Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Only execute PR builds from forks
  .github/workflows/ci.yml
Due: none

CI: Reviewdog for style change suggestions
  .github/workflows/ci.yml
Due: none

Reorder CI jobs for clarity
  .github/workflows/ci.yml
Due: none

Test
  panel/src/config/auth.js
  src/Cms/Files.php
  src/Cms/HasChildren.php
Due: backend, frontend

Date field: fix missing `format` option #3026
  config/fields/date.php
  config/fields/mixins/datetime.php
  config/fields/time.php
Due: backend

Improve `Cookie::forever()` method for 32-bit servers #2968
  src/Http/Cookie.php
  tests/Http/CookieTest.php
Due: backend

Fix Apcu detection
  tests/Cache/ApcuCacheTest.php
Due: none

Fix `F::rename` overwriting
  src/Toolkit/F.php
  tests/Toolkit/FTest.php
Due: backend

PHPMD: activate UnusedPrivateField rule
  phpmd.xml.dist
Due: none

Activate and fix PHPMD LongVariable rule
  phpmd.xml.dist
  src/Toolkit/I18n.php
Due: backend

Remove unused imports
  src/Cms/AppCaches.php
  src/Cms/AppTranslations.php
  src/Cms/S.php
  src/Database/Database.php
Due: backend

Add undefined class properties
  src/Cms/Item.php
  src/Parsley/Parsley.php
Due: backend

Fix `I18n::template` docblock parameter types
  src/Toolkit/I18n.php
Due: backend

Avoid invalid content representation types for missing representations #2924
  src/Cms/App.php
  tests/Cms/Pages/PageTemplateTest.php
Due: backend

Move test and add new assertion
  tests/Cms/App/AppResolveTest.php
  tests/Cms/App/fixtures/templates/test.php
  tests/Cms/Pages/PageTemplateTest.php
Due: none

Remove unused local variables
  src/Cms/AppCaches.php
  src/Cms/PageRules.php
  src/Parsley/Inline.php
  src/Session/FileSessionStore.php
Due: backend

PHPMD: activate CountInLoopExpression rule
  phpmd.xml.dist
  src/Cms/BlockConverter.php
Due: backend

Fix ->call() only with Closure
  src/Form/Field.php
  src/Toolkit/Component.php
Due: backend

Fix more undefined class properties
  src/Cms/Fieldset.php
  src/Form/Field/BlocksField.php
Due: backend

Use k-drawer-option class for prev-next buttons
  panel/src/components/Blocks/Block.vue
Due: frontend

Automatically generates locale code #2427
  config/api/models/System.php
  panel/src/components/Dialogs/LanguageCreateDialog.vue
Due: backend, frontend

Remove unused data variable
  panel/src/components/Dialogs/LanguageCreateDialog.vue
Due: frontend

Support 12-columns layout field for panel ui
  panel/src/components/Layout/Column.vue
Due: frontend

Make options slot of k-list-item conform to docs and k-card
  panel/src/components/Layout/ListItem.vue
Due: frontend

Fix broken flag prop - Change flag prop to pageFlag to be used in k-status-icon - Re-introduce flag as k-button
  panel/src/components/Layout/Card.vue
  panel/src/components/Layout/ListItem.vue
  panel/src/components/Sections/PagesSection.vue
Due: frontend

Use statusIcon instead of pageFlag
  panel/src/components/Layout/Card.vue
  panel/src/components/Layout/ListItem.vue
  panel/src/components/Sections/PagesSection.vue
Due: frontend

Fix empty text in status icons
  panel/src/components/Misc/StatusIcon.vue
Due: frontend

Don’t let the pagination element shrink #3027
  panel/src/components/Layout/Collection.vue
Due: frontend

Support blocks in field queries #2977
  src/Form/Options.php
  tests/Form/OptionsTest.php
Due: backend

Move flags back into the options slot
  panel/src/components/Layout/Card.vue
  panel/src/components/Layout/ListItem.vue
Due: frontend

Deactivate the replace action if files cannot be replaced #3031
  src/Cms/File.php
Due: backend

Fix lock issue
  src/Cms/File.php
Due: backend

Better code comments
  src/Cms/File.php
Due: backend

Improve multi-line code comments
  src/Cms/File.php
Due: backend

Add unit test for `File::panelOptions()` method #3031
  tests/Cms/Files/FileTest.php
Due: none

Automatic fallback for email security = true #2896
  src/Email/PHPMailer.php
  tests/Email/PHPMailerTest.php
Due: backend

New `composer ci` script for all tools
  composer.json
Due: none

Update PR template for new CI
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

Use local time instead utc on getting today #3005
  panel/src/components/Forms/Calendar.vue
Due: frontend

Fixes global search shortcut #3015
  panel/src/App.vue
  panel/src/components/Navigation/Search.vue
Due: frontend
