Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Fix type hinting and trim in search component
  config/components.php
  src/Cms/Search.php
Due: backend

Fix invalid covers comments
  tests/Cms/Auth/StatusTest.php
  tests/Cms/Languages/LanguagesTest.php
Due: none

Fix event issue
  panel/dist/js/index.js
  panel/src/components/Forms/FormButtons.vue
Due: frontend

Fix structure field sortBy issue #5448
  panel/src/components/Forms/Field/StructureField.vue
Due: frontend

Fix dropdown positioning
  panel/src/components/Dropdowns/DropdownContent.vue
Due: frontend

Upgrade npm packages
  panel/package-lock.json
  panel/package.json
Due: none

Fix cs
  config/api/models/File.php
  config/api/models/FileBlueprint.php
  config/api/models/FileVersion.php
  config/api/models/Language.php
  config/api/models/Page.php
  config/api/models/PageBlueprint.php
  config/api/models/Role.php
  config/api/models/Site.php
  config/api/models/SiteBlueprint.php
  config/api/models/System.php
  config/api/models/Translation.php
  config/api/models/User.php
  config/api/models/UserBlueprint.php
  src/Cms/Items.php
Due: backend

Tabs: fix more btn/icon
  panel/src/components/Layout/Tabs.vue
Due: frontend

Grid: keep columns for longer
  panel/src/components/Layout/Grid.vue
Due: frontend

Fix js unit test
  panel/src/helpers/url.base.test.js
  panel/src/helpers/url.js
Due: frontend

New menu icon
  panel/public/img/icons.svg
Due: none

More remix icons
  panel/public/img/icons.svg
Due: none

Remix icons
  panel/public/img/icons.svg
  panel/src/components/Misc/Icon.vue
  panel/src/components/Navigation/Button.vue
Due: frontend

Use smaller dots to fit the draggable icon
  panel/public/img/icons.svg
Due: none

More icons
  panel/public/img/icons.svg
Due: none

and some more
  panel/public/img/icons.svg
Due: none

More new icons
  panel/public/img/icons.svg
Due: none

Order icons
  panel/public/img/icons.svg
  panel/src/components/Dialogs/ChangesDialog.vue
  src/Panel/Menu.php
  tests/Panel/MenuTest.php
Due: backend, frontend

More outline icons
  panel/public/img/icons.svg
Due: none

Fix page status icon size
  panel/src/helpers/page.js
Due: frontend

Icon for info field and info section
  config/fields/info.php
  config/sections/info.php
  panel/src/components/Forms/Field/InfoField.vue
  panel/src/components/Sections/InfoSection.vue
  tests/Cms/Sections/InfoSectionTest.php
Due: backend, frontend

Grid icons
  panel/public/img/icons.svg
Due: none

Last icons
  panel/public/img/icons.svg
Due: none

More more more icons
  panel/public/img/icons.svg
Due: none

A few more better icons
  panel/public/img/icons.svg
Due: none

Fix theme icon color
  panel/src/components/Layout/Box.vue
Due: frontend

Add license info
  panel/public/img/icons.svg
Due: none

Better title icon
  panel/public/img/icons.svg
Due: none

Box: change `icon` prop to string
  panel/src/components/Collection/Empty.vue
  panel/src/components/Forms/Field/InfoField.vue
  panel/src/components/Layout/Box.vue
  panel/src/components/Sections/FieldsSection.vue
  panel/src/components/Sections/InfoSection.vue
  panel/src/components/Sections/ModelsSection.vue
  panel/src/components/Sections/Sections.vue
  panel/src/components/Views/ErrorView.vue
Due: frontend

Better layers icon
  panel/public/img/icons.svg
Due: none

Better split/merge icons
  panel/public/img/icons.svg
Due: none

Fix formatting
  panel/public/img/icons.svg
Due: none

Icons: clarify license link
  panel/public/img/icons.svg
Due: none

Remove `road-sign` icon
  panel/public/img/icons.svg
  panel/src/components/Dialogs/PageMoveDialog.vue
  panel/src/components/Navigation/Breadcrumb.vue
  src/Panel/Page.php
Due: backend, frontend

New sparkling icon
  panel/public/img/icons.svg
  panel/src/components/Forms/Field/SlugField.vue
Due: frontend

Fix link field current type #5467
  panel/src/components/Forms/Field/LinkField.vue
Due: frontend

Fix setting new root when change num #5396
  src/Cms/PageActions.php
Due: backend

New `panel.frameAncestors` option
  src/Panel/Document.php
  tests/Panel/DocumentTest.php
Due: backend

Add unpublish unit test #5396
  tests/Cms/Pages/PageActionsTest.php
Due: none

Fix plugin assets with the `.mjs` extension #5463
  config/routes.php
  tests/Cms/Plugins/PluginAssetsTest.php
Due: backend
