Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Use `ENT_NOQUOTES ` for `htmlentities` in Xml class
  src/Toolkit/Xml.php
Due: backend

Use `ENT_COMPAT ` for now, todo for 3.7.0
  src/Toolkit/Xml.php
Due: backend

`PDO::ATTR_STRINGIFY_FETCHES` only for sqlite db
  src/Database/Database.php
Due: backend

Enable dropdown shortcut with closure
  src/Panel/Panel.php
  tests/Panel/PanelTest.php
Due: backend

Fix prop type check for text in the button component
  panel/src/components/Navigation/Button.vue
Due: frontend

Updated dependencies and translations
  composer.json
  composer.lock
  i18n/translations/cs.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fi.json
  i18n/translations/is_IS.json
  i18n/translations/ko.json
  i18n/translations/sv_SE.json
  panel/dist/css/style.css
  panel/dist/js/index.js
  panel/dist/js/plugins.js
  vendor/composer/installed.php
Due: none

Re-add mbstring
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_files.php
  vendor/composer/autoload_psr4.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/symfony/polyfill-mbstring/LICENSE
  vendor/symfony/polyfill-mbstring/Mbstring.php
  vendor/symfony/polyfill-mbstring/Resources/unidata/lowerCase.php
  vendor/symfony/polyfill-mbstring/Resources/unidata/titleCaseRegexp.php
  vendor/symfony/polyfill-mbstring/Resources/unidata/upperCase.php
  vendor/symfony/polyfill-mbstring/bootstrap.php
  vendor/symfony/polyfill-mbstring/bootstrap80.php
  vendor/symfony/polyfill-mbstring/composer.json
Due: none

Upgrade `claviska/simpleimage`
  composer.json
  composer.lock
  vendor/composer/installed.json
  vendor/composer/installed.php
Due: none

Upgrade `cypress`
  panel/package-lock.json
  panel/package.json
Due: none

Declare PHP 8.1 compatibility in composer defintion
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: none

Fix sync bug
  config/fields/slug.php
  panel/src/components/Forms/Field/SlugField.vue
  panel/src/components/Forms/Input/SlugInput.vue
Due: backend, frontend

Declare PHP 8.1 compatibility in composer defintion
  composer.json
  composer.lock
Due: none

Fix HTTPS check in SystemView
  config/areas/system/views.php
  panel/src/components/Views/SystemView.vue
Due: backend, frontend

Upgrade `phpmailer`
  composer.json
  composer.lock
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-fr.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-pt_br.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-ro.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-sl.php
  vendor/phpmailer/phpmailer/src/PHPMailer.php
  vendor/phpmailer/phpmailer/src/POP3.php
  vendor/phpmailer/phpmailer/src/SMTP.php
Due: none

Fix `plugins.js` regression
  panel/src/config/plugins.js
Due: frontend

Fix minor Prettier weirdnesses
  panel/src/components/Layout/Tabs.vue
  panel/src/helpers/object.js
Due: frontend

PHP 8.1: Fix more arguments of built-in functions
  config/tags.php
  src/Text/KirbyTag.php
  src/Toolkit/Str.php
Due: backend

Release prep
  composer.json
  composer.lock
  i18n/translations/is_IS.json
  panel/dist/js/index.js
  vendor/composer/installed.php
Due: none

More PHP arrow functions
  config/api/collections.php
  config/api/models/File.php
  config/api/models/FileBlueprint.php
  config/api/models/FileVersion.php
  config/api/models/Language.php
  config/api/models/Page.php
  config/api/models/PageBlueprint.php
  config/api/models/Role.php
  config/api/models/Site.php
  config/api/models/SiteBlueprint.php
  config/api/models/System.php
  config/api/models/Translation.php
  config/api/models/User.php
  config/api/models/UserBlueprint.php
  config/areas/account/views.php
  config/areas/installation.php
  config/areas/languages/views.php
  config/areas/site/dropdowns.php
  config/areas/site/views.php
  config/areas/users/views.php
  src/Cms/Collection.php
  src/Cms/Core.php
  src/Cms/FileActions.php
  src/Cms/Files.php
  src/Cms/NestCollection.php
  src/Cms/PageActions.php
  src/Filesystem/Dir.php
  src/Filesystem/F.php
  src/Filesystem/File.php
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
  src/Form/Form.php
  src/Panel/File.php
  src/Panel/Page.php
  src/Panel/Panel.php
  src/Panel/View.php
  src/Toolkit/Dom.php
  tests/Toolkit/StrTest.php
Due: backend

Explicit CSS data attr selectors for styling
  panel/src/components/Drawers/Drawer.vue
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/components/Forms/Calendar.vue
  panel/src/components/Forms/Counter.vue
  panel/src/components/Forms/Field.vue
  panel/src/components/Forms/Field/FilesField.vue
  panel/src/components/Forms/Field/PagesField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Field/UsersField.vue
  panel/src/components/Forms/Input.vue
  panel/src/components/Forms/Input/CheckboxInput.vue
  panel/src/components/Forms/Input/RadioInput.vue
  panel/src/components/Forms/Input/RangeInput.vue
  panel/src/components/Forms/Writer/Writer.vue
  panel/src/components/Layout/AspectRatio.vue
  panel/src/components/Layout/Column.vue
  panel/src/components/Layout/Dropzone.vue
  panel/src/components/Layout/FilePreview.vue
  panel/src/components/Layout/Item.vue
  panel/src/components/Layout/Overlay.vue
  panel/src/components/Layout/Panel.vue
  panel/src/components/Layouter/Layout.vue
  panel/src/components/Misc/Icon.vue
  panel/src/components/Misc/Image.vue
  panel/src/components/Misc/StatusIcon.vue
  panel/src/components/Navigation/Button.vue
  panel/src/components/Navigation/ButtonDisabled.vue
  panel/src/components/Navigation/DropdownContent.vue
  panel/src/components/Navigation/Search.vue
  panel/src/components/Navigation/Tag.vue
  panel/src/components/Sections/FieldsSection.vue
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/PagesSection.vue
  panel/src/components/Views/UserView.vue
  panel/src/styles/utilities.css
Due: frontend

Use all PHP extensions for frontend status
  config/areas/system/views.php
  i18n/translations/en.json
  panel/src/components/Views/InstallationView.vue
  panel/src/components/Views/SystemView.vue
  src/Cms/System.php
  tests/Cms/System/SystemTest.php
Due: backend, frontend

Avoid implicit float to int conversion
  src/Image/Dimensions.php
Due: backend

Don't pass null when a string must be given
  src/Text/KirbyTags.php
  src/Toolkit/Str.php
Due: backend

Use Peeky for JS unit tests
  panel/package-lock.json
  panel/package.json
  panel/src/helpers/clone.test.js
  panel/src/helpers/color.spec.js
  panel/src/helpers/color.test.js
  panel/src/helpers/embed.test.js
  panel/src/helpers/pad.test.js
  panel/src/helpers/ratio.test.js
  panel/src/helpers/slug.test.js
  panel/src/helpers/sort.test.js
  panel/src/helpers/string.camelToKebab.test.js
  panel/src/helpers/string.escapeHTML.test.js
  panel/src/helpers/string.hasEmoji.test.js
  panel/src/helpers/string.lcfirst.test.js
  panel/src/helpers/string.template.test.js
  panel/src/helpers/string.ucfirst.test.js
  panel/vite.config.js
Due: frontend

Integrate Peeky in CI workflow
  .github/workflows/ci.yml
Due: none

Add eslint rules
  panel/.eslintrc.js
Due: none

Fix script names in package.json
  panel/package.json
Due: none

Cypress: Use *.e2e.js files
  panel/cypress.json
  panel/src/components/Forms/Blocks/Blocks.e2e.js
  panel/src/components/Views/FileView.e2e.js
  panel/src/components/Views/InstallationView.e2e.js
  panel/src/components/Views/LoginView.e2e.js
  panel/src/components/Views/PageView.e2e.js
  panel/src/components/Views/SiteView.e2e.js
  panel/src/components/Views/UsersView.e2e.js
Due: frontend

Peeky: Collect coverage from Vue files
  panel/vite.config.js
Due: none

pre-commit hook: Fix prettier and eslint commands
  scripts/pre-commit
Due: none

Run Prettier in CI
  .github/workflows/ci.yml
Due: none

Fix CI workflow
  .github/workflows/ci.yml
Due: none

GitHub can't do Unicode in action names?
  .github/workflows/ci.yml
Due: none

Passing empty string for `is_file()` when param `null` #4032
  src/Toolkit/Tpl.php
Due: backend

`dayjs-round` plugin
  panel/src/config/libraries.js
  panel/src/index.js
  panel/src/libraries/dayjs-round.js
  panel/src/libraries/dayjs-round.test.js
  panel/src/libraries/dayjs.js
  panel/src/libraries/index.js
Due: frontend

`dayjs-units` plugin
  panel/src/libraries/dayjs-units.js
  panel/src/libraries/dayjs-units.test.js
  panel/src/libraries/dayjs.js
Due: frontend

Use Peeky for JS unit tests
  panel/src/helpers/sort.js
Due: frontend

`dayjs-pattern` plugin
  panel/src/libraries/dayjs-pattern.js
  panel/src/libraries/dayjs-pattern.test.js
  panel/src/libraries/dayjs-units.js
  panel/src/libraries/dayjs.js
Due: frontend

`dayjs` plugins: cleanup test structures
  panel/src/libraries/dayjs-merge.test.js
  panel/src/libraries/dayjs-round.test.js
  panel/src/libraries/dayjs-validate.test.js
Due: frontend
