Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

refact: User security TOTP drawer
  config/areas/account/dialogs.php
  config/areas/account/drawers.php
  config/areas/users/dialogs.php
  config/areas/users/drawers.php
  i18n/translations/en.json
  panel/src/components/Dialogs/TotpDialog.vue
  panel/src/components/Dialogs/index.js
  panel/src/components/Drawers/Elements/Header.vue
  panel/src/components/Drawers/UserTotpDrawer.vue
  panel/src/components/Drawers/index.js
  panel/src/components/Layout/Definition.vue
  src/Auth/Challenge/TotpChallenge.php
  src/Panel/Controller/Dialog/UserTotpDisableDialogController.php
  src/Panel/Controller/Dialog/UserTotpEnableDialogController.php
  src/Panel/Controller/Drawer/UserTotpDrawerController.php
  tests/Panel/Controller/Dialog/UserTotpDisableDialogControllerTest.php
  tests/Panel/Controller/Dialog/UserTotpEnableDialogControllerTest.php
  tests/Panel/Controller/Drawer/UserSecurityDrawerControllerTest.php
  tests/Panel/Controller/Drawer/UserTotpDrawerControllerTest.php
Due: backend, frontend

refact!: LoginView based on new auth classes
  panel/src/components/Views/Login/LoginCodeForm.vue
  panel/src/components/Views/Login/LoginEmailPasswordForm.vue
  panel/src/components/Views/Login/LoginForm.vue
  panel/src/components/Views/Login/LoginView.vue
  panel/src/components/Views/Login/index.js
  panel/src/panel/panel.js
  src/Auth/Challenge.php
  src/Auth/Challenges.php
  src/Auth/Method.php
  src/Auth/Method/CodeMethod.php
  src/Auth/Method/PasswordMethod.php
  src/Auth/Method/PasswordResetMethod.php
  src/Panel/Controller/View/LoginViewController.php
  src/Panel/Ui/Login.php
Due: backend, frontend

feat: POST route for views
  src/Panel/Response/ViewResponse.php
  src/Panel/Routes/Routes.php
  src/Panel/Routes/ViewRoutes.php
  tests/Panel/AreaTest.php
  tests/Panel/Routes/RoutesTest.php
  tests/Panel/Routes/ViewRoutesTest.php
Due: backend

feat: Optional 2FA
  src/Auth/Method/BasicAuthMethod.php
  src/Auth/Method/CodeMethod.php
  src/Auth/Method/PasswordMethod.php
  src/Auth/Methods.php
  src/Cms/System.php
  tests/Auth/Exception/ChallengeTimeoutExceptionTest.php
  tests/Auth/Exception/LoginNotPermittedExceptionTest.php
  tests/Auth/Exception/RateLimitExceptionTest.php
  tests/Auth/Method/BasicAuthMethodTest.php
  tests/Auth/Method/CodeMethodTest.php
  tests/Auth/Method/PasswordMethodTest.php
  tests/Auth/Method/PasswordResetMethodTest.php
  tests/Cms/System/SystemTest.php
Due: backend

docs: Add template annotations to collector class
  src/Panel/Collector/FilesCollector.php
  src/Panel/Collector/ModelsCollector.php
  src/Panel/Collector/PagesCollector.php
  src/Panel/Collector/UsersCollector.php
Due: backend

fix: Collapse layout while dragging
  panel/src/components/Forms/Layouts/Layout.vue
Due: frontend

fix: ImageMagick/Imagick format convert
  src/Image/Darkroom/ImageMagick.php
  src/Image/Darkroom/Imagick.php
  tests/Image/Darkroom/ImageMagickTest.php
  tests/Image/Darkroom/ImagickTest.php
Due: backend

docs: Fix formatting in PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

fix: PageCreateDialog do not validate when draft
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Dialogs/PageCreateDialog.vue
  panel/src/components/Forms/Field.vue
  panel/src/components/Text/Label.vue
  panel/src/mixins/dialog.js
  src/Panel/PageCreateDialog.php
Due: backend, frontend

fix: Table index column width for larger numbers
  panel/lab/components/tables/4_component/index.vue
  panel/src/components/Layout/Table.vue
Due: frontend

fix: Smartypants quoted entities replacement
  src/Text/SmartyPants.php
  tests/Text/SmartyPantsTest.php
Due: backend

fix: Blocks becoming unresponsive when external apps steal focus (closes #6700)
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

fix: ImageMagick/Imagick format convert (#7910)
  src/Image/Darkroom/ImageMagick.php
  src/Image/Darkroom/Imagick.php
  tests/Image/Darkroom/ImageMagickTest.php
  tests/Image/Darkroom/ImagickTest.php
Due: backend

Merge pull request #7902 from getkirby/v6/refact/remove-light-dark-polyfill
  panel/package-lock.json
  panel/package.json
  panel/vite.config.mjs
Due: none

fix: Collapse layout while dragging (#7909)
  panel/src/components/Forms/Layouts/Layout.vue
Due: frontend

fix: Table index column width for larger numbers (#7912)
  panel/lab/components/tables/4_component/index.vue
  panel/src/components/Layout/Table.vue
Due: frontend

fix: Prevent double escape in select field (#7885)
  src/Field/FieldOptions.php
  src/Option/Option.php
  src/Option/Options.php
  src/Toolkit/Str.php
  tests/Option/OptionTest.php
  tests/Toolkit/StrTest.php
Due: backend

fix: Smartypants quoted entities replacement (#7913)
  src/Text/SmartyPants.php
  tests/Text/SmartyPantsTest.php
Due: backend

feat: `size` for `<k-drawer>` (#7900)
  panel/lab/components/drawers/1_drawer/index.vue
  panel/src/components/Drawers/Drawer.vue
  panel/src/mixins/drawer.js
Due: frontend

fix: Choice in picklist dropdown hover styling
  panel/src/components/Dropdowns/PicklistDropdown.vue
Due: frontend

feat: Icon support for tags
  panel/lab/components/inputs/checkboxes/index.vue
  panel/lab/components/inputs/choice/index.vue
  panel/lab/components/inputs/multiselect/index.vue
  panel/lab/components/inputs/radio/index.vue
  panel/lab/components/inputs/tags/index.vue
  panel/src/components/Dropdowns/PicklistDropdown.vue
  panel/src/components/Forms/Input/CheckboxesInput.vue
  panel/src/components/Forms/Input/ChoiceInput.vue
  panel/src/components/Forms/Input/RadioInput.vue
  panel/src/components/Navigation/Tag.vue
  panel/src/components/Navigation/Tags.vue
Due: frontend

fix: k-tag with icon and without text
  panel/src/components/Navigation/Tag.vue
Due: frontend

fix: `App::contentToken()` for symlinks
  src/Cms/App.php
  tests/Cms/App/AppTest.php
Due: backend

fix: `$content` as sensitive in `UserActions::changeSecret()`
  src/Cms/UserActions.php
Due: backend

refact: Remove dead checks
  src/Cms/User.php
Due: backend

refact: Avoid double negation
  src/Cms/User.php
Due: backend

fix: Improve error reporting
  src/Cms/Permissions.php
Due: backend

fix: Add canSave prop to FormControls
  panel/src/components/Forms/FormControls.vue
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Pages/SiteView.vue
  panel/src/components/Views/Preview/PreviewBrowser.vue
  panel/src/components/Views/Users/UserView.vue
Due: frontend

fix: Wrap header title on larger screens
  panel/src/components/Layout/Header.vue
Due: frontend

doc: Improve description for `Str::trim()`
  src/Toolkit/Str.php
Due: backend

feat: `F::load($file, cache: true)`
  src/Filesystem/F.php
  tests/Filesystem/FTest.php
Due: backend

fix: Prevent repeated load of config files
  src/Cms/App.php
  src/Http/Environment.php
Due: backend

fix: Fix button disabled state logic in FormControls
  panel/src/components/Forms/FormControls.vue
Due: frontend

fix: Update permission checks to include edit capability
  src/Cms/FileRules.php
  src/Cms/PageRules.php
  src/Cms/SiteRules.php
  src/Cms/UserRules.php
Due: backend

fix: Setting locale for `Site::visit()` w/o $lang
  src/Cms/Site.php
  tests/Cms/Site/SiteVisitTest.php
Due: backend

fix: Apply suggestions from code review
  src/Toolkit/Str.php
Due: backend

fix: Remove stale additional argument
  src/Toolkit/Str.php
Due: backend

fix: Setting locale for `Site::visit()` w/o $lang (#7921)
  src/Cms/Site.php
  tests/Cms/Site/SiteVisitTest.php
Due: backend

[User performance 6] Collected changes from code review (#7843)
  src/Cms/LazyCollection.php
  src/Cms/Users.php
  tests/Cms/Collections/LazyCollectionTest.php
Due: backend

fix: Wrap header title on larger screens (#7917)
  panel/src/components/Layout/Header.vue
Due: frontend
