Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Whoops: Allow variable masking with blacklist
  src/Cms/AppErrors.php
Due: backend

Adapt deprecated CSS properties
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Dialogs/ErrorDialog.vue
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Calendar.vue
  panel/src/components/Forms/Counter.vue
  panel/src/components/Forms/Field/DateField.vue
  panel/src/components/Forms/FormIndicator.vue
  panel/src/components/Forms/Input.vue
  panel/src/components/Forms/Input/MultiselectInput.vue
  panel/src/components/Forms/LoginAlert.vue
  panel/src/components/Forms/Upload.vue
  panel/src/components/Layout/Dropzone.vue
  panel/src/components/Layout/Table.vue
  panel/src/components/Misc/Registration.vue
  panel/src/components/Views/ErrorView.vue
  panel/src/components/Views/InstallationView.vue
  panel/src/styles/config.css
  panel/src/styles/config/shadow.css
  panel/src/styles/reset.css
  panel/src/styles/utilities.css
Due: frontend

Fix `k-panel`
  panel/src/components/Layout/Panel.vue
Due: frontend

Fix deprecated theme CSS properties
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Layout/Box.vue
  panel/src/components/Layout/TableUpdateStatusCell.vue
  panel/src/components/Layout/Tabs.vue
  panel/src/components/Misc/StatusIcon.vue
  panel/src/components/Navigation/Topbar.vue
  panel/src/styles/utilities/theme.css
Due: frontend

New CSS properties
  panel/src/components/Forms/Blocks/Types/Heading.vue
  panel/src/components/Forms/Blocks/Types/Text.vue
  panel/src/components/Layout/Stats.vue
  panel/src/components/Misc/Headline.vue
  panel/src/components/Misc/Text.vue
  panel/src/components/Navigation/Search.vue
  panel/src/index.js
  panel/src/styles/config.css
  panel/src/styles/config/colors.css
  panel/src/styles/config/font-family.css
  panel/src/styles/config/font-size.css
  panel/src/styles/config/font-weight.css
  panel/src/styles/config/height.css
  panel/src/styles/config/rounded.css
  panel/src/styles/config/shadow.css
  panel/src/styles/config/spacing.css
  panel/src/styles/config/z-index.css
  panel/src/styles/reset.css
  panel/src/styles/utilities.css
  panel/src/styles/utilities/align.css
  panel/src/styles/utilities/animations.css
  panel/src/styles/utilities/sr-only.css
  panel/src/styles/utilities/theme.css
  panel/src/styles/variables.css
Due: frontend

Fix StatusIcon colors
  panel/src/components/Misc/StatusIcon.vue
Due: frontend

CSS `:has` polyfill
  panel/package-lock.json
  panel/package.json
  panel/src/index.js
  panel/vite.config.js
Due: frontend

Move CSS `:has` polyfill to separate chunk
  panel/src/index.js
  panel/vite.config.js
Due: frontend

Legacy.css
  panel/src/styles/config.css
  panel/src/styles/config/colors.css
  panel/src/styles/config/font-size.css
  panel/src/styles/config/legacy.css
  panel/src/styles/config/shadow.css
  panel/src/styles/config/spacing.css
  panel/src/styles/utilities.css
  panel/src/styles/utilities/theme.css
Due: frontend

Switch to cssnano
  panel/package-lock.json
  panel/package.json
  panel/vite.config.js
Due: none

Container query polyfill
  panel/package-lock.json
  panel/package.json
  panel/src/index.js
Due: frontend

Grid variants (columns, fields)
  panel/src/components/Forms/Fieldset.vue
  panel/src/components/Layout/Column.vue
  panel/src/components/Layout/Grid.vue
  panel/src/components/Sections/Sections.vue
Due: frontend

Grid with container queries
  panel/src/components/Layout/Column.vue
  panel/src/components/Layout/Grid.vue
  panel/src/components/Layout/Inside.vue
Due: frontend

Items with container queries
  panel/src/components/Layout/Items.vue
Due: frontend

Fix grid container queries
  panel/src/components/Layout/Column.vue
  panel/src/components/Layout/Inside.vue
  panel/src/components/Layout/Panel.vue
Due: frontend

Fix undefined column width
  panel/src/components/Layout/Column.vue
Due: frontend

Items improvements
  panel/src/components/Layout/Column.vue
  panel/src/components/Layout/Grid.vue
  panel/src/components/Layout/Items.vue
Due: frontend

Container query polyfill as separate chunk
  panel/src/index.js
Due: frontend

Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

Fix LayoutColumn
  panel/src/components/Layouter/Column.vue
Due: frontend

Fix deprecated `gutter` prop for `k-grid`
  panel/src/components/Layout/Grid.vue
Due: frontend

Port UI `bar`
  panel/src/components/Layout/Bar.vue
  panel/src/components/Layout/Header.vue
  panel/src/components/Misc/Fatal.vue
  panel/src/components/Views/FileView.e2e.js
  panel/src/components/Views/FileView.vue
  panel/src/components/Views/PageView.vue
  panel/src/components/Views/SiteView.vue
  panel/src/components/Views/UserView.vue
Due: frontend

Run code scanning only in main repository
  .github/workflows/backend.yml
Due: none

Fix double space
  .github/workflows/backend.yml
Due: none

Bring back `BlockConverter`
  src/Cms/Block.php
  src/Cms/BlockConverter.php
  src/Cms/Blocks.php
  tests/Cms/Blocks/BlockTest.php
  tests/Cms/Blocks/BlocksTest.php
  vendor/autoload.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

Simplify `App::controllerLookup()`
  src/Cms/App.php
Due: backend

Macroable: $_macros -> $methods
  src/Toolkit/Macroable.php
  tests/Toolkit/MacroableTest.php
Due: backend

A::fill test - update test calls & import
  tests/Toolkit/ATest.php
Due: none

Update MacroableTest.php
  tests/Toolkit/MacroableTest.php
Due: none

Atest.php - run php-cs-fixer
  tests/Toolkit/ATest.php
Due: none

Fix layouts selector
  panel/src/components/Layout/Grid.vue
  panel/src/components/Layouter/Layouts.vue
Due: frontend

Accept default model
  src/Cms/Page.php
Due: backend

Default page mode: unit test
  tests/Cms/Pages/PageModelTest.php
  tests/Cms/Pages/fixtures/PageModelTest/article.php
  tests/Cms/Pages/fixtures/PageModelTest/default.php
Due: none

Page model: `default` as fallback for non-existing
  src/Cms/Page.php
Due: backend

Update page panel dropdown
  src/Panel/Page.php
Due: backend

Move page also in Vuex content store
  config/areas/site/dialogs.php
Due: backend

Fix global helper usage
  config/areas/site/dialogs.php
Due: backend

Improve `error.page.move.template` message
  i18n/translations/en.json
  src/Cms/PageRules.php
Due: backend

First rough implementation of moving pages
  config/areas/site/dialogs.php
  i18n/translations/en.json
  src/Cms/PageActions.php
  src/Cms/PageBlueprint.php
  src/Cms/PagePermissions.php
  src/Cms/Permissions.php
  src/Cms/SiteActions.php
  src/Panel/Page.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
