Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

chore: Update EULA to 2026-07-02 (#8218)
  LICENSE.md
Due: none

fix: Translate tags input placeholder (#8231)
  i18n/translations/en.json
  panel/src/components/Forms/Input/TagsInput.vue
Due: frontend

perf: Revoke file object URLs in `panel.upload` (#8221)
  panel/src/panel/upload.test.ts
  panel/src/panel/upload.ts
Due: frontend

perf: Skip template() regex work for plain strings (#8222)
  panel/src/helpers/string.template.test.ts
  panel/src/helpers/string.ts
Due: frontend

fix: Invalid scalar arguments (#8225)
  src/Cms/BlockConverter.php
  src/Cms/License.php
  src/Image/QrCode.php
  src/Option/Option.php
  src/Panel/Controller/View/LabDocViewController.php
  src/Panel/Ui/Button/ViewButton.php
  src/Toolkit/A.php
  src/Toolkit/Iterator.php
  tests/Option/OptionTest.php
Due: backend

refact: Nullable properties init
  src/Api/Api.php
  src/Blueprint/Blueprint.php
  src/Cms/App.php
  src/Cms/AppErrors.php
  src/Cms/File.php
  src/Cms/LanguageRouter.php
  src/Cms/License.php
  src/Cms/ModelWithContent.php
  src/Cms/Page.php
  src/Cms/Site.php
  src/Cms/System/UpdateStatus.php
  src/Cms/User.php
  src/Content/VersionCache.php
  src/Form/Field/BlocksField.php
  src/Form/Field/EntriesField.php
  src/Form/Field/LayoutField.php
  src/Form/Field/StatsField.php
  src/Form/Mixin/Fields.php
  src/Form/Mixin/Options.php
  src/Form/Mixin/TableColumns.php
  src/Http/Request.php
  src/Panel/Collector/ModelsCollector.php
  src/Panel/Controller/Dialog/FilePickerDialogController.php
  src/Panel/Controller/Dialog/ModelCreateDialogController.php
  src/Panel/Controller/Dialog/PageCreateDialogController.php
  src/Panel/Controller/Dialog/PagePickerDialogController.php
  src/Panel/Controller/Dialog/UserPickerDialogController.php
  src/Panel/Controller/Dialog/UserTotpEnableDialogController.php
  src/Panel/Controller/View/FileViewController.php
  src/Panel/Controller/View/SystemViewController.php
  src/Panel/Controller/View/UserViewController.php
  src/Panel/Controller/View/UsersViewController.php
  src/Panel/Menu.php
  src/Panel/Panel.php
  src/Panel/Ui/Component.php
  src/Plugin/Plugin.php
  src/Session/AutoSession.php
  src/Session/Session.php
Due: backend

feat: `Auth\Passwords` policy
  i18n/translations/en.json
  panel/src/components/Views/Users/ResetPasswordView.vue
  psalm-baseline.xml
  src/Auth/Passwords.php
  src/Cms/Auth.php
  src/Cms/UserRules.php
  src/Panel/Controller/Dialog/UserChangePasswordDialogController.php
  src/Panel/Controller/Dialog/UserCreateDialogController.php
  src/Panel/Controller/View/ResetPasswordViewController.php
  tests/Auth/PasswordsTest.php
  tests/Cms/Auth/AuthTest.php
Due: backend, frontend

fix: Implement Passwords review feedback
  i18n/translations/en.json
  src/Auth/Passwords.php
  src/Cms/Auth.php
  src/Panel/Controller/Dialog/UserChangePasswordDialogController.php
Due: backend

fix: Submit dialog form on save shortcut #7934
  panel/src/panel/dialog.js
  panel/src/panel/dialog.test.js
Due: frontend

fix: Submit dialog form on save shortcut (#8234)
  panel/src/panel/dialog.js
  panel/src/panel/dialog.test.js
Due: frontend

style: Fix cs
  src/Form/Field/EntriesField.php
  src/Image/QrCode.php
Due: backend

test: Fix unit test string
  tests/Auth/PasswordsTest.php
Due: none

test: Update Psalm baseline
  psalm-baseline.xml
Due: none

fix: array_push() with spread arrays
  src/Toolkit/Dom.php
Due: backend

fix: Disable picker options when max is reached #8232
  panel/src/components/Dialogs/ModelsDialog.vue
Due: frontend

fix: Unit test after merge
  panel/src/panel/dialog.test.js
Due: frontend

chore: Update JS dependencies
  panel/package-lock.json
  panel/package.json
Due: none

chore: Update PHP dependencies
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/symfony/yaml/Inline.php
  vendor/symfony/yaml/Parser.php
Due: none

Merge pull request #8236 from getkirby/fix/8232-disable-picker-options-at-max
  panel/src/components/Dialogs/ModelsDialog.vue
Due: frontend

fix: remove stale Parsedown classmap entries
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: none

fix: log suppressed rendering errors #8085
  src/Cms/Block.php
  src/Text/KirbyTags.php
  tests/Cms/Blocks/BlockTest.php
  tests/Text/KirbyTagsTest.php
  tests/Text/mocks.php
  tests/bootstrap.php
Due: backend

fix: Log suppressed rendering errors (#8237)
  src/Cms/Block.php
  src/Text/KirbyTags.php
  tests/Cms/Blocks/BlockTest.php
  tests/Text/KirbyTagsTest.php
  tests/Text/mocks.php
  tests/bootstrap.php
Due: backend

i18n: Update translations
  i18n/translations/bg.json
  i18n/translations/bs.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/eo.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/is_IS.json
  i18n/translations/it.json
  i18n/translations/ja.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ro.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sr@latin.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
  i18n/translations/uk.json
  i18n/translations/zh_TW.json
Due: none

build: JS dist files
  panel/dist/js/index.min.js
  panel/dist/js/vendor.min.js
Due: none

test: Additional unit test for self-signed license after public installation
  tests/Cms/System/LicenseTest.php
Due: none

fix: CURL wording issue in unit tests
  tests/Cms/System/UpdateStatusTest.php
  tests/Panel/Areas/SystemTest.php
  tests/Plugin/PluginTest.php
Due: none

fix: localize license hub link
  i18n/translations/en.json
  panel/src/components/Dialogs/LicenseDialog.vue
Due: frontend

fix: localize license hub link (#8239)
  i18n/translations/en.json
  panel/src/components/Dialogs/LicenseDialog.vue
Due: frontend

i18n: Update translations
  i18n/translations/de.json
  i18n/translations/tr.json
Due: none

build: Preflight for 5.5.0
  panel/dist/js/index.min.js
  panel/dist/js/vendor.min.js
Due: none

fix: `npm run build:docs`
  panel/package.json
Due: none

fix: Writer field preview
  panel/lab/components/fieldpreviews/writer/index.php
  panel/lab/components/fieldpreviews/writer/index.vue
  panel/src/components/Forms/Previews/HtmlFieldPreview.vue
  panel/src/components/Forms/Previews/WriterFieldPreview.vue
  panel/src/components/Forms/Previews/index.js
  panel/src/helpers/string.sanitizeHTML.test.ts
Due: frontend

chore: Update composer
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: none

fix: restore link field model previews
  panel/src/helpers/link.test.ts
  panel/src/helpers/link.ts
Due: frontend

fix: Types error in dialog.ts
  panel/src/panel/dialog.ts
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
