Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove time prop
  panel/src/components/Forms/Field/DateField.vue
Due: frontend

First component test for `k-text`
  panel/package-lock.json
  panel/package.json
  panel/src/components/Misc/Text.test.js
  panel/vite.config.js
Due: frontend

Add snapshot testing to Vue component tests
  panel/src/components/Misc/Progress.test.js
  panel/src/components/Misc/Text.test.js
  panel/src/components/Misc/__snapshots__/Progress.test.js.snap
  panel/src/components/Misc/__snapshots__/Text.test.js.snap
Due: frontend

Vitest!
  panel/package-lock.json
  panel/package.json
  panel/src/helpers/color.test.js
  panel/src/helpers/embed.test.js
  panel/src/helpers/object.clone.test.js
  panel/src/helpers/object.merge.test.js
  panel/src/helpers/ratio.test.js
  panel/src/helpers/sort.test.js
  panel/src/helpers/string.camelToKebab.test.js
  panel/src/helpers/string.escapeHTML.test.js
  panel/src/helpers/string.hasEmoji.test.js
  panel/src/helpers/string.lcfirst.test.js
  panel/src/helpers/string.pad.test.js
  panel/src/helpers/string.slug.test.js
  panel/src/helpers/string.template.test.js
  panel/src/helpers/string.ucfirst.test.js
  panel/src/libraries/dayjs-merge.test.js
  panel/src/libraries/dayjs-pattern.test.js
  panel/src/libraries/dayjs-round.test.js
  panel/src/libraries/dayjs-units.test.js
  panel/src/libraries/dayjs-validate.test.js
  panel/vite.config.js
Due: frontend

`k-progress` component tests
  panel/src/components/Misc/Progress.test.js
  panel/src/components/Misc/Progress.vue
Due: frontend

Add JS unit test coverage (but still shaky)
  panel/package.json
Due: none

Fix eslint extends
  panel/.eslintrc.js
Due: none

Remove debounce test for now
  panel/src/helpers/debounce.test.js
  panel/src/helpers/object.clone.test.js
  panel/src/helpers/object.merge.test.js
Due: frontend

Run JS unit tests concurrently
  panel/package-lock.json
  panel/package.json
  panel/src/helpers/color.test.js
  panel/src/helpers/embed.test.js
  panel/src/helpers/object.clone.test.js
  panel/src/helpers/ratio.test.js
  panel/src/helpers/sort.test.js
  panel/src/helpers/string.camelToKebab.test.js
  panel/src/helpers/string.escapeHTML.test.js
  panel/src/helpers/string.hasEmoji.test.js
  panel/src/helpers/string.lcfirst.test.js
  panel/src/helpers/string.pad.test.js
  panel/src/helpers/string.slug.test.js
  panel/src/helpers/string.template.test.js
  panel/src/helpers/string.ucfirst.test.js
  panel/src/libraries/dayjs-merge.test.js
  panel/src/libraries/dayjs-pattern.test.js
  panel/src/libraries/dayjs-round.test.js
  panel/src/libraries/dayjs-units.test.js
  panel/src/libraries/dayjs-validate.test.js
Due: frontend

Bring back debounce test
  panel/package-lock.json
  panel/package.json
  panel/src/helpers/debounce.test.js
Due: frontend

Fix fiber dispatch payload #4006
  panel/src/components/Dialogs/FiberDialog.vue
Due: frontend

Enhancement: Update ergebnis/composer-normalize
  .github/workflows/ci.yml
Due: none

Fix: Run 'composer normalize'
  composer.json
Due: none

Remove debounce test
  panel/src/helpers/debounce.test.js
Due: frontend

Fix vite rollupOptions input path
  panel/vite.config.js
Due: none

Update composer api version to 2.2 and tool dependencies
  .github/workflows/ci.yml
  composer.json
  composer.lock
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
Due: none

`composer normalize`
  composer.json
Due: none

fix: #4054 fiber handling of redirects
  panel/src/fiber/index.js
Due: frontend

fix: add compiled js
  panel/dist/js/index.js
Due: none

fix: panel redirect without panel access
  src/Panel/Panel.php
Due: backend

k-aspect-ratio: Fix example code
  panel/src/components/Layout/AspectRatio.vue
Due: frontend

Make the JSON unexpected error message translatable
  i18n/translations/en.json
  src/Cms/AppErrors.php
Due: backend

Fix selected tab on multi-language #4071
  panel/src/components/Navigation/Languages.vue
Due: frontend

Simplify query update
  panel/src/components/Navigation/Languages.vue
Due: frontend

Remove unnecessary cruft
  src/Panel/View.php
Due: backend

Redirect to non-fiber resources
  panel/src/fiber/index.js
Due: frontend

Return false instead of promise
  panel/src/fiber/index.js
Due: frontend

More reliable solution for color helper #4073
  panel/src/helpers/color.js
  panel/src/helpers/color.test.js
Due: frontend

Test `window.getComputedStyle`
  panel/src/helpers/color.js
Due: frontend

Prettify color helper
  panel/src/helpers/color.js
Due: frontend

Fix tests
  panel/src/helpers/color.test.js
Due: frontend

Fix collection `prevUnlisted()` method #4086
  src/Cms/PageSiblings.php
  tests/Cms/Pages/PageSiblingsTest.php
Due: backend

`k-prev-next` component tests
  panel/package-lock.json
  panel/package.json
  panel/src/components/Navigation/PrevNext.test.js
  panel/src/components/Navigation/PrevNext.vue
  panel/src/components/Navigation/__snapshots__/PrevNext.test.js.snap
Due: frontend

Upgrade vitest
  panel/package-lock.json
  panel/package.json
Due: none

New features for fiber dialogs
  panel/src/components/Dialogs/FiberDialog.vue
  panel/src/fiber/dialog.js
Due: frontend

Refactor dialog logic
  panel/src/fiber/dialog.js
Due: frontend

Fix a stupid mistake
  panel/src/fiber/dialog.js
Due: frontend

Add dropdown unit tests
  panel/src/fiber/dropdown.test.js
Due: frontend

Fix wrong test file name
  panel/src/fiber/dialog.test.js
Due: frontend

Inject $fiber as global in Vue and test asynchronous dialogs
  panel/src/fiber/dialog.js
  panel/src/fiber/dialog.test.js
  panel/src/fiber/plugin.js
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
