Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Rounded dialog search
  panel/src/components/Dialogs/Dialog.vue
Due: frontend

Add test coverage
  src/Cms/App.php
  tests/Cms/App/AppTest.php
  tests/Http/EnvironmentTest.php
Due: backend

Upgrade Node dependencies
  panel/package-lock.json
  panel/package.json
  panel/src/components/Misc/Progress.test.js
  panel/src/components/Misc/Text.test.js
Due: frontend

Fix rounded corners in date inputs
  panel/src/components/Forms/Field/DateField.vue
Due: frontend

Fix tag cancel button
  panel/src/components/Navigation/Tag.vue
Due: frontend

Rounded block selector items
  panel/src/components/Forms/Blocks/BlockSelector.vue
Due: frontend

Fix issue in system view
  panel/src/components/Views/SystemView.vue
Due: frontend

Add since tag
  src/Http/Environment.php
Due: backend

Move System::isLocal to Environment
  src/Cms/System.php
  src/Http/Environment.php
  tests/Cms/System/SystemTest.php
  tests/Http/EnvironmentTest.php
Due: backend

Fix unit tests
  tests/Cms/Api/routes/SystemRoutesTest.php
  tests/Http/ServerTest.php
Due: none

Remove blocks field migrations: editor and builder
  src/Cms/Block.php
  src/Cms/BlockConverter.php
  src/Cms/Blocks.php
  tests/Cms/Blocks/BlocksTest.php
  tests/Cms/Blocks/EditorImportTest.php
Due: backend

Remove parsing old YAML format
  src/Cms/Blocks.php
  tests/Cms/Blocks/BlocksTest.php
Due: backend

New V::empty and V::notEmpty validators
  src/Toolkit/V.php
  tests/Toolkit/VTest.php
Due: backend

Fix CSS selector
  panel/src/components/Layout/Header.vue
Due: frontend

Use `search.results.none` for section search
  i18n/translations/en.json
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Chunked uploads: JS part
  panel/src/components/Forms/Upload.vue
  panel/src/helpers/upload.js
Due: frontend

Disable failing JS unit tests
  panel/src/components/Navigation/__snapshots__/PrevNext.test.js.snap
  panel/src/fiber/index.test.tmp
Due: frontend

Fix file permissions of non-executable files
  panel/dist/img/icons.svg
  panel/public/img/icons.svg
  panel/src/components/Forms/Writer/Marks/Email.js
  tests/Sane/fixtures/svg/allowed/icons/github.svg
Due: frontend

More in-code documentation for `Environment`
  src/Http/Environment.php
Due: backend

Minor code clean up
  src/Http/Environment.php
Due: backend

Make Environment class less specific to CMS
  src/Cms/App.php
  src/Http/Environment.php
  tests/Http/EnvironmentTest.php
Due: backend

Set Environment::$isBehindProxy based on setup
  src/Http/Environment.php
  tests/Http/EnvironmentTest.php
Due: backend

New `Str::afterStart()` and `beforeEnd()` methods
  src/Toolkit/Str.php
  tests/Toolkit/StrTest.php
Due: backend

Use new `Str::afterStart()` in `Environment`
  src/Http/Environment.php
Due: backend

Add new public static method `studly` for `Str` class
  .gitignore
  src/Toolkit/Str.php
  tests/Toolkit/StrTest.php
Due: backend

typo fix
  .gitignore
Due: none

Disable JS unit test snapshots for now
  panel/src/components/Navigation/PrevNext.test.js
Due: frontend

Add GitHub PR references
  panel/src/components/Navigation/PrevNext.test.js
  panel/src/components/Navigation/__snapshots__/PrevNext.test.js.snap
  panel/src/fiber/index.test.tmp
Due: frontend

Update src/Toolkit/Str.php
  src/Toolkit/Str.php
Due: backend

Add new public static method `camel` for `Str` class
  src/Toolkit/Str.php
  tests/Toolkit/StrTest.php
Due: backend

Improve tests for `studly` and `camel` methods of `Str` class
  src/Toolkit/Str.php
  tests/Toolkit/StrTest.php
Due: backend

CS fixes and alphabetical reordering
  src/Toolkit/Str.php
  tests/Toolkit/StrTest.php
Due: backend

Add new public static method `increment` for `Str` class
  src/Toolkit/Str.php
  tests/Toolkit/StrTest.php
Due: backend

cs fixes for `increment` method of `Str` class
  src/Toolkit/Str.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
