Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Show activation bubble in mobile nav
  panel/src/components/View/Activation.vue
  panel/src/components/View/Menu.vue
Due: frontend

Prevent upload of .pht files
  src/Cms/FileRules.php
  src/Filesystem/Mime.php
  tests/Cms/Files/FileRulesTest.php
Due: backend

Switch to “Activate” wording
  config/areas/system/dialogs.php
  config/areas/system/views.php
  i18n/translations/en.json
  tests/Panel/Areas/LanguagesDialogsTest.php
  tests/Panel/Areas/SystemDialogsTest.php
  tests/Panel/Areas/SystemTest.php
Due: backend

Page move dialog: fix currently selected
  config/areas/site/dialogs.php
  panel/src/components/Dialogs/PageMoveDialog.vue
Due: backend, frontend

Apply suggestions from code review
  i18n/translations/en.json
Due: none

Update i18n/translations/en.json
  i18n/translations/en.json
Due: none

Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

Fix unit tests
  tests/Panel/Areas/SystemTest.php
Due: none

Dom: Pass options array to callbacks
  src/Sane/DomHandler.php
  src/Sane/Svg.php
  src/Sane/Xml.php
  src/Toolkit/Dom.php
  tests/Toolkit/DomTest.php
Due: backend

Dom: Normalize options for all public methods
  src/Toolkit/Dom.php
Due: backend

Dom: New allowHostRelativeUrls option
  src/Sane/DomHandler.php
  src/Sane/Handler.php
  src/Sane/Html.php
  src/Sane/Sane.php
  src/Sane/Svg.php
  src/Sane/Svgz.php
  src/Toolkit/Dom.php
  tests/Sane/DomHandlerTest.php
  tests/Sane/HandlerTest.php
  tests/Sane/HtmlTest.php
  tests/Sane/SaneTest.php
  tests/Sane/SvgTest.php
  tests/Sane/SvgzTest.php
  tests/Sane/TestCase.php
  tests/Sane/XmlTest.php
  tests/Sane/fixtures/html/disallowed/link-subfolder.html
  tests/Sane/fixtures/html/sanitized/link-subfolder.html
  tests/Sane/fixtures/sane/xlink-subfolder.sanitized.svg
  tests/Sane/fixtures/sane/xlink-subfolder.svg
  tests/Sane/fixtures/svg/allowed/internal-source.svg
  tests/Sane/fixtures/svg/allowed/style-url-valid.svg
  tests/Sane/fixtures/svg/allowed/xlink-valid-3.svg
  tests/Sane/fixtures/svg/disallowed/style-url-external.svg
  tests/Sane/fixtures/svg/disallowed/xlink-subfolder.svg
  tests/Sane/fixtures/svg/sanitized/xlink-subfolder.svg
  tests/Sane/fixtures/svgz/disallowed/xlink-subfolder.svg
  tests/Sane/fixtures/svgz/disallowed/xlink-subfolder.svgz
  tests/Sane/fixtures/svgz/sanitized/xlink-subfolder.svg
  tests/Sane/fixtures/xml/allowed/internal-source.xml
  tests/Sane/fixtures/xml/allowed/xlink-valid-3.xml
  tests/Sane/fixtures/xml/disallowed/xlink-subfolder.xml
  tests/Sane/fixtures/xml/sanitized/xlink-subfolder.xml
  tests/Toolkit/DomTest.php
Due: backend

Unit test for UUID links in the writer field
  tests/Form/Fields/TestCase.php
  tests/Form/Fields/WriterFieldTest.php
Due: none

Update dependencies
  composer.json
  composer.lock
  panel/dist/js/index.js
  vendor/bin/yaml-lint.bat
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/filp/whoops/src/Whoops/Resources/css/whoops.base.css
  vendor/symfony/yaml/Inline.php
Due: none

Handle fields without props
  panel/src/helpers/field.js
Due: frontend

New license dialog
  config/areas/system/dialogs.php
  config/areas/system/views.php
  panel/src/components/Dialogs/LicenseDialog.vue
  panel/src/components/Dialogs/index.js
  src/Cms/System.php
Due: backend, frontend

Make hub address configurable
  src/Cms/System.php
Due: backend

New license class and first steps to integrate it
  config/areas/system/dialogs.php
  config/areas/system/views.php
  i18n/translations/en.json
  panel/src/components/Dialogs/LicenseDialog.vue
  panel/src/components/View/Activation.vue
  panel/src/components/View/Menu.vue
  src/Cms/License.php
  src/Cms/System.php
  src/Panel/View.php
Due: backend, frontend

More dropdown examples
  panel/lab/components/dropdowns/4_picklist/index.vue
Due: none

Fix click on dropdown page for pagination component #5940
  panel/src/components/Navigation/Pagination.vue
Due: frontend

Various design and UX improvements
  panel/public/img/icons.svg
  panel/src/components/Dropdowns/PicklistDropdown.vue
  panel/src/components/Forms/Input/MultiselectInput.vue
  panel/src/components/Forms/Input/PicklistInput.vue
  panel/src/components/Forms/Input/TagsInput.vue
Due: frontend

More style adjustments and keyboard nav improvements
  panel/src/components/Dropdowns/PicklistDropdown.vue
  panel/src/components/Forms/Input/MultiselectInput.vue
  panel/src/components/Forms/Input/PicklistInput.vue
  panel/src/components/Forms/Input/TagsInput.vue
Due: frontend

Use new triangle icon for more button
  panel/src/components/Forms/Input/PicklistInput.vue
Due: frontend

Fix keyboard navigation in the search input
  panel/src/components/Forms/Input/MultiselectInput.vue
  panel/src/components/Forms/Input/TagsInput.vue
Due: frontend

Use outline for in tags dropdown
  panel/src/components/Forms/Input/PicklistInput.vue
  panel/src/components/Forms/Input/TagsInput.vue
Due: frontend

Fix field states without options
  panel/src/components/Forms/Field/CheckboxesField.vue
  panel/src/components/Forms/Field/RadioField.vue
  panel/src/components/Forms/Field/TogglesField.vue
  panel/src/components/Forms/Input/TogglesInput.vue
Due: frontend

Fix the selected items in the page move dialog
  config/areas/site/dialogs.php
  config/areas/site/requests.php
  panel/src/components/Dialogs/PageMoveDialog.vue
  src/Cms/PageActions.php
Due: backend, frontend

Hide add btn when not allowed
  panel/src/components/Forms/Input/PicklistInput.vue
Due: frontend

Use add icon, not plus
  panel/src/components/Dropdowns/PicklistDropdown.vue
  panel/src/components/Forms/Input/PicklistInput.vue
Due: frontend

Fix highlighting in picklist input itself
  panel/src/components/Dropdowns/PicklistDropdown.vue
  panel/src/components/Forms/Input/PicklistInput.vue
Due: frontend

Picklist: highlight currently chosen items
  panel/src/components/Dropdowns/PicklistDropdown.vue
  panel/src/components/Forms/Input/PicklistInput.vue
Due: frontend

Use angle down icon
  panel/src/components/Forms/Input/PicklistInput.vue
Due: frontend

Show tags toggle on hover
  panel/src/components/Forms/Input/TagsInput.vue
Due: frontend

Tags: no btn on hover, but pointer cursor
  panel/src/components/Forms/Input/TagsInput.vue
Due: frontend

Remove triangle icon
  panel/public/img/icons.svg
Due: none

Fix cs issues
  config/areas/site/dialogs.php
Due: backend

Small padding fix
  panel/src/components/Dropdowns/PicklistDropdown.vue
Due: frontend

Update panel dist files
  panel/dist/css/style.min.css
  panel/dist/js/Highlight.min.js
  panel/dist/js/IndexView.min.js
  panel/dist/js/index.min.js
  panel/dist/js/vendor.min.js
  panel/dist/js/vue.min.js
  panel/dist/ui/Activation.json
  panel/dist/ui/CheckboxesField.json
  panel/dist/ui/CheckboxesInput.json
  panel/dist/ui/ColoroptionsInput.json
  panel/dist/ui/ColorpickerInput.json
  panel/dist/ui/Header.json
  panel/dist/ui/LinkField.json
  panel/dist/ui/MultiselectField.json
  panel/dist/ui/MultiselectInput.json
  panel/dist/ui/PicklistDropdown.json
  panel/dist/ui/PicklistInput.json
  panel/dist/ui/RadioField.json
  panel/dist/ui/RadioInput.json
  panel/dist/ui/SelectField.json
  panel/dist/ui/SelectInput.json
  panel/dist/ui/Selector.json
  panel/dist/ui/SelectorDropdown.json
  panel/dist/ui/SelectorInput.json
  panel/dist/ui/Stat.json
  panel/dist/ui/Tags.json
  panel/dist/ui/TagsField.json
  panel/dist/ui/TagsInput.json
  panel/package-lock.json
Due: none

Bump version number
  composer.json
Due: none

Update composer dependencies
  composer.lock
  vendor/composer/InstalledVersions.php
  vendor/composer/installed.php
Due: none

Update translations
  i18n/translations/bg.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/eo.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/is_IS.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ro.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
Due: none
