Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fixes section html text when empty #3763
  panel/src/components/Sections/Sections.vue
Due: frontend

Ignore code coverage for real upload
  config/fields/files.php
Due: backend

Update cacert.pem
  cacert.pem
Due: none

Fixes block selector collapsable when no groups
  panel/src/components/Forms/Blocks/BlockSelector.vue
Due: frontend

Core component: email
  config/components.php
  src/Cms/App.php
  tests/Cms/App/AppComponentsTest.php
Due: backend

Accept emails and phone numbers in the Dom sanitizer
  src/Toolkit/Dom.php
  tests/Toolkit/DomTest.php
Due: backend

Check visible buttons for writer toolbar #3749
  panel/src/components/Forms/Writer/Toolbar.vue
Due: frontend

Add layout option to users field picker #3756
  config/fields/users.php
Due: backend

Use inline function only one option available #3768
  panel/src/components/Forms/Field/FilesField.vue
Due: frontend

Improve regex pattern
  src/Toolkit/Dom.php
Due: backend

Additional unit tests
  tests/Toolkit/DomTest.php
Due: none

Simplified test setup
  tests/Toolkit/DomTest.php
Due: none

Canonical language URLs in the Panel
  panel/src/components/Navigation/Languages.vue
  panel/src/fiber/app.js
  panel/src/fiber/index.js
Due: frontend

Add latest dist files
  panel/dist/css/style.css
  panel/dist/js/index.js
  panel/dist/js/vendor.js
Due: none

Update translations
  i18n/translations/fr.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/ru.json
  i18n/translations/tr.json
Due: none

Update composer deps
  composer.json
  composer.lock
  vendor/composer/InstalledVersions.php
  vendor/composer/installed.php
Due: none

Update dist files
  panel/dist/js/index.js
Due: none

Update dist file again
  panel/dist/js/index.js
Due: none

Accept `null` param on `->panel()->image()` method #3782
  src/Cms/File.php
  src/Cms/ModelWithContent.php
  src/Cms/User.php
  src/Panel/Model.php
Due: backend

Overwritable default block previews #3776
  panel/src/components/Forms/Blocks/Block.vue
Due: frontend

Don't cache fiber response #3734
  src/Panel/Panel.php
Due: backend

Always show the vertical scrollbar to avoid layout shifts
  panel/src/styles/reset.css
Due: frontend

Use Dom class in Parsley and improve parsing
  src/Parsley/Element.php
  src/Parsley/Inline.php
  src/Parsley/Parsley.php
  src/Parsley/Schema.php
  src/Parsley/Schema/Blocks.php
  src/Parsley/Schema/Plain.php
  src/Toolkit/Dom.php
Due: backend

Add unit tests for the element class
  tests/Parsley/ElementTest.php
Due: none

More Parsley tests
  src/Parsley/Inline.php
  src/Parsley/Schema.php
  tests/Parsley/SchemaTest.php
Due: backend

Minor plugins.js refactor
  panel/public/js/plugins.js
Due: none

Refactor Panel plugins loader
  panel/src/config/plugins.js
Due: frontend

Additional unit tests
  src/Parsley/Parsley.php
  tests/Parsley/InlineTest.php
  tests/Parsley/ParsleyTest.php
  tests/Parsley/Schema/PlainTest.php
Due: backend

Fix settings info box on mobile
  panel/src/components/Views/SettingsView.vue
Due: frontend

Use Prettier for Panel src formatting
  panel/.eslintrc.js
  panel/.prettierrc.json
  panel/package-lock.json
  panel/package.json
  panel/vite.config.js
Due: none

Add VSCode extension recommendations
  .gitignore
  .vscode/extensions.json
Due: none

Use Prettier as default formatter
  .vscode/settings.json
Due: none

More unit tests
  src/Parsley/Inline.php
  src/Parsley/Parsley.php
  tests/Parsley/ElementTest.php
  tests/Parsley/InlineTest.php
  tests/Parsley/ParsleyTest.php
Due: backend

Fix ESLint errors
  panel/.eslintrc.js
  panel/src/components/Forms/Field.vue
  panel/src/components/Forms/Toolbar/LinkDialog.vue
  panel/src/components/Navigation/Pagination.vue
  panel/src/components/Views/UserView.vue
  panel/src/helpers/string.js
Due: frontend

Fix attr removal of last commit
  panel/src/components/Forms/Toolbar/LinkDialog.vue
Due: frontend

Unit tests for the Blocks schema
  src/Parsley/Schema/Blocks.php
  tests/Parsley/Schema/BlocksTest.php
Due: backend

Improve accuracy of `HasChildren` docblocks
  src/Cms/HasChildren.php
Due: backend

Add option 'languages.fallback' for autodetection
  src/Cms/App.php
Due: backend

Remove faililing table test
  tests/Parsley/Schema/BlocksTest.php
Due: none

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
