Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

refact: `k-button` apply all `aria-` attributes
  panel/src/components/Navigation/Button.vue
Due: frontend

fix: `Dom` for newer libxml versions
  src/Toolkit/Dom.php
Due: backend

refact: Apply suggestions from code review
  src/Toolkit/Dom.php
Due: backend

test: Use stubs instead of mocks
  tests/Api/ApiTest.php
  tests/Cms/Blueprints/FileBlueprintTest.php
  tests/Cms/File/FileRulesTest.php
  tests/Cms/Helpers/HelperFunctionsTest.php
  tests/Cms/Html/HtmlTest.php
  tests/Cms/Languages/LanguageRulesTest.php
  tests/Cms/Page/PageRulesTest.php
  tests/Cms/Site/SiteRulesTest.php
  tests/Cms/User/UserRulesTest.php
  tests/Image/Darkroom/ImagickTest.php
  tests/Query/Runners/DefaultRunnerTest.php
Due: none

test: Better locale set/reset
  tests/Api/ApiTest.php
  tests/Cms/App/AppTranslationsTest.php
  tests/Cms/Sections/FilesSectionTest.php
  tests/Cms/Sections/PagesSectionTest.php
  tests/Data/TxtTest.php
  tests/Data/YamlSymfonyTest.php
  tests/Data/YamlTest.php
  tests/bootstrap.php
Due: none

fix: Ensure `Remote::json()` return types
  src/Http/Remote.php
  tests/Http/RemoteTest.php
Due: backend

test: Use more specific Panel test case
  tests/Panel/Ui/Button/OpenButtonTest.php
  tests/Panel/Ui/Button/VersionsButtonTest.php
Due: none

test: Reset $_SERVER manipulation
  tests/Cms/App/AppLanguagesTest.php
Due: none

perf: Cache `Uuids::enabled()` result
  src/Cms/App.php
  src/Uuid/Uuids.php
Due: backend

fix: Populate UUID cache on model actions
  src/Cms/FileActions.php
  src/Cms/PageActions.php
  src/Uuid/PageUuid.php
  src/Uuid/Uuid.php
Due: backend

feat: `css('@snippets')`
  src/Cms/Html.php
  src/Cms/Url.php
Due: backend

deprecate: `Kirby\Http\Url::to()`
  src/Http/Url.php
Due: backend

feat: `$panel.urls.panel` state (#7800)
  panel/lab/internals/panel/urls/index.vue
  src/Panel/State.php
  tests/Panel/StateTest.php
Due: backend

refact: `k-button` apply all `aria-` attributes (#7801)
  panel/src/components/Navigation/Button.vue
Due: frontend

test: Use stubs instead of mocks (#7804)
  tests/Api/ApiTest.php
  tests/Cms/Blueprints/FileBlueprintTest.php
  tests/Cms/File/FileRulesTest.php
  tests/Cms/Helpers/HelperFunctionsTest.php
  tests/Cms/Html/HtmlTest.php
  tests/Cms/Languages/LanguageRulesTest.php
  tests/Cms/Page/PageRulesTest.php
  tests/Cms/Site/SiteRulesTest.php
  tests/Cms/User/UserRulesTest.php
  tests/Image/Darkroom/ImagickTest.php
  tests/Query/Runners/DefaultRunnerTest.php
Due: none

test: Better locale set/reset (#7805)
  tests/Api/ApiTest.php
  tests/Cms/App/AppTranslationsTest.php
  tests/Cms/Sections/FilesSectionTest.php
  tests/Cms/Sections/PagesSectionTest.php
  tests/Data/TxtTest.php
  tests/Data/YamlSymfonyTest.php
  tests/Data/YamlTest.php
  tests/bootstrap.php
Due: none

fix: Ensure `Remote::json()` return types (#7806)
  src/Http/Remote.php
  tests/Http/RemoteTest.php
Due: backend

test: Reset $_SERVER manipulation (#7807)
  tests/Cms/App/AppLanguagesTest.php
Due: none

Merge pull request #7808 from getkirby/perf/uuid-enabled-cache
  src/Cms/App.php
  src/Uuid/Uuids.php
Due: backend

fix: Writer toolbar position without Panel menu (#7799)
  panel/src/components/Forms/Writer/Toolbar.vue
Due: frontend

feat: New AcceptRules class
  src/Blueprint/AcceptRules.php
  src/Blueprint/Blueprint.php
Due: backend

refact: New Kirby\Blueprint\Sections class to handle section normalization
  src/Blueprint/Blueprint.php
  src/Blueprint/Sections.php
Due: backend

refact: New Kirby\Blueprint\Fields class to handle field normalization
  src/Blueprint/Blueprint.php
  src/Blueprint/Fields.php
Due: backend

refact: More props classes
  src/Blueprint/Blueprint.php
  src/Blueprint/ColumnProps.php
  src/Blueprint/ColumnsProps.php
  src/Blueprint/FieldProps.php
  src/Blueprint/Fields.php
  src/Blueprint/FieldsProps.php
  src/Blueprint/OptionsProps.php
  src/Blueprint/SectionProps.php
  src/Blueprint/Sections.php
  src/Blueprint/SectionsProps.php
  src/Blueprint/TabProps.php
  src/Blueprint/TabsProps.php
  tests/Blueprint/BlueprintTest.php
Due: backend

refact: New Kirby\Blueprint\Options class to handle option normalization
  src/Blueprint/Blueprint.php
  src/Blueprint/Options.php
Due: backend

first steps to lazy load props
  src/Blueprint/Blueprint.php
  src/Blueprint/FileBlueprint.php
  src/Blueprint/PageBlueprint.php
  src/Blueprint/SiteBlueprint.php
  src/Blueprint/UserBlueprint.php
Due: backend

feat: New Kirby\Reflection\DocComment class to parse docblock comments
  src/Reflection/DocComment.php
Due: backend

feat: New Kirby\Reflection\Field class to extract info about fields
  src/Reflection/Field.php
Due: backend

feat: Reflect new default value attribute if it exists
  src/Reflection/Attributes/DefaultValue.php
  src/Reflection/Field.php
Due: backend

first version
  config/areas/site/views.php
  panel/package-lock.json
  panel/src/components/Views/Blueprints/BlueprintFieldView.vue
  panel/src/components/Views/Blueprints/BlueprintFieldsView.vue
  panel/src/components/Views/Blueprints/BlueprintTabView.vue
  panel/src/components/Views/Blueprints/BlueprintView.vue
  panel/src/components/Views/Blueprints/index.js
  panel/src/components/Views/index.js
  src/Panel/Controller/Dropdown/PageSettingsDropdownController.php
  src/Panel/Controller/View/BlueprintFieldViewController.php
  src/Panel/Controller/View/BlueprintFieldsViewController.php
  src/Panel/Controller/View/BlueprintTabViewController.php
  src/Panel/Controller/View/BlueprintViewController.php
  src/Reflection/Field.php
Due: backend, frontend

feat: Warnings for all required PHP extensions
  i18n/translations/en.json
  panel/package-lock.json
  panel/src/components/Views/Installation/InstallationView.vue
  src/Cms/System.php
  src/Panel/Controller/View/InstallationViewController.php
  src/Panel/Controller/View/SystemViewController.php
  tests/Cms/System/SystemTest.php
  tests/Panel/Controller/View/InstallationViewControllerTest.php
Due: backend, frontend

refact: Move hasDiff check to fields section
  panel/src/components/Forms/Field.vue
  panel/src/components/Sections/FieldsSection.vue
Due: frontend

feat: Highlight label when field has diff
  panel/src/components/Forms/Field.vue
  panel/src/components/Text/Label.vue
Due: frontend

feat: Warnings for all required PHP extensions (#7812)
  i18n/translations/en.json
  panel/package-lock.json
  panel/src/components/Views/Installation/InstallationView.vue
  src/Cms/System.php
  src/Panel/Controller/View/InstallationViewController.php
  src/Panel/Controller/View/SystemViewController.php
  tests/Cms/System/SystemTest.php
  tests/Panel/Controller/View/InstallationViewControllerTest.php
Due: backend, frontend

refact: New style for highlighted labels
  panel/src/components/Text/Label.vue
Due: frontend
