Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Privacy friendly Video.vue
  panel/src/components/Blocks/Types/Video.vue
Due: frontend

Expose user files via `account` area
  config/areas/account.php
  src/Panel/File.php
  src/Panel/User.php
Due: backend

Add `account` area dialogs for files
  config/areas/account.php
Due: backend

Automatic `api.csrf` via `panel.dev` option
  config/helpers.php
  src/Cms/Auth.php
  src/Panel/View.php
  tests/Cms/Auth/AuthCsrfTest.php
Due: backend

Move code to new `Auth::csrfFromSession()`
  src/Cms/Auth.php
  src/Panel/View.php
  tests/Cms/Auth/AuthCsrfTest.php
Due: backend

Move RTL CSS rules to separate file
  panel/package-lock.json
  panel/package.json
  panel/scripts/postcss.js
  panel/vite.config.js
  src/Panel/Document.php
Due: backend

Fix LTR prefixed selectors
  panel/scripts/postcss.js
  panel/vite.config.js
Due: none

Unit test for RTL CSS asset file
  src/Panel/Document.php
  tests/Panel/DocumentTest.php
Due: backend

Assume ltr if no direction is set
  panel/src/components/Layout/Overlay.vue
  panel/src/config/i18n.js
Due: frontend

Fix dir selectors
  panel/scripts/postcss.js
  panel/vite.config.js
Due: none

Revert "Assume ltr if no direction is set"
  panel/src/components/Layout/Overlay.vue
  panel/src/config/i18n.js
Due: frontend

CSS: don't preserve logical properties for now
  panel/vite.config.js
Due: none

CSS: don't preserve logical properties for now (#3597)
  panel/vite.config.js
Due: none

CSS theme utility selectors
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Layout/Box.vue
  panel/src/components/Layout/Inside.vue
  panel/src/components/Misc/Headline.vue
  panel/src/components/Misc/Invalid.vue
  panel/src/components/Misc/StatusIcon.vue
  panel/src/components/Navigation/Button.vue
  panel/src/components/Navigation/Topbar.vue
  panel/src/config/components.js
  panel/src/styles/utilities.css
Due: frontend

CSS styles folder
  panel/src/index.js
  panel/src/styles/reset.css
  panel/src/styles/variables.css
Due: frontend

Replace cssnano with csso
  panel/package-lock.json
  panel/package.json
  panel/vite.config.js
Due: none

CSS utility: align
  panel/src/components/Blocks/Types/Table.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Input/TextareaInput.vue
  panel/src/components/Misc/Headline.vue
  panel/src/components/Misc/Icon.vue
  panel/src/components/Misc/Text.vue
  panel/src/components/Navigation/Pagination.vue
  panel/src/styles/utilities.css
Due: frontend

CSS: `[data-tabbed]` utility
  panel/src/components/Navigation/Button.vue
  panel/src/components/Navigation/Link.vue
  panel/src/styles/utilities.css
Due: frontend

Install cssnano
  panel/package-lock.json
  panel/package.json
  panel/vite.config.js
Due: none

Use `ratio` helper for structure column width
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/helpers/ratio.js
  panel/src/mixins/forms/structure.js
Due: frontend

Fix `ratio` helper tests
  panel/src/helpers/ratio.spec.js
Due: frontend

CSS: fix align utility
  panel/src/components/Blocks/Types/Table.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Misc/Text.vue
  panel/src/components/Navigation/DropdownContent.vue
  panel/src/components/Navigation/Pagination.vue
  panel/src/styles/utilities.css
Due: frontend

CSS: simplify `k-topbar`
  panel/src/components/Misc/Registration.vue
  panel/src/components/Navigation/Topbar.vue
Due: frontend

Instant fields
  panel/dist/js/index.js
  panel/src/components/Sections/FieldsSection.vue
  src/Form/Field.php
  src/Panel/Model.php
Due: backend, frontend

Refactor `k-item`
  panel/src/components/Layout/Item.vue
  panel/src/components/Navigation/Tag.vue
Due: frontend

Refactor `k-user-view`
  panel/src/components/Views/UserView.vue
Due: frontend

`k-button` support `click` prop
  panel/src/components/Navigation/Button.vue
  panel/src/components/Navigation/ButtonNative.vue
Due: frontend

`k-button` text from prop
  panel/src/components/Navigation/Button.vue
Due: frontend

`k-button-group` buttons via prop
  panel/src/components/Navigation/ButtonGroup.vue
Due: frontend

Use `k-button-group` more with prop
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Forms/Upload.vue
  panel/src/components/Navigation/PrevNext.vue
Due: frontend

Use more `k-button` with `text` prop
  panel/src/components/Blocks/BlockFigure.vue
  panel/src/components/Blocks/BlockSelector.vue
  panel/src/components/Drawers/Drawer.vue
  panel/src/components/Forms/Calendar.vue
  panel/src/components/Forms/Field/PagesField.vue
  panel/src/components/Forms/Field/SlugField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Field/UsersField.vue
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Forms/Input/MultiselectInput.vue
  panel/src/components/Misc/Fatal.vue
  panel/src/components/Misc/StatusIcon.vue
  panel/src/components/Navigation/Languages.vue
  panel/src/components/Navigation/Search.vue
  panel/src/components/Navigation/Topbar.vue
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/PagesSection.vue
  panel/src/components/Views/FileView.vue
  panel/src/components/Views/InstallationView.vue
  panel/src/components/Views/PageView.vue
  panel/src/components/Views/SettingsView.vue
  panel/src/components/Views/SiteView.vue
  panel/src/components/Views/UserView.vue
  panel/src/components/Views/UsersView.vue
Due: frontend

Fix file icon size in `k-file-preview`
  panel/src/components/Layout/FilePreview.vue
  src/Panel/File.php
Due: backend, frontend

Fix dimensions and orientation for non-images
  src/Panel/File.php
Due: backend

`k-file-preview`: clean CSS, details from backend
  panel/src/components/Layout/FilePreview.vue
  panel/src/components/Views/FileView.vue
  src/Panel/File.php
  tests/Panel/FileTest.php
Due: backend, frontend

Fix frontend test
  panel/src/components/Views/FileView.spec.js
Due: frontend

Fix preview url frontend test
  panel/src/components/Views/FileView.vue
Due: frontend

Instant info section
  config/sections/info.php
  panel/src/components/Sections/InfoSection.vue
  src/Panel/Model.php
Due: backend, frontend

Fixed search
  panel/src/components/Navigation/Search.vue
Due: frontend

Fix info section unit tests
  tests/Cms/Sections/InfoSectionTest.php
Due: none
