Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Use ../ token for relative paths with unrelated bases
  src/Toolkit/F.php
  tests/Toolkit/FTest.php
Due: backend

Added test for pure ancestor of relativepath
  tests/Toolkit/FTest.php
Due: none

Suppress warning about using count() in while loop
  src/Toolkit/F.php
Due: backend

Handle situation where folder path ends in /
  src/Toolkit/F.php
  tests/Toolkit/FTest.php
Due: backend

Apply suggestions from code review
  src/Toolkit/F.php
Due: backend

Style fix
  src/Toolkit/F.php
Due: backend

Ignore trailing slashes on F::relativepath()
  src/Toolkit/F.php
  tests/Toolkit/FTest.php
Due: backend

Update src/Toolkit/F.php
  src/Toolkit/F.php
Due: backend

Inline $parentToken variable
  src/Toolkit/F.php
Due: backend

Fix return type for `App::translation()`
  src/Cms/AppTranslations.php
Due: backend

`page.php` API routes: fix check for deprecation
  config/api/routes/pages.php
Due: backend

Refactored table block with structure field #3323 #3324
  panel/src/components/Blocks/Types/Table.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/mixins/forms/structure.js
Due: frontend

Better image and icon defaults for panel models and fixed user avatar loading
  config/areas/users.php
  src/Panel/Model.php
  src/Panel/User.php
  tests/Panel/ModelTest.php
  tests/Panel/UserTest.php
Due: backend

Update page sections on `page.sort` #3399
  panel/src/components/Sections/PagesSection.vue
Due: frontend

Update files sections on `file.sort`
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/PagesSection.vue
Due: frontend

Refactored block table with structure field #3323 #3324
  panel/src/components/Blocks/Types/Table.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/mixins/forms/structure.js
Due: frontend

Use double quotes in Marks/Email.js
  panel/src/components/Writer/Marks/Email.js
Due: frontend

Add email mark to Writer field
  panel/src/components/Writer/Dialogs/EmailDialog.vue
  panel/src/components/Writer/Marks/Email.js
  panel/src/components/Writer/Writer.vue
Due: frontend

Translate email and title strings
  panel/src/components/Writer/Dialogs/EmailDialog.vue
Due: frontend

Move EmailDialog component to correct place
  panel/src/components/Writer/Writer.vue
Due: frontend

Fix for invalid redirects
  src/Panel/Panel.php
Due: backend

strip tags on `OptionsApi` with new callback feature on `Str::template()` method #3278
  src/Form/OptionsApi.php
  src/Toolkit/Str.php
Due: backend

Supports HTML for toggle and checkbox field labels #3278
  panel/src/components/Forms/Input/CheckboxInput.vue
  panel/src/components/Forms/Input/ToggleInput.vue
Due: frontend

`$fallback` param to `$options` with new extends #3278
  src/Form/OptionsApi.php
  src/Toolkit/Str.php
Due: backend

Move callback into fallback #3278
  src/Form/OptionsApi.php
  src/Toolkit/Str.php
Due: backend

Return empty tab as object
  src/Panel/Model.php
Due: backend

Fix box background
  panel/src/components/Layout/Box.vue
Due: frontend

Fix translation for blueprint info box
  i18n/translations/en.json
  panel/src/components/Views/UserView.vue
Due: frontend

Fix tab definition for model views
  panel/src/components/Views/ModelView.vue
  src/Panel/Model.php
  tests/Panel/Areas/SiteTest.php
  tests/Panel/FileTest.php
  tests/Panel/PageTest.php
  tests/Panel/UserTest.php
Due: backend, frontend

Add focus ring to dropdown items
  panel/src/components/Navigation/DropdownItem.vue
Due: frontend

`light` theme for `k-dropdown-content`
  panel/src/components/Forms/FormIndicator.vue
  panel/src/components/Navigation/DropdownContent.vue
  panel/src/components/Navigation/Topbar.vue
Due: frontend

Add `k-options-dropdown`
  panel/src/components/Navigation/OptionsDropdown.vue
  panel/src/config/components.js
Due: frontend

Refine `k-options-dropdown`
  panel/src/components/Navigation/OptionsDropdown.vue
Due: frontend

Use `k-options-dropdown` for Files field
  panel/src/components/Forms/Field/FilesField.vue
  panel/src/components/Forms/Field/PagesField.vue
  panel/src/components/Forms/Field/UsersField.vue
  panel/src/components/Navigation/OptionsDropdown.vue
  panel/src/mixins/forms/picker.js
Due: frontend

Fixes writer field empty state #3365
  panel/src/components/Writer/Editor.js
Due: frontend

`css.color` JS helper
  panel/src/helpers/css.js
  panel/src/helpers/css.spec.js
Due: frontend

Use `css.color` helper for `k-icon`
  panel/src/components/Misc/Icon.vue
  panel/src/helpers/css.spec.js
Due: frontend

`Str::contains`: use `strpos` instead
  src/Toolkit/Str.php
Due: backend

Register actual `$helper.color`
  panel/src/components/Misc/Icon.vue
  panel/src/helpers/color.js
  panel/src/helpers/color.spec.js
  panel/src/helpers/index.js
Due: frontend

Silent Fiber requests
  panel/src/components/Forms/FormButtons.vue
  panel/src/config/fiber.js
Due: frontend
