Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Simplify passing an empty user
  src/Content/Lock.php
Due: backend

New Lock::isEnabled
  src/Content/Lock.php
  tests/Content/LockTest.php
Due: backend

Don’t add the lock info if locking is disabled
  src/Content/Version.php
Due: backend

Always leave the lock open if locking is disabled
  src/Content/Lock.php
  tests/Content/LockTest.php
Due: backend

Remove fieldName in favor of field.name
  panel/src/components/Forms/Fieldset.vue
Due: frontend

Remove more Vuex-related code
  config/areas/files/dialogs.php
  config/areas/site/dialogs.php
  config/areas/users/dialogs.php
  panel/src/panel/app.js
  panel/src/panel/modal.js
  tests/Panel/Areas/FileDialogsTest.php
  tests/Panel/Areas/PageDialogsTest.php
  tests/Panel/Areas/UsersDialogsTest.php
Due: backend, frontend

Remove Vuex
  panel/package-lock.json
  panel/package.json
  panel/src/components/Views/Login/LoginView.vue
  panel/src/index.js
  panel/src/store/modules/content.js
  panel/src/store/store.js
Due: frontend

Block focus point in image file preview when the model is locked
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Files/ImageFilePreview.vue
Due: frontend

Block all form methods if the content is locked
  panel/src/components/Views/ModelView.vue
Due: frontend

`api.methodOverwrite ` config option and check
  config/api/routes/system.php
  i18n/translations/en.json
  panel/src/api/index.js
  panel/src/components/Views/System/SystemSecurity.vue
  src/Panel/View.php
Due: backend, frontend

Change default of `api.methodOverwrite` to `true`
  src/Panel/View.php
Due: backend

Update Plugin.php
  src/Cms/Plugin.php
Due: backend

Update AppPlugins.php
  src/Cms/AppPlugins.php
Due: backend

Revert "Remove fieldName in favor of field.name"
  panel/src/components/Forms/Fieldset.vue
Due: frontend

Use fieldName as key
  panel/src/components/Forms/Fieldset.vue
Due: frontend

Move page: allow parent without any pages sections
  src/Cms/PageRules.php
Due: backend

Fix cache for `$page->isListable()` etc
  src/Cms/File.php
  src/Cms/Page.php
Due: backend

Add unit test
  tests/Cms/Pages/PageRulesTest.php
Due: none

Move `changeExtension` logic into `manipulate` method #6715
  src/Cms/FileActions.php
  tests/Cms/Files/FileActionsTest.php
  tests/Cms/Files/fixtures/files/test.mp4
Due: backend

Add unit test for manipulating non images
  tests/Cms/Files/FileActionsTest.php
Due: none

Remove old Lock classes
  config/api/routes.php
  config/api/routes/lock.php
  src/Cms/App.php
  src/Cms/ContentLock.php
  src/Cms/ContentLocks.php
  src/Cms/FileActions.php
  src/Cms/ModelWithContent.php
  src/Cms/PageActions.php
  src/Panel/Model.php
  tests/Cms/Api/routes/LockRoutesTest.php
  tests/Cms/Content/ContentLockTest.php
  tests/Cms/Content/ContentLocksTest.php
  tests/Cms/Models/ModelWithContentTest.php
  tests/Cms/Pages/PageActionsTest.php
  tests/Panel/FileTest.php
  tests/Panel/PageTest.php
  tests/Panel/UserTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

Fix unit tests
  src/Cms/File.php
  src/Cms/Page.php
  tests/Form/Fields/Mixins/PagePickerMixinTest.php
Due: backend

Return `Lock ` object from `Panel\Model::lock()`
  src/Panel/Model.php
  tests/Panel/FileTest.php
  tests/Panel/ModelTest.php
  tests/Panel/PageTest.php
  tests/Panel/UserTest.php
Due: backend

Move `::lock()` to `ModelWithContent`
  src/Cms/ModelWithContent.php
  src/Panel/Model.php
  tests/Cms/Models/ModelWithContentTest.php
  tests/Panel/FileTest.php
  tests/Panel/ModelTest.php
  tests/Panel/PageTest.php
  tests/Panel/UserTest.php
Due: backend

Deprecate `$model->isLocked()` method
  src/Cms/ModelWithContent.php
Due: backend

Add more unit tests that related manipulate process
  tests/Cms/Files/FileActionsTest.php
  tests/Cms/Files/fixtures/files/doc.pdf
  tests/Cms/Files/fixtures/files/test.pdf
Due: none

Satisfy CI for now
  tests/Cms/Models/ModelWithContentTest.php
Due: none

Clean up PagePickerMixinTest
  tests/Form/Fields/Mixins/PagePickerMixinTest.php
Due: none

Remove `Panel\Controller\Changes::unlock()`
  config/areas/account/requests.php
  config/areas/files/requests.php
  config/areas/site/requests.php
  config/areas/users/requests.php
  src/Panel/Controller/Changes.php
Due: backend

Merge `Api` classes
  config/fields/mixins/upload.php
  src/Api/Api.php
  src/Api/Model.php
  src/Cms/Api.php
  src/Cms/App.php
  tests/Api/ApiTest.php
  tests/Api/CollectionTestCase.php
  tests/Api/ModelTestCase.php
  tests/Api/collections/ChildrenCollectionTest.php
  tests/Api/collections/FilesCollectionTest.php
  tests/Api/collections/LanguagesCollectionTest.php
  tests/Api/collections/PagesCollectionTest.php
  tests/Api/collections/RolesCollectionTest.php
  tests/Api/collections/TranslationsCollectionTest.php
  tests/Api/collections/UsersCollectionTest.php
  tests/Api/models/FileBlueprintModelTest.php
  tests/Api/models/FileModelTest.php
  tests/Api/models/FileVersionModelTest.php
  tests/Api/models/PageBlueprintModelTest.php
  tests/Api/models/PageModelTest.php
  tests/Api/models/SiteModelTest.php
  tests/Api/models/UserBlueprintModelTest.php
  tests/Api/models/UserModelTest.php
  tests/Api/routes/AccountRoutesTest.php
  tests/Api/routes/AuthRoutesTest.php
  tests/Api/routes/LanguagesRoutesTest.php
  tests/Api/routes/LockRoutesTest.php
  tests/Api/routes/PagesRoutesTest.php
  tests/Api/routes/RolesRoutesTest.php
  tests/Api/routes/SiteRoutesTest.php
  tests/Api/routes/SystemRoutesTest.php
  tests/Api/routes/TranslationsRoutesTest.php
  tests/Api/routes/UsersRoutesTest.php
  tests/Api/routes/fixtures/avatar.jpg
  tests/Cms/Api/ApiTest.php
  tests/Cms/Api/collections/TranslationsApiCollectionTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

Normalize license code #6722
  src/Cms/License.php
  tests/Cms/System/LicenseTest.php
Due: backend

cs tweaks
  src/Content/Version.php
Due: backend

Simplify `ContentStorageHandler::from()`
  src/Content/ContentStorageHandler.php
Due: backend

Fix `Page::isMovableTo()`
  src/Cms/Page.php
Due: backend

`Panel\Field::role()` allow passing `$roles`
  src/Panel/Field.php
Due: backend

Use correct roles collections
  config/areas/users/dialogs.php
Due: backend

Role field: always use radio input
  src/Panel/Field.php
Due: backend

Fix cs
  src/Panel/Field.php
Due: backend

Add another unit test
  tests/Panel/Areas/UsersDialogsTest.php
Due: none
