Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Make Menu less dependant on the Kirby instance
  src/Panel/Fiber.php
  src/Panel/Ui/Menu.php
  tests/Panel/Ui/MenuTest.php
Due: backend

Fix logic for the compiler warning
  config/areas/system/views.php
  tests/Panel/Areas/SystemTest.php
Due: backend

Yet another try 🙈
  config/areas/system/views.php
  tests/Panel/Areas/SystemTest.php
Due: backend

Upgrade vitest
  panel/package-lock.json
  panel/package.json
Due: none

Always check current password of current user
  config/areas/users/dialogs.php
  i18n/translations/en.json
Due: backend

Use always `date` handler for changes timestamp #6937
  src/Content/Lock.php
Due: backend

Fix broken lock prop
  panel/src/components/Sections/FieldsSection.vue
Due: frontend

Fix the move action in the content module
  panel/src/store/modules/content.js
Due: frontend

fix: malformed header in Response class
  src/Http/Response.php
Due: backend

Switch class structure from array
  config/fields/entries.php
  i18n/translations/en.json
  panel/src/components/Forms/Field/EntriesField.vue
  src/Cms/Core.php
  src/Form/Field/EntriesField.php
Due: backend, frontend

New `entries` field
  config/fields/entries.php
  panel/src/components/Forms/Field/EntriesField.vue
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
Due: backend, frontend

Add entries validation
  i18n/translations/en.json
  src/Form/Field/EntriesField.php
Due: backend

Fix disabled state for remove button
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Skip unsupported field types
  src/Form/Field/EntriesField.php
Due: backend

Refactor entries field to use unique ids for each item
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Don’t use double quotes
  src/Form/Field/EntriesField.php
Due: backend

Focus and sorting
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Sort methods alphabetically
  panel/src/components/Forms/Field/EntriesField.vue
  src/Form/Field/EntriesField.php
Due: backend, frontend

Support select fields
  src/Form/Field/EntriesField.php
Due: backend

Use the field component instead of the input
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Don’t render the header if it is not needed
  panel/src/components/Forms/Field.vue
Due: frontend

Add remove all ability
  i18n/translations/en.json
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Simplify background color
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Only focus when possible
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Fix dark mode issue
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Extend support for more field types
  src/Form/Field/EntriesField.php
Due: backend

Copy All dropdown item
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Empty field when backspace keydown
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Hide buttons when there’s not enough space
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Revert "Empty field when backspace keydown"
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Use dropdown like in the blocks field
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Remove unused imports
  tests/Form/Fields/EntriesFieldTest.php
Due: none

Add more unit tests
  tests/Form/Fields/EntriesFieldTest.php
Due: none

Add unit tests for entries field
  src/Form/Field/EntriesField.php
  tests/Form/Fields/EntriesFieldTest.php
Due: backend

Remove invalid tests
  tests/Form/Fields/EntriesFieldTest.php
Due: none

Add paste ability to easy adding new entries
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Fix CI style
  tests/Form/Fields/EntriesFieldTest.php
Due: none

Revert "Switch to `shift+enter` from `enter` with adapt color and date input"
  panel/src/components/Forms/Field/EntriesField.vue
  panel/src/components/Forms/Input/ColornameInput.vue
  panel/src/components/Forms/Input/DateInput.vue
Due: frontend

Remove enter keydown to prevent conflicts with date/color fields
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Switch to `shift+enter` from `enter` with adapt color and date input
  panel/src/components/Forms/Field/EntriesField.vue
  panel/src/components/Forms/Input/ColornameInput.vue
  panel/src/components/Forms/Input/DateInput.vue
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
