Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Move logic into batch mixin
  config/sections/files.php
  config/sections/mixins/batch.php
  config/sections/pages.php
Due: backend

Close selection mode if another section opens theirs
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Use new models & modelsPaginated distinction to get access to both
  config/sections/files.php
  config/sections/pages.php
Due: backend

Simplify code
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Reload the section on error as well
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Add unit tests
  tests/Cms/Sections/mixins/BatchSectionMixinTest.php
Due: none

Improve the error messages for batch processes
  src/Cms/Files.php
  src/Cms/Pages.php
  src/Exception/Exception.php
Due: backend

Better visual selected state for table rows
  panel/src/components/Layout/Table.vue
  panel/src/styles/config/colors.css
Due: frontend

Add translations for the confirmation dialog
  i18n/translations/en.json
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Fix selectable examples
  panel/lab/components/items/1_list/index.vue
  panel/lab/components/items/2_cards/index.vue
  panel/lab/components/items/3_cardlets/index.vue
  panel/lab/components/items/4_table/index.vue
  panel/lab/components/items/index.php
Due: none

Improve selected state for items
  panel/src/components/Collection/Item.vue
Due: frontend

Test the new getDetails behavior
  tests/Exception/ExceptionTest.php
Due: none

Add sortable example
  panel/lab/components/tables/4_component/index.vue
Due: none

Add lab examples for selectable item
  panel/lab/components/item/1_list/index.vue
  panel/lab/components/item/2_cards/index.vue
  panel/lab/components/item/3_cardlets/index.vue
Due: none

Move `$app->roles()` to `AppUsers` trait
  src/Cms/App.php
  src/Cms/AppUsers.php
  tests/Cms/App/AppRolesTest.php
  tests/Cms/App/AppUsersTest.php
Due: backend

New `$app->role()` method
  src/Cms/AppUsers.php
  tests/Cms/App/AppUsersTest.php
Due: backend

Use new `$app->role()` method in core code
  config/areas/languages/views.php
  src/Cms/File.php
  src/Cms/Page.php
Due: backend

Ahmet’s Baseline
  config/api/routes/languages.php
  src/Cms/Api.php
  src/Cms/Find.php
  src/Cms/Language.php
  src/Cms/LanguagePermissions.php
  src/Cms/ModelPermissions.php
  src/Cms/Permissions.php
  src/Cms/User.php
  tests/Cms/Api/ApiTest.php
Due: backend

Align docblock wording
  src/Cms/File.php
  src/Cms/Language.php
  src/Cms/Page.php
  src/Cms/User.php
Due: backend

Consistently cache accessibility by current role
  src/Cms/Language.php
  src/Cms/User.php
Due: backend

Handle permission checks in `LanguageRules`
  src/Cms/Language.php
  src/Cms/LanguageRules.php
Due: backend

Colors: add substeps
  panel/lab/basics/design/colors/index.php
  panel/lab/basics/design/colors/index.vue
  panel/src/styles/config/colors.css
  panel/src/styles/utilities/theme.css
Due: frontend

Remove `--color-l-max/min`
  panel/src/components/Collection/Item.vue
  panel/src/components/Forms/Toolbar/Toolbar.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/styles/config/colors.css
Due: frontend

Increase contrast of button icon once more
  panel/src/styles/config/colors.css
Due: frontend

Support buttons columns for tbale items layout
  config/sections/mixins/layout.php
  panel/lab/components/fieldpreviews/flag/index.php
  panel/lab/components/fieldpreviews/flag/index.vue
  panel/src/components/Collection/Items.vue
  panel/src/components/Forms/Previews/FlagFieldPreview.vue
  panel/src/components/Forms/Previews/index.js
  panel/src/components/Layout/Table.vue
Due: backend, frontend

Fix coding style and comment wording
  src/Cms/File.php
  src/Cms/Language.php
  src/Cms/Page.php
Due: backend

New `LanguagePermissions` class
  src/Cms/Language.php
  src/Cms/LanguagePermissions.php
  src/Cms/LanguageRules.php
  src/Cms/ModelPermissions.php
  tests/Cms/Languages/LanguagePermissionsTest.php
  tests/Cms/Languages/LanguageRulesTest.php
Due: backend

Fix `UserPermissions` unit test
  tests/Cms/Users/UserPermissionsTest.php
Due: none

New access and list permissions
  src/Cms/Language.php
  src/Cms/Permissions.php
  src/Cms/Site.php
  src/Cms/User.php
Due: backend

Check permissions in API and Fiber
  config/api/routes/languages.php
  src/Cms/Api.php
  src/Cms/Find.php
  tests/Cms/Api/ApiTest.php
Due: backend

Fix console error when no buttons available #6863
  panel/src/components/Forms/Writer/Toolbar.vue
Due: frontend

Fix `set()` use
  panel/src/components/Forms/Field/ObjectField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/panel/drawer.js
Due: frontend

Fix missing emit definition
  panel/src/components/Forms/Blocks/Block.vue
Due: frontend

Drawers: Fix passthrough options slot
  panel/src/components/Drawers/FormDrawer.vue
  panel/src/components/Drawers/TextDrawer.vue
Due: frontend

Fix content lock errors
  panel/src/panel/content.js
Due: frontend

Block options: fix tabbing from sort handle
  panel/src/components/Forms/Blocks/BlockOptions.vue
Due: frontend

Stucture field: fix preview input when paginated
  panel/src/components/Forms/Field/StructureField.vue
Due: frontend

User profile: fix opening role dialog
  panel/src/components/Views/Users/UserProfile.vue
Due: frontend

File preview: fix aspect ratio for medium viewports
  panel/src/components/Views/Files/FilePreviewFrame.vue
Due: frontend

System view: plugin license status separate column
  config/areas/system/views.php
  panel/src/components/Views/System/SystemPlugins.vue
  panel/src/components/Views/System/TableLicenseCell.vue
  panel/src/components/Views/System/TableLicenseStatusCell.vue
  panel/src/components/Views/System/index.js
  src/Plugin/LicenseStatus.php
  tests/Panel/Areas/SystemTest.php
Due: backend, frontend
