Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Replace the setTimeout with two next ticks
  panel/src/components/Drawers/FormDrawer.vue
Due: frontend

Accept mixed values for default
  config/fields/object.php
Due: backend

Only set values for fields with defaults
  panel/src/components/Forms/Field/ObjectField.vue
Due: frontend

Reconstruct the multiselect input improvements and simplify focus code
  panel/src/components/Drawers/FormDrawer.vue
  panel/src/components/Forms/Input/MultiselectInput.vue
Due: frontend

Fix coding style
  panel/src/components/Layout/TableUpdateStatusCell.vue
Due: frontend

Update status dropdown: Translatable labels
  i18n/translations/en.json
  panel/src/components/Layout/TableUpdateStatusCell.vue
Due: frontend

UpdateStatus: Use `pluginName` prop naming
  panel/src/components/Layout/TableUpdateStatusCell.vue
  src/Cms/System/UpdateStatus.php
Due: backend, frontend

Fix unit tests
  tests/Panel/Areas/AreaTestCase.php
  tests/Panel/Areas/SystemTest.php
Due: none

Unit tests for `System::updateStatus()`
  tests/Cms/System/SystemTest.php
  tests/Cms/System/fixtures/updateStatus/security.json
Due: none

Fix tags field focus issue within object field #4681
  panel/src/components/Forms/Input/TagsInput.vue
Due: frontend

Remove console.log
  panel/src/helpers/string.js
Due: frontend

Populate the UUID cache when a UUID is printed
  src/Uuid/Uuid.php
Due: backend

New V::uuid validator
  src/Toolkit/V.php
  tests/Toolkit/VTest.php
Due: backend

Fix cs
  tests/Toolkit/VTest.php
Due: none

Fix `Uuid::is()`
  src/Uuid/Uuid.php
  tests/Uuid/UuidTest.php
Due: backend

UUID: fix changing page slug
  src/Cms/PageActions.php
Due: backend

Fix `->findBy()` for UUID object
  src/Toolkit/Collection.php
  tests/Uuid/HasUuidsTest.php
Due: backend

Remove reference to Nano
  src/Uuid/Uuid.php
Due: backend

Coding style and wording fix
  src/Uuid/Uuid.php
Due: backend

Add `@since` tags
  src/Cms/Plugin.php
  src/Cms/System.php
  src/Cms/System/UpdateStatus.php
Due: backend

System view: Print update check errors to console
  config/areas/system/views.php
  panel/src/components/Views/SystemView.vue
  src/Cms/System/UpdateStatus.php
Due: backend, frontend

Initialize exceptions after running logic
  config/areas/system/views.php
Due: backend

Cleanup
  config/areas/system/views.php
  src/Cms/System/UpdateStatus.php
Due: backend

Minor fixes
  src/Cms/Plugin.php
  src/Cms/System/UpdateStatus.php
Due: backend

More unit tests
  tests/Cms/Plugins/PluginTest.php
  tests/Cms/Plugins/fixtures/plugin-version/composer.json
  tests/Cms/Plugins/fixtures/updateStatus/plugins/getkirby/public.json
  tests/Cms/System/SystemTest.php
  tests/Panel/Areas/SystemTest.php
Due: none

Use Page::updateParentCollections in save method
  src/Cms/FileActions.php
  src/Cms/ModelWithContent.php
  src/Cms/PageActions.php
Due: backend

Don’t use language specific URLs for permalinks
  src/Uuid/ModelUuid.php
Due: backend

Less strict `Uuid::is()`
  src/Uuid/Uuid.php
Due: backend

Fix in `Cms\Collection` instead
  src/Cms/Collection.php
  src/Toolkit/Collection.php
Due: backend

Bring back `DS`
  config/setup.php
Due: backend

Update check: hide button if no url
  panel/src/components/Layout/TableUpdateStatusCell.vue
Due: frontend

Remove `mixed` as return type
  src/Api/Api.php
  src/Blueprint/Collection.php
  src/Blueprint/Factory.php
  src/Blueprint/Node.php
  src/Cache/Cache.php
  src/Cache/Value.php
  src/Cms/Api.php
  src/Cms/Plugin.php
  src/Filesystem/F.php
  src/Filesystem/IsFile.php
  src/Http/Environment.php
  src/Http/Remote.php
  src/Http/Request.php
  src/Http/Request/Data.php
  src/Http/Route.php
  src/Http/Router.php
  src/Http/Uri.php
  src/Http/Url.php
  src/Option/OptionsProvider.php
  src/Text/KirbyTag.php
  src/Toolkit/A.php
Due: backend

Remove remaining `mixed` type hints
  src/Api/Api.php
  src/Api/Collection.php
  src/Api/Model.php
  src/Blueprint/Factory.php
  src/Blueprint/Node.php
  src/Cache/ApcuCache.php
  src/Cache/Cache.php
  src/Cache/FileCache.php
  src/Cache/MemCached.php
  src/Cache/MemoryCache.php
  src/Cache/NullCache.php
  src/Cache/Value.php
  src/Cms/Api.php
  src/Cms/Helpers.php
  src/Cms/Nest.php
  src/Data/Data.php
  src/Data/Handler.php
  src/Data/Json.php
  src/Data/PHP.php
  src/Data/Txt.php
  src/Data/Xml.php
  src/Data/Yaml.php
  src/Filesystem/F.php
  src/Http/Environment.php
  src/Http/Remote.php
  src/Http/Request.php
  src/Http/Request/Data.php
  src/Http/Uri.php
  src/Panel/Dialog.php
  src/Panel/Dropdown.php
  src/Panel/Json.php
  src/Panel/Panel.php
  src/Panel/Search.php
  src/Panel/View.php
  src/Text/KirbyTag.php
  src/Toolkit/A.php
Due: backend

Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

System view: improve console messages
  panel/src/components/Views/SystemView.vue
Due: frontend

Update panel/src/components/Views/SystemView.vue
  panel/src/components/Views/SystemView.vue
Due: frontend

Improve doc block
  src/Cms/Collection.php
Due: backend

Add unit test to collection class
  tests/Cms/Collections/CollectionTest.php
Due: none

Update dependencies and translations
  composer.json
  composer.lock
  i18n/translations/bg.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/eo.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/is_IS.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
  panel/dist/css/style.css
  panel/dist/js/index.js
  panel/dist/js/vendor.js
  vendor/composer/installed.php
Due: none

Add missing `@since` tags
  src/Cms/File.php
  src/Cms/ModelWithContent.php
  src/Cms/Page.php
  src/Uuid/FileUuid.php
  src/Uuid/HasUuids.php
  src/Uuid/Identifiable.php
  src/Uuid/ModelUuid.php
  src/Uuid/PageUuid.php
  src/Uuid/SiteUuid.php
  src/Uuid/Uri.php
  src/Uuid/UserUuid.php
  src/Uuid/Uuid.php
  src/Uuid/Uuids.php
Due: backend
