Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Move ::write and ::ensure into ContentStorageHandler class
  src/Content/ContentStorageHandler.php
  src/Content/PlainTextContentStorageHandler.php
  tests/Content/PlainTextContentStorageHandlerTest.php
  tests/Content/TestContentStorageHandler.php
Due: backend

First draft for a new MemoryContentStorageHandler
  src/Content/MemoryContentStorageHandler.php
Due: backend

Use ContentStorageHandler::ensure in Version class
  src/Content/Version.php
Due: backend

Add unit tests for the MemoryContentStorageHandler
  tests/Content/MemoryContentStorageHandlerTest.php
Due: none

Add unit tests
  tests/Content/MemoryContentStorageHandlerTest.php
Due: none

Fix return type of Version::ensure and ContentStorageHandler::ensure
  src/Content/ContentStorageHandler.php
  src/Content/Version.php
Due: backend

Improve Language::ensure and fix unit tests
  src/Cms/Language.php
  src/Content/Version.php
  tests/Content/VersionTest.php
Due: backend

New Language::ensure() method
  src/Cms/Language.php
  src/Cms/ModelWithContent.php
  src/Content/Version.php
  tests/Cms/Languages/LanguageTest.php
Due: backend

New Languages::ensure()
  src/Cms/Languages.php
  src/Content/ContentStorageHandler.php
  tests/Cms/Languages/LanguagesTest.php
Due: backend

Unit tests for new Languages::ensure() method
  tests/Cms/Languages/LanguagesTest.php
Due: none

Fix CS issue
  src/Content/Version.php
Due: backend

Added test for the default language
  tests/Content/VersionTest.php
Due: none

Add todo as a reference for later.
  src/Content/Version.php
Due: backend

Add an early return to avoid further code execution
  src/Content/Version.php
Due: backend

Cover single language code path
  tests/Content/VersionTest.php
Due: none

Fix test failures
  tests/Cms/Languages/LanguageConversionTest.php
  tests/Content/PlainTextContentStorageHandlerTest.php
  tests/Content/VersionTest.php
Due: none

Add ::dynamicVersions to ContentStorageHandler class
  src/Content/ContentStorageHandler.php
  tests/Content/ContentStorageHandlerTest.php
  tests/Content/TestContentStorageHandler.php
Due: backend

Add ::moveLanguage from ContentStorage to ContentStorageHandler (formerly known as ::convertLanguage)
  src/Content/ContentStorageHandler.php
Due: backend

Add ::deleteLanguage from ContentStorage to ContentStorageHandler
  src/Content/ContentStorageHandler.php
Due: backend

Add ::all to the ContentStorageHandler and test it
  src/Content/ContentStorageHandler.php
  tests/Content/ContentStorageHandlerTest.php
Due: backend

Add ::touchLanguage from ContentStorage to ContentStorageHandler
  src/Content/ContentStorageHandler.php
Due: backend

Refactor common methods into a Content\TestCase class
  tests/Content/PlainTextContentStorageHandlerTest.php
  tests/Content/TestCase.php
  tests/Content/TestContentStorageHandler.php
  tests/Content/VersionTest.php
Due: none

Remove $app property after unit test refactoring
  tests/Content/TestCase.php
Due: none

Add unit tests for ::deleteLanguage, ::moveLanguage, ::touchLanguage
  tests/Content/ContentStorageHandlerTest.php
Due: none

Preflight for 4.3.0
  composer.json
  composer.lock
  i18n/translations/bg.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/eo.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/is_IS.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ro.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
  vendor/composer/installed.php
Due: none

Update composer dependencies
  composer.json
  composer.lock
  vendor/bin/yaml-lint.bat
  vendor/claviska/simpleimage/src/claviska/SimpleImage.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/symfony/deprecation-contracts/composer.json
  vendor/symfony/yaml/Parser.php
Due: none

Add todo comments to methods which need refactoring later
  src/Content/ContentStorageHandler.php
Due: backend

Fix menu blur when not inside Panel
  panel/src/panel/menu.js
Due: frontend

Item: add title for info text as well
  panel/src/components/Collection/Item.vue
Due: frontend

List items: wrap title/info
  panel/src/components/Collection/Item.vue
Due: frontend

Add lab examples
  panel/lab/components/item/1_list/index.vue
  panel/lab/components/item/2_cards/index.vue
  panel/lab/components/item/3_cardlets/index.vue
  panel/src/components/Collection/Item.vue
Due: frontend

Page tree: pagination
  config/areas/site/requests.php
  panel/lab/components/trees/index.vue
  panel/src/components/Navigation/PageTree.vue
  panel/src/components/Navigation/Tree.vue
Due: backend, frontend

Fix cs
  config/areas/site/requests.php
  panel/src/components/Navigation/Tree.vue
Due: backend, frontend

Fix cs for Api test classes
  config/api/routes/files.php
  src/Cms/FileRules.php
  tests/Api/ApiTest.php
  tests/Api/CollectionTest.php
  tests/Api/ModelTest.php
Due: backend

Fix thrown Exception in Http test mocks
  tests/Http/mocks.php
Due: none

Untangle `Toolkit\Xml` methods
  src/Toolkit/Xml.php
Due: backend

Improve typing & cs
  src/Cms/Ingredients.php
  src/Cms/Pagination.php
  src/Filesystem/Mime.php
  src/Parsley/Parsley.php
  src/Sane/DomHandler.php
  src/Sane/Handler.php
  src/Sane/Sane.php
  src/Sane/Svg.php
  src/Sane/Svgz.php
  src/Sane/Xml.php
  src/Toolkit/Controller.php
  src/Toolkit/Html.php
  src/Toolkit/I18n.php
  src/Toolkit/Locale.php
  src/Toolkit/Obj.php
  src/Toolkit/Str.php
  src/Toolkit/V.php
  src/Toolkit/View.php
  src/Toolkit/Xml.php
  tests/Toolkit/ATest.php
Due: backend

`Filesystem\Mime`: more readable if logic
  src/Filesystem/Mime.php
Due: backend

Reorder PHPDoc tags
  src/Content/ContentStorageHandler.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
