Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: Tie .vite-running to the dev server lifecycle
  panel/scripts/vite-kirby.ts
Due: none

fix: Bind Vite dev server to the Kirby host only
  panel/package.json
  panel/vite.config.ts
Due: none

fix: Surface errors from vite.config.custom.js
  panel/vite.config.ts
Due: none

chore: Require Node 22.18 for the Panel tooling
  panel/package-lock.json
  panel/package.json
Due: none

fix: Separate Lab docs for toolbar link and email dialogs
  panel/src/components/Forms/Toolbar/EmailDialog.vue
  panel/src/components/Forms/Toolbar/LinkDialog.vue
Due: frontend

refact: Find UI docs files with fs.globSync
  panel/package-lock.json
  panel/package.json
  panel/scripts/docs.ts
Due: none

fix: Run build:docs from docs.ts
  panel/package.json
Due: none

fix: Set up Node 22 in Lab docs workflow
  .github/workflows/lab.yml
Due: none

style: Apply Prettier to Lab examples and styles
  panel/.prettierignore
  panel/lab/basics/design/colors/index.vue
  panel/lab/components/block/5_selector/index.vue
  panel/lab/components/block/6_pasteboard/index.vue
  panel/lab/components/boxes/2_sizes/index.vue
  panel/lab/components/dialogs/2_text/index.vue
  panel/lab/components/dialogs/3_remove/index.vue
  panel/lab/components/dialogs/4_form/index.vue
  panel/lab/components/dialogs/5_search/index.vue
  panel/lab/components/dialogs/8_email/index.vue
  panel/lab/components/dialogs/9_link/index.vue
  panel/lab/components/fieldset/index.vue
  panel/lab/components/frames/2_icon/index.vue
  panel/lab/components/pagination/1_layout/index.vue
  panel/lab/components/pagination/2_limit/index.vue
  panel/lab/components/pagination/4_validation/index.vue
  panel/lab/components/tags/1_tag/index.vue
  panel/lab/internals/helpers/color/index.vue
  panel/lab/internals/helpers/sort/index.vue
  panel/lab/internals/helpers/string/index.vue
  panel/lab/internals/library.colors/index.vue
  panel/lab/internals/panel/content/index.vue
  panel/lab/internals/panel/theme/index.vue
  panel/src/styles/config.css
  panel/src/styles/config/font-family.css
  panel/src/styles/config/opacity.css
  panel/src/styles/config/pattern.css
  panel/src/styles/config/rounded.css
  panel/src/styles/config/shadow.css
  panel/src/styles/reset/range.css
Due: frontend

chore: Lint and format the whole Panel directory
  panel/eslint.config.js
  panel/package.json
Due: none

fix: Lint errors in Lab examples and scripts
  panel/lab/basics/design/colors/index.vue
  panel/lab/basics/design/height/index.vue
  panel/lab/basics/reset/2_forms/index.vue
  panel/lab/components/block/3_figure/index.vue
  panel/lab/components/block/6_pasteboard/index.vue
  panel/lab/components/boxes/3_text/index.vue
  panel/lab/components/buttons/7_view-buttons/index.vue
  panel/lab/components/dialogs/1_dialog/index.vue
  panel/lab/components/draggables/index.vue
  panel/lab/components/field/index.vue
  panel/lab/components/frames/1_mixed/index.vue
  panel/lab/components/grids/1_default/index.vue
  panel/lab/components/text/6_article/index.vue
  panel/lab/components/uploads/2_upload-item/index.vue
  panel/scripts/docs.ts
  panel/scripts/vite-kirby.ts
  panel/vite.config.ts
Due: none

chore: Update JS dependencies
  panel/package-lock.json
  panel/package.json
Due: none

fix: Read content files under a shared lock #8468
  src/Content/PlainTextStorage.php
  src/Filesystem/F.php
  tests/Content/PlainTextStorageTest.php
  tests/Filesystem/FTest.php
Due: backend

test: Ignore unreadable content file branch for coverage #8468
  src/Content/PlainTextStorage.php
Due: backend

fix: Do not publish an empty changes version #8468
  src/Content/Version.php
  tests/Content/VersionTest.php
Due: backend

fix: Serve cached version fields before checking the disk #8468
  src/Content/Version.php
  tests/Content/VersionTest.php
Due: backend

fix: Keep existing content when the changes version is gone #8468
  src/Api/Controller/Changes.php
  tests/Api/Controller/ChangesTest.php
Due: backend

fix: Read the changes version once in `Panel\Model::versions()` #8468
  src/Panel/Model.php
  tests/Panel/ModelTest.php
Due: backend

fix: Keep a string style next to the own styles of components
  panel/src/components/Forms/Blocks/Elements/BlockFigure.vue
  panel/src/components/Forms/Input/ColorpickerInput.vue
  panel/src/components/Layout/Frame/ColorFrame.vue
  panel/src/components/Layout/Frame/Frame.vue
  panel/src/components/Navigation/Tree.vue
  panel/tests/unit/index.ts
Due: frontend

fix: Navigate `k-dropdown` vertically
  panel/src/components/Dropdowns/Dropdown.test.ts
  panel/src/components/Dropdowns/Dropdown.vue
Due: frontend

fix: `k-error-boundary`'s error slot
  panel/src/components/Misc/ErrorBoundary.test.ts
  panel/src/components/Misc/ErrorBoundary.vue
Due: frontend

fix: Don't route `k-link` downloads through the Panel
  panel/src/components/Navigation/Link.test.ts
  panel/src/components/Navigation/Link.vue
Due: frontend

fix: `k-link` downloads for relative links
  panel/src/components/Navigation/Link.test.ts
  panel/src/components/Navigation/Link.vue
Due: frontend

fix: Keep protocol-relative `k-link` URLs
  panel/src/components/Navigation/Link.test.ts
  panel/src/components/Navigation/Link.vue
Due: frontend

fix: Load `k-writer-input` for deprecated `k-writer`
  panel/src/components/Forms/Input/index.js
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

style: Format with Oxfmt
  panel/src/helpers/field.ts
  panel/src/helpers/writer.ts
  panel/src/libraries/dayjs-pattern.ts
  panel/src/panel/html.ts
  panel/src/panel/request.ts
Due: frontend

chore: Replace Prettier with Oxfmt
  .gitattributes
  .github/workflows/frontend.yml
  CONTRIBUTING.md
  panel/.oxfmtrc.json
  panel/.prettierignore
  panel/.prettierrc.json
  panel/package-lock.json
  panel/package.json
Due: none

fix: Slightly less drastic skeletons
  panel/src/components/Collection/Item.vue
Due: frontend

fix: Start model list fields on their `page` option
  panel/src/components/Forms/Field/ModelListField.test.ts
  panel/src/components/Forms/Field/ModelListField.vue
Due: frontend

refact: Fully lazy model list fields
  panel/lab/components/fields/filelist/index.vue
  panel/lab/components/fields/pagelist/index.vue
  panel/lab/components/tables/4_component/index.vue
  panel/src/components/Forms/Field/FileListField.vue
  panel/src/components/Forms/Field/ModelListField.test.ts
  panel/src/components/Forms/Field/ModelListField.vue
  panel/src/components/Forms/Field/PageListField.vue
  panel/src/components/Layout/Table.vue
  panel/src/components/Misc/Draggable.vue
  src/Form/Field/ModelListField.php
Due: backend, frontend

fix: Reload model list fields on language switch
  panel/src/components/Forms/Field/ModelListField.test.ts
  panel/src/components/Forms/Field/ModelListField.vue
Due: frontend

refact: Remove dead loading text from model list fields
  panel/src/components/Forms/Field/ModelListField.vue
Due: frontend

feat: Register base components for plugins to extend
  panel/src/components/Drawers/index.ts
  panel/src/components/Forms/Field/index.ts
  panel/src/components/Forms/Previews/index.ts
  panel/src/components/Views/Login/index.ts
  panel/src/components/Views/index.ts
Due: frontend

feat: Type-check templates against all core components
  panel/src/types/vue.d.ts
Due: frontend

refact: Migrate remaining Panel JS files to TypeScript
  panel/src/api/pages.test.ts
  panel/src/components/Forms/Field/WriterField.vue
  panel/src/components/Forms/Input/ListInput.vue
  panel/src/components/Forms/Input/WriterInput.props.ts
  panel/src/components/Forms/Input/WriterInput.vue
  panel/src/components/Lab/Lab.ts
Due: frontend

fix: Restore the validate field option
  src/Form/Field/InputField.php
  src/Form/Mixin/Validation.php
  tests/Form/Field/InputFieldTest.php
Due: backend

fix: Aliases for moved Kirby 5 classes
  config/aliases.php
Due: backend

chore: Use Oxfmt in VS Code
  .vscode/extensions.json
  .vscode/settings.json
Due: none

fix: Restore the validate field option (#8596)
  src/Form/Field/InputField.php
  src/Form/Mixin/Validation.php
  tests/Form/Field/InputFieldTest.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
