Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: New font mixin
  src/Form/Mixin/Font.php
Due: backend

feat: New maxlength mixin
  src/Form/Mixin/Maxlength.php
Due: backend

feat: New batch mixin
  src/Form/Mixin/Batch.php
Due: backend

feat: New spellcheck mixin
  src/Form/Mixin/Spellcheck.php
Due: backend

feat: New counter mixin
  src/Form/Mixin/Counter.php
Due: backend

feat: New Kirby\Reflection\Field class to extract info about fields
  src/Reflection/Field.php
Due: backend

feat: New Kirby\Reflection\DocComment class to parse docblock comments
  src/Reflection/DocComment.php
Due: backend

feat: Reflect new default value attribute if it exists
  src/Form/Field/BlocksField.php
  src/Reflection/Attributes/DefaultValue.php
  src/Reflection/Field.php
Due: backend

feat: Enhance font selection code
  src/Form/Mixin/Font.php
Due: backend

feat: New Text mixin
  src/Form/Mixin/Text.php
Due: backend

feat: New theme mixin
  src/Form/Mixin/Theme.php
Due: backend

feat: New Info field class
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/InfoField.php
  tests/Form/Field/InfoFieldTest.php
Due: backend, frontend

refact: Define params and props for the Display field
  src/Form/Field/DisplayField.php
Due: backend

test: Adjust unit tests
  tests/Form/Field/InfoFieldTest.php
Due: none

refact: New BaseField class
  src/Form/Field.php
  src/Form/Field/BaseField.php
  src/Form/Field/DisplayField.php
  src/Form/FieldClass.php
Due: backend

fix: Fix type hinting for new BaseField class
  src/Form/Field.php
  src/Form/Fields.php
  src/Form/Form.php
  src/Form/Validations.php
  src/Panel/Controller/FieldController.php
Due: backend

fix: Only pass accepted args to the constructor
  src/Form/Field/BaseField.php
Due: backend

refact: Use InputField as foundation for the EntriesField
  src/Form/Field/EntriesField.php
  tests/Form/Field/EntriesFieldTest.php
Due: backend

refact: New InputField
  src/Form/Field/InputField.php
  src/Form/FieldClass.php
Due: backend

refact: Use InputField as foundation for BlocksField
  src/Form/Field/BlocksField.php
  src/Form/Field/InputField.php
  tests/Form/Field/BlocksFieldTest.php
  tests/Form/Field/LayoutFieldTest.php
Due: backend

refact: New LineField class
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/LineField.php
  tests/Form/Field/LineFieldTest.php
Due: backend, frontend

Merge pull request #7693 from getkirby/v6/refact/line-field
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/LineField.php
  tests/Form/Field/LineFieldTest.php
Due: backend, frontend

refact: Move width into BaseField and simplify line and gap fields
  src/Form/Field/BaseField.php
  src/Form/Field/GapField.php
  src/Form/Field/LineField.php
Due: backend

refact: New GapField class
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/GapField.php
  tests/Form/Field/GapFieldTest.php
Due: backend, frontend

(Fields PR) refact: New GapField class (#7694)
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/BaseField.php
  src/Form/Field/GapField.php
  tests/Form/Field/GapFieldTest.php
Due: backend, frontend

refact: New HiddenField class
  src/Cms/Core.php
  src/Form/Field/HiddenField.php
  tests/Form/Field/HiddenFieldTest.php
Due: backend

refact: New HiddenField class (#7695)
  src/Cms/Core.php
  src/Form/Field/HiddenField.php
  tests/Form/Field/HiddenFieldTest.php
Due: backend

fix: Limit the number of exported props for the hidden field
  src/Form/Field/HiddenField.php
  tests/Form/Field/HiddenFieldTest.php
Due: backend

refact: New StructureField class
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/StructureField.php
  src/Form/Mixin/Fields.php
  src/Form/Mixin/Limit.php
  src/Form/Mixin/SortBy.php
  src/Form/Mixin/TableColumns.php
  tests/Form/Field/StructureFieldTest.php
Due: backend, frontend

test: Better unit test for structure field props
  tests/Form/Field/StructureFieldTest.php
Due: none

fix: Add default prop
  tests/Form/Field/StructureFieldTest.php
Due: none

refact: New Duplicate mixin
  src/Form/Mixin/Duplicate.php
Due: backend

refact: New Prepend mixin
  src/Form/Mixin/Prepend.php
Due: backend

refact: Use new Mixins
  src/Form/Field/StructureField.php
Due: backend

docs: Improve docblocks
  src/Form/Mixin/TableColumns.php
Due: backend

fix: Prepend default and add to props
  src/Form/Field/StructureField.php
  src/Form/Mixin/Prepend.php
  tests/Form/Field/StructureFieldTest.php
Due: backend

refact: Remove unnecessary setters
  src/Form/Mixin/Duplicate.php
  src/Form/Mixin/Fields.php
  src/Form/Mixin/Limit.php
  src/Form/Mixin/Prepend.php
  src/Form/Mixin/SortBy.php
  src/Form/Mixin/TableColumns.php
Due: backend

fix: Don’t add a mobile column if no columns exist
  src/Form/Mixin/TableColumns.php
  tests/Form/Field/StructureFieldTest.php
Due: backend

refact!: Remove all setter methods from field classes
  src/Form/Field/BaseField.php
  src/Form/Field/BlocksField.php
  src/Form/Field/DisplayField.php
  src/Form/Field/EntriesField.php
  src/Form/Field/HiddenField.php
  src/Form/Field/InfoField.php
  src/Form/Field/InputField.php
  src/Form/Field/LayoutField.php
  src/Form/FieldClass.php
  src/Form/Mixin/After.php
  src/Form/Mixin/Autocomplete.php
  src/Form/Mixin/Autofocus.php
  src/Form/Mixin/Batch.php
  src/Form/Mixin/Before.php
  src/Form/Mixin/Counter.php
  src/Form/Mixin/DefaultValue.php
  src/Form/Mixin/Disabled.php
  src/Form/Mixin/EmptyState.php
  src/Form/Mixin/Font.php
  src/Form/Mixin/Help.php
  src/Form/Mixin/Icon.php
  src/Form/Mixin/Label.php
  src/Form/Mixin/Max.php
  src/Form/Mixin/Maxlength.php
  src/Form/Mixin/Min.php
  src/Form/Mixin/Minlength.php
  src/Form/Mixin/Name.php
  src/Form/Mixin/Pattern.php
  src/Form/Mixin/Placeholder.php
  src/Form/Mixin/Pretty.php
  src/Form/Mixin/Required.php
  src/Form/Mixin/Sortable.php
  src/Form/Mixin/Spellcheck.php
  src/Form/Mixin/Text.php
  src/Form/Mixin/Theme.php
  src/Form/Mixin/Translatable.php
  src/Form/Mixin/When.php
  src/Form/Mixin/Width.php
Due: backend

test: Additional unit tests
  tests/Form/Field/StructureFieldTest.php
Due: none

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
