Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

test: Use PHPUnit attributes for `Kirby\Filesystem`
  tests/Filesystem/AssetTest.php
  tests/Filesystem/DirTest.php
  tests/Filesystem/FTest.php
  tests/Filesystem/FileTest.php
  tests/Filesystem/FilenameTest.php
  tests/Filesystem/IsFileTest.php
  tests/Filesystem/MimeTest.php
Due: none

test: Use PHPUnit attributes for `Kirby\Exception`
  tests/Exception/AuthExceptionTest.php
  tests/Exception/BadMethodCallExceptionTest.php
  tests/Exception/DuplicateExceptionTest.php
  tests/Exception/ErrorPageExceptionTest.php
  tests/Exception/ExceptionTest.php
  tests/Exception/InvalidArgumentExceptionTest.php
  tests/Exception/LogicExceptionTest.php
  tests/Exception/NotFoundExceptionTest.php
  tests/Exception/PermissionExceptionTest.php
Due: none

test: Use PHPUnit attributes for `Kirby\Content`
  tests/Content/ChangesTest.php
  tests/Content/ContentConvertToTest.php
  tests/Content/ContentTest.php
  tests/Content/FieldMethodsTest.php
  tests/Content/FieldTest.php
  tests/Content/ImmutableMemoryStorageTest.php
  tests/Content/LockTest.php
  tests/Content/LockedContentExceptionTest.php
  tests/Content/MemoryStorageTest.php
  tests/Content/PlainTextStorageTest.php
  tests/Content/StorageTest.php
  tests/Content/TestCase.php
  tests/Content/TranslationTest.php
  tests/Content/TranslationsTest.php
  tests/Content/VersionCacheTest.php
  tests/Content/VersionIdTest.php
  tests/Content/VersionTest.php
Due: none

test: Use PHPUnit attributes for `Kirby\Email`
  tests/Email/BodyTest.php
  tests/Email/EmailTest.php
  tests/Email/PHPMailerTest.php
Due: none

test: Use PHPUnit attributes for `Kirby\Uuid`
  tests/Uuid/BlockUuidTest.tmp
  tests/Uuid/FileUuidTest.php
  tests/Uuid/HasUuidsTest.php
  tests/Uuid/IdentifiableModelActionsTest.php
  tests/Uuid/PageUuidTest.php
  tests/Uuid/PermalinksTest.php
  tests/Uuid/SiteUuidTest.php
  tests/Uuid/StructureUuidTest.tmp
  tests/Uuid/UriTest.php
  tests/Uuid/UserUuidTest.php
  tests/Uuid/UuidTest.php
  tests/Uuid/UuidsTest.php
Due: none

test: Use PHPUnit attributes for `Kirby\Parsley`
  tests/Parsley/ElementTest.php
  tests/Parsley/InlineTest.php
  tests/Parsley/ParsleyTest.php
  tests/Parsley/Schema/BlocksTest.php
  tests/Parsley/Schema/PlainTest.php
  tests/Parsley/SchemaTest.php
Due: none

test: Use PHPUnit attributes for `Kirby\Session`
  tests/Session/AutoSessionTest.php
  tests/Session/FileSessionStoreTest.php
  tests/Session/SessionDataTest.php
  tests/Session/SessionStoreTest.php
  tests/Session/SessionTest.php
  tests/Session/SessionsTest.php
Due: none

test: Use PHPUnit attributes for `Kirby\Option`
  tests/Option/OptionTest.php
  tests/Option/OptionsApiTest.php
  tests/Option/OptionsQueryTest.php
  tests/Option/OptionsTest.php
Due: none

test: Use PHPUnit attributes for `Kirby\Image`
  tests/Image/CameraTest.php
  tests/Image/Darkroom/GdLibTest.php
  tests/Image/Darkroom/ImageMagickTest.php
  tests/Image/DarkroomTest.php
  tests/Image/DimensionsTest.php
  tests/Image/ExifTest.php
  tests/Image/FocusTest.php
  tests/Image/ImageTest.php
  tests/Image/LocationTest.php
  tests/Image/QrCodeTest.php
Due: none

test: Use PHPUnit attributes for `Kirby\Field`
  tests/Field/FieldOptionsTest.php
Due: none

test: Use PHPUnit attributes for `Kirby\Api`
  tests/Api/ApiTest.php
  tests/Api/CollectionTest.php
  tests/Api/Controller/ChangesTest.php
  tests/Api/ModelTest.php
  tests/Api/UploadTest.php
Due: none

chore: Fix code style
  tests/Cms/File/FileRulesTest.php
Due: none

chore: Remove vite's `splitVendorChunkPlugin ` (#7354)
  panel/vite.config.mjs
Due: none

test: Replace deprecated `$mock->addMethods()`
  tests/Cms/File/FileRulesTest.php
  tests/Cms/Helpers/HelperFunctionsTest.php
  tests/Cms/Html/HtmlTest.php
Due: none

test: Replace `@runInSeparateProcess` w/ attribute
  tests/Cms/Emails/EmailTest.php
Due: none

feat: `panel.theme` option for default theme
  panel/src/components/View/Buttons/ThemeButton.vue
  panel/src/panel/theme.js
  src/Panel/View.php
Due: backend, frontend

test: Use PHPUnit attributes for `Kirby\Text`
  tests/Text/DateKirbyTagTest.php
  tests/Text/EmailKirbyTagTest.php
  tests/Text/FileKirbyTagTest.php
  tests/Text/ImageKirbyTagTest.php
  tests/Text/KirbyTagTest.php
  tests/Text/KirbyTagsTest.php
  tests/Text/LinkKirbyTagTest.php
  tests/Text/MarkdownTest.php
  tests/Text/SmartyPantsTest.php
  tests/Text/VideoKirbyTagTest.php
Due: none

test: Use PHPUnit attributes for `Kirby\Database` (#7318)
  tests/Database/DatabaseTest.php
  tests/Database/DbTest.php
  tests/Database/QueryTest.php
  tests/Database/Sql/MysqlTest.php
  tests/Database/Sql/SqliteTest.php
  tests/Database/SqlTest.php
  tests/Database/TestCase.php
Due: none

feat: Add `Collection::join()` method
  src/Toolkit/Collection.php
  tests/Toolkit/CollectionTest.php
Due: backend

fix: Lab examples for selectable items
  panel/lab/components/items/1_list/index.vue
  panel/lab/components/items/2_cards/index.vue
  panel/lab/components/items/3_cardlets/index.vue
  panel/lab/components/items/4_table/index.vue
Due: none

refact: Move since tag to own section in Lab docs (#7296)
  config/areas/lab/drawers.php
  panel/src/components/Lab/Docs.vue
  panel/src/components/Lab/Docs/Description.vue
Due: backend, frontend

refact: Align `Collection::join()` to `A::join()`
  src/Toolkit/Collection.php
  tests/Toolkit/CollectionTest.php
Due: backend

test: Add Lab examples for sortable items
  panel/lab/components/items/1_list/index.vue
  panel/lab/components/items/2_cards/index.vue
  panel/lab/components/items/3_cardlets/index.vue
Due: none

fix: Enforce currentColor only for `k-icon` SVGs (#7362)
  panel/src/components/Misc/Icon.vue
  panel/src/styles/reset.css
Due: frontend

fix: Toggles field disabled styling (#7357)
  panel/src/components/Forms/Input/TogglesInput.vue
Due: frontend

refact!: remove `disabled` prop from FiberDrawer
  panel/src/components/Drawers/Drawer.vue
  panel/src/components/Drawers/FiberDrawer.vue
  panel/src/mixins/drawer.js
Due: frontend

fix: Layout field disabled styling (#7358)
  panel/src/components/Forms/Layouts/Layout.vue
  panel/src/components/Forms/Layouts/LayoutColumn.vue
Due: frontend

fix: Disabled styling for choice input fields (#7359)
  panel/src/components/Forms/Input/ChoiceInput.vue
Due: frontend

feat: Improve disabled UI for structure field
  panel/src/components/Drawers/Elements/Fields.vue
  panel/src/components/Drawers/FormDrawer.vue
  panel/src/components/Drawers/StructureDrawer.vue
  panel/src/components/Forms/Field/StructureField.vue
Due: frontend

refact: Allow folders inside `site/controllers` (#7368)
  src/Cms/App.php
  src/Template/Snippet.php
Due: backend

feat: Add `Cms\License::delete()` & `::root()` (#7211)
  src/Cms/License.php
  tests/Cms/System/LicenseTest.php
Due: backend

fix: Hide placeholder on disabled textarea inputs
  panel/src/components/Forms/Input/TextareaInput.vue
Due: frontend

fix: Hide placeholder on disabled number inputs
  panel/src/components/Forms/Input/NumberInput.vue
Due: frontend

fix: Hide placeholder on disabled string inputs
  panel/src/components/Forms/Input/StringInput.vue
  panel/src/components/Forms/Input/TextInput.vue
Due: frontend

feat: Remove license button/dialog
  config/areas/system/dialogs.php
  i18n/translations/en.json
  panel/src/components/Dialogs/LicenseDialog.vue
Due: backend, frontend

fix: Adjust license message
  i18n/translations/en.json
Due: none

test: Add license remove dialog tests
  config/areas/system/dialogs.php
  tests/Panel/Areas/SystemDialogsTest.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
