Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

refact: Remove `panel.vue.compiler` option (#7788)
  i18n/translations/en.json
  panel/src/components/Lab/PlaygroundView.vue
  panel/vite.config.mjs
  src/Panel/Assets.php
  src/Panel/Controller/View/LabExampleViewController.php
  tests/Panel/AssetsTest.php
  tests/Panel/Controller/View/LabExampleViewControllerTest.php
Due: backend, frontend

refact: Remove `default` from field props (#7789)
  src/Cms/Fieldset.php
  src/Form/Field/InputField.php
  src/Form/Fields.php
  src/Form/Mixin/Fields.php
  src/Panel/Controller/Dialog/ModelCreateDialogController.php
  tests/Form/Field/BlocksFieldTest.php
  tests/Form/Field/CheckboxesFieldTest.php
  tests/Form/Field/ColorFieldTest.php
  tests/Form/Field/DateFieldTest.php
  tests/Form/Field/EmailFieldTest.php
  tests/Form/Field/EntriesFieldTest.php
  tests/Form/Field/FilePickerFieldTest.php
  tests/Form/Field/LayoutFieldTest.php
  tests/Form/Field/LinkFieldTest.php
  tests/Form/Field/ListFieldTest.php
  tests/Form/Field/MultiselectFieldTest.php
  tests/Form/Field/NumberFieldTest.php
  tests/Form/Field/ObjectFieldTest.php
  tests/Form/Field/PagePickerFieldTest.php
  tests/Form/Field/RangeFieldTest.php
  tests/Form/Field/SlugFieldTest.php
  tests/Form/Field/StructureFieldTest.php
  tests/Form/Field/TagsFieldTest.php
  tests/Form/Field/TelFieldTest.php
  tests/Form/Field/TextFieldTest.php
  tests/Form/Field/TextareaFieldTest.php
  tests/Form/Field/TimeFieldTest.php
  tests/Form/Field/TogglesFieldTest.php
  tests/Form/Field/UrlFieldTest.php
  tests/Form/Field/UserPickerFieldTest.php
  tests/Form/Field/WriterFieldTest.php
  tests/Form/FieldsTest.php
Due: backend

fix!: Place sort handle inside `k-item` boundaries
  panel/src/components/Collection/Item.vue
Due: frontend

test: Add missing CoversClass attribute
  tests/Form/ValidationsTest.php
Due: none

test: `BaseField` unit tests
  src/Form/Field/BaseField.php
  tests/Form/Field/BaseFieldTest.php
Due: backend

test: First part of field tests alignment
  tests/Form/Field/BlocksFieldTest.php
  tests/Form/Field/CheckboxesFieldTest.php
  tests/Form/Field/ColorFieldTest.php
  tests/Form/Field/DateFieldTest.php
  tests/Form/Field/EmailFieldTest.php
  tests/Form/Field/EntriesFieldTest.php
  tests/Form/Field/FilePickerFieldTest.php
Due: none

style: Remove stale field methods
  src/Form/Field/BlocksField.php
  src/Form/Field/EntriesField.php
  src/Form/Field/LayoutField.php
Due: backend

fix: i18n call
  panel/src/components/Forms/Field/ModelsField.vue
  src/Form/Field/ModelsField.php
Due: backend, frontend

feat: Models sections as fields
  panel/package-lock.json
  panel/src/components/Forms/Field/ModelsField.vue
  panel/src/components/Forms/Field/PagesField.vue
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/ModelsField.php
  src/Form/Field/PagesField.php
  src/Form/Fields.php
  src/Form/Mixin/Label.php
  src/Form/Mixin/Min.php
  src/Panel/Controller/Dialog/PageCreateDialogController.php
Due: backend, frontend

refact: Better expose plugin component resolving
  panel/public/js/plugins.js
  panel/src/panel/plugins.js
Due: frontend

refact: More plugin registry cleanup
  panel/public/js/plugins.js
  panel/src/components/Forms/Input/WriterInput.vue
  panel/src/components/Forms/Toolbar/TextareaToolbar.vue
  panel/src/components/Misc/Icons.vue
  panel/src/components/Views/Login/LoginView.vue
  panel/src/index.js
  panel/src/panel/panel.js
  panel/src/panel/plugins.js
Due: frontend

refact: Optional app arg for resolveComponent
  panel/src/panel/plugins.js
Due: frontend

style: Remove dead code
  src/Cms/App.php
  src/Cms/FileRules.php
  src/Cms/PageRules.php
  src/Cms/Permissions.php
  src/Cms/Picker.php
  src/Content/Version.php
  src/Filesystem/Mime.php
  src/Image/QrCode.php
Due: backend

refact!: Boolean prev/next for structure drawer
  panel/src/components/Drawers/StructureDrawer.vue
  panel/src/components/Forms/Field/StructureField.vue
Due: frontend

style: Remove TODO from deprecated PagePicker
  src/Cms/PagePicker.php
Due: backend

feat: Remove `legacy` query runner as default
  src/Query/Query.php
  tests/Query/QueryTest.php
Due: backend

deprecate: Old Query classes
  src/Query/Argument.php
  src/Query/Arguments.php
  src/Query/Expression.php
  src/Query/Segment.php
  src/Query/Segments.php
Due: backend

feat: `$panel.observers.frames`
  panel/lab/internals/panel/observers/index.php
  panel/lab/internals/panel/observers/index.vue
  panel/src/panel/observers.js
  panel/src/panel/panel.js
Due: frontend

refact: Auto sizes from observer for image frame
  panel/lab/components/frames/3_image/index.vue
  panel/src/components/Layout/Frame/ImageFrame.vue
Due: frontend

refact: Use auto sizes for item images
  panel/lab/components/item/1_list/index.vue
  panel/lab/components/item/2_cards/index.vue
  panel/lab/components/item/3_cardlets/index.vue
  panel/src/components/Collection/Item.vue
  panel/src/components/Collection/ItemImage.vue
  panel/src/components/Collection/Items.vue
Due: frontend

test: Mock `ResizeObserver`
  panel/vitest.setup.js
Due: none

style: fix cs
  panel/src/panel/observers.js
Due: frontend

`k-autosizes-image`
  panel/src/components/Layout/Frame/ImageFrame.vue
  panel/src/components/Misc/AutosizesImage.vue
  panel/src/components/Misc/index.js
  panel/src/panel/observers.js
Due: frontend

refact: Integrate into `k-image-frame` again
  panel/src/components/Layout/Frame/ImageFrame.vue
  panel/src/components/Misc/AutosizesImage.vue
  panel/src/components/Misc/index.js
Due: frontend

fix examples
  panel/lab/components/frames/3_image/index.vue
  panel/lab/internals/panel/observers/index.vue
Due: none

chore: Remove old PHP 7.2 polyfill replace
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

test: Second part of field tests alignment
  tests/Form/Field/BlocksFieldTest.php
  tests/Form/Field/ColorFieldTest.php
  tests/Form/Field/FilePickerFieldTest.php
  tests/Form/Field/GapFieldTest.php
  tests/Form/Field/HeadlineFieldTest.php
  tests/Form/Field/HiddenFieldTest.php
  tests/Form/Field/InfoFieldTest.php
  tests/Form/Field/LayoutFieldTest.php
  tests/Form/Field/LineFieldTest.php
  tests/Form/Field/LinkFieldTest.php
  tests/Form/Field/ListFieldTest.php
  tests/Form/Field/MultiselectFieldTest.php
  tests/Form/Field/NumberFieldTest.php
  tests/Form/Field/ObjectFieldTest.php
  tests/Form/Field/PagePickerFieldTest.php
  tests/Form/Field/RadioFieldTest.php
  tests/Form/Field/RangeFieldTest.php
  tests/Form/Field/SelectFieldTest.php
  tests/Form/Field/SlugFieldTest.php
  tests/Form/Field/StatsFieldTest.php
  tests/Form/Field/StructureFieldTest.php
  tests/Form/Field/TagsFieldTest.php
  tests/Form/Field/TelFieldTest.php
  tests/Form/Field/TestCase.php
  tests/Form/Field/TextFieldTest.php
  tests/Form/Field/TextareaFieldTest.php
  tests/Form/Field/TimeFieldTest.php
  tests/Form/Field/ToggleFieldTest.php
  tests/Form/Field/TogglesFieldTest.php
  tests/Form/Field/UrlFieldTest.php
  tests/Form/Field/UserPickerFieldTest.php
  tests/Form/Field/WriterFieldTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: none

refact!: Boolean prev/next for structure drawer (#7790)
  panel/src/components/Drawers/StructureDrawer.vue
  panel/src/components/Forms/Field/StructureField.vue
Due: frontend

test: Add more unit tests
  src/Form/Field/FilePickerField.php
  src/Form/Field/TextareaField.php
  src/Form/Fields.php
  src/Form/Mixin/Upload.php
  tests/Form/Field/BlocksFieldTest.php
  tests/Form/Field/FilePickerFieldTest.php
  tests/Form/Field/RadioFieldTest.php
  tests/Form/Field/TagsFieldTest.php
  tests/Form/Field/TextareaFieldTest.php
  tests/Form/Field/ToggleFieldTest.php
  tests/Form/Field/UrlFieldTest.php
Due: backend

fix: Reset query runner option cache for new app
  src/Cms/App.php
Due: backend

fix: prevent focus loss when typing in entries field #7779
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

fix: Writer toolbar position without Panel menu
  panel/src/components/Forms/Writer/Toolbar.vue
Due: frontend

refact: `k-panel-notifications`
  panel/src/components/View/Inside.vue
  panel/src/components/View/Notifications.vue
  panel/src/components/View/index.js
  panel/src/components/Views/Preview/PreviewView.vue
Due: frontend

refact: Model tabs reload view instead link
  panel/src/components/Navigation/ModelTabs.vue
Due: frontend

fix: String templates for placeholder in fields
  src/Form/Field/EmailField.php
  src/Form/Field/UrlField.php
Due: backend

refact: `k-panel-notifications` (#7797)
  panel/src/components/View/Inside.vue
  panel/src/components/View/Notifications.vue
  panel/src/components/View/index.js
  panel/src/components/Views/Preview/PreviewView.vue
Due: frontend

feat: `$panel.urls.panel` state
  panel/lab/internals/panel/urls/index.vue
  src/Panel/State.php
  tests/Panel/StateTest.php
Due: backend

refact!: Change `versionId` → `mode` preview view
  config/areas/site/buttons.php
  panel/src/components/Views/Preview/PreviewBrowser.vue
  panel/src/components/Views/Preview/PreviewView.vue
  src/Panel/Controller/View/ModelPreviewViewController.php
  src/Panel/Controller/View/PagePreviewViewController.php
  src/Panel/Controller/View/SitePreviewViewController.php
  src/Panel/Ui/Button/VersionsButton.php
  tests/Panel/Controller/View/PagePreviewViewControllerTest.php
  tests/Panel/Controller/View/SitePreviewViewControllerTest.php
Due: backend, frontend

refact: `ModelOpenButton`
  config/areas/site/buttons.php
  src/Panel/Ui/Button/ModelOpenButton.php
  tests/Panel/Ui/Button/ModelOpenButtonTest.php
Due: backend
