Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Audio & video file preview
  panel/src/components/Views/Files/AudioFilePreview.vue
  panel/src/components/Views/Files/VideoFilePreview.vue
  panel/src/components/Views/Files/index.js
  src/Cms/Core.php
  src/Panel/Ui/FilePreviews/AudioFilePreview.php
  src/Panel/Ui/FilePreviews/VideoFilePreview.php
  tests/Cms/CoreTest.php
  tests/Panel/Ui/FilePreviews/AudioFilePreviewTest.php
  tests/Panel/Ui/FilePreviews/VideoFilePreviewTest.php
Due: backend, frontend

Simplify file preview prop defaults
  panel/src/components/Views/Files/AudioFilePreview.vue
  panel/src/components/Views/Files/DefaultFilePreview.vue
  panel/src/components/Views/Files/ImageFilePreview.vue
  panel/src/components/Views/Files/VideoFilePreview.vue
Due: frontend

Consistent user/users avatar preview
  panel/src/components/Views/Users/UserAvatar.vue
Due: frontend

Fix unit tests
  tests/Cms/App/AppPluginsTest.php
  tests/Panel/Ui/FilePreviews/AudioFilePreviewTest.php
  tests/Panel/Ui/FilePreviews/DefaultFilePreviewTest.php
  tests/Panel/Ui/FilePreviews/ImageFilePreviewTest.php
  tests/Panel/Ui/FilePreviews/VideoFilePreviewTest.php
Due: none

Tweak cs in session classes
  src/Session/AutoSession.php
  src/Session/FileSessionStore.php
  src/Session/Session.php
  src/Session/SessionData.php
  src/Session/Sessions.php
Due: backend

Tweak cs for toolkit clases
  src/Cms/Collection.php
  src/Toolkit/Collection.php
  src/Toolkit/Xml.php
Due: backend

Add missing PHP property types
  src/Cms/Helpers.php
  src/Toolkit/Dom.php
  tests/Api/mocks.php
  tests/Cms/App/AppComponentsTest.php
  tests/Cms/App/AppPluginsTest.php
  tests/Cms/Plugins/PluginTest.php
  tests/Cms/System/UpdateStatusTest.php
  tests/Cms/mocks.php
  tests/Content/ContentTest.php
  tests/Filesystem/FileTest.php
  tests/Http/UriTest.php
  tests/Http/mocks.php
  tests/Panel/Areas/SystemTest.php
  tests/Sane/DomHandlerTest.php
  tests/Sane/HandlerTest.php
  tests/Sane/HtmlTest.php
  tests/Sane/SaneTest.php
  tests/Sane/SvgTest.php
  tests/Sane/SvgzTest.php
  tests/Sane/TestCase.php
  tests/Sane/XmlTest.php
  tests/Session/mocks.php
  tests/Toolkit/DomTest.php
  tests/Toolkit/mocks.php
Due: backend

Tweak cs for Database classes
  src/Database/Database.php
  src/Database/Query.php
  src/Database/Sql.php
  src/Database/Sql/Sqlite.php
Due: backend

Tweak cs for Data classes
  src/Data/PHP.php
  src/Data/Txt.php
  tests/Data/PHPTest.php
Due: backend

Tweak cs for Filesystem classes
  src/Database/Sql/Sqlite.php
  src/Filesystem/Dir.php
  src/Filesystem/F.php
  src/Filesystem/File.php
  src/Filesystem/Filename.php
  src/Filesystem/Mime.php
Due: backend

Upgrade array callable to first class callable
  src/Cms/FileBlueprint.php
  src/Filesystem/Mime.php
  src/Sane/DomHandler.php
Due: backend

Refactor func_get_args() in to a variadic param
  src/Toolkit/Collection.php
Due: backend

Simplify useless double assigns
  src/Toolkit/Collection.php
Due: backend

Changed Closure to be static when possible
  src/Cms/App.php
  src/Cms/ModelWithContent.php
  src/Cms/User.php
  src/Image/QrCode.php
  src/Panel/Page.php
  src/Toolkit/Html.php
  src/Uuid/FieldUuid.php
Due: backend

Change `count($array) === 0` to `$array === []`
  src/Cms/App.php
  src/Cms/Fieldset.php
  src/Cms/Plugin.php
  src/Filesystem/Dir.php
  src/Image/Location.php
  src/Panel/PageCreateDialog.php
  src/Panel/Ui/Component.php
  src/Sane/DomHandler.php
  src/Toolkit/A.php
  src/Toolkit/Xml.php
Due: backend

Change while null to strict instanceof check
  src/Cms/Page.php
Due: backend

Simplify empty() functions calls on empty arrays
  src/Api/Upload.php
  src/Cache/FileCache.php
  src/Cms/App.php
  src/Cms/BlockConverter.php
  src/Cms/Blocks.php
  src/Cms/Blueprint.php
  src/Cms/FileModifications.php
  src/Cms/Page.php
  src/Database/Sql/Sqlite.php
  src/Filesystem/Dir.php
  src/Form/Field.php
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
  src/Http/Environment.php
  src/Http/Params.php
  src/Http/Path.php
  src/Panel/Json.php
  src/Panel/Lab/Example.php
  src/Panel/Plugins.php
  src/Panel/View.php
  src/Parsley/Parsley.php
  src/Template/Snippet.php
  src/Toolkit/A.php
  src/Toolkit/Collection.php
  src/Toolkit/V.php
Due: backend

Tweak cs EmaiLChallenge class
  src/Cms/Auth/EmailChallenge.php
Due: backend

Globally suppress phpmd's ExcessiveParameterList
  phpmd.xml.dist
  src/Panel/Ui/Buttons/ViewButton.php
Due: backend

Modernize `Kirby\Email` classes
  config/components.php
  src/Cms/App.php
  src/Cms/Auth/EmailChallenge.php
  src/Cms/Email.php
  src/Email/Address.php
  src/Email/Attachment.php
  src/Email/Body.php
  src/Email/Email.php
  src/Email/Mailer.php
  src/Email/PHPMailer.php
  tests/Cms/App/AppComponentsTest.php
  tests/Cms/App/AppTest.php
  tests/Cms/Auth/AuthChallengeTest.php
  tests/Cms/Auth/Challenge/EmailChallengeTest.php
  tests/Cms/Emails/EmailTest.php
  tests/Email/AddressTest.php
  tests/Email/AttachmentTest.php
  tests/Email/BodyTest.php
  tests/Email/EmailTest.php
  tests/Email/MailerTest.php
  tests/Email/PHPMailerTest.php
  tests/Email/TestCase.php
  tests/Email/fixtures/contact.php
  tests/Email/fixtures/media.html.php
  tests/Email/fixtures/media.text.php
  tests/Email/fixtures/user-info.php
Due: backend

Globally suppress phpmd's ExcessiveParameterList
  phpmd.xml.dist
  src/Panel/Ui/Button.php
  src/Panel/Ui/Buttons/ViewButton.php
Due: backend

`Email\Address` class
  src/Email/Address.php
  src/Email/Email.php
  tests/Email/AddressTest.php
Due: backend

Remove deprecated `Email::clone()`
  src/Email/Email.php
Due: backend

`Email\Attachment` class
  src/Email/Attachment.php
  src/Email/Email.php
  tests/Email/AttachmentTest.php
Due: backend

Modernize `Email\Body` class
  src/Email/Body.php
  src/Email/Email.php
  tests/Email/BodyTest.php
  tests/Email/EmailTest.php
  tests/Email/fixtures/contact.php
  tests/Email/fixtures/media.html.php
  tests/Email/fixtures/media.text.php
  tests/Email/fixtures/user-info.php
Due: backend

Replace `Cms\Email` class
  src/Cms/App.php
  src/Cms/Email.php
  src/Email/Email.php
  tests/Cms/Emails/EmailTest.php
  tests/Cms/Emails/fixtures/emails/contact.php
  tests/Cms/Emails/fixtures/emails/media.html.php
  tests/Cms/Emails/fixtures/emails/media.text.php
  tests/Cms/Emails/fixtures/emails/user-info.php
  tests/Email/EmailTest.php
Due: backend

Send via `PHPMailer` class
  src/Email/Email.php
  src/Email/PHPMailer.php
  tests/Cms/Auth/AuthChallengeTest.php
  tests/Cms/Auth/Challenge/EmailChallengeTest.php
  tests/Email/EmailTest.php
Due: backend

Fix language permissions #6497
  i18n/translations/en.json
  panel/src/components/Views/LanguagesView.vue
  src/Cms/Language.php
  src/Cms/Permissions.php
  tests/Cms/Languages/LanguageTest.php
  tests/Cms/Languages/LanguagesTest.php
Due: backend, frontend

Calendar input: first day of week based on locale
  panel/src/components/Forms/Input/CalendarInput.vue
  src/Panel/View.php
  src/Toolkit/Date.php
  tests/Toolkit/DateTest.php
Due: backend, frontend

Fix `$config.weekday` when changing language
  config/areas/users/dialogs.php
  tests/Panel/Areas/UsersDialogsTest.php
Due: backend

Improve `$field->isEmpty()`
  src/Content/Field.php
  tests/Content/FieldTest.php
Due: backend

Move to `$translation.weekday`
  config/areas/users/dialogs.php
  panel/src/components/Forms/Input/CalendarInput.vue
  panel/src/panel/translation.js
  panel/src/panel/translation.test.js
  src/Cms/AppTranslations.php
  src/Cms/Translation.php
  src/Panel/View.php
  src/Toolkit/Date.php
  tests/Cms/Translations/TranslationTest.php
  tests/Panel/Areas/UsersDialogsTest.php
  tests/Toolkit/DateTest.php
Due: backend, frontend

`Email\Transport` class
  src/Email/Email.php
  src/Email/PHPMailer.php
  src/Email/Transport.php
  tests/Email/EmailTest.php
  tests/Email/PHPMailerTest.php
Due: backend

Update dist files
  panel/dist/js/index.js
Due: none

Update version number
  composer.json
  composer.lock
Due: none

Update Composer dependencies
  cacert.pem
  composer.lock
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/psr/log/src/LoggerAwareInterface.php
  vendor/psr/log/src/LoggerAwareTrait.php
  vendor/psr/log/src/LoggerInterface.php
  vendor/psr/log/src/LoggerTrait.php
  vendor/psr/log/src/NullLogger.php
  vendor/symfony/deprecation-contracts/LICENSE
  vendor/symfony/polyfill-ctype/composer.json
  vendor/symfony/polyfill-intl-normalizer/composer.json
Due: none
