Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Heading block: tweak style of level select
  panel/src/components/Forms/Blocks/Types/Heading.vue
Due: frontend

Stale bot: less PR labels to check
  .github/workflows/stale.yml
Due: none

Add unit tests
  tests/Form/Fields/BlocksFieldTest.php
  tests/Form/Fields/LayoutFieldTest.php
Due: none

Add unit test for files section sort #5101
  config/sections/files.php
  tests/Cms/Sections/FilesSectionTest.php
Due: backend

Update .github/workflows/stale.yml
  .github/workflows/stale.yml
Due: none

Registration: more subtle background for local dev
  panel/src/components/Misc/Registration.vue
Due: frontend

Custom toolbar buttons for the textarea field
  panel/public/js/plugins.js
  panel/src/components/Forms/Toolbar.vue
Due: frontend

Rename registry name from `textarea` to `textareaButtons`
  panel/public/js/plugins.js
  panel/src/components/Forms/Toolbar.vue
Due: frontend

Blocks paste: additional fix
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Fix pagination calculation
  panel/src/components/Navigation/Pagination.vue
Due: frontend

`colors` library: fix no-alpha for hex strings
  panel/src/libraries/colors.js
Due: frontend

Fix BlockFigure
  panel/src/components/Forms/Blocks/BlockFigure.vue
  panel/src/components/Forms/Blocks/Types/Image.vue
Due: frontend

Fix blocks and layout field ids for default values #5111
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
  tests/Form/Fields/BlocksFieldTest.php
  tests/Form/Fields/LayoutFieldTest.php
Due: backend

Use `array_walk` instead `array_map`
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
Due: backend

Blocks field: fix batch select style
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Blocks: improve keyboard actions
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Blocks: scrollIntoView when focussing
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Fix after merge conflict
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Heading block: tweak level select
  panel/src/components/Forms/Blocks/Types/Heading.vue
Due: frontend

Blocks field: delete all string for dialog submit
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Blocks: split and merge
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/BlockOptions.vue
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/components/Forms/Blocks/Types/Heading.vue
  panel/src/components/Forms/Blocks/Types/List.vue
  panel/src/components/Forms/Blocks/Types/Text.vue
  panel/src/components/Forms/Input/ListInput.vue
  panel/src/components/Forms/Writer/Editor.js
  panel/src/components/Forms/Writer/Extensions/Keys.js
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

`Cmd + J` shortcut to merge blocks
  panel/src/components/Forms/Blocks/Block.vue
Due: frontend

Blocks: protect from merging when not allowed
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Blocks: fix deselecting
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Add split & merge i18n strings
  i18n/translations/en.json
Due: none

Blocks: Shortcuts to extend selection
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Split & merge icons
  panel/public/img/icons.svg
  panel/src/components/Forms/Blocks/BlockOptions.vue
Due: frontend

Blocks: remove selected via keyboard shortcut
  panel/src/components/Forms/Blocks/Block.vue
Due: frontend

Split icon: flip vertically
  panel/public/img/icons.svg
Due: none

EULA updates 2023-03-21
  LICENSE.md
Due: none

Upgrade SimpleImage to 4.0.0
  composer.json
  composer.lock
  src/Image/Darkroom/GdLib.php
  vendor/claviska/simpleimage/composer.json
  vendor/claviska/simpleimage/composer.lock
  vendor/claviska/simpleimage/src/claviska/SimpleImage.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_psr4.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/league/color-extractor/composer.json
  vendor/league/color-extractor/src/Color.php
  vendor/league/color-extractor/src/ColorExtractor.php
  vendor/league/color-extractor/src/Palette.php
Due: backend

Upgrade SimpleImage to 4.0.1
  composer.json
  composer.lock
  vendor/composer/installed.json
  vendor/composer/installed.php
Due: none

Upgrade SimpleImage to 4.0.2
  composer.json
  composer.lock
  vendor/claviska/simpleimage/src/claviska/SimpleImage.php
  vendor/composer/installed.json
  vendor/composer/installed.php
Due: none

Update dependencies
  composer.json
  composer.lock
  i18n/translations/ko.json
  panel/dist/js/index.js
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

Split: don’t crash for textarea
  panel/src/components/Forms/Blocks/Types/Heading.vue
  panel/src/components/Forms/Blocks/Types/List.vue
  panel/src/components/Forms/Blocks/Types/Text.vue
  panel/src/components/Forms/Input/TextareaInput.vue
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Blocks: collapse while dragging
  panel/src/components/Forms/Blocks/Block.vue
Due: frontend

Add unit test for i18n title of user blueprints
  src/Toolkit/I18n.php
  tests/Cms/Users/UserBlueprintTest.php
Due: backend

Refactor `I18n::translate()`
  src/Toolkit/I18n.php
  tests/Toolkit/I18nTest.php
Due: backend

Improve use of `I18n::translate()`
  src/Cms/Blueprint.php
  src/Cms/Role.php
  tests/Cms/Blueprints/BlueprintTest.php
  tests/Cms/Pages/PageBlueprintTest.php
Due: backend

Writer field: custom marks extension
  panel/public/js/plugins.js
  panel/src/components/Forms/Writer/Mark.js
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
