Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Remove dependabot
  .github/dependabot.yml
Due: none

Recommit dependabot
  .github/dependabot.yml
Due: none

refactor: make filter function more readable
  src/Panel/Plugins.php
Due: backend

Apply toggles field preview as bubbles #4566
  panel/src/components/Forms/Previews/index.js
Due: frontend

test: add test case for empty mjs modules
  tests/Panel/PluginsTest.php
Due: none

docs: add code comments for index.dev.mjs feature
  src/Panel/Document.php
  src/Panel/Plugins.php
  views/panel.php
Due: backend

Update node dependencies
  panel/package-lock.json
  panel/package.json
Due: none

docs: add comment on use of data URIs
  src/Panel/Plugins.php
Due: backend

Apply suggestions from code review
  src/Cms/File.php
Due: backend

Fix cs
  src/Cms/File.php
Due: backend

Extendable text block field input #3016
  panel/src/components/Forms/Blocks/Types/Text.vue
Due: frontend

refactor: adjust coding style, add type
  src/Panel/Document.php
  tests/Panel/PluginsTest.php
  views/panel.php
Due: backend

refactor: index.js filter fn as concise oneliner
  src/Panel/Plugins.php
Due: backend

Simplify component check for text block preview
  panel/src/components/Forms/Blocks/Types/Text.vue
Due: frontend

More clean up `Api` package
  src/Cms/Api.php
Due: backend

Additional logic cleanup
  src/Panel/Plugins.php
Due: backend

Fix double slashes in asset URLs with base URL `/`
  src/Filesystem/Asset.php
  tests/Filesystem/AssetTest.php
  tests/Panel/ModelTest.php
Due: backend

Fix double slashes in media folder link redirect
  src/Panel/Document.php
Due: backend

Set default locale for intl extension from config
  src/Toolkit/Locale.php
  tests/Toolkit/LocaleTest.php
Due: backend

PHP 8: clean up `Api` package
  src/Api/Api.php
  src/Api/Collection.php
  src/Api/Model.php
  src/Cms/Api.php
Due: backend

Psalm fixes
  src/Api/Api.php
  src/Api/Collection.php
  src/Api/Model.php
  src/Cms/App.php
Due: backend

PHP8: Clean up `Sane` package
  src/Sane/DomHandler.php
  src/Sane/Handler.php
  src/Sane/Html.php
  src/Sane/Sane.php
  src/Sane/Svg.php
  src/Sane/Svgz.php
  src/Sane/Xml.php
Due: backend

New `Uuid` package
  .gitignore
  composer.json
  composer.lock
  src/Uuid/Cache.php
  src/Uuid/HasUuids.php
  src/Uuid/Id.php
  src/Uuid/Identifiable.php
  src/Uuid/Index.php
  src/Uuid/Uri.php
  src/Uuid/Uuid.php
  tests/Uuid/CacheTest.php
  tests/Uuid/HasUuidsTest.php
  tests/Uuid/IdTest.php
  tests/Uuid/IndexTest.php
  tests/Uuid/TestCase.php
  tests/Uuid/UriTest.php
  tests/Uuid/UuidTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_psr4.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/hidehalo/nanoid-php/composer.json
  vendor/hidehalo/nanoid-php/src/Client.php
  vendor/hidehalo/nanoid-php/src/Core.php
  vendor/hidehalo/nanoid-php/src/CoreInterface.php
  vendor/hidehalo/nanoid-php/src/Generator.php
  vendor/hidehalo/nanoid-php/src/GeneratorInterface.php
  vendor/paragonie/random_compat/LICENSE
  vendor/paragonie/random_compat/composer.json
  vendor/paragonie/random_compat/lib/random.php
  vendor/paragonie/random_compat/other/build_phar.php
  vendor/paragonie/random_compat/psalm-autoload.php
Due: backend

`Http\Uri`: definable schemes
  src/Http/Uri.php
Due: backend

Permalink route
  config/routes.php
Due: backend

Default `uuid` cache
  src/Cms/Core.php
Due: backend

Add UUID support for lookup
  config/tags.php
  src/Cms/App.php
  src/Cms/FileActions.php
  src/Cms/Files.php
  src/Cms/HasFiles.php
  src/Cms/ModelWithContent.php
  src/Cms/PageActions.php
  src/Cms/Pages.php
  src/Cms/Users.php
  src/Text/KirbyTag.php
  tests/Cms/Files/FilesTest.php
  tests/Cms/Files/HasFilesTest.php
  tests/Cms/Pages/PagesTest.php
  tests/Cms/Users/UsersTest.php
  tests/Text/KirbyTagTest.php
  tests/Text/KirbyTagsTest.php
Due: backend

Suggestion from code review
  src/Toolkit/Locale.php
Due: backend

Coding style
  src/Http/Uri.php
Due: backend

Move LoginAlert to LoginView
  panel/src/components/Forms/Login.vue
  panel/src/components/Forms/LoginCode.vue
  panel/src/components/Views/LoginView.vue
Due: frontend

Throw user back to login page on challenge expiry
  panel/src/components/Views/LoginView.vue
  src/Cms/Auth.php
  tests/Cms/Auth/AuthChallengeTest.php
Due: backend, frontend

Fix frontend coding style CI
  .github/workflows/frontend.yml
Due: none

`npm run format && npm run lint -- --fix`
  panel/src/components/Forms/Field/TogglesField.vue
  panel/src/components/Forms/Input/MultiselectInput.vue
  panel/src/components/Forms/Input/TogglesInput.vue
  panel/src/components/Forms/Previews/ArrayFieldPreview.vue
  panel/src/components/Forms/Previews/BubblesFieldPreview.vue
  panel/src/components/Forms/Previews/DateFieldPreview.vue
  panel/src/components/Forms/Previews/FilesFieldPreview.vue
  panel/src/components/Forms/Previews/HtmlFieldPreview.vue
  panel/src/components/Forms/Previews/ImageFieldPreview.vue
  panel/src/components/Forms/Previews/PagesFieldPreview.vue
  panel/src/components/Forms/Previews/TimeFieldPreview.vue
  panel/src/components/Forms/Previews/UsersFieldPreview.vue
  panel/src/components/Layout/Overlay.vue
Due: frontend

Fix ESLint error
  panel/src/components/Views/SystemView.vue
Due: frontend

`k-text`: add `html` prop to centralize `v-html`
  panel/src/components/Dialogs/FormDialog.vue
  panel/src/components/Dialogs/TextDialog.vue
  panel/src/components/Forms/Field.vue
  panel/src/components/Forms/Field/HeadlineField.vue
  panel/src/components/Forms/Field/InfoField.vue
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Layout/Box.vue
  panel/src/components/Layout/Collection.vue
  panel/src/components/Misc/Text.vue
  panel/src/components/Sections/InfoSection.vue
Due: frontend

Silence `vue/require-prop-types` for `TableCell`
  panel/src/components/Layout/TableCell.vue
Due: frontend

PHP 8: clean up `Http` package
  src/Cms/Response.php
  src/Cms/Url.php
  src/Http/Cookie.php
  src/Http/Environment.php
  src/Http/Header.php
  src/Http/Identifiers.php
  src/Http/Idn.php
  src/Http/Params.php
  src/Http/Path.php
  src/Http/Query.php
  src/Http/Remote.php
  src/Http/Request.php
  src/Http/Request/Auth.php
  src/Http/Request/Auth/BasicAuth.php
  src/Http/Request/Auth/BearerAuth.php
  src/Http/Request/Auth/SessionAuth.php
  src/Http/Request/Body.php
  src/Http/Request/Data.php
  src/Http/Request/Files.php
  src/Http/Request/Query.php
  src/Http/Response.php
  src/Http/Route.php
  src/Http/Router.php
  src/Http/Uri.php
  src/Http/Url.php
  src/Http/Visitor.php
Due: backend

Remove `Http\Identifiers`
  src/Http/Identifiers.php
  src/Http/Params.php
  src/Http/Query.php
Due: backend
