Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Clean up `LinkField.vue`
  panel/src/components/Forms/Field/LinkField.vue
Due: frontend

Container query polyfill
  panel/package-lock.json
  panel/package.json
  panel/src/index.js
Due: frontend

Fix types in new AuthException class
  src/Exception/AuthException.php
Due: backend

Fix e2e tests
  panel/src/components/Views/FileView.e2e.js
  panel/src/components/Views/PageView.e2e.js
  panel/src/components/Views/SiteView.e2e.js
  panel/src/components/Views/UsersView.e2e.js
Due: frontend

More e2e fixes
  panel/src/components/Forms/Field/DateField.e2e.js
  panel/src/components/Views/FileView.e2e.js
  panel/src/components/Views/PageView.e2e.js
  panel/src/components/Views/SiteView.e2e.js
Due: frontend

Color field: improve preview
  panel/src/components/Forms/Field/ColorField.vue
Due: frontend

Improve background pattern
  panel/src/styles/utilities.css
Due: frontend

`panel.upload`: new `immediate` option
  panel/src/components/Dialogs/UploadDialog.vue
  panel/src/components/Views/UserView.vue
  panel/src/panel/upload.js
  src/Panel/User.php
Due: backend, frontend

Move page: fix finding new parent page
  config/areas/site/dialogs.php
Due: backend

Browser: fix preview for non-image files
  panel/src/components/Navigation/Browser.vue
  panel/src/components/Navigation/FileBrowser.vue
Due: frontend

Link field: preview image for selected file
  panel/src/components/Forms/Field/LinkField.vue
Due: frontend

Search view: fix responsiveness
  panel/src/components/Views/SearchView.vue
Due: frontend

Search view: fix autofocus
  panel/src/components/Views/SearchView.vue
Due: frontend

Improve the file view dropdown
  panel/src/components/Layout/FilePreview.vue
  panel/src/components/Views/FileView.vue
Due: frontend

Nicer background for file icons in the browser
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Navigation/Browser.vue
Due: frontend

Add dist files
  panel/dist/css/style.css
  panel/dist/img/icons.svg
  panel/dist/js/container-query-polyfill.modern.js
  panel/dist/js/index.js
  panel/dist/js/plugins.js
  panel/dist/js/vendor.js
  panel/dist/js/vue.js
  panel/dist/js/vuedraggable.js
Due: none

Update composer deps
  vendor/composer/ClassLoader.php
  vendor/composer/InstalledVersions.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

`$model->file()`: adhere to sort order
  src/Cms/HasFiles.php
Due: backend

Fix `isFile` return types
  src/Cms/File.php
  src/Filesystem/IsFile.php
Due: backend

Fix typo `I18n::translate` method name #5193
  composer.json
  config/areas/languages/views.php
Due: backend

Deactivate DateField e2e test temporiarily
  panel/src/components/Forms/Field/DateField.tmp.js
Due: frontend

Fix CS
  panel/src/components/Forms/Field/LinkField.vue
Due: frontend

Fix enxtending Vue components
  panel/src/config/errorhandling.js
  panel/src/index.js
  panel/src/legacy/index.js
Due: frontend

CSS `:has()` polyfill
  panel/package-lock.json
  panel/package.json
  panel/src/index.js
  panel/vite.config.js
Due: frontend

Panel feature: silent loading
  panel/src/panel/feature.js
Due: frontend

Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

`Query` package: remove strict types again
  src/Query/Argument.php
  src/Query/Arguments.php
  src/Query/Expression.php
  src/Query/Query.php
  src/Query/Segment.php
  src/Query/Segments.php
Due: backend

Fix link dialog in textarea field #5197
  panel/src/components/Forms/Field/LinkField.vue
Due: frontend

Use actual recursion of `k-tree`
  panel/src/components/Navigation/PageTree.vue
  panel/src/components/Navigation/Tree.vue
Due: frontend

Fix move page dialog
  panel/src/components/Dialogs/PageMoveDialog.vue
  panel/src/components/Navigation/PageTree.vue
  src/Cms/Find.php
Due: backend, frontend

Add more unit tests for `Find::page()`
  src/Cms/Find.php
  tests/Cms/FindTest.php
Due: backend

More specific `Find::page()` for site
  src/Cms/Find.php
  tests/Cms/FindTest.php
Due: backend

Rename panel `Module` -> `State`
  panel/src/panel/drag.js
  panel/src/panel/feature.js
  panel/src/panel/language.js
  panel/src/panel/module.test.js
  panel/src/panel/notification.js
  panel/src/panel/panel.js
  panel/src/panel/state.js
  panel/src/panel/state.test.js
  panel/src/panel/system.js
  panel/src/panel/translation.js
  panel/src/panel/upload.js
  panel/src/panel/user.js
Due: frontend

Rename panel `Island` -> `Modal`
  panel/src/components/Layout/Panel.vue
  panel/src/mixins/dialog.js
  panel/src/mixins/drawer.js
  panel/src/panel/dialog.js
  panel/src/panel/dialog.test.js
  panel/src/panel/drawer.js
  panel/src/panel/drawer.test.js
  panel/src/panel/modal.js
  panel/src/panel/modal.test.js
  panel/src/panel/panel.js
  panel/src/panel/state.js
Due: frontend

Panel: more error log in debug mode
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/PagesSection.vue
  panel/src/components/Views/InstallationView.vue
  panel/src/config/errorhandling.js
  panel/src/mixins/picker/dialog.js
  panel/src/panel/feature.js
  panel/src/panel/panel.js
  panel/src/panel/upload.js
Due: frontend

Fix field API
  config/fields/mixins/upload.php
  src/Api/Api.php
  src/Form/Form.php
Due: backend

Use current language for Fiber requests
  panel/src/api/index.js
  panel/src/components/Navigation/Languages.vue
  panel/src/components/Sections/FieldsSection.vue
Due: frontend

Rename `LanguagesDropdown` component
  panel/src/components/Navigation/LanguagesDropdown.vue
  panel/src/components/Navigation/index.js
Due: frontend

Fix content store reloading
  panel/src/components/Views/ModelView.vue
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
