Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Remove cypress
  .gitattributes
  .github/workflows/integration.yml
  .github/workflows/release.yml
  .gitignore
  CONTRIBUTING.md
  panel/.eslintrc.js
  panel/README.md
  panel/cypress.config.js
  panel/package-lock.json
  panel/package.json
  panel/src/components/Forms/Blocks/Blocks.e2e.js
  panel/src/components/Views/Files/FileView.e2e.js
  panel/src/components/Views/Login/InstallationView.e2e.js
  panel/src/components/Views/Login/LoginView.e2e.js
  panel/src/components/Views/Pages/PageView.e2e.js
  panel/src/components/Views/Pages/SiteView.e2e.js
  panel/src/components/Views/Users/UsersView.e2e.js
Due: frontend

Make add button in models section responsive
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Avoid overflowing cardlet
  panel/src/components/Collection/Items.vue
Due: frontend

More responsive grid for columns and sections
  panel/src/components/Layout/Grid.vue
  panel/src/components/Sections/Section.vue
Due: frontend

Make add button in blocks field responsive
  panel/src/components/Forms/Field/BlocksField.vue
Due: frontend

Panel menu: allow plugins automatically for now
  src/Cms/Loader.php
Due: backend

Topbar: fix color of menu proxy
  panel/src/components/View/Topbar.vue
Due: frontend

Fix JS unit tests
  panel/package-lock.json
  panel/package.json
  panel/src/components/Misc/Progress.test.js
  panel/src/components/Navigation/PrevNext.test.js
  panel/src/components/Text/Text.test.js
  panel/src/components/Text/__snapshots__/Text.test.js.snap
  panel/src/helpers/color.test.js
  panel/src/panel/dialog.test.js
  panel/src/panel/drag.test.js
  panel/src/panel/drawer.test.js
  panel/src/panel/feature.test.js
  panel/src/panel/menu.js
  panel/src/panel/modal.test.js
  panel/src/panel/panel.test.js
  panel/src/panel/translation.test.js
  panel/src/panel/view.js
Due: frontend

Breadcrumb: ensure min width when others are huge
  panel/src/components/Navigation/Breadcrumb.vue
Due: frontend

Revert "Breadcrumb: ensure min width when others are huge"
  panel/src/components/Navigation/Breadcrumb.vue
Due: frontend

ListItem: fix hover gab between sort btn and item
  panel/src/components/Collection/Item.vue
Due: frontend

Fix section spacing outside grids
  panel/src/components/Layout/Grid.vue
Due: frontend

ModelSection search: fix placeholder contrast
  panel/src/components/Forms/Input/NumberInput.vue
  panel/src/components/Forms/Input/TextInput.vue
  panel/src/components/Forms/Input/TextareaInput.vue
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Panel menu toggle: add small transition
  panel/src/components/View/Menu.vue
Due: frontend

Unify help text margins
  panel/src/components/Forms/Field.vue
  panel/src/components/Forms/Field/HeadlineField.vue
  panel/src/components/Views/Languages/LanguageView.vue
Due: frontend

Fix error view
  i18n/translations/en.json
  panel/src/components/Views/ErrorView.vue
Due: frontend

Remove cypress
  .gitattributes
  .github/workflows/integration.yml
  .github/workflows/release.yml
  .gitignore
  CONTRIBUTING.md
  panel/.eslintrc.js
  panel/README.md
  panel/cypress.config.js
  panel/package-lock.json
  panel/package.json
  panel/src/components/Forms/Blocks/Blocks.e2e.js
  panel/src/components/Views/FileView.e2e.js
  panel/src/components/Views/InstallationView.e2e.js
  panel/src/components/Views/LoginView.e2e.js
  panel/src/components/Views/PageView.e2e.js
  panel/src/components/Views/SiteView.e2e.js
  panel/src/components/Views/UsersView.e2e.js
Due: frontend

Remove e2e leftover file
  panel/src/components/Forms/Field/DateField.tmp.js
Due: frontend

Fix `->toUrl()` method for invalid uuids #5367
  config/components.php
  tests/Cms/Fields/FieldMethodsTest.php
  tests/Form/Fields/LinkFieldTest.php
Due: backend

Support any chars in language variables
  config/areas/languages/dialogs.php
  i18n/translations/en.json
  panel/src/components/Views/LanguageView.vue
  src/Cms/Language.php
  src/Cms/LanguageVariable.php
Due: backend, frontend

New `languages.variables` option
  config/areas/languages/views.php
  panel/src/components/Views/LanguagesView.vue
Due: backend, frontend

Don't allow delete language variable from secondary languages
  config/areas/languages/views.php
Due: backend

Make translatable hard coded strings
  config/areas/languages/dialogs.php
  config/areas/languages/views.php
  i18n/translations/en.json
  panel/src/components/Views/LanguageView.vue
Due: backend, frontend

Changes from review
  config/areas/languages/dialogs.php
  src/Cms/Language.php
Due: backend

Fix encode-decode order
  panel/src/components/Views/LanguageView.vue
  src/Cms/Language.php
Due: backend, frontend

Throw `NotFoundException` for invalid uuid #5367
  config/components.php
  tests/Cms/Fields/FieldMethodsTest.php
Due: backend

Add missing unit tests
  tests/Cms/Languages/LanguageTest.php
Due: none

Fix the margin in the layouts footer
  panel/src/components/Forms/Layouts/Layouts.vue
Due: frontend

Return `null` for `->toUrl()` instead throw exception
  config/methods.php
  tests/Cms/App/AppComponentsTest.php
  tests/Cms/Fields/FieldMethodsTest.php
Due: backend

Apply changes from review
  config/components.php
  config/methods.php
Due: backend

Use `uri` instead `id` on changeSlug dialog #5371
  config/areas/site/dialogs.php
Due: backend

Add type hints to `Form` namespace
  src/Cms/Section.php
  src/Form/Field.php
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
  src/Form/FieldClass.php
  src/Form/Form.php
  src/Form/Mixin/EmptyState.php
  src/Form/Mixin/Max.php
  src/Form/Mixin/Min.php
  src/Form/Validations.php
  src/Toolkit/Component.php
Due: backend

`Form` namespace: add unit tests
  src/Form/FieldClass.php
  tests/Form/FieldClassTest.php
  tests/Form/FormTest.php
Due: backend

Apply suggestions from code review
  src/Form/Field/LayoutField.php
  src/Form/FieldClass.php
  src/Form/Mixin/EmptyState.php
Due: backend

Fix change from code revision
  src/Form/Mixin/EmptyState.php
Due: backend

Layout selector size enhancement
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Forms/Field/LayoutField.vue
  panel/src/components/Forms/Layouts/LayoutSelector.vue
  panel/src/components/Forms/Layouts/Layouts.vue
  src/Form/Field/LayoutField.php
Due: backend, frontend

Add inline comments about encode/decode process
  panel/src/components/Views/LanguageView.vue
  src/Cms/Language.php
Due: backend, frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
