Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

PageCreateDialog: remove dummy values
  src/Panel/PageCreateDialog.php
Due: backend

PageCreateDialog: use tmp page for string template
  src/Panel/PageCreateDialog.php
Due: backend

Fix section if there’s no entry yet
  config/sections/mixins/layout.php
Due: backend

PageCreateDialog: unit tests
  src/Panel/PageCreateDialog.php
  tests/Panel/PageCreateDialogTest.php
Due: backend

Table layout: fix `mobile` columns
  panel/src/components/Layout/Table.vue
Due: frontend

New lab examples
  panel/lab/components/blocks/code/index.vue
  panel/lab/components/blocks/default/index.vue
  panel/lab/components/blocks/fields/index.vue
  panel/lab/components/blocks/gallery/index.vue
  panel/lab/components/blocks/heading/index.vue
  panel/lab/components/blocks/markdown/index.vue
  panel/lab/components/blocks/quote/index.vue
  panel/lab/components/blocks/table/index.vue
  panel/lab/components/blocks/text/index.vue
  panel/lab/components/blocks/video/index.vue
Due: none

New isDisabled computed prop for the Block component
  panel/src/components/Forms/Blocks/Block.vue
Due: frontend

Link field improvements
  config/fields/link.php
  config/methods.php
  panel/src/components/Forms/Field/LinkField.vue
  src/Cms/Url.php
Due: backend, frontend

Panel search: support dialog open with spec type
  panel/src/components/Dialogs/SearchDialog.vue
  panel/src/panel/panel.js
Due: frontend

Fix leftover attribute
  panel/src/components/Layout/Table.vue
Due: frontend

Fix lab examples
  panel/lab/components/tables/3_height/index.vue
Due: none

Disabled states for all block types
  panel/lab/components/block/3_figure/index.vue
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/Elements/BlockFigure.vue
  panel/src/components/Forms/Blocks/Types/Code.vue
  panel/src/components/Forms/Blocks/Types/Gallery.vue
  panel/src/components/Forms/Blocks/Types/Heading.vue
  panel/src/components/Forms/Blocks/Types/Image.vue
  panel/src/components/Forms/Blocks/Types/List.vue
  panel/src/components/Forms/Blocks/Types/Markdown.vue
  panel/src/components/Forms/Blocks/Types/Quote.vue
  panel/src/components/Forms/Blocks/Types/Text.vue
  panel/src/components/Forms/Blocks/Types/Video.vue
Due: frontend

Fix column block gap
  panel/src/components/Layout/Grid.vue
Due: frontend

Consistent block examples with backend integration
  panel/lab/components/block/1_block/index.vue
  panel/lab/components/blocks/code/index.php
  panel/lab/components/blocks/code/index.vue
  panel/lab/components/blocks/fields/index.vue
  panel/lab/components/blocks/gallery/index.php
  panel/lab/components/blocks/gallery/index.vue
  panel/lab/components/blocks/heading/index.php
  panel/lab/components/blocks/heading/index.vue
  panel/lab/components/blocks/image/index.php
  panel/lab/components/blocks/image/index.vue
  panel/lab/components/blocks/line/index.vue
  panel/lab/components/blocks/list/index.php
  panel/lab/components/blocks/list/index.vue
  panel/lab/components/blocks/markdown/index.php
  panel/lab/components/blocks/markdown/index.vue
  panel/lab/components/blocks/quote/index.php
  panel/lab/components/blocks/quote/index.vue
  panel/lab/components/blocks/text/index.php
  panel/lab/components/blocks/text/index.vue
  panel/lab/components/blocks/video/index.php
  panel/lab/components/blocks/video/index.vue
  panel/src/components/Forms/Blocks/Elements/BlockFigure.vue
Due: frontend

Fix linting issue
  panel/src/components/Forms/Blocks/Block.vue
Due: frontend

Revert the accidental resorting of state changes
  panel/src/panel/panel.js
Due: frontend

BlockTitle: use `label` as fallback for `name`
  panel/lab/components/block/4_title/index.vue
  panel/src/components/Forms/Blocks/Elements/BlockTitle.vue
Due: frontend

Nicer placeholder background for the disabled gallery block
  panel/src/components/Forms/Blocks/Types/Gallery.vue
Due: frontend

Improve sharpening methods
  src/Image/Darkroom/GdLib.php
  src/Image/Darkroom/ImageMagick.php
Due: backend

Add sharpen to the media URL and add/fix unit tests
  src/Filesystem/Filename.php
  tests/Filesystem/FilenameTest.php
  tests/Image/Darkroom/GdLibTest.php
  tests/Image/Darkroom/ImageMagickTest.php
Due: backend

Add a unit test for the default sharpen value
  tests/Image/DarkroomTest.php
Due: none

Add imagemagick test
  tests/Image/Darkroom/ImageMagickTest.php
Due: none

Add sharpen tests to the GdLibTest class
  tests/Image/Darkroom/GdLibTest.php
Due: none

Fix cs issue
  tests/Image/Darkroom/GdLibTest.php
Due: none

Fix the help text position in block and layout fields
  panel/src/components/Forms/Field/BlocksField.vue
  panel/src/components/Forms/Field/LayoutField.vue
Due: frontend

Add PagesPicker unit tests
  tests/Panel/PagesPickerTest.php
Due: none

Move picker classes to `Panel` namespace
  config/aliases.php
  config/fields/mixins/filepicker.php
  config/fields/mixins/pagepicker.php
  config/fields/mixins/userpicker.php
  src/Panel/FilesPicker.php
  src/Panel/ModelsPicker.php
  src/Panel/PagesPicker.php
  src/Panel/UsersPicker.php
  tests/Panel/FilesPickerTest.php
  tests/Panel/PagesPickerTest.php
  tests/Panel/UsersPickerTest.php
Due: backend

Remove picker field mixins
  config/fields/files.php
  config/fields/mixins/filepicker.php
  config/fields/mixins/pagepicker.php
  config/fields/mixins/userpicker.php
  config/fields/pages.php
  config/fields/users.php
  src/Cms/Core.php
  src/Panel/FilesPicker.php
  src/Panel/ModelsPicker.php
  src/Panel/PagesPicker.php
  src/Panel/UsersPicker.php
  tests/Cms/CoreTest.php
  tests/Form/Fields/Mixins/FilePickerMixinTest.php
  tests/Form/Fields/Mixins/PagePickerMixinTest.php
  tests/Form/Fields/Mixins/UserPickerMixinTest.php
  tests/Form/Fields/PagesFieldTest.php
  tests/Form/Fields/TestCase.php
  tests/Panel/FilesPickerTest.php
  tests/Panel/ModelsPickerTest.php
  tests/Panel/PagesPickerTest.php
  tests/Panel/UsersPickerTest.php
Due: backend

fix(DB): added charset to DB Params
  src/Database/Db.php
Due: backend

Set utf8mb4 as default charset for mysql connections
  src/Database/Database.php
  src/Database/Db.php
Due: backend

Remove unused `inputbox` code
  panel/lab/basics/design/height/index.vue
  panel/src/components/Lab/InputboxExamples.vue
  panel/src/components/Lab/OptionsInputboxExamples.vue
  panel/src/components/Lab/PlaygroundView.vue
Due: frontend

Fix labs for fieldpreviews
  panel/lab/components/fieldpreviews/array/index.vue
  panel/lab/components/fieldpreviews/bubbles/index.vue
  panel/lab/components/fieldpreviews/color/index.vue
  panel/lab/components/fieldpreviews/date/index.vue
  panel/lab/components/fieldpreviews/email/index.vue
  panel/lab/components/fieldpreviews/files/index.vue
  panel/lab/components/fieldpreviews/flag/index.vue
  panel/lab/components/fieldpreviews/html/index.vue
  panel/lab/components/fieldpreviews/image/index.vue
  panel/lab/components/fieldpreviews/object/index.vue
  panel/lab/components/fieldpreviews/pages/index.vue
  panel/lab/components/fieldpreviews/text/index.vue
  panel/lab/components/fieldpreviews/time/index.vue
  panel/lab/components/fieldpreviews/toggle/index.vue
  panel/lab/components/fieldpreviews/url/index.vue
  panel/lab/components/fieldpreviews/users/index.vue
  panel/src/components/Lab/FieldPreviewExample.vue
  panel/src/components/Lab/PlaygroundView.vue
  panel/src/components/Lab/TableCell.vue
Due: frontend

Fix labs for inputs
  panel/lab/components/inputs/alpha/index.vue
  panel/lab/components/inputs/calendar/index.vue
  panel/lab/components/inputs/checkboxes/index.vue
  panel/lab/components/inputs/choice/index.vue
  panel/lab/components/inputs/colorname/index.vue
  panel/lab/components/inputs/coloroptions/index.vue
  panel/lab/components/inputs/colorpicker/index.vue
  panel/lab/components/inputs/coords/index.vue
  panel/lab/components/inputs/date/index.vue
  panel/lab/components/inputs/email/index.vue
  panel/lab/components/inputs/hue/index.vue
  panel/lab/components/inputs/list/index.vue
  panel/lab/components/inputs/multiselect/index.vue
  panel/lab/components/inputs/number/index.vue
  panel/lab/components/inputs/password/index.vue
  panel/lab/components/inputs/picklist/index.vue
  panel/lab/components/inputs/radio/index.vue
  panel/lab/components/inputs/range/index.vue
  panel/lab/components/inputs/search/index.vue
  panel/lab/components/inputs/select/index.vue
  panel/lab/components/inputs/slug/index.vue
  panel/lab/components/inputs/tags/index.vue
  panel/lab/components/inputs/tel/index.vue
  panel/lab/components/inputs/text/index.vue
  panel/lab/components/inputs/textarea/index.vue
  panel/lab/components/inputs/time/index.vue
  panel/lab/components/inputs/timeoptions/index.vue
  panel/lab/components/inputs/toggle/index.vue
  panel/lab/components/inputs/toggles/index.vue
  panel/lab/components/inputs/url/index.vue
  panel/lab/components/inputs/writer/index.vue
  panel/src/components/Lab/InputExamples.vue
  panel/src/components/Lab/OptionsInputExamples.vue
  panel/src/components/Lab/PlaygroundView.vue
Due: frontend

Fix labs for fields
  panel/lab/components/fields/blocks/index.vue
  panel/lab/components/fields/checkboxes/index.vue
  panel/lab/components/fields/color/index.vue
  panel/lab/components/fields/date/index.vue
  panel/lab/components/fields/email/index.vue
  panel/lab/components/fields/files/index.vue
  panel/lab/components/fields/headline/index.vue
  panel/lab/components/fields/info/index.vue
  panel/lab/components/fields/layout/index.vue
  panel/lab/components/fields/link/index.vue
  panel/lab/components/fields/list/index.vue
  panel/lab/components/fields/multiselect/index.vue
  panel/lab/components/fields/number/index.vue
  panel/lab/components/fields/object/index.vue
  panel/lab/components/fields/pages/index.vue
  panel/lab/components/fields/password/index.vue
  panel/lab/components/fields/radio/index.vue
  panel/lab/components/fields/range/index.vue
  panel/lab/components/fields/select/index.vue
  panel/lab/components/fields/slug/index.vue
  panel/lab/components/fields/structure/index.vue
  panel/lab/components/fields/tags/index.vue
  panel/lab/components/fields/tel/index.vue
  panel/lab/components/fields/text/index.vue
  panel/lab/components/fields/textarea/index.vue
  panel/lab/components/fields/time/index.vue
  panel/lab/components/fields/toggle/index.vue
  panel/lab/components/fields/toggles/index.vue
  panel/lab/components/fields/url/index.vue
  panel/lab/components/fields/users/index.vue
  panel/lab/components/fields/writer/index.vue
  panel/src/components/Lab/FieldExamples.vue
  panel/src/components/Lab/OptionsFieldExamples.vue
  panel/src/components/Lab/PlaygroundView.vue
Due: frontend

New `$helper.link`
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/helpers/index.js
  panel/src/helpers/link.js
  panel/src/helpers/link.test.js
Due: frontend

Link field preview: use loader
  panel/src/components/Forms/Previews/LinkFieldPreview.vue
Due: frontend

Fixed border radius for the tag image
  panel/src/components/Navigation/Tag.vue
Due: frontend

Revert using loader, bad UX when fast connection
  panel/src/components/Forms/Previews/LinkFieldPreview.vue
Due: frontend

Link field preview
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Forms/Previews/LinkFieldPreview.vue
  panel/src/components/Forms/Previews/index.js
Due: frontend

Link field preview: fix placeholder
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Forms/Previews/LinkFieldPreview.vue
Due: frontend
