Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix search and implement core->area
  panel/src/components/Layout/Inside.vue
  panel/src/components/Navigation/Search.vue
  src/Cms/Core.php
Due: backend, frontend

Fix unit tests
  tests/Cms/App/AppPluginsTest.php
  tests/Cms/CoreTest.php
  tests/Cms/TestCase.php
Due: none

First implementation of extendable areas with a new architecture to load stuff in Kirby
  config/areas/account.php
  config/areas/installation.php
  config/areas/login.php
  config/areas/settings/views.php
  config/areas/site/views.php
  config/areas/users/views.php
  config/blueprints.php
  config/fields.php
  config/roots.php
  config/snippets.php
  config/templates.php
  config/urls.php
  src/Cms/App.php
  src/Cms/AppPlugins.php
  src/Cms/Blueprint.php
  src/Cms/Core.php
  src/Cms/Loader.php
  src/Panel/File.php
  src/Panel/Model.php
  src/Panel/Page.php
  src/Panel/Panel.php
  src/Panel/Site.php
  src/Panel/User.php
  src/Toolkit/Component.php
  tests/Panel/FileTest.php
  tests/Panel/ModelTest.php
  tests/Panel/PageTest.php
  tests/Panel/PanelTest.php
  tests/Panel/SiteTest.php
  tests/Panel/UserTest.php
Due: backend

Fix unit tests
  tests/Panel/DropdownTest.php
Due: none

Update docblock descriptions
  src/Cms/App.php
Due: backend

Add `method` prop for upload options #3687
  panel/src/components/Forms/Upload.vue
Due: frontend

Add query params to dropdown methods
  config/areas/files/dropdowns.php
  config/areas/site/dropdowns.php
  src/Panel/File.php
  src/Panel/Page.php
Due: backend

Fix unit tests
  src/Panel/File.php
  src/Panel/Page.php
  tests/Panel/FileTest.php
  tests/Panel/PageTest.php
  tests/Panel/SiteTest.php
  tests/Panel/UserTest.php
Due: backend

Fix request params in dropdown methods
  src/Panel/File.php
  src/Panel/Page.php
Due: backend

Fix for display error in narrow columns
  panel/src/components/Layout/Items.vue
Due: frontend

Better dialog keys
  config/areas/settings/dialogs.php
  config/areas/site/dialogs.php
  config/areas/users/dialogs.php
  src/Panel/Panel.php
Due: backend

Better keys for views
  config/areas/site/views.php
  config/areas/users/views.php
Due: backend

More view key fixes
  config/areas/account.php
  config/areas/installation.php
  config/areas/login.php
Due: backend

Better keys for dropdowns
  config/areas/site/dropdowns.php
  config/areas/users/dropdowns.php
  src/Cms/Loader.php
  src/Panel/Panel.php
  tests/Cms/Loader/LoaderTest.php
Due: backend

Fix duplicate code
  src/Cms/Loader.php
  src/Panel/Panel.php
  tests/Cms/Loader/LoaderTest.php
Due: backend

Update version number
  composer.json
Due: none

Update dist files
  panel/dist/css/style.css
  panel/dist/img/icons.svg
  panel/dist/js/index.js
Due: none

Update translations
  i18n/translations/fi.json
Due: none

Update composer dependencies
  composer.lock
  vendor/composer/InstalledVersions.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_files.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/laminas/laminas-zendframework-bridge/composer.json
  vendor/laminas/laminas-zendframework-bridge/composer.lock
Due: none

Fix for failing info section
  panel/dist/js/index.js
  panel/src/components/Sections/InfoSection.vue
Due: frontend

Refactor async JS code
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/FormIndicator.vue
  panel/src/components/Navigation/Pagination.vue
  panel/src/components/Sections/InfoSection.vue
Due: frontend

`Obj::set()` method
  src/Toolkit/Obj.php
  tests/Toolkit/ObjTest.php
Due: backend

Global options for all kirbytags
  config/tags.php
  src/Text/KirbyTag.php
Due: backend

Fix forced integer on DB::insert() (Fix #3140)
  src/Database/Db.php
Due: backend

Fix invalid response code for wrong password (Fix #2856)
  src/Cms/User.php
Due: backend

Better defaults for the TextInput (Fix #3063)
  panel/src/components/Forms/Input/TextInput.vue
Due: frontend

Add unit tests
  tests/Cms/Users/UserTest.php
Due: none

Add unit tests for kirbytags global options
  tests/Text/KirbyTagsTest.php
Due: none

Remove unnecessary awaits
  panel/src/api/auth.js
  panel/src/api/languages.js
  panel/src/fiber/index.js
Due: frontend

Fix ignoring code coverage
  src/Database/Db.php
Due: backend

`DB::insert` fix docblock
  src/Database/Db.php
Due: backend

`page.create` dialog: fix single template value
  config/areas/site/dialogs.php
  tests/Panel/Areas/PageDialogsTest.php
Due: backend

Fix block loading order
  panel/src/config/components.js
Due: frontend

`toggle` field: fix for missing `text` prop
  config/fields/toggle.php
  src/Cms/ModelWithContent.php
Due: backend

Unit test
  tests/Cms/Models/ModelWithContentTest.php
Due: none

Fix overlay/dialogs/drawers on back navigation
  panel/src/fiber/app.js
  panel/src/store/modules/drawers.js
  panel/src/store/store.js
Due: frontend

Simplify `isLoading` Vuex action
  panel/src/store/store.js
Due: frontend

Additional Fiber unit tests
  config/areas/settings/dialogs.php
  tests/Panel/JsonTest.php
Due: backend

Revert "Better defaults for the TextInput (Fix #3063)"
  panel/src/components/Forms/Input/TextInput.vue
Due: frontend

First rough paste implementation
  panel/src/components/Forms/Blocks/BlockSelector.vue
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/components/Forms/Blocks/Types/Text.vue
  panel/src/components/Forms/Writer/Editor.js
  panel/src/components/Forms/Writer/Writer.vue
  panel/src/components/Writer/Extensions/Insert.js
  src/Form/Field/BlocksField.php
Due: backend, frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
