Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: Disabled styling for choice input fields
  panel/src/components/Forms/Input/ChoiceInput.vue
Due: frontend

fix: Hide placeholder on disabled string inputs
  panel/src/components/Forms/Input/StringInput.vue
  panel/src/components/Forms/Input/TextInput.vue
Due: frontend

fix: Hide placeholder on disabled number inputs
  panel/src/components/Forms/Input/NumberInput.vue
Due: frontend

fix: Hide placeholder on disabled textarea inputs
  panel/src/components/Forms/Input/TextareaInput.vue
Due: frontend

test: Add Lab examples for sortable items
  panel/lab/components/items/1_list/index.vue
  panel/lab/components/items/2_cards/index.vue
  panel/lab/components/items/3_cardlets/index.vue
Due: none

fix: Lab examples for selectable items
  panel/lab/components/items/1_list/index.vue
  panel/lab/components/items/2_cards/index.vue
  panel/lab/components/items/3_cardlets/index.vue
  panel/lab/components/items/4_table/index.vue
Due: none

fix: sortable `k-items` when not defined
  panel/src/components/Collection/Items.vue
Due: frontend

fix: Ensure stable unique key in `k-items` loop
  panel/src/components/Collection/Items.vue
Due: frontend

fix: Place sort handle inside `k-item` boundaries
  panel/src/components/Collection/Item.vue
Due: frontend

fix: Enforce currentColor only for `k-icon` SVGs
  panel/src/components/Misc/Icon.vue
  panel/src/styles/reset.css
Due: frontend

fix: When condition independent of field order
  src/Form/Field.php
  src/Form/Fields.php
  src/Form/Mixin/Value.php
  src/Form/Mixin/When.php
Due: backend

refact: Move since tag to own section in Lab docs (#7296)
  config/areas/lab/drawers.php
  panel/src/components/Lab/Docs.vue
  panel/src/components/Lab/Docs/Description.vue
Due: backend, frontend

fix: Toggles field disabled styling (#7357)
  panel/src/components/Forms/Input/TogglesInput.vue
Due: frontend

fix: Layout field disabled styling (#7358)
  panel/src/components/Forms/Layouts/Layout.vue
  panel/src/components/Forms/Layouts/LayoutColumn.vue
Due: frontend

fix: Disabled styling for choice input fields (#7359)
  panel/src/components/Forms/Input/ChoiceInput.vue
Due: frontend

fix: Enforce currentColor only for `k-icon` SVGs (#7362)
  panel/src/components/Misc/Icon.vue
  panel/src/styles/reset.css
Due: frontend

fix: Logout area icon
  config/areas/logout.php
Due: backend

refact!: Remove `$` prefix from Fiber
  config/areas/users/dialogs.php
  panel/src/panel/feature.js
  panel/src/panel/feature.test.js
  panel/src/panel/modal.js
  panel/src/panel/notification.js
  panel/src/panel/panel.js
  panel/src/panel/panel.test.js
  panel/src/panel/request.globals.test.js
  panel/src/panel/request.headers.test.js
  panel/src/panel/state.js
  panel/src/panel/state.test.js
  src/Panel/Assets.php
  src/Panel/Dialog.php
  src/Panel/Document.php
  src/Panel/Drawer.php
  src/Panel/Dropdown.php
  src/Panel/Json.php
  src/Panel/Search.php
  src/Panel/View.php
  tests/Panel/Areas/AccountDialogsTest.php
  tests/Panel/Areas/AreaTestCase.php
  tests/Panel/Areas/LanguagesTest.php
  tests/Panel/Areas/UsersDialogsTest.php
  tests/Panel/DialogTest.php
  tests/Panel/DropdownTest.php
  tests/Panel/JsonTest.php
  tests/Panel/PanelTest.php
  tests/Panel/Ui/Buttons/PageStatusButtonTest.php
  tests/Panel/ViewTest.php
Due: backend, frontend

refact!: Move dialogs to `Kirby\Panel\Ui\Dialogs`
  config/areas/account/dialogs.php
  config/areas/site/dialogs.php
  config/areas/users/dialogs.php
  src/Panel/Assets.php
  src/Panel/Ui/Dialogs/ChangesDialog.php
  src/Panel/Ui/Dialogs/PageCreateDialog.php
  src/Panel/Ui/Dialogs/UserTotpDisableDialog.php
  src/Panel/Ui/Dialogs/UserTotpEnableDialog.php
  tests/Panel/Ui/Buttons/PageStatusButtonTest.php
  tests/Panel/Ui/Dialogs/ChangesDialogTest.php
  tests/Panel/Ui/Dialogs/PageCreateDialogTest.php
  tests/Panel/Ui/Dialogs/UserTotpDisableDialogTest.php
  tests/Panel/Ui/Dialogs/UserTotpEnableDialogTest.php
Due: backend

docs: fix capitalization of YouTube name
  config/helpers.php
Due: backend

refact!: Move field methods to `Content\Field`
  config/methods.php
  src/Cms/AppPlugins.php
  src/Cms/Core.php
  src/Content/Field.php
  tests/Cms/CoreTest.php
  tests/Content/FieldMethodsTest.php
  tests/Content/FieldTest.php
Due: backend

refact!: Throw exception for unkown field method
  src/Cms/Collection.php
  src/Content/Field.php
  src/Panel/Ui/FilePreviews/ImageFilePreview.php
  tests/Cms/Collections/CollectionTest.php
  tests/Content/FieldTest.php
  tests/Toolkit/VTest.php
Due: backend

fix: Unit tests
  tests/Panel/AssetsTest.php
  tests/Panel/PluginsTest.php
Due: none

chore: Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

test: Unit test for `Assets::vue()` w/ isPluginDev
  tests/Panel/AssetsTest.php
Due: none

fix: Don't use `this` in prop default function
  panel/src/components/Forms/Layouts/LayoutSelector.vue
Due: frontend

refact: Use `<template>` for filling slot
  panel/src/components/Views/SearchView.vue
Due: frontend

fix: Slot as function
  panel/src/components/Misc/Draggable.vue
Due: frontend

refact: Allow folders inside `site/controllers`
  src/Cms/App.php
  src/Template/Snippet.php
Due: backend

fix: Rename leftover `destroyed` to `unmounted`
  panel/lab/components/dropdowns/3_options/index.vue
  panel/src/mixins/preserveListeners.js
  panel/src/panel/events.js
Due: frontend

fix: Allow submitting inactive fields
  src/Form/Mixin/Value.php
  tests/Form/FieldClassTest.php
Due: backend

fix: Allow submitting inactive fields (#7371)
  src/Form/Mixin/Value.php
  tests/Form/FieldClassTest.php
Due: backend

fix: Replace all remaining slashes
  panel/src/helpers/string.js
Due: frontend

test: Check for trimmed character at the end of the string
  panel/src/helpers/string.slug.test.js
Due: frontend

refact!: Remove `$` prefix from Fiber (#7365)
  config/areas/users/dialogs.php
  panel/src/panel/feature.js
  panel/src/panel/feature.test.js
  panel/src/panel/modal.js
  panel/src/panel/notification.js
  panel/src/panel/panel.js
  panel/src/panel/panel.test.js
  panel/src/panel/request.globals.test.js
  panel/src/panel/request.headers.test.js
  panel/src/panel/state.js
  panel/src/panel/state.test.js
  src/Panel/Dialog.php
  src/Panel/Document.php
  src/Panel/Drawer.php
  src/Panel/Dropdown.php
  src/Panel/Json.php
  src/Panel/Search.php
  src/Panel/View.php
  tests/Panel/Areas/AccountDialogsTest.php
  tests/Panel/Areas/AreaTestCase.php
  tests/Panel/Areas/LanguagesTest.php
  tests/Panel/Areas/UsersDialogsTest.php
  tests/Panel/DialogTest.php
  tests/Panel/DropdownTest.php
  tests/Panel/JsonTest.php
  tests/Panel/PanelTest.php
  tests/Panel/ViewTest.php
Due: backend, frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
