Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Add one more missing unit test
  tests/Form/Fields/EntriesFieldTest.php
Due: none

Fix fill method
  src/Form/Field/EntriesField.php
Due: backend

Preflight for 4.6.1
  composer.json
  composer.lock
  panel/dist/js/index.min.js
  panel/dist/ui/FieldsSection.json
  vendor/composer/InstalledVersions.php
  vendor/composer/installed.php
Due: none

Only show compiler warning when the option is set
  config/areas/system/views.php
  tests/Panel/Areas/SystemTest.php
Due: backend

Test for the compiler prop
  tests/Panel/Areas/LabTest.php
Due: none

Fix logic for the compiler warning
  config/areas/system/views.php
  tests/Panel/Areas/SystemTest.php
Due: backend

New option to disable the vue template compiler
  config/areas/lab/views.php
  config/areas/system/views.php
  i18n/translations/en.json
  panel/jsconfig.json
  panel/src/components/Lab/PlaygroundView.vue
  panel/vite.config.mjs
  src/Panel/Assets.php
  tests/Panel/Areas/SystemTest.php
Due: backend, frontend

Add unit tests for the new vue method
  tests/Panel/AssetsTest.php
Due: none

Yet another try 🙈
  config/areas/system/views.php
  tests/Panel/Areas/SystemTest.php
Due: backend

Use notice theme for Vue compiler warning
  config/areas/system/views.php
  panel/src/components/Collection/Items.vue
  panel/src/components/Views/System/SystemSecurity.vue
Due: backend, frontend

Fix when to show vue compiler warning
  config/areas/system/views.php
Due: backend

Fix unit tests
  tests/Panel/Areas/SystemTest.php
Due: none

Require current password when user changes own pwd
  config/areas/users/dialogs.php
  i18n/translations/en.json
  src/Cms/UserActions.php
Due: backend

Always check current password of current user
  config/areas/users/dialogs.php
  i18n/translations/en.json
Due: backend

Add unit tests
  tests/Panel/Areas/AccountDialogsTest.php
  tests/Panel/Areas/AreaTestCase.php
  tests/Panel/Areas/UsersDialogsTest.php
Due: none

System view: relaxed security checks on local
  config/areas/system/views.php
  i18n/translations/en.json
Due: backend

Apply suggestions from code review
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Fix await/async stuff
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

Check for License.md instead of composer.json
  config/areas/system/views.php
  src/Cms/System.php
  tests/Cms/System/SystemTest.php
  tests/Panel/Areas/SystemTest.php
Due: backend

Fix add/focus index issue
  panel/src/components/Forms/Field/EntriesField.vue
Due: frontend

User dialogs: add password `autocomplete` values
  config/areas/users/dialogs.php
Due: backend

Fix CI error
  panel/package-lock.json
Due: none

Move Panel Ui classes into subpackages
  config/areas/account/dialogs.php
  config/areas/site/dialogs.php
  config/areas/users/dialogs.php
  src/Panel/Home.php
  src/Panel/Ui/Dialogs/ChangesDialog.php
  src/Panel/Ui/Dialogs/PageCreateDialog.php
  src/Panel/Ui/Dialogs/UserTotpDisableDialog.php
  src/Panel/Ui/Dialogs/UserTotpEnableDialog.php
  src/Panel/Ui/Menu.php
  src/Panel/View.php
  tests/Panel/Ui/Dialogs/ChangesDialogTest.php
  tests/Panel/Ui/Dialogs/PageCreateDialogTest.php
  tests/Panel/Ui/Dialogs/UserTotpDisableDialogTest.php
  tests/Panel/Ui/Dialogs/UserTotpEnableDialogTest.php
  tests/Panel/Ui/MenuTest.php
Due: backend

`Panel\Access` class
  src/Panel/Access.php
  src/Panel/Drawer.php
  src/Panel/Home.php
  src/Panel/Panel.php
  src/Panel/View.php
  tests/Panel/AccessTest.php
  tests/Panel/PanelTest.php
Due: backend

Non-static `Panel\Document`
  src/Panel/Document.php
  src/Panel/View.php
  tests/Panel/DocumentTest.php
Due: backend

`Panel\Router` class
  src/Panel/Home.php
  src/Panel/Panel.php
  src/Panel/Router.php
  tests/Panel/DropdownTest.php
  tests/Panel/PanelTest.php
  tests/Panel/RouterTest.php
Due: backend

Start turning `Panel\Panel` non-static
  config/areas/files/dialogs.php
  config/areas/site/dialogs.php
  config/areas/users/dialogs.php
  src/Cms/App.php
  src/Panel/Json.php
  src/Panel/Panel.php
  src/Panel/View.php
Due: backend

Bring back `Panel\View` as static
  src/Panel/Panel.php
  src/Panel/Router.php
  src/Panel/View.php
  tests/Panel/ViewTest.php
Due: backend

Fiber: Move data/globals each to their own method
  src/Panel/Fiber.php
  src/Panel/Router.php
  src/Panel/View.php
  tests/Panel/FiberTest.php
Due: backend

Move `Panel::reponse` to `Router` class
  src/Panel/Panel.php
  src/Panel/Router.php
  tests/Panel/PanelTest.php
  tests/Panel/RouterTest.php
Due: backend

Simplify class usage in `Panel\Panel`
  src/Panel/Panel.php
Due: backend

Non-static `Panel\View`
  src/Panel/Router.php
  src/Panel/View.php
  tests/Panel/ViewTest.php
Due: backend

Non-static `Panel\Panel`
  config/routes.php
  src/Panel/Areas.php
  src/Panel/Home.php
  src/Panel/Panel.php
  src/Panel/Router.php
  src/Panel/Ui/Buttons/ViewButton.php
  src/Panel/Ui/Menu.php
  src/Panel/View.php
  tests/Panel/Areas/AreaTestCase.php
  tests/Panel/AreasTest.php
  tests/Panel/PanelTest.php
Due: backend

New `Panel\Fiber` class
  src/Panel/Fiber.php
  src/Panel/View.php
  tests/Panel/FiberTest.php
  tests/Panel/ViewTest.php
Due: backend

Add more unit tests
  src/Panel/Document.php
  src/Panel/Fiber.php
  tests/Panel/AreasTest.php
  tests/Panel/AssetsTest.php
  tests/Panel/DocumentTest.php
  tests/Panel/FiberTest.php
  tests/Panel/HomeTest.php
  tests/Panel/PanelTest.php
  tests/Panel/RouterTest.php
Due: backend

Fix Panel router routes test
  src/Panel/Home.php
  src/Panel/Panel.php
  src/Panel/Plugins.php
  src/Panel/Router.php
  src/Panel/View.php
  tests/Panel/RouterTest.php
Due: backend

Non-static `Panel\Home`
  src/Panel/Home.php
  src/Panel/Panel.php
  src/Panel/Router.php
  tests/Panel/HomeTest.php
  tests/Panel/PanelTest.php
Due: backend

Fiber data remove `$` prefix
  config/areas/users/dialogs.php
  panel/src/panel/feature.js
  panel/src/panel/feature.test.js
  panel/src/panel/modal.js
  panel/src/panel/notification.js
  panel/src/panel/panel.js
  panel/src/panel/panel.test.js
  panel/src/panel/request.globals.test.js
  panel/src/panel/request.headers.test.js
  panel/src/panel/state.js
  panel/src/panel/state.test.js
  src/Panel/Dialog.php
  src/Panel/Document.php
  src/Panel/Drawer.php
  src/Panel/Dropdown.php
  src/Panel/Fiber.php
  src/Panel/Json.php
  src/Panel/Search.php
  src/Panel/View.php
  tests/Panel/Areas/AccountDialogsTest.php
  tests/Panel/Areas/AreaTestCase.php
  tests/Panel/Areas/LanguagesTest.php
  tests/Panel/Areas/UsersDialogsTest.php
  tests/Panel/DialogTest.php
  tests/Panel/DropdownTest.php
  tests/Panel/FiberTest.php
  tests/Panel/JsonTest.php
  tests/Panel/RouterTest.php
  tests/Panel/ViewTest.php
Due: backend, frontend

Fiber unit tests: assign coverage for methods
  src/Panel/Fiber.php
  tests/Panel/FiberTest.php
Due: backend

New Area class
  src/Panel/Area.php
Due: backend
