Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

fix: change example values
  tests/Cms/App/AppTest.php
Due: none

refact: `dayjs` plugins as TypeScript
  panel/eslint.config.js
  panel/src/libraries/dayjs-interpret.js
  panel/src/libraries/dayjs-interpret.test.ts
  panel/src/libraries/dayjs-interpret.ts
  panel/src/libraries/dayjs-iso.js
  panel/src/libraries/dayjs-iso.test.ts
  panel/src/libraries/dayjs-iso.ts
  panel/src/libraries/dayjs-merge.js
  panel/src/libraries/dayjs-merge.test.ts
  panel/src/libraries/dayjs-merge.ts
  panel/src/libraries/dayjs-pattern.js
  panel/src/libraries/dayjs-pattern.test.ts
  panel/src/libraries/dayjs-pattern.ts
  panel/src/libraries/dayjs-round.test.ts
  panel/src/libraries/dayjs-round.ts
  panel/src/libraries/dayjs-validate.js
  panel/src/libraries/dayjs-validate.test.js
  panel/src/libraries/dayjs-validate.test.ts
  panel/src/libraries/dayjs-validate.ts
  panel/src/libraries/dayjs.ts
Due: frontend

refact: Migrate `$helper.sort` to TypeScript
  panel/lab/internals/helpers/sort/index.php
  panel/src/helpers/index.js
  panel/src/helpers/sort.js
  panel/src/helpers/sort.test.ts
  panel/src/helpers/sort.ts
Due: frontend

fix: Add native return types to Responder class #8006
  src/Cms/Responder.php
Due: backend

fix: syntax
  src/Cms/App.php
Due: backend

fix: vendor key empty
  src/Cms/App.php
  tests/Cms/App/AppTest.php
Due: backend

refact: `dayjs` plugins as TypeScript (#8009)
  panel/eslint.config.js
  panel/src/libraries/dayjs-interpret.js
  panel/src/libraries/dayjs-interpret.test.ts
  panel/src/libraries/dayjs-interpret.ts
  panel/src/libraries/dayjs-iso.js
  panel/src/libraries/dayjs-iso.test.ts
  panel/src/libraries/dayjs-iso.ts
  panel/src/libraries/dayjs-merge.js
  panel/src/libraries/dayjs-merge.test.ts
  panel/src/libraries/dayjs-merge.ts
  panel/src/libraries/dayjs-pattern.js
  panel/src/libraries/dayjs-pattern.test.ts
  panel/src/libraries/dayjs-pattern.ts
  panel/src/libraries/dayjs-round.test.ts
  panel/src/libraries/dayjs-round.ts
  panel/src/libraries/dayjs-validate.js
  panel/src/libraries/dayjs-validate.test.js
  panel/src/libraries/dayjs-validate.test.ts
  panel/src/libraries/dayjs-validate.ts
  panel/src/libraries/dayjs.ts
Due: frontend

feat: Allow all extensions to be defined in the config (#8005)
  src/Cms/AppPlugins.php
Due: backend

refact: Migrate `panel.events` to TypeScript
  panel/src/panel/events.drag.test.js
  panel/src/panel/events.keychain.test.js
  panel/src/panel/events.keydown.test.js
  panel/src/panel/events.keyup.test.js
  panel/src/panel/events.test.ts
  panel/src/panel/events.ts
  panel/src/panel/modal.js
  panel/src/panel/panel.js
  panel/src/types.d.ts
Due: frontend

refact: Migrate `$helper.sort` to TypeScript (#7993)
  panel/lab/internals/helpers/sort/index.php
  panel/src/helpers/index.js
  panel/src/helpers/sort.js
  panel/src/helpers/sort.test.ts
  panel/src/helpers/sort.ts
Due: frontend

refact: Expose `$helper` types to components
  panel/src/components/Dialogs/FiberDialog.vue
  panel/src/helpers/index.ts
  panel/src/index.js
  panel/src/types/vue.d.ts
  panel/tsconfig.json
Due: frontend

refact: Expose `$library` types to components
  panel/package-lock.json
  panel/package.json
  panel/src/index.js
  panel/src/libraries/index.js
  panel/src/libraries/index.ts
  panel/src/types/vue.d.ts
Due: frontend

refact: Migrate `panel.events` to TypeScript (#8015)
  panel/src/panel/events.drag.test.js
  panel/src/panel/events.keychain.test.js
  panel/src/panel/events.keydown.test.js
  panel/src/panel/events.keyup.test.js
  panel/src/panel/events.test.ts
  panel/src/panel/events.ts
  panel/src/panel/modal.js
  panel/src/panel/panel.js
  panel/src/types.d.ts
Due: frontend

refact: Migrate `History` as helper class to TS
  panel/src/components/View/Panel.vue
  panel/src/helpers/history.test.ts
  panel/src/helpers/history.ts
  panel/src/panel/history.js
  panel/src/panel/history.test.js
  panel/src/panel/modal.js
Due: frontend

refact: Migrate `Timer` as helper class to TS
  panel/src/helpers/timer.test.ts
  panel/src/helpers/timer.ts
  panel/src/panel/notification.js
  panel/src/panel/notification.test.js
  panel/src/panel/timer.js
Due: frontend

Apply suggestion from @bastianallgeier
  panel/src/panel/modal.js
Due: frontend

refact: Migrate `History` as helper class to TS (#8010)
  panel/src/components/View/Panel.vue
  panel/src/helpers/history.test.ts
  panel/src/helpers/history.ts
  panel/src/panel/history.js
  panel/src/panel/history.test.js
  panel/src/panel/modal.js
Due: frontend

Update notification.js
  panel/src/panel/notification.js
Due: frontend

refact: Migrate `Timer` as helper class to TS (#8011)
  panel/src/helpers/timer.test.ts
  panel/src/helpers/timer.ts
  panel/src/panel/notification.js
  panel/src/panel/notification.test.js
  panel/src/panel/timer.js
Due: frontend

refact: New clean method names and separate actions & defaults properties
  src/Cms/Helpers.php
  src/Cms/Permissions.php
Due: backend

refact: Simplify array value filling
  src/Cms/Blueprint.php
Due: backend

test: New unit test for the new option normalization in the Blueprint class
  tests/Cms/Blueprints/BlueprintTest.php
Due: none

test: Extend unit tests for the Permission class
  tests/Cms/Permissions/PermissionsTest.php
Due: none

refact: Improve readability
  src/Cms/Permissions.php
Due: backend

test: Add unit test
  tests/Cms/Permissions/PermissionsTest.php
Due: none

docs: Add missing docblocks
  src/Cms/Permissions.php
Due: backend

fix: Add type check for permission setting
  src/Cms/Permissions.php
  tests/Cms/Permissions/PermissionsTest.php
Due: backend

fix: CS issues
  src/Cms/Permissions.php
  tests/Cms/Permissions/PermissionsTest.php
Due: backend

refact: Migrate `panel.user` to TypeScript
  panel/src/panel/panel.js
  panel/src/panel/user.js
  panel/src/panel/user.test.js
  panel/src/panel/user.test.ts
  panel/src/panel/user.ts
Due: frontend

refact: Merge global TS types files
  panel/src/types.d.ts
  panel/src/types/global.d.ts
Due: frontend

refact: Migrate `panel.state` to TypeScript
  panel/src/global.d.ts
  panel/src/panel/feature.js
  panel/src/panel/notification.js
  panel/src/panel/state.js
  panel/src/panel/state.test.js
  panel/src/panel/state.test.ts
  panel/src/panel/state.ts
  panel/src/panel/upload.js
Due: frontend

refact: Migrate `panel.request` and errors to TS
  panel/eslint.config.js
  panel/src/api/index.js
  panel/src/api/request.js
  panel/src/errors/AuthError.ts
  panel/src/errors/JsonRequestError.test.ts
  panel/src/errors/JsonRequestError.ts
  panel/src/errors/OfflineError.js
  panel/src/errors/OfflineError.ts
  panel/src/errors/RedirectError.ts
  panel/src/errors/RequestError.js
  panel/src/errors/RequestError.test.ts
  panel/src/errors/RequestError.ts
  panel/src/helpers/url.ts
  panel/src/panel/notification.js
  panel/src/panel/panel.js
  panel/src/panel/request.body.test.js
  panel/src/panel/request.globals.test.js
  panel/src/panel/request.headers.test.js
  panel/src/panel/request.js
  panel/src/panel/request.test.ts
  panel/src/panel/request.ts
Due: frontend

Update src/Cms/App.php
  src/Cms/App.php
Due: backend

feat: New Frontmatter Data Handler
  src/Data/Frontmatter.php
  tests/Data/FrontmatterTest.php
Due: backend

Update tests/Cms/App/AppTest.php
  tests/Cms/App/AppTest.php
Due: none
