Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Return void in constructor
  src/Cms/Environment.php
Due: backend

Update translations and composer
  composer.json
  composer.lock
  i18n/translations/es_ES.json
  i18n/translations/hu.json
  i18n/translations/nb.json
  i18n/translations/pt_PT.json
  vendor/composer/installed.json
  vendor/composer/installed.php
Due: none

New calendar style for today
  panel/dist/css/style.css
  panel/src/components/Forms/Calendar.vue
Due: frontend

Add license.md and move readme.md & contributing.md guide
  CONTRIBUTING.md
  LICENSE.md
  README.md
Due: none

Add publishing date and source
  LICENSE.md
Due: none

Fix formatting issue
  LICENSE.md
Due: none

Fix vertical alignment for today text in calendar
  panel/src/components/Forms/Calendar.vue
Due: frontend

Fix missing title field issue #4140
  panel/src/store/modules/content.js
  src/Panel/Model.php
  tests/Panel/ModelTest.php
Due: backend, frontend

Cleaner solution to ignore fields in content changes and updates
  panel/src/components/Views/ModelView.vue
  panel/src/components/Views/PageView.vue
  panel/src/components/Views/SiteView.vue
  panel/src/store/modules/content.js
Due: frontend

`Fieldset` support `title` for `name`
  src/Cms/Blueprint.php
  src/Cms/Fieldset.php
Due: backend

Update dependencies
  cacert.pem
  composer.json
  composer.lock
  panel/dist/css/style.css
  panel/package-lock.json
  vendor/composer/installed.php
Due: none

Support YouTube’s `allowfullscreen` attribute #4212
  src/Toolkit/Html.php
  tests/Toolkit/HtmlTest.php
Due: backend

Fix unit tests
  tests/Cms/Helpers/HelpersTest.php
  tests/Text/KirbyTagsTest.php
  tests/Text/fixtures/kirbytext/video-width-and-height/expected.html
  tests/Text/fixtures/kirbytext/video-youtube/expected.html
  tests/Text/fixtures/kirbytext/vimeo/expected.html
  tests/Text/fixtures/kirbytext/youtube/expected.html
Due: none

Fix extending some top level props #4014
  src/Cms/PageBlueprint.php
  src/Cms/SiteBlueprint.php
  src/Cms/UserBlueprint.php
Due: backend

Extending multiple blueprint at once
  src/Cms/Blueprint.php
  tests/Cms/Blueprints/BlueprintTest.php
Due: backend

Add unit test for extending top level props
  tests/Cms/Pages/PageBlueprintTest.php
Due: none

Fix path detection in Server::requestUri
  src/Http/Server.php
  tests/Http/ServerTest.php
Due: backend

Update version number and composer.lock
  composer.json
  composer.lock
  vendor/composer/installed.php
Due: none

Improve structure field columns on mobile #3638
  panel/src/components/Forms/Field/StructureField.vue
Due: frontend

Fix fields section form content on multi language #2575
  config/sections/fields.php
  tests/Cms/Sections/FieldsSectionTest.php
Due: backend

Fix text field converter for PHP 8.1 #4226
  config/fields/text.php
  tests/Form/Fields/TextFieldTest.php
Due: backend

Fix possible trim issue for PHP 8.1
  config/components.php
Due: backend

Fix droppable files files when disabled #4231
  panel/src/components/Forms/Field/FilesField.vue
Due: frontend

Add A::where, A::only, A::except
  src/Toolkit/A.php
  tests/Toolkit/ATest.php
Due: backend

Fix the static calls to where
  src/Toolkit/A.php
Due: backend

Fix phpdoc descriptions
  src/Toolkit/A.php
Due: backend

Cleanup forgotten ray() call
  tests/Toolkit/ATest.php
Due: none

Add `A::where`, `A::only` and `A::except`
  src/Toolkit/A.php
  tests/Toolkit/ATest.php
Due: backend

Fix ungaught type error
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Fix tabs resize for mobile
  panel/src/components/Layout/Tabs.vue
Due: frontend

title alias for name property in fieldsets
  src/Cms/Fieldset.php
  tests/Cms/Fieldsets/FieldsetTest.php
Due: backend

Support label instead of headline for sections
  config/sections/mixins/headline.php
  tests/Cms/Sections/PagesSectionTest.php
Due: backend

Deprecate already in 3.7
  config/sections/mixins/headline.php
Due: backend

Rename `A::where` to `A::filter`
  src/Toolkit/A.php
  tests/Toolkit/ATest.php
Due: backend

Remove `A::only`, rename `A::except` to `A::without`
  src/Toolkit/A.php
  tests/Toolkit/ATest.php
Due: backend

Use hub instead of old license.getkirby.com domain
  src/Cms/System.php
Due: backend

Update translations
  i18n/translations/da.json
Due: none

Update dependencies
  composer.json
  composer.lock
  panel/dist/css/style.css
  panel/dist/js/index.js
  vendor/composer/autoload_files.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/laminas/laminas-escaper/composer.json
  vendor/laminas/laminas-escaper/composer.lock
  vendor/laminas/laminas-escaper/src/Escaper.php
Due: none

Force `Kirby\Toolkit\Collection` iterator for `Query::page` method #2738
  src/Database/Query.php
  tests/Database/QueryTest.php
Due: backend

Accept pagination object in `Collection::paginate` method
  src/Toolkit/Collection.php
Due: backend
