Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Make sure that the storage handler is initialized when cloning the object
  src/Content/LabPage.php
  tests/Content/LabPageTest.php
Due: backend

Implement content fallback
  src/Content/Version.php
  tests/Content/LabPageTest.php
  tests/Content/VersionTest.php
Due: backend

Improve docblock
  src/Content/ContentStorageHandler.php
Due: backend

Remove invalid covers rules
  tests/Content/MemoryContentStorageHandlerTest.php
Due: none

Mark ::move as covered by the moveLanguage tests
  tests/Content/ContentStorageHandlerTest.php
Due: none

Mark ::write as covered by ::create and ::update tests
  tests/Content/MemoryContentStorageHandlerTest.php
Due: none

Add a positive test for ::exists
  tests/Content/MemoryContentStorageHandlerTest.php
Due: none

Improve ContentStorageHandlerTest class
  tests/Content/ContentStorageHandlerTest.php
  tests/Content/TestContentStorageHandler.php
Due: none

Add MemoryCache test for the modified method
  tests/Cache/MemoryCacheTest.php
Due: none

Simply MemoryContentStorageHandler by using more MemoryCache methods
  src/Content/MemoryContentStorageHandler.php
  tests/Content/mocks.php
  tests/bootstrap.php
Due: backend

`Filesystem\Mime::toExtensions`: refactor logic
  src/Filesystem/Mime.php
Due: backend

`MimeTest`: split into separate test methods
  tests/Filesystem/MimeTest.php
Due: none

Apply suggestions from code review
  src/Filesystem/Mime.php
Due: backend

Move focus code inside `k-file-preview`
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileView.vue
Due: frontend

File preview components per type
  panel/src/components/Views/Files/FileDefaultPreview.vue
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Files/index.js
  src/Panel/File.php
Due: backend, frontend

`File::preview()` method for preview props
  src/Filesystem/File.php
  src/Panel/File.php
Due: backend

File previews: support data provider closures
  panel/src/components/Views/Files/FileView.vue
  src/Panel/File.php
Due: backend, frontend

Audio file preview
  panel/src/components/Views/Files/FileAudioPreview.vue
  panel/src/components/Views/Files/index.js
Due: frontend

Video file preview
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileVideoPreview.vue
  panel/src/components/Views/Files/index.js
Due: frontend

`Panel\File::preview()`: adapt array structure
  panel/src/components/Views/Files/FileView.vue
  src/Panel/File.php
Due: backend, frontend

Move `filePreviews` to actual extension
  config/areas/files/previews.php
  src/Cms/AppPlugins.php
  src/Cms/Core.php
  src/Panel/File.php
Due: backend

Clean up preview Vue components
  panel/src/components/Views/Files/FileAudioPreview.vue
  panel/src/components/Views/Files/FileDefaultPreview.vue
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileVideoPreview.vue
Due: frontend

Less magical Closure call
  src/Panel/File.php
Due: backend

Bring back focus btn in file image preview
  panel/src/components/Views/Files/FileAudioPreview.vue
  panel/src/components/Views/Files/FileDefaultPreview.vue
  panel/src/components/Views/Files/FileFocusButton.vue
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileVideoPreview.vue
  panel/src/components/Views/Files/index.js
Due: frontend

More fixes
  src/Panel/File.php
Due: backend

File previews: fix extending data
  src/Cms/AppPlugins.php
  src/Panel/File.php
  tests/Cms/App/AppPluginsTest.php
Due: backend

Fix unit tests
  tests/Panel/FileTest.php
Due: none

Remove leftovers from merge conflict
  src/Panel/File.php
Due: backend

Move to v5
  config/areas/files/previews.php
  panel/src/components/Views/Files/FileAudioPreview.vue
  panel/src/components/Views/Files/FileDefaultPreview.vue
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileVideoPreview.vue
  src/Cms/AppPlugins.php
  src/Cms/Core.php
  src/Panel/File.php
Due: backend, frontend

Unit tests for `Panel\File::preview()`
  src/Panel/File.php
  tests/Panel/FileTest.php
Due: backend

Separate file preview details & thumb components
  panel/src/components/Views/Files/FileAudioPreview.vue
  panel/src/components/Views/Files/FileDefaultPreview.vue
  panel/src/components/Views/Files/FileImagePreview.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FilePreviewDetails.vue
  panel/src/components/Views/Files/FilePreviewThumb.vue
  panel/src/components/Views/Files/FileVideoPreview.vue
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Files/index.js
Due: frontend

Fix line breaks
  README.md
Due: none

DateInput: fix `Cmd+S` in nested structures
  panel/src/components/Forms/Input/DateInput.vue
Due: frontend

Load plugin registry js synchronously
  .editorconfig
  src/Panel/Assets.php
  views/panel.php
Due: backend

Remove redundant ::update method
  src/Content/MemoryContentStorageHandler.php
Due: backend

Add unit test
  tests/Cms/Languages/LanguageTest.php
Due: none

Mark new methods as internal
  src/Cms/Language.php
  src/Cms/Languages.php
Due: backend

New Languages::ensure()
  src/Cms/Languages.php
  src/Content/ContentStorageHandler.php
  tests/Cms/Languages/LanguagesTest.php
Due: backend

New Language::ensure() method
  src/Cms/Language.php
  src/Cms/ModelWithContent.php
  src/Content/Version.php
  tests/Cms/Languages/LanguageTest.php
Due: backend

Test language keywords
  tests/Cms/Languages/LanguageTest.php
Due: none
