Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refact: Migrate `$helper.focus` to TypeScript
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/helpers/focus.test.ts
  panel/src/helpers/focus.ts
  panel/src/helpers/index.js
  panel/src/panel/modal.js
Due: frontend

refact: Migrate `$helper.url` to TypeScript
  panel/lab/internals/helpers/url/index.php
  panel/src/helpers/index.js
  panel/src/helpers/url.base.test.ts
  panel/src/helpers/url.buildQuery.test.ts
  panel/src/helpers/url.buildUrl.test.ts
  panel/src/helpers/url.isAbsolute.test.ts
  panel/src/helpers/url.isSameOrigin.test.ts
  panel/src/helpers/url.isUrl.test.ts
  panel/src/helpers/url.makeAbsolute.test.ts
  panel/src/helpers/url.toObject.test.ts
  panel/src/helpers/url.ts
  panel/src/panel/panel.js
  panel/src/panel/request.js
Due: frontend

refact: Migrate `$helper.clipboard` to TypeScript
  panel/src/helpers/clipboard.test.ts
  panel/src/helpers/clipboard.ts
  panel/src/helpers/index.js
Due: frontend

fix: clipboard helper HTML priority
  panel/src/helpers/clipboard.test.ts
  panel/src/helpers/clipboard.ts
Due: frontend

chore: Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

refact: Migrate `$helper.link` to TypeScript
  panel/lab/internals/helpers/link/index.php
  panel/package-lock.json
  panel/package.json
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/helpers/index.js
  panel/src/helpers/link.test.js
  panel/src/helpers/link.test.ts
  panel/src/helpers/link.ts
Due: frontend

refact: Migrate `$helper.page` to TypeScript
  panel/src/helpers/index.js
  panel/src/helpers/page.js
  panel/src/helpers/page.test.ts
  panel/src/helpers/page.ts
Due: frontend

refact: `$library.colors` as TypeScript
  panel/src/libraries/colors-checks.test.ts
  panel/src/libraries/colors-checks.ts
  panel/src/libraries/colors-func.ts
  panel/src/libraries/colors.test.ts
  panel/src/libraries/colors.ts
Due: frontend

refact: Add deprecation warning
  src/Cms/Permissions.php
Due: backend

fix: Fix API model tests
  tests/Cms/Api/models/FileBlueprintApiModelTest.php
  tests/Cms/Api/models/PageBlueprintApiModelTest.php
  tests/Cms/Api/models/UserBlueprintApiModelTest.php
Due: none

fix: Fix blueprint tests
  tests/Cms/Blueprints/FileBlueprintTest.php
  tests/Cms/Blueprints/PageBlueprintTest.php
  tests/Cms/Blueprints/SiteBlueprintTest.php
  tests/Cms/Blueprints/UserBlueprintTest.php
Due: none

fix: Fix page blueprint test
  tests/Cms/Blueprints/PageBlueprintTest.php
Due: none

fix: Fix rules tests
  tests/Cms/File/FileRulesTest.php
  tests/Cms/Page/PageRulesTest.php
  tests/Cms/Site/SiteRulesTest.php
Due: none

fix: Add extended actions to the defaults
  src/Cms/Permissions.php
Due: backend

fix: Fix isFocusable check
  src/Panel/File.php
Due: backend

fix: Fix tests
  tests/Cms/Page/PagePermissionsTest.php
  tests/Cms/Permissions/PermissionsTest.php
  tests/Cms/User/UserPermissionsTest.php
  tests/Panel/FileTest.php
  tests/Panel/ModelTest.php
  tests/Panel/PageTest.php
  tests/Panel/Ui/Item/UserItemTest.php
  tests/Panel/UserTest.php
Due: none

refact: Migrate `$helper.link` to TypeScript (#7994)
  panel/lab/internals/helpers/link/index.php
  panel/package-lock.json
  panel/package.json
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/helpers/index.js
  panel/src/helpers/link.test.js
  panel/src/helpers/link.test.ts
  panel/src/helpers/link.ts
Due: frontend

refact: Migrate `$helper.focus` to TypeScript (#7991)
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/helpers/focus.test.ts
  panel/src/helpers/focus.ts
  panel/src/helpers/index.js
  panel/src/panel/modal.js
Due: frontend

refact: Migrate `$helper.url` to TypeScript (#7992)
  panel/lab/internals/helpers/url/index.php
  panel/src/helpers/index.js
  panel/src/helpers/url.base.test.ts
  panel/src/helpers/url.buildQuery.test.ts
  panel/src/helpers/url.buildUrl.test.ts
  panel/src/helpers/url.isAbsolute.test.ts
  panel/src/helpers/url.isSameOrigin.test.ts
  panel/src/helpers/url.isUrl.test.ts
  panel/src/helpers/url.makeAbsolute.test.ts
  panel/src/helpers/url.toObject.test.ts
  panel/src/helpers/url.ts
  panel/src/panel/panel.js
  panel/src/panel/request.js
Due: frontend

refact: Migrate `$helper.page` to TypeScript (#7995)
  panel/src/helpers/index.js
  panel/src/helpers/page.js
  panel/src/helpers/page.test.ts
  panel/src/helpers/page.ts
Due: frontend

refact: `$library.colors` as TypeScript (#7997)
  panel/src/libraries/colors-checks.test.ts
  panel/src/libraries/colors-checks.ts
  panel/src/libraries/colors-func.ts
  panel/src/libraries/colors.test.ts
  panel/src/libraries/colors.ts
Due: frontend

refact: Migrate `$helper.clipboard` to TypeScript (#7988)
  panel/src/helpers/clipboard.test.ts
  panel/src/helpers/clipboard.ts
  panel/src/helpers/index.js
Due: frontend

refact: Migrate `$helper.upload` to TypeScript
  panel/src/helpers/index.js
  panel/src/helpers/upload.ts
  panel/src/panel/panel.js
  panel/src/panel/upload.js
Due: frontend

refact: Bring back descriptions for upload params
  panel/src/helpers/upload.ts
Due: frontend

chore: Exclude test files from optimizeDeps
  panel/vite.config.js
Due: none

chore: Add remaining deprecation docs
  src/Cms/Helpers.php
  src/Cms/Permissions.php
Due: backend

refact: Migrate `$helper.upload` to TypeScript (#7996)
  panel/src/helpers/index.js
  panel/src/helpers/upload.ts
  panel/src/panel/panel.js
  panel/src/panel/upload.js
Due: frontend

fix: run page uuid population inside create commit closure #7957
  src/Cms/PageActions.php
  tests/Cms/Page/PageCreateTest.php
Due: backend

chore: Update composer dependencies
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/symfony/yaml/Inline.php
Due: none

chore: Update JS dependencies
  panel/package-lock.json
  panel/package.json
Due: none

build: Preflight for 5.3.2
  composer.json
  composer.lock
  i18n/translations/bs.json
  i18n/translations/de.json
  i18n/translations/ko.json
  i18n/translations/nl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/sr@latin.json
  panel/dist/js/sortable.min.js
  vendor/composer/installed.php
Due: none

fix: Continue table index across paginated section tables #8002
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/Items.vue
Due: frontend

refact: Simplify array value filling
  src/Cms/Blueprint.php
Due: backend

refact: New clean method names and separate actions & defaults properties
  src/Cms/Helpers.php
  src/Cms/Permissions.php
Due: backend

test: Extend unit tests for the Permission class
  tests/Cms/Permissions/PermissionsTest.php
Due: none

test: New unit test for the new option normalization in the Blueprint class
  tests/Cms/Blueprints/BlueprintTest.php
Due: none

chore: add lab examples for table pagination index #8002
  panel/lab/components/collections/4_table/index.vue
  panel/lab/components/items/4_table/index.vue
Due: none

feat: Allow all extensions to be defined in the config
  src/Cms/AppPlugins.php
Due: backend

fix: Continue table index across paginated section tables (#8003)
  panel/lab/components/collections/4_table/index.vue
  panel/lab/components/items/4_table/index.vue
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/Items.vue
Due: frontend

fix: default values in nested config arrays
  src/Cms/App.php
  tests/Cms/App/AppTest.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
