Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: Fail loudly when a login code is requested for another user
  src/Panel/Controller/Drawer/UserEmailChallengeDrawerController.php
  tests/Panel/Controller/Drawer/UserEmailChallengeDrawerControllerTest.php
Due: backend

fix: Store the challenge's own lifetime instead of the config value
  src/Auth/Challenges.php
  tests/Auth/ChallengesTest.php
Due: backend

feat: Warn that changing the email disables the email challenge
  i18n/translations/en.json
  src/Panel/Controller/Dialog/UserChangeEmailDialogController.php
  tests/Panel/Controller/Dialog/UserChangeEmailDialogControllerTest.php
Due: backend

fix: Remove duplicate `::logout()` call
  src/Cms/Auth.php
Due: backend

test: Fix expected YouTube url outputs
  src/Toolkit/Html.php
  tests/Cms/Helpers/HelperFunctionsTest.php
  tests/Text/fixtures/kirbytext/youtube/expected.html
Due: backend

style: Fix CS
  src/Cms/PageActions.php
Due: backend

docs: Align class docblock tags
  src/Auth/Challenge/WebauthnChallenge.php
  src/Auth/Method/WebauthnMethod.php
  src/Cms/Auth/Status.php
  src/Data/Frontmatter.php
  src/Panel/Controller/Dialog/SiteDialogController.php
  src/Panel/Controller/Drawer/UserDrawerController.php
  src/Panel/Controller/Drawer/UserSecurityCodeMethodDrawerController.php
  src/Panel/Controller/Drawer/UserSecurityDrawerController.php
  src/Panel/Controller/Drawer/UserWebauthnDrawerController.php
  src/Toolkit/BlockCollectionAccess.php
Due: backend

fix: Panel browser requirements
  .gitattributes
  panel/.browserslistrc
  panel/README.md
  panel/package.json
  panel/vite.config.ts
  src/Panel/Panel.php
  src/Panel/Router.php
  tests/Panel/PanelTest.php
  views/browser.php
  views/panel.php
Due: backend

[sections 2 fields] #2 feat: New field.loaded event in ModelListField (#8415)
  panel/src/components/Forms/Field/ModelListField.test.ts
  panel/src/components/Forms/Field/ModelListField.vue
  panel/src/components/Views/Preview/PreviewForm.test.ts
  panel/src/components/Views/Preview/PreviewForm.vue
Due: frontend

[sections 2 fields] #3 feat: New ModelForm component (#8416)
  panel/lab/components/modelform/index.php
  panel/lab/components/modelform/index.vue
  panel/src/components/Forms/ModelForm.test.ts
  panel/src/components/Forms/ModelForm.vue
  panel/src/components/Forms/index.js
Due: frontend

refact: Simplify inline comments
  src/Blueprint/Blueprint.php
Due: backend

fix: Throw NotFoundException for missing sections in section controllers (#8418)
  src/Panel/Controller/SectionController.php
  tests/Panel/Controller/Dialog/SectionDialogControllerTest.php
Due: backend

refact: Return a Tabs collection from blueprints
  config/api/models/FileBlueprint.php
  config/api/models/PageBlueprint.php
  config/api/models/SiteBlueprint.php
  config/api/models/UserBlueprint.php
  src/Blueprint/Blueprint.php
  src/Blueprint/Normalizer.php
  src/Panel/Controller/View/ModelViewController.php
  tests/Blueprint/BlueprintExtendAndUnsetTest.php
  tests/Blueprint/BlueprintTest.php
  tests/Blueprint/NormalizerTest.php
  tests/Panel/Controller/View/ModelViewControllerTest.php
Due: backend

refact: Convert blueprint sections to fields
  src/Blueprint/Blueprint.php
  src/Blueprint/Normalizer.php
  src/Cms/Core.php
  tests/Blueprint/BlueprintExtendAndUnsetTest.php
  tests/Blueprint/BlueprintFieldReferencesTest.php
  tests/Blueprint/BlueprintTest.php
  tests/Blueprint/NormalizerTest.php
  tests/Panel/Controller/Dialog/SectionDialogControllerTest.php
  tests/Panel/Controller/Drawer/SectionDrawerControllerTest.php
Due: backend

[sections 2 fields] #4 feat: New BlueprintsDefinition interface for fields (#8417)
  src/Form/Field/PageListField.php
  src/Form/Field/SectionField.php
  src/Form/Interface/ProvidesAcceptedBlueprints.php
  tests/Form/Field/SectionFieldTest.php
Due: backend

refact: Count tab changes from the field names of a tab
  panel/src/components/Navigation/ModelTabs.test.ts
  panel/src/components/Navigation/ModelTabs.vue
Due: frontend

feat: New Tab and Tabs classes for blueprints
  src/Blueprint/Tab.php
  src/Blueprint/Tabs.php
  tests/Blueprint/TabTest.php
  tests/Blueprint/TabsTest.php
Due: backend

refact: Validate model errors with the form
  src/Cms/ModelWithContent.php
Due: backend

refact: Validate page moves against page list fields
  psalm-baseline.xml
  src/Guards/PageValidators.php
Due: backend

refact: Collect the blueprints of a model from its fields
  src/Cms/ModelWithContent.php
  src/Cms/Page.php
Due: backend

refact: Guard ProvidesAcceptedBlueprints in helper
  src/Cms/ModelWithContent.php
Due: backend

refact: Collect accepted file templates from fields
  src/Blueprint/AcceptRules.php
  src/Blueprint/Blueprint.php
  src/Cms/File.php
  tests/Blueprint/AcceptRulesTest.php
  tests/Cms/File/FileBlueprintsTest.php
Due: backend

fix: Subscribe to loaded fields before the preview form renders
  panel/src/components/Views/Preview/PreviewForm.vue
Due: frontend

feat: Render model views with the model form
  panel/src/components/Sections/FieldsSection.vue
  panel/src/components/Sections/Sections.vue
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Pages/SiteView.vue
  panel/src/components/Views/Preview/PreviewForm.test.ts
  panel/src/components/Views/Preview/PreviewForm.vue
  panel/src/components/Views/Users/UserView.vue
Due: frontend

refact: Look up accepted blueprints by field
  config/api/routes/pages.php
  config/api/routes/site.php
  config/api/routes/users.php
  panel/src/api/pages.ts
  panel/src/api/users.ts
  src/Panel/Controller/Dialog/PageCreateDialogController.php
  tests/Panel/Controller/Dialog/PageCreateDialogControllerTest.php
Due: backend, frontend

refact: Rename the page move error key
  i18n/translations/en.json
  src/Guards/PageValidators.php
  tests/Cms/Page/PageRulesTest.php
  tests/Guards/PageValidatorsTest.php
Due: backend

fix: i18n string usage in legacy files
  config/sections/files.php
  config/sections/mixins/batch.php
  config/sections/pages.php
  tests/Blueprint/Sections/mixins/BatchSectionMixinTest.php
  tests/Form/Field/SectionFieldTest.php
Due: backend

fix: Do not use deprecated `html` prop
  panel/src/components/Forms/ModelForm.vue
Due: frontend

test: Update Psalm baseline
  tests/Form/Field/FileListFieldTest.php
  tests/Form/Field/PageListFieldTest.php
Due: none

refact: Use field error keys for model list fields
  i18n/translations/en.json
  src/Form/Field/ModelListField.php
  tests/Cms/Page/PageErrorsTest.php
  tests/Form/Field/FileListFieldTest.php
  tests/Form/Field/PageListFieldTest.php
Due: backend

fix: Replace `Form::for($model)->values()`
  src/Form/Field/ModelListField.php
Due: backend

refact: Remove the section API routes
  config/api/routes/files.php
  config/api/routes/pages.php
  config/api/routes/site.php
  config/api/routes/users.php
  src/Api/Api.php
  tests/Api/ApiTest.php
  tests/Api/Routes/AccountRoutesTest.php
  tests/Api/Routes/UsersRoutesTest.php
Due: backend

test: Tweak tests
  panel/src/helpers/field.test.ts
Due: frontend

refact: Drop the section endpoint from Panel forms
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/Types/Default.vue
  panel/src/components/Forms/Layouts/Layout.vue
  panel/src/components/Forms/Layouts/LayoutColumn.vue
  panel/src/components/Forms/ModelForm.test.ts
  panel/src/components/Forms/ModelForm.vue
  panel/src/helpers/field.test.ts
  panel/src/helpers/field.ts
Due: frontend

refact!: Simplify PageCreateDialogController
  config/areas/site/dialogs.php
  config/sections/pages.php
  src/Panel/Controller/Dialog/PageCreateDialogController.php
  tests/Panel/Controller/Dialog/PageCreateDialogControllerTest.php
Due: backend

refact: Remove the section dialog and drawer routes
  config/areas/account/dialogs.php
  config/areas/account/drawers.php
  config/areas/site/dialogs.php
  config/areas/site/drawers.php
  config/areas/users/dialogs.php
  config/areas/users/drawers.php
Due: backend

refact: Remove the section adapter from blueprints
  src/Blueprint/AcceptRules.php
  src/Blueprint/Blueprint.php
  src/Blueprint/Normalizer.php
  tests/Blueprint/BlueprintTest.php
Due: backend

refact: Unregister the section components
  panel/src/components/Forms/Field/index.js
  panel/src/components/Layout/Section.vue
  panel/src/components/Layout/index.js
  panel/src/components/Text/Label.vue
  panel/src/components/Views/ModelView.vue
  panel/src/components/Views/Preview/PreviewForm.test.ts
  panel/src/components/Views/Preview/PreviewForm.vue
  panel/src/components/Views/Preview/PreviewView.vue
  panel/src/components/index.js
  panel/src/panel/plugins.test.ts
  panel/src/panel/plugins.ts
Due: frontend

refact: Delete the Section class and controllers
  psalm-baseline.xml
  src/Blueprint/Section.php
  src/Panel/Controller/Dialog/SectionDialogController.php
  src/Panel/Controller/Drawer/SectionDrawerController.php
  src/Panel/Controller/SectionController.php
  tests/Form/Field/SectionFieldTest.php
  tests/Panel/Controller/Dialog/SectionDialogControllerTest.php
  tests/Panel/Controller/Drawer/SectionDrawerControllerTest.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
