Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Drop PHP 8.0 support
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  bootstrap.php
  composer.json
  composer.lock
  config/helpers.php
  src/Cms/System.php
  src/Http/Response.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/laminas/laminas-escaper/composer.json
  vendor/laminas/laminas-escaper/src/Escaper.php
  vendor/symfony/deprecation-contracts/LICENSE
  vendor/symfony/deprecation-contracts/composer.json
  vendor/symfony/deprecation-contracts/function.php
Due: backend

Revert "Panel menu: enable automatically those from config"
  src/Panel/Menu.php
Due: backend

Fix optional parameters for PHP 8.3
  src/Content/ContentStorage.php
Due: backend

Upgrade CI
  .github/workflows/backend.yml
Due: none

Suppress Psalm error
  src/Toolkit/A.php
Due: backend

Upgrade Psalm even more
  .github/workflows/backend.yml
Due: none

Search inputs: turn off autocomplete
  panel/src/components/Dialogs/Elements/Search.vue
  panel/src/components/Forms/Input/SearchInput.vue
  panel/src/components/Views/SearchView.vue
  panel/src/mixins/props/spellcheck.js
Due: frontend

Cleaner fallback logic
  src/Toolkit/Str.php
Due: backend

Fix side-effects of tests on each other
  tests/Toolkit/DateTest.php
  tests/Toolkit/VTest.php
Due: none

Fix coding style
  src/Toolkit/Str.php
Due: backend

Upgrade symfony yaml to v6
  composer.json
  composer.lock
  vendor/bin/yaml-lint
  vendor/bin/yaml-lint.bat
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/symfony/yaml/Command/LintCommand.php
  vendor/symfony/yaml/Dumper.php
  vendor/symfony/yaml/Exception/ParseException.php
  vendor/symfony/yaml/Inline.php
  vendor/symfony/yaml/Parser.php
  vendor/symfony/yaml/Tag/TaggedValue.php
  vendor/symfony/yaml/Unescaper.php
  vendor/symfony/yaml/Yaml.php
  vendor/symfony/yaml/composer.json
Due: none

Fix reactivity in fieldset
  panel/src/components/Forms/Fieldset.vue
Due: frontend

Add lab example for a fieldset
  panel/lab/components/fieldset/index.php
  panel/lab/components/fieldset/index.vue
Due: none

Improve the doc comments
  panel/src/components/Forms/Fieldset.vue
Due: frontend

Better prop display
  panel/src/components/Lab/Docs.vue
Due: frontend

Fix style issue
  panel/src/components/Lab/Docs.vue
Due: frontend

Updated component docs
  panel/dist/ui.json
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Layout/Bar.vue
Due: frontend

Remove private props
  config/areas/lab/drawers.php
Due: backend

Bring back build:docs
  panel/package.json
Due: none

Fix default values
  panel/src/components/Drawers/Elements/Header.vue
  panel/src/components/Drawers/Elements/Tabs.vue
  panel/src/components/Forms/Fieldset.vue
Due: frontend

Add disabled example for the fieldset component
  panel/lab/components/fieldset/index.vue
Due: none

Turn `docs.js` into node module
  panel/dist/ui.json
  panel/package-lock.json
  panel/package.json
  panel/scripts/docs.js
  panel/scripts/docs.mjs
  panel/src/components/Layout/Bar.vue
Due: frontend

Lab docs: add deprecated for props, tweak styles
  config/areas/lab/drawers.php
  panel/dist/ui.json
  panel/src/components/Dropdowns/DropdownContent.vue
  panel/src/components/Lab/Docs.vue
Due: backend, frontend

Lab: use component name for docs btn
  panel/src/components/Lab/PlaygroundView.vue
Due: frontend

Docs: normalize default prop values
  config/areas/lab/drawers.php
  panel/src/components/Lab/Docs.vue
Due: backend, frontend

Lab docs: basic support for events and methods
  config/areas/lab/drawers.php
  panel/src/components/Lab/Docs.vue
Due: backend, frontend

Lab docs: add `false` as default if boolean
  config/areas/lab/drawers.php
Due: backend

`k-tabs` docs
  panel/dist/ui.json
  panel/src/components/Layout/Box.vue
  panel/src/components/Layout/Tabs.vue
Due: frontend

Lab: new `Docs` class
  config/areas/lab/drawers.php
  panel/dist/ui.json
  panel/src/components/Lab/Docs.vue
  panel/src/components/Layout/Bar.vue
  src/Panel/Lab/Docs.php
Due: backend, frontend

Docs: fix prop values
  src/Panel/Lab/Docs.php
Due: backend

Update JSON files on-the-fly during `npm run dev`
  panel/scripts/docs.mjs
  panel/scripts/vite-kirby-dev.js
  panel/scripts/vite-kirby.mjs
  panel/vite.config.js
Due: none

Fix two unnamed components
  panel/dist/ui/PageTree.json
  panel/dist/ui/Tree.json
  panel/dist/ui/k-page-tree.json
  panel/dist/ui/k-tree.json
  panel/src/components/Navigation/PageTree.vue
  panel/src/components/Navigation/Tree.vue
Due: frontend

Very, very simple hot reload for docs drawer
  panel/scripts/docs.mjs
  panel/scripts/vite-kirby.mjs
  panel/src/components/Lab/PlaygroundView.vue
  panel/vite.config.js
Due: frontend

Document the default slot in k-button as a test
  panel/dist/ui/Button.json
  panel/src/components/Navigation/Button.vue
Due: frontend

More button prop descriptions
  panel/dist/ui/Button.json
  panel/src/components/Navigation/Button.vue
Due: frontend
