Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: Prevent empty collection from initializing
  src/Cms/LazyCollection.php
  tests/Cms/Collections/LazyCollectionTest.php
Due: backend

fix: Prevent `find()` collection from initializing
  src/Cms/LazyCollection.php
  tests/Cms/Collections/LazyCollectionTest.php
Due: backend

build: Preflight for 5.3.1
  composer.json
  composer.lock
  i18n/translations/tr.json
  panel/dist/css/style.min.css
  panel/dist/js/index.min.js
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

fix: View button actions on file view
  panel/src/components/Views/Files/FileView.vue
Due: frontend

chore: Update dist files
  panel/dist/js/index.min.js
Due: none

fix: Prevent duplicate draft when changing status in page.create:after hook #7957
  src/Cms/PageActions.php
  tests/Cms/Page/PageCreateTest.php
Due: backend

build: Switch to type module
  panel/eslint.config.js
  panel/package.json
  panel/scripts/docs.js
  panel/scripts/vite-kirby.js
  panel/vite.config.js
Due: none

refact: Backport new license enum cases
  src/Cms/LicenseStatus.php
  src/Cms/LicenseType.php
Due: backend

fix: Inline HTML field preview
  panel/src/components/Forms/Previews/HtmlFieldPreview.vue
Due: frontend

refact: Simplify `$helper.string.hasEmoji()`
  panel/src/helpers/string.hasEmoji.test.js
  panel/src/helpers/string.js
Due: frontend

build: Switch to type module (#7962)
  panel/eslint.config.js
  panel/package.json
  panel/scripts/docs.js
  panel/scripts/vite-kirby.js
  panel/vite.config.js
Due: none

refact!: User security TOTP drawer
  config/areas/account/dialogs.php
  config/areas/account/drawers.php
  config/areas/users/dialogs.php
  config/areas/users/drawers.php
  i18n/translations/en.json
  panel/src/components/Dialogs/TotpDialog.vue
  panel/src/components/Dialogs/index.js
  panel/src/components/Drawers/UserTotpDrawer.vue
  panel/src/components/Drawers/index.js
  panel/src/components/Layout/Definition.vue
  src/Auth/Challenge/TotpChallenge.php
  src/Panel/Controller/Dialog/UserTotpDisableDialogController.php
  src/Panel/Controller/Dialog/UserTotpEnableDialogController.php
  src/Panel/Controller/Drawer/UserTotpDrawerController.php
  tests/Panel/Controller/Dialog/UserTotpDisableDialogControllerTest.php
  tests/Panel/Controller/Dialog/UserTotpEnableDialogControllerTest.php
  tests/Panel/Controller/Drawer/UserSecurityDrawerControllerTest.php
  tests/Panel/Controller/Drawer/UserTotpDrawerControllerTest.php
Due: backend, frontend

refact: Use TypeScript for first set of JS helpers
  panel/eslint.config.js
  panel/lab/internals/helpers/color/index.php
  panel/lab/internals/helpers/ratio/index.php
  panel/package-lock.json
  panel/package.json
  panel/src/helpers/color.test.ts
  panel/src/helpers/color.ts
  panel/src/helpers/index.ts
  panel/src/helpers/ratio.js
  panel/src/helpers/ratio.test.ts
  panel/src/helpers/ratio.ts
  panel/tsconfig.build.json
  panel/tsconfig.json
  panel/vite.config.js
Due: frontend

fix: Update URL validation regex
  panel/src/helpers/url.isUrl.test.js
  panel/src/helpers/url.js
  src/Toolkit/V.php
  tests/Toolkit/VTest.php
Due: backend, frontend

refact: Shared test URLs .json
  panel/src/helpers/url.isUrl.test.js
  tests/Toolkit/VTest.php
  tests/Toolkit/fixtures/urls.json
Due: frontend

test: vitest performance improvements
  panel/package.json
  panel/src/helpers/url.base.test.js
  panel/src/panel/view.test.js
Due: frontend

test: Switch to `happy-dom` for vitest
  panel/package-lock.json
  panel/package.json
  panel/src/helpers/color.test.js
  panel/src/helpers/field.test.js
  panel/src/helpers/link.test.js
  panel/src/helpers/string.sanitizeHTML.test.js
  panel/src/helpers/url.base.test.js
  panel/src/helpers/url.isSameOrigin.test.js
  panel/src/helpers/url.isUrl.test.js
  panel/src/helpers/url.makeAbsolute.test.js
  panel/src/helpers/writer.test.js
  panel/src/panel/dialog.test.js
  panel/src/panel/drag.test.js
  panel/src/panel/drawer.test.js
  panel/src/panel/dropdown.test.js
  panel/src/panel/events.drag.test.js
  panel/src/panel/events.keychain.test.js
  panel/src/panel/events.keydown.test.js
  panel/src/panel/events.keyup.test.js
  panel/src/panel/feature.test.js
  panel/src/panel/history.test.js
  panel/src/panel/language.test.js
  panel/src/panel/modal.test.js
  panel/src/panel/notification.test.js
  panel/src/panel/panel.test.js
  panel/src/panel/plugins.test.js
  panel/src/panel/request.body.test.js
  panel/src/panel/request.globals.test.js
  panel/src/panel/request.headers.test.js
  panel/src/panel/state.test.js
  panel/src/panel/system.test.js
  panel/src/panel/translation.test.js
  panel/src/panel/user.test.js
  panel/src/panel/view.test.js
  panel/vite.config.js
  panel/vitest.setup.js
Due: frontend

fix: prevent empty slug from leaking parent field values into new child pages #7940
  src/Cms/Page.php
  src/Panel/PageCreateDialog.php
  tests/Cms/Page/PageSlugTest.php
  tests/Panel/PageCreateDialogTest.php
Due: backend

test: Fix prettier check command
  .github/workflows/frontend.yml
Due: none

test: Component tests with Vue test utils
  panel/package-lock.json
  panel/package.json
  panel/src/components/Layout/Bar.test.js
  panel/src/components/Layout/Stack.test.js
  panel/src/components/Misc/Icon.test.js
  panel/src/components/Misc/Icons.test.js
  panel/src/components/Misc/Progress.test.js
Due: frontend

test: Tweak vitest config
  panel/vite.config.js
Due: none

fix: Update URL validation regex
  panel/src/helpers/url.isUrl.test.js
  panel/src/helpers/url.js
  src/Toolkit/V.php
  tests/Toolkit/VTest.php
  tests/Toolkit/fixtures/urls.json
Due: backend, frontend

test: Default tests for component tests
  panel/src/components/Layout/Bar.test.js
  panel/src/components/Layout/Stack.test.js
  panel/src/components/Misc/Icon.test.js
  panel/src/components/Misc/Icons.test.js
  panel/src/components/Misc/Progress.test.js
Due: frontend

test: add submit tests for PageCreateDialog #7940
  tests/Panel/PageCreateDialogTest.php
Due: none

test: Switch to `happy-dom` for vitest
  panel/package-lock.json
  panel/package.json
  panel/src/helpers/color.test.js
  panel/src/helpers/field.test.js
  panel/src/helpers/link.test.js
  panel/src/helpers/string.sanitizeHTML.test.js
  panel/src/helpers/url.base.test.js
  panel/src/helpers/url.isSameOrigin.test.js
  panel/src/helpers/url.isUrl.test.js
  panel/src/helpers/url.makeAbsolute.test.js
  panel/src/helpers/writer.test.js
  panel/src/panel/dialog.test.js
  panel/src/panel/drag.test.js
  panel/src/panel/drawer.test.js
  panel/src/panel/dropdown.test.js
  panel/src/panel/events.drag.test.js
  panel/src/panel/events.keychain.test.js
  panel/src/panel/events.keydown.test.js
  panel/src/panel/events.keyup.test.js
  panel/src/panel/feature.test.js
  panel/src/panel/history.test.js
  panel/src/panel/language.test.js
  panel/src/panel/modal.test.js
  panel/src/panel/notification.test.js
  panel/src/panel/panel.test.js
  panel/src/panel/plugins.test.js
  panel/src/panel/request.body.test.js
  panel/src/panel/request.globals.test.js
  panel/src/panel/request.headers.test.js
  panel/src/panel/state.test.js
  panel/src/panel/system.test.js
  panel/src/panel/translation.test.js
  panel/src/panel/user.test.js
  panel/src/panel/view.test.js
  panel/vite.config.js
Due: frontend

refact: Simplify `$helper.string.hasEmoji()` (#7966)
  panel/src/helpers/string.hasEmoji.test.js
  panel/src/helpers/string.js
Due: frontend

test: Remove dead resize observer mock
  panel/vitest.setup.js
Due: none

test: improve submit tests for PageCreateDialog #7940
  tests/Panel/PageCreateDialogTest.php
Due: none

test: Component tests with Vue test utils
  .gitattributes
  panel/package-lock.json
  panel/package.json
  panel/src/components/Layout/Bar.test.js
  panel/src/components/Layout/Stack.test.js
  panel/src/components/Misc/Icon.test.js
  panel/src/components/Misc/Icons.test.js
  panel/src/components/Misc/Icons.vue
  panel/src/components/Misc/Progress.test.js
  panel/tests/unit/index.js
  panel/tests/unit/setup.js
  panel/vite.config.js
Due: frontend

refact: Use TypeScript for first set of JS helpers
  panel/eslint.config.js
  panel/lab/internals/helpers/color/index.php
  panel/lab/internals/helpers/ratio/index.php
  panel/package-lock.json
  panel/package.json
  panel/src/helpers/color.test.ts
  panel/src/helpers/color.ts
  panel/src/helpers/ratio.js
  panel/src/helpers/ratio.test.ts
  panel/src/helpers/ratio.ts
  panel/tsconfig.json
  panel/vite.config.js
Due: frontend

[TS 1] refact: Use TypeScript for first set of JS helpers (#7973)
  panel/eslint.config.js
  panel/lab/internals/helpers/color/index.php
  panel/lab/internals/helpers/ratio/index.php
  panel/package-lock.json
  panel/package.json
  panel/src/helpers/color.test.ts
  panel/src/helpers/color.ts
  panel/src/helpers/ratio.js
  panel/src/helpers/ratio.test.ts
  panel/src/helpers/ratio.ts
  panel/tsconfig.json
  panel/vite.config.js
Due: frontend

fix: Resolve up-to-date page object after create to prevent duplicate draft #7957
  src/Cms/PageActions.php
  tests/Cms/Page/PageCreateTest.php
Due: backend

feat: New Version::unlock() method
  src/Content/Version.php
  tests/Content/VersionTest.php
Due: backend

feat: New unlock route
  config/api/routes/changes.php
Due: backend

feat: New Changes::unlock() method for the controller
  i18n/translations/en.json
  src/Api/Controller/Changes.php
  tests/Api/Controller/ChangesTest.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
