Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

The empty box no longer creates a button if the action is not allowed
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/PagesSection.vue
Due: frontend

Fix broken indentation
  panel/src/components/Sections/FilesSection.vue
Due: frontend

Better error message when the parent model of a pages section is invalid
  config/sections/mixins/parent.php
  config/sections/pages.php
  tests/Cms/Sections/PagesSectionTest.php
Due: backend

Revert returning parent
  config/sections/mixins/parent.php
Due: backend

Fix nested blocks drawer breadcrumb #3871
  panel/src/store/modules/drawers.js
Due: frontend

Fix queue closing all drawers when mousedown #3871
  panel/src/components/Drawers/Drawer.vue
Due: frontend

Add strikethrough and small html tag #3920
  src/Sane/Html.php
  tests/Sane/fixtures/html/allowed/sandbox-blocks.html
Due: backend

Prevent scrolling is now a new store action
  panel/src/components/Layout/Overlay.vue
  panel/src/components/Layout/Panel.vue
  panel/src/store/store.js
Due: frontend

Better scroll disabling logic
  panel/src/components/Layout/Overlay.vue
Due: frontend

Fixed positioning version
  panel/src/components/Layout/Overlay.vue
  panel/src/components/Layout/Panel.vue
  panel/src/store/store.js
Due: frontend

Make sure that scrolling is always restored properly
  panel/src/components/Layout/Overlay.vue
  panel/src/fiber/app.js
  panel/src/store/store.js
  panel/src/styles/reset.css
Due: frontend

New scroll area utilities
  panel/src/styles/utilities.css
Due: frontend

Use new scroll utility
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Drawers/Drawer.vue
  panel/src/components/Forms/Input/MultiselectInput.vue
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Simplify scroll block in overlay
  panel/src/components/Layout/Overlay.vue
  panel/src/fiber/app.js
Due: frontend

Go back to scrollable panel view
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Layout/Inside.vue
  panel/src/components/Views/FileView.vue
  panel/src/components/Views/PageView.vue
  panel/src/components/Views/SiteView.vue
  panel/src/components/Views/UserView.vue
  panel/src/styles/reset.css
Due: frontend

Improve permssion handling for changing roles
  config/areas/users/dialogs.php
  src/Cms/User.php
  src/Cms/UserPermissions.php
  src/Cms/UserRules.php
  src/Panel/Field.php
  tests/Cms/Users/UserMethodsTest.php
  tests/Cms/Users/UserPermissionsTest.php
Due: backend

Cover last line in user methods
  tests/Cms/Users/UserMethodsTest.php
Due: none

Fix unit tests
  tests/Cms/Users/UserMethodsTest.php
  tests/Cms/Users/UserPermissionsTest.php
  tests/Panel/FieldTest.php
Due: none

Move animations to their own stylesheet
  panel/src/components/Layout/Panel.vue
  panel/src/index.js
  panel/src/styles/animations.css
Due: frontend

Use Tailwind version for screen reader utility
  panel/src/components/Forms/Login.vue
  panel/src/components/Forms/LoginCode.vue
  panel/src/components/Views/InstallationView.vue
  panel/src/components/Views/ResetPasswordView.vue
  panel/src/styles/utilities.css
Due: frontend

Execute script first to unblock stylesheet loading as soon as possible.
  views/panel.php
Due: none

Fix hover on disabled buttons
  panel/src/components/Navigation/ButtonDisabled.vue
Due: frontend

Move offline warning into custom component
  i18n/translations/en.json
  panel/src/components/Layout/Panel.vue
  panel/src/components/Misc/OfflineWarning.vue
  panel/src/config/components.js
  panel/src/styles/variables.css
Due: frontend

Fix rotating loader in Firefox
  panel/src/components/Misc/Loader.vue
  panel/src/index.js
Due: frontend

Improve alignment in card items
  panel/src/components/Layout/Item.vue
Due: frontend

Use Kirby components for better focus styles
  panel/src/components/Views/SystemView.vue
Due: frontend

Fix linting issue
  panel/src/components/Views/SystemView.vue
Due: frontend

Update translations
  i18n/translations/bg.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
Due: none

Add latest dist file
  composer.json
  composer.lock
  panel/dist/css/style.css
  panel/dist/js/index.js
  vendor/composer/InstalledVersions.php
  vendor/composer/installed.php
Due: none

Add Icelandic
  i18n/translations/is_IS.json
Due: none

Add Icelandic rules
  i18n/rules/is_IS.json
Due: none

Model collections `::ad()`: describe exception
  src/Cms/Files.php
  src/Cms/Pages.php
  src/Cms/Users.php
Due: backend

Move Dom and Sane\Html to 3.5.8
  src/Sane/DomHandler.php
  src/Sane/Html.php
  src/Toolkit/Dom.php
Due: backend

Dom::listContainsName(): Always use `$compare` fn
  src/Toolkit/Dom.php
Due: backend

Dom: Always collect all elements from iterators
  src/Toolkit/Dom.php
Due: backend

Dom: More consistent error output
  src/Toolkit/Dom.php
  tests/Cms/Files/FileRulesTest.php
  tests/Sane/DomHandlerTest.php
  tests/Sane/HandlerTest.php
  tests/Sane/SaneTest.php
  tests/Sane/SvgTest.php
  tests/Sane/XmlTest.php
Due: backend

Dom: Fix `false` interpretation for allowedTags
  src/Toolkit/Dom.php
Due: backend

Cleanup
  src/Toolkit/Dom.php
Due: backend

Dom: Complete unit and integration tests
  src/Toolkit/Dom.php
  tests/Sane/HtmlTest.php
  tests/Sane/SvgTest.php
  tests/Toolkit/DomTest.php
Due: backend

Dom: Fix tag name lookup
  src/Toolkit/Dom.php
Due: backend
