Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Use existing clipboard helper
  panel/src/panel/events.js
Due: frontend

New VersionId option for preview URLs
  config/areas/site/views.php
  src/Cms/Page.php
  src/Cms/Site.php
Due: backend

Add use statement
  config/areas/site/views.php
Due: backend

Remove unnecessary fallback
  src/Cms/Page.php
Due: backend

Throw a permission exception if the preview view cannot be visited
  config/areas/site/views.php
Due: backend

Remove outdated prop
  panel/src/components/Views/ModelView.vue
Due: frontend

Check for permissions for the preview button in the dropdown
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Pages/SiteView.vue
Due: frontend

Leave the preview view on esc
  panel/src/components/Views/PreviewView.vue
Due: frontend

Rename clipboard event
  panel/src/panel/events.js
  src/Panel/Ui/Buttons/PreviewDropdownButton.php
Due: backend, frontend

Don’t deprecate ::strings just yet
  src/Form/Form.php
Due: backend

Fix the deprecation warning in Field::data
  src/Form/Mixin/Value.php
Due: backend

Improve readability and add inline comments
  src/Form/Fields.php
Due: backend

Add unit test for additional options data
  src/Option/OptionsApi.php
  src/Option/OptionsQuery.php
  tests/Form/Fields/SelectFieldTest.php
Due: backend

Revert unnecessary change
  src/Form/Form.php
Due: backend

`Data::read(fail: false)`
  src/Cms/Language.php
  src/Cms/Translation.php
  src/Data/Data.php
  src/Plugin/Plugin.php
  tests/Data/DataTest.php
Due: backend

Fix cs
  src/Cms/Language.php
  src/Cms/Translation.php
Due: backend

Change the update status host to getkirby.com
  src/Cms/System/UpdateStatus.php
Due: backend

Preflight for 4.5.0-rc.1
  cacert.pem
  composer.json
  composer.lock
  i18n/translations/cs.json
  i18n/translations/ko.json
  i18n/translations/nl.json
  i18n/translations/pt_PT.json
  i18n/translations/sv_SE.json
  panel/dist/css/style.min.css
  panel/dist/img/icons.svg
  panel/dist/js/Docs.min.js
  panel/dist/js/DocsView.min.js
  panel/dist/js/Highlight.min.js
  panel/dist/js/IndexView.min.js
  panel/dist/js/PlaygroundView.min.js
  panel/dist/js/container-query-polyfill.modern.min.js
  panel/dist/js/index.min.js
  panel/dist/js/vendor.min.js
  panel/dist/js/vuedraggable.min.js
  panel/dist/ui/ColoroptionsInput.json
  panel/dist/ui/RadioField.json
  panel/dist/ui/RadioInput.json
  vendor/composer/installed.php
Due: none

Update composer dependencies
  composer.json
  composer.lock
  vendor/bin/yaml-lint.bat
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/composer/semver/composer.json
  vendor/composer/semver/src/CompilingMatcher.php
  vendor/filp/whoops/composer.json
  vendor/filp/whoops/src/Whoops/Handler/PrettyPageHandler.php
  vendor/filp/whoops/src/Whoops/Run.php
  vendor/filp/whoops/src/Whoops/Util/TemplateHelper.php
  vendor/laminas/laminas-escaper/composer.json
  vendor/phpmailer/phpmailer/composer.json
  vendor/phpmailer/phpmailer/get_oauth_token.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-es.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-fr.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-ja.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-ku.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-ru.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-tr.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-ur.php
  vendor/phpmailer/phpmailer/src/DSNConfigurator.php
  vendor/phpmailer/phpmailer/src/Exception.php
  vendor/phpmailer/phpmailer/src/OAuth.php
  vendor/phpmailer/phpmailer/src/OAuthTokenProvider.php
  vendor/phpmailer/phpmailer/src/PHPMailer.php
  vendor/phpmailer/phpmailer/src/POP3.php
  vendor/phpmailer/phpmailer/src/SMTP.php
  vendor/symfony/polyfill-intl-idn/Idn.php
  vendor/symfony/polyfill-intl-idn/composer.json
  vendor/symfony/polyfill-mbstring/Mbstring.php
  vendor/symfony/polyfill-mbstring/bootstrap.php
  vendor/symfony/polyfill-mbstring/bootstrap80.php
  vendor/symfony/polyfill-mbstring/composer.json
  vendor/symfony/yaml/Inline.php
Due: none

Add the latest version of a translation automatically
  src/Content/Version.php
  tests/Content/VersionTest.php
Due: backend

set "interpreted" as default query runner
  src/Query/Query.php
Due: backend

Apply suggestions from code review
  src/Cms/Language.php
Due: backend

Add unit test
  tests/Content/LockTest.php
Due: none

Fix `Lock::for()`
  src/Content/Lock.php
Due: backend

Move lock wildcard into the Lock::for method
  src/Cms/ModelWithContent.php
  src/Content/Lock.php
  src/Content/Version.php
Due: backend

Compare form values in Version::isIdentical
  src/Content/Version.php
Due: backend

Make sure to pass the language correctly in all places
  src/Api/Controller/Changes.php
  src/Content/Version.php
Due: backend

Don’t send API requests if there’s no api definition
  panel/src/panel/content.js
Due: frontend

Revert `content.api` checks
  panel/src/panel/content.js
Due: frontend

Dropdown content `item` slot
  panel/src/components/Dropdowns/DropdownContent.vue
  panel/src/components/View/Buttons/LanguagesDropdown.vue
Due: frontend

Integrate first parts into `k-languages-dropdown`
  panel/src/components/Dropdowns/DropdownContent.vue
  panel/src/components/View/Buttons/LanguagesDropdown.vue
  src/Panel/Ui/Buttons/LanguagesDropdown.php
Due: backend, frontend

Fix languages dropdown unit tests
  tests/Panel/Ui/Buttons/LanguagesDropdownTest.php
Due: none

Languages dropdown: use i18n strings
  panel/src/components/View/Buttons/LanguagesDropdown.vue
  src/Panel/Ui/Buttons/LanguagesDropdown.php
Due: backend, frontend

Fixed k-progress css
  panel/src/components/Misc/Progress.vue
Due: frontend

Language dropdown prototype in lab
  panel/lab/components/dropdowns/5_languages/index.vue
Due: none

Consider the lock status of any translation
  src/Panel/Ui/Buttons/LanguagesDropdown.php
Due: backend

Design changes for the dropdown
  panel/src/components/View/Buttons/LanguagesDropdown.vue
  panel/src/panel/content.js
  src/Panel/Ui/Buttons/LanguagesDropdown.php
Due: backend, frontend

Remove old Lab example
  panel/lab/components/dropdowns/5_languages/index.vue
Due: none

Revert "Consider the lock status of any translation"
  src/Panel/Ui/Buttons/LanguagesDropdown.php
Due: backend

Improve docblock `LanguagesDropdown::hasChanges`
  panel/src/components/View/Buttons/LanguagesDropdown.vue
  src/Panel/Ui/Buttons/LanguagesDropdown.php
Due: backend, frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
