Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

feat: New Definitions components (#7767)
  panel/lab/components/definitions/1_definitions/index.php
  panel/lab/components/definitions/1_definitions/index.vue
  panel/lab/components/definitions/2_definition/index.php
  panel/lab/components/definitions/2_definition/index.vue
  panel/src/components/Layout/Definition.vue
  panel/src/components/Layout/Definitions.vue
  panel/src/components/Layout/index.js
Due: frontend

fix: Load ValidationErrorDialog
  panel/src/components/Dialogs/index.js
Due: frontend

feat: New k-checklist component
  panel/lab/components/checklist/index.vue
  panel/src/components/Text/Checklist.vue
  panel/src/components/Text/index.js
Due: frontend

docs: Add missing `@since` tags
  panel/src/components/Layout/Definition.vue
  panel/src/components/Layout/Definitions.vue
  panel/src/components/Layout/Stack.vue
  panel/src/components/Text/Checklist.vue
  panel/src/components/Text/CodeToken.vue
Due: frontend

refact: Update Panel srcset sizes
  src/Panel/Model.php
  tests/Panel/ModelTest.php
Due: backend

fix: Add `HiddenField::reset()`
  src/Form/Field/HiddenField.php
Due: backend

refact: Update Panel srcset sizes again
  src/Panel/Model.php
  tests/Panel/FileTest.php
  tests/Panel/ModelTest.php
  tests/Panel/PageTest.php
  tests/Panel/SiteTest.php
  tests/Panel/UserTest.php
Due: backend

docs: Add @since tag
  src/Http/Url.php
Due: backend

fix: Proper fallback for `HasI18n` with data
  src/Toolkit/HasI18n.php
  tests/Toolkit/HasI18nTest.php
Due: backend

fix: PHP 8.5 compatibility of `Panel\File`
  src/Panel/File.php
Due: backend

fix: Run page creation checks twice to avoid accidental removal
  src/Cms/PageActions.php
Due: backend

feat: More readable file paths in JSON error responses
  src/Cms/AppErrors.php
  tests/Cms/App/AppErrorsTest.php
Due: backend

Merge pull request #7770 from getkirby/feat/table-responsive-mode
  panel/lab/components/tables/4_component/index.vue
  panel/src/components/Layout/Table.vue
Due: frontend

feat: New FormValidationException
  i18n/translations/en.json
  src/Exception/FormValidationException.php
  src/Form/Fields.php
  src/Form/Form.php
  tests/Form/FieldsTest.php
Due: backend

feat: New k-error-trace component
  panel/lab/components/errors/error-trace/index.php
  panel/lab/components/errors/error-trace/index.vue
  panel/src/components/Errors/ErrorTrace.vue
  panel/src/components/Errors/index.js
  panel/src/components/index.js
Due: frontend

feat: More readable file paths in JSON error responses (#7772)
  src/Cms/AppErrors.php
  tests/Cms/App/AppErrorsTest.php
Due: backend

feat: New Kirby\Exception\FormValidationException (#7769)
  i18n/translations/en.json
  src/Exception/FormValidationException.php
  src/Form/Fields.php
  src/Form/Form.php
  tests/Form/FieldsTest.php
Due: backend

docs: Add @since tag
  panel/src/components/Errors/ErrorTrace.vue
Due: frontend

feat: New k-error-trace component (#7774)
  panel/lab/components/errors/error-trace/index.php
  panel/lab/components/errors/error-trace/index.vue
  panel/src/components/Errors/ErrorTrace.vue
  panel/src/components/Errors/index.js
  panel/src/components/index.js
Due: frontend

feat: New k-validation-issues component
  panel/lab/components/errors/validation-issues/index.php
  panel/lab/components/errors/validation-issues/index.vue
  panel/src/components/Errors/ValidationIssues.vue
  panel/src/components/Errors/index.js
Due: frontend

feat: New k-validation-issues component
  panel/lab/components/errors/validation-issues/index.vue
  panel/src/components/Errors/ValidationIssues.vue
Due: frontend

fix: Handle race conditions in `Dir::remove()`
  src/Cache/FileCache.php
  src/Filesystem/Dir.php
Due: backend

refact!: Page create dialog as section dialog
  config/areas/site/dialogs.php
  config/sections/pages.php
  panel/src/components/Sections/PagesSection.vue
  src/Panel/Controller/Dialog/ModelCreateDialogController.php
  src/Panel/Controller/Dialog/PageCreateDialogController.php
  tests/Panel/Controller/Dialog/PageCreateDialogControllerTest.php
Due: backend, frontend

fix: Opening section dialog from other parent
  panel/src/components/Sections/PagesSection.vue
Due: frontend

fix: Getting the right blueprints for section
  src/Panel/Controller/Dialog/ModelCreateDialogController.php
  src/Panel/Controller/Dialog/PageCreateDialogController.php
Due: backend

feat: Models sections as fields
  panel/package-lock.json
  panel/src/components/Forms/Field/ModelsField.vue
  panel/src/components/Forms/Field/PagesField.vue
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/BaseField.php
  src/Form/Field/ModelsField.php
  src/Form/Field/PagesField.php
  src/Form/Mixin/Label.php
  src/Form/Mixin/Min.php
Due: backend, frontend

refact!: Collection layouts
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/CollectionLayout.vue
  panel/src/components/Collection/Items.vue
  panel/src/components/Collection/ItemsCollectionLayout.vue
  panel/src/components/Collection/TableCollectionLayout.vue
  panel/src/components/Collection/index.js
Due: frontend

feat: `$panel.observers.frames`
  panel/lab/internals/panel/observers/index.php
  panel/lab/internals/panel/observers/index.vue
  panel/src/panel/observers.js
  panel/src/panel/panel.js
Due: frontend

style: fix cs
  panel/src/panel/observers.js
Due: frontend

refact: Auto sizes from observer for image frame
  panel/lab/components/frames/3_image/index.vue
  panel/src/components/Layout/Frame/ImageFrame.vue
Due: frontend

refact: Use auto sizes for item images
  panel/lab/components/item/1_list/index.vue
  panel/lab/components/item/2_cards/index.vue
  panel/lab/components/item/3_cardlets/index.vue
  panel/src/components/Collection/Item.vue
  panel/src/components/Collection/ItemImage.vue
  panel/src/components/Collection/Items.vue
Due: frontend

test: Mock `ResizeObserver`
  panel/vitest.setup.js
Due: none

refact: IDs for image frame in gallery/image block
  panel/src/components/Forms/Blocks/Types/Gallery.vue
  panel/src/components/Forms/Blocks/Types/Image.vue
  panel/src/components/Layout/Frame/Frame.vue
Due: frontend

feat: `k-image-frame` to support UUID as src
  panel/lab/components/frames/3_image/index.php
  panel/lab/components/frames/3_image/index.vue
  panel/src/components/Layout/Frame/ImageFrame.vue
  src/Panel/Controller/Request/ModelItemsRequestController.php
Due: backend, frontend

refact!: Model picker fields to use picker dialogs
  panel/src/components/Dialogs/ModelPickerDialog.vue
  panel/src/components/Dialogs/PagePickerDialog.vue
  panel/src/components/Forms/Blocks/Types/Gallery.vue
  panel/src/components/Forms/Blocks/Types/Image.vue
  panel/src/components/Forms/Blocks/Types/Video.vue
  panel/src/components/Forms/Field/FilePickerField.vue
  panel/src/components/Forms/Field/ModelPickerField.vue
  panel/src/components/Forms/Input/TextareaInput.vue
  src/Form/Field/FilePickerField.php
  src/Form/Field/ModelPickerField.php
  src/Form/Field/PagePickerField.php
  src/Form/Field/TextareaField.php
  src/Form/Field/UserPickerField.php
  tests/Api/ApiTest.php
  tests/Form/Field/FilePickerFieldTest.php
  tests/Form/Field/PagePickerFieldTest.php
  tests/Form/Field/UserPickerFieldTest.php
Due: backend, frontend

fix: `k-frame` with `ratio: auto`
  panel/src/components/Forms/Blocks/Types/Image.vue
  panel/src/components/Layout/Frame/Frame.vue
Due: frontend

refact: Remove unnecessary picker dialogs
  panel/src/components/Dialogs/FilePickerDialog.vue
  panel/src/components/Dialogs/PagePickerDialog.vue
  panel/src/components/Dialogs/UserPickerDialog.vue
  panel/src/components/Dialogs/index.js
  src/Panel/Controller/Dialog/FilePickerDialogController.php
  src/Panel/Controller/Dialog/ModelPickerDialogController.php
  src/Panel/Controller/Dialog/PagePickerDialogController.php
  src/Panel/Controller/Dialog/UserPickerDialogController.php
  tests/Panel/Controller/Dialog/FilePickerDialogControllerTest.php
  tests/Panel/Controller/Dialog/UserPickerDialogControllerTest.php
Due: backend, frontend

feat: Follow navigation in preview view
  config/areas/site/views.php
  panel/src/components/Views/Preview/PreviewBrowser.vue
  panel/src/components/Views/Preview/PreviewView.vue
  src/Panel/Controller/View/ModelPreviewViewController.php
  tests/Panel/Areas/SiteTest.php
  tests/Panel/Controller/View/ModelPreviewViewControllerTest.php
Due: backend, frontend
