Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

feat: New Tab and Tabs classes for blueprints
  src/Blueprint/Tab.php
  src/Blueprint/Tabs.php
  tests/Blueprint/TabTest.php
  tests/Blueprint/TabsTest.php
Due: backend

refact: Convert blueprint sections to fields
  src/Blueprint/Blueprint.php
  src/Blueprint/Normalizer.php
  src/Cms/Core.php
  tests/Blueprint/BlueprintExtendAndUnsetTest.php
  tests/Blueprint/BlueprintFieldReferencesTest.php
  tests/Blueprint/BlueprintTest.php
  tests/Blueprint/NormalizerTest.php
  tests/Panel/Controller/Dialog/SectionDialogControllerTest.php
  tests/Panel/Controller/Drawer/SectionDrawerControllerTest.php
Due: backend

refact: Return a Tabs collection from blueprints
  config/api/models/FileBlueprint.php
  config/api/models/PageBlueprint.php
  config/api/models/SiteBlueprint.php
  config/api/models/UserBlueprint.php
  src/Blueprint/Blueprint.php
  src/Blueprint/Normalizer.php
  src/Panel/Controller/View/ModelViewController.php
  tests/Blueprint/BlueprintExtendAndUnsetTest.php
  tests/Blueprint/BlueprintTest.php
  tests/Blueprint/NormalizerTest.php
  tests/Panel/Controller/View/ModelViewControllerTest.php
Due: backend

refact: Collect accepted file templates from fields
  src/Blueprint/AcceptRules.php
  src/Blueprint/Blueprint.php
  src/Cms/File.php
  tests/Blueprint/AcceptRulesTest.php
  tests/Cms/File/FileBlueprintsTest.php
Due: backend

refact: Collect the blueprints of a model from its fields
  src/Cms/ModelWithContent.php
  src/Cms/Page.php
Due: backend

refact: Count tab changes from the field names of a tab
  panel/src/components/Navigation/ModelTabs.test.ts
  panel/src/components/Navigation/ModelTabs.vue
Due: frontend

refact: Simplify inline comments
  src/Blueprint/Blueprint.php
Due: backend

refact: Validate model errors with the form
  src/Cms/ModelWithContent.php
Due: backend

fix: Replace `Form::for($model)->values()`
  src/Form/Field/ModelListField.php
Due: backend

test: Update Psalm baseline
  tests/Form/Field/FileListFieldTest.php
  tests/Form/Field/PageListFieldTest.php
Due: none

fix: Do not use deprecated `html` prop
  panel/src/components/Forms/ModelForm.vue
Due: frontend

refact: Guard ProvidesAcceptedBlueprints in helper
  src/Cms/ModelWithContent.php
Due: backend

feat: Render model views with the model form
  panel/src/components/Sections/FieldsSection.vue
  panel/src/components/Sections/Sections.vue
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Pages/SiteView.vue
  panel/src/components/Views/Preview/PreviewForm.test.ts
  panel/src/components/Views/Preview/PreviewForm.vue
  panel/src/components/Views/Users/UserView.vue
Due: frontend

refact: Validate page moves against page list fields
  psalm-baseline.xml
  src/Guards/PageValidators.php
Due: backend

fix: Subscribe to loaded fields before the preview form renders
  panel/src/components/Views/Preview/PreviewForm.vue
Due: frontend

refact: Drop the section endpoint from Panel forms
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/Types/Default.vue
  panel/src/components/Forms/Layouts/Layout.vue
  panel/src/components/Forms/Layouts/LayoutColumn.vue
  panel/src/components/Forms/ModelForm.test.ts
  panel/src/components/Forms/ModelForm.vue
  panel/src/helpers/field.test.ts
  panel/src/helpers/field.ts
Due: frontend

refact: Look up accepted blueprints by field
  config/api/routes/pages.php
  config/api/routes/site.php
  config/api/routes/users.php
  panel/src/api/pages.ts
  panel/src/api/users.ts
  src/Panel/Controller/Dialog/PageCreateDialogController.php
  tests/Panel/Controller/Dialog/PageCreateDialogControllerTest.php
Due: backend, frontend

fix: i18n string usage in legacy files
  config/sections/files.php
  config/sections/mixins/batch.php
  config/sections/pages.php
  tests/Blueprint/Sections/mixins/BatchSectionMixinTest.php
  tests/Form/Field/SectionFieldTest.php
Due: backend

test: Tweak tests
  panel/src/helpers/field.test.ts
Due: frontend

refact!: Simplify PageCreateDialogController
  config/areas/site/dialogs.php
  config/sections/pages.php
  src/Panel/Controller/Dialog/PageCreateDialogController.php
  tests/Panel/Controller/Dialog/PageCreateDialogControllerTest.php
Due: backend

refact: Use field error keys for model list fields
  i18n/translations/en.json
  src/Form/Field/ModelListField.php
  tests/Cms/Page/PageErrorsTest.php
  tests/Form/Field/FileListFieldTest.php
  tests/Form/Field/PageListFieldTest.php
Due: backend

refact: Rename the page move error key
  i18n/translations/en.json
  src/Guards/PageValidators.php
  tests/Cms/Page/PageRulesTest.php
  tests/Guards/PageValidatorsTest.php
Due: backend

refact: Remove the section adapter from blueprints
  src/Blueprint/AcceptRules.php
  src/Blueprint/Blueprint.php
  src/Blueprint/Normalizer.php
  tests/Blueprint/BlueprintTest.php
Due: backend

refact: Delete the section definitions
  config/sections/fields.php
  config/sections/files.php
  config/sections/info.php
  config/sections/mixins/batch.php
  config/sections/mixins/details.php
  config/sections/mixins/empty.php
  config/sections/mixins/headline.php
  config/sections/mixins/help.php
  config/sections/mixins/layout.php
  config/sections/mixins/max.php
  config/sections/mixins/min.php
  config/sections/mixins/pagination.php
  config/sections/mixins/parent.php
  config/sections/mixins/search.php
  config/sections/mixins/sort.php
  config/sections/pages.php
  config/sections/stats.php
  tests/Blueprint/Sections/FieldsSectionTest.php
  tests/Blueprint/Sections/FilesSectionTest.php
  tests/Blueprint/Sections/InfoSectionTest.php
  tests/Blueprint/Sections/PagesSectionTest.php
  tests/Blueprint/Sections/SectionTest.php
  tests/Blueprint/Sections/StatsSectionTest.php
  tests/Blueprint/Sections/fixtures/image/cover.jpg
  tests/Blueprint/Sections/mixins/BatchSectionMixinTest.php
  tests/Blueprint/Sections/mixins/EmptySectionMixinTest.php
  tests/Blueprint/Sections/mixins/LayoutMixinTest.php
  tests/Blueprint/Sections/mixins/MaxSectionMixinTest.php
  tests/Blueprint/Sections/mixins/MinSectionMixinTest.php
  tests/Blueprint/Sections/mixins/SortMixinTest.php
Due: backend

refact: Remove the section API routes
  config/api/routes/files.php
  config/api/routes/pages.php
  config/api/routes/site.php
  config/api/routes/users.php
  src/Api/Api.php
  tests/Api/ApiTest.php
  tests/Api/Routes/AccountRoutesTest.php
  tests/Api/Routes/UsersRoutesTest.php
Due: backend

refact: Unregister the section components
  panel/src/components/Forms/Field/index.js
  panel/src/components/Layout/Section.vue
  panel/src/components/Layout/index.js
  panel/src/components/Text/Label.vue
  panel/src/components/Views/ModelView.vue
  panel/src/components/Views/Preview/PreviewForm.test.ts
  panel/src/components/Views/Preview/PreviewForm.vue
  panel/src/components/Views/Preview/PreviewView.vue
  panel/src/components/index.js
  panel/src/panel/plugins.test.ts
  panel/src/panel/plugins.ts
Due: frontend

refact: Remove the section dialog and drawer routes
  config/areas/account/dialogs.php
  config/areas/account/drawers.php
  config/areas/site/dialogs.php
  config/areas/site/drawers.php
  config/areas/users/dialogs.php
  config/areas/users/drawers.php
Due: backend

refact: Delete the Section class and controllers
  psalm-baseline.xml
  src/Blueprint/Section.php
  src/Panel/Controller/Dialog/SectionDialogController.php
  src/Panel/Controller/Drawer/SectionDrawerController.php
  src/Panel/Controller/SectionController.php
  tests/Form/Field/SectionFieldTest.php
  tests/Panel/Controller/Dialog/SectionDialogControllerTest.php
  tests/Panel/Controller/Drawer/SectionDrawerControllerTest.php
Due: backend

refact: Remove the section extension registry
  config/aliases.php
  src/Cms/AppPlugins.php
  src/Cms/Core.php
  src/Cms/Loader.php
  tests/Cms/CoreTest.php
  tests/Cms/Loader/LoaderTest.php
Due: backend

refact: Remove SectionField
  src/Form/Field/SectionField.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

refact: Delete the Panel section components
  panel/src/components/Forms/Field/SectionField.vue
  panel/src/components/Sections/FieldsSection.vue
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/InfoSection.vue
  panel/src/components/Sections/ModelsSection.vue
  panel/src/components/Sections/PagesSection.vue
  panel/src/components/Sections/Sections.vue
  panel/src/components/Sections/StatsSection.vue
  panel/src/components/Sections/index.js
  panel/src/mixins/section.js
Due: frontend

refact: Remove the section translations
  i18n/translations/en.json
Due: none

fix: Keep the first field of a duplicate name intact (#8436)
  src/Blueprint/Normalizer.php
  tests/Blueprint/NormalizerTest.php
Due: backend

perf: Improve modellist field table layout
  src/Form/Field/ModelListField.php
  src/Form/Field/PageListField.php
  src/Panel/Ui/Item/ModelItem.php
  tests/Form/Field/FileListFieldTest.php
  tests/Panel/Ui/Item/ModelItemTest.php
Due: backend

fix: Enforce the content lock in the model form (#8437)
  panel/src/components/Forms/ModelForm.test.ts
  panel/src/components/Forms/ModelForm.vue
  panel/src/components/Views/Preview/PreviewForm.vue
Due: frontend

fix: `field` param support for controller factory
  src/Panel/Controller/Dialog/PageCreateDialogController.php
  tests/Panel/Controller/Dialog/PageCreateDialogControllerTest.php
Due: backend

[remove fields] fix: Protect fields against single field error (#8443)
  src/Form/Field.php
  src/Form/Field/FileListField.php
  src/Form/Field/ModelListField.php
  src/Form/Field/PageListField.php
  src/Form/Fields.php
  tests/Form/Field/FileListFieldTest.php
  tests/Form/Field/PageListFieldTest.php
  tests/Form/FieldTest.php
  tests/Form/FieldsTest.php
  tests/Form/FormTest.php
Due: backend

[sections 2 fields] fix: Resolve field references before merging sections (#8435)
  src/Blueprint/Normalizer.php
  tests/Blueprint/BlueprintFieldReferencesTest.php
Due: backend

[remove fields] #15 - test: Remove sections from test setups (#8442)
  tests/Api/Routes/AccountRoutesTest.php
  tests/Api/Routes/UsersRoutesTest.php
  tests/Blueprint/AcceptRulesTest.php
  tests/Blueprint/BlueprintExtendAndUnsetTest.php
  tests/Blueprint/BlueprintFieldReferencesTest.php
  tests/Blueprint/BlueprintTest.php
  tests/Cms/File/FileBlueprintsTest.php
  tests/Cms/File/FileChangeTemplateTest.php
  tests/Cms/File/FilePermissionsTest.php
  tests/Cms/File/FileRulesTest.php
  tests/Cms/FileListTemplateChangeTest.php
  tests/Cms/Model/ModelWithContentTest.php
  tests/Cms/Page/PageBlueprintsTest.php
  tests/Cms/Page/PageErrorsTest.php
  tests/Cms/Page/PageMoveTest.php
  tests/Cms/Page/PageRulesTest.php
  tests/Guards/FileAbilitiesTest.php
  tests/Guards/FileValidatorsTest.php
  tests/Guards/PageGuardsTest.php
  tests/Guards/PageValidatorsTest.php
  tests/Panel/Controller/Dialog/PageMoveDialogControllerTest.php
  tests/Panel/Controller/Request/PageTreeRequestControllerTest.php
  tests/Panel/Controller/View/ModelViewControllerTest.php
Due: none

fix: Psalm errors in ModelListField::row()
  src/Form/Field/ModelListField.php
Due: backend
