Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Add more template annotations
  src/Blueprint/Collection.php
  src/Cms/NestCollection.php
Due: backend

Use shorter syntax
  src/Blueprint/Collection.php
  src/Cms/Blocks.php
  src/Cms/Collection.php
  src/Cms/Fieldsets.php
  src/Cms/Files.php
  src/Cms/Items.php
  src/Cms/Languages.php
  src/Cms/LayoutColumns.php
  src/Cms/Layouts.php
  src/Cms/NestCollection.php
  src/Cms/Pages.php
  src/Cms/PluginAssets.php
  src/Cms/Roles.php
  src/Cms/Structure.php
  src/Cms/Translations.php
  src/Cms/Users.php
  src/Form/Fields.php
  src/Http/Path.php
  src/Option/Options.php
  src/Query/Arguments.php
  src/Query/Segments.php
  src/Toolkit/Collection.php
  src/Toolkit/Iterator.php
Due: backend

Fields: narrower object types
  src/Form/Fields.php
Due: backend

Type hint `HasSiblings` trait
  src/Cms/File.php
  src/Cms/HasSiblings.php
  src/Cms/Item.php
  src/Cms/Language.php
  src/Cms/Page.php
  src/Cms/PageSiblings.php
  src/Cms/User.php
  src/Form/FieldClass.php
  src/Form/Fields.php
Due: backend

Fix docblocks
  src/Cms/FileRules.php
  src/Database/Sql.php
Due: backend

Update searches.php: Fixing panel search when uuids are disabled
  config/areas/site/searches.php
Due: backend

Update src/Toolkit/Iterator.php
  src/Toolkit/Iterator.php
Due: backend

Fixes from code review
  src/Cms/Block.php
  src/Cms/Collection.php
  src/Cms/Fieldset.php
  src/Cms/File.php
  src/Cms/Files.php
  src/Cms/Item.php
  src/Cms/Language.php
  src/Cms/Layout.php
  src/Cms/LayoutColumn.php
  src/Cms/Page.php
  src/Cms/Pages.php
  src/Cms/StructureObject.php
  src/Cms/User.php
  src/Cms/Users.php
  src/Form/FieldClass.php
  src/Toolkit/Collection.php
Due: backend

More fixes from code review
  src/Cms/Collection.php
  src/Toolkit/Collection.php
Due: backend

Fix method signature mismatch
  src/Toolkit/Collection.php
Due: backend

More docblock type fixes
  src/Cms/Collection.php
  src/Toolkit/Collection.php
Due: backend

Upgrade to eslint 9
  panel/.eslintrc.js
  panel/eslint.config.mjs
  panel/package-lock.json
  panel/package.json
  panel/src/components/Dialogs/LicenseDialog.vue
  panel/src/components/Dialogs/SearchDialog.vue
  panel/src/components/Forms/Field/ObjectField.vue
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Forms/Input/ColornameInput.vue
  panel/src/components/Forms/Writer/Utils/markPasteRule.js
  panel/src/components/Navigation/Pagination.vue
  panel/src/components/Views/SearchView.vue
  panel/src/helpers/embed.js
  panel/src/helpers/link.js
  panel/src/helpers/upload.js
  panel/src/helpers/url.js
  panel/src/store/modules/content.js
Due: frontend

`Cms\Collection::group()`: force `self` as return
  src/Cms/Collection.php
Due: backend

Fix QrCode
  src/Image/QrCode.php
Due: backend

Consistent non-alignment
  src/Image/QrCode.php
Due: backend

Fix invalid param declarations
  src/Cms/AppPlugins.php
  src/Cms/User.php
Due: backend

Clean superfluous PHPDoc tags
  .php-cs-fixer.dist.php
Due: none

Manual fixes
  config/tags.php
  src/Cms/Blocks.php
  src/Database/Query.php
  tests/Toolkit/EscapeTest.php
Due: backend

Fix invalid `null` default values
  config/areas/site/searches.php
  config/areas/users/searches.php
  src/Cms/Blueprint.php
  src/Cms/Media.php
  src/Toolkit/Str.php
  src/Toolkit/V.php
Due: backend

Remove superfluous defaults for `Str` methods
  src/Toolkit/Str.php
  tests/Toolkit/StrTest.php
Due: backend

Use modern array destructuring syntax
  src/Database/Sql.php
  src/Toolkit/Dom.php
  src/Toolkit/Str.php
Due: backend

Use dedicated PHPUnit assertions where possible
  tests/Cms/App/AppPluginsTest.php
  tests/Cms/Content/ContentLockTest.php
  tests/Content/FieldMethodsTest.php
  tests/Database/Sql/SqliteTest.php
  tests/Database/SqlTest.php
  tests/Filesystem/DirTest.php
  tests/Filesystem/MimeTest.php
  tests/Form/Fields/StructureFieldTest.php
  tests/Panel/FileTest.php
  tests/Panel/UserTest.php
  tests/Panel/ViewTest.php
  tests/Query/ExpressionTest.php
  tests/Toolkit/ATest.php
  tests/Toolkit/CollectionTest.php
  tests/Toolkit/LazyValueTest.php
  tests/Toolkit/VTest.php
Due: none

Use proper octal notation for `chmod()` calls
  tests/Cache/FileCacheTest.php
  tests/Cms/System/SystemTest.php
  tests/Filesystem/FileTest.php
  tests/Session/FileSessionStoreTest.php
Due: none

Modern indented Heredoc syntax
  tests/Parsley/Schema/BlocksTest.php
  tests/Toolkit/StrTest.php
Due: none

Fix sorting
  panel/src/components/Forms/Blocks/Block.vue
Due: frontend

StructureField: fix draggable
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Layout/Table.vue
Due: frontend

Fix draggable after SortableJS in Vue 3
  panel/src/components/Collection/Items.vue
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/components/Misc/Draggable.vue
Due: frontend

Add `__vue__` for backwards compatibility
  panel/src/index.js
Due: frontend

Remove old ArrayInput component
  panel/src/components/Forms/Input/ArrayInput.js
Due: frontend

Clean up leftovers
  panel/src/components/Navigation/Pagination.vue
Due: frontend

Update check: Support for new license model
  src/Cms/System/UpdateStatus.php
  tests/Cms/System/UpdateStatusTest.php
  tests/Cms/System/fixtures/UpdateStatusTest/getkirby.com/security.json
  tests/Cms/System/fixtures/UpdateStatusTest/logic/basic.json
Due: backend

Fix email dialog title prop translation #6402
  panel/src/components/Dialogs/EmailDialog.vue
  panel/src/components/Forms/Toolbar/EmailDialog.vue
Due: frontend

CSS `data-theme` with color names
  panel/src/styles/utilities/theme.css
Due: frontend

Theme lab examples
  panel/lab/basics/utilities/theme/index.vue
  panel/src/styles/utilities/theme.css
Due: frontend

`k-button`: New `variant` for only colored icon
  panel/src/components/Navigation/Button.vue
Due: frontend

`k-button`: `theme="positive-icon"`
  panel/src/components/Navigation/Button.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/helpers/page.js
  panel/src/styles/utilities/theme.css
Due: frontend

Extend lab examples
  panel/lab/components/buttons/2_themes/index.php
  panel/lab/components/buttons/2_themes/index.vue
Due: none

Fix regression
  panel/src/components/Navigation/Button.vue
Due: frontend
