Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Fix the UserRules test
  tests/Cms/Users/UserRulesTest.php
Due: none

One more fix for the UserRules tests
  tests/Cms/Users/UserRulesTest.php
Due: none

Fix more unit tests
  tests/Panel/ChangesDialogTest.php
  tests/Panel/Ui/Buttons/LanguagesDropdownTest.php
Due: none

Improve unit tests after version rules kick in
  tests/Cms/Models/ModelWithContentTest.php
  tests/Content/ChangesTest.php
  tests/Content/LockTest.php
  tests/Content/VersionTest.php
Due: none

Create VersionRules class and use it in all modification actions
  src/Content/Version.php
  src/Content/VersionRules.php
Due: backend

New Version::lock and Version::isLocked methods
  src/Content/Version.php
Due: backend

Refactor for new Version lock methods
  src/Cms/ModelWithContent.php
Due: backend

First set of version rule logic
  src/Content/VersionRules.php
Due: backend

New Version::isLatest method
  src/Content/Version.php
  src/Content/VersionRules.php
Due: backend

Use Version::save to avoid conflicts with existing eversions
  src/Content/Translation.php
Due: backend

Unit tests for the VersionRules class
  src/Content/VersionRules.php
  tests/Content/VersionRulesTest.php
Due: backend

First tests for Version::lock and Version::isLocked
  tests/Content/VersionTest.php
Due: none

Add option to specifiy the language for the lock
  src/Content/Lock.php
  src/Content/Version.php
Due: backend

Move Version::ensure and Storage::ensure to VersionRules
  src/Content/Lock.php
  src/Content/MemoryStorage.php
  src/Content/PlainTextStorage.php
  src/Content/Storage.php
  src/Content/Version.php
  src/Content/VersionRules.php
  tests/Content/MemoryStorageTest.php
  tests/Content/PlainTextStorageTest.php
  tests/Content/VersionRulesTest.php
  tests/Content/VersionTest.php
Due: backend

First draft for a new comparison view
  config/areas/site/views.php
  panel/public/img/icons.svg
  panel/src/components/Forms/FormControls.vue
  panel/src/components/Views/Pages/PageComparisonView.vue
  panel/src/components/Views/Pages/index.js
  src/Panel/Page.php
Due: backend, frontend

Better wording
  i18n/translations/en.json
Due: none

Add a unit test for the changes route
  tests/Panel/Areas/SiteTest.php
Due: none

Remove repeating code
  config/areas/site/views.php
Due: backend

Fix CS issues
  config/areas/site/views.php
Due: backend

Responsive header buttons
  panel/src/components/Views/Pages/PageChangesView.vue
Due: frontend

Make iframes responsive
  panel/src/components/Views/Pages/PageChangesView.vue
Due: frontend

Move view logic to ModelView component instead of the content module
  panel/src/components/Views/ModelView.vue
  panel/src/panel/content.js
Due: frontend

Responsive form controls
  panel/src/components/Forms/FormControls.vue
Due: frontend

Set a default background for the iframes
  panel/src/components/Views/Pages/PageChangesView.vue
Due: frontend

Open in new window buttons
  panel/src/components/Views/Pages/PageComparisonView.vue
Due: frontend

Rename view to k-page-changes-view
  config/areas/site/views.php
  panel/src/components/Views/Pages/PageChangesView.vue
  panel/src/components/Views/Pages/PageComparisonView.vue
  panel/src/components/Views/Pages/index.js
  src/Panel/Page.php
Due: backend, frontend

Flip the menu order
  panel/src/components/Views/Pages/PageChangesView.vue
Due: frontend

Translated labels
  i18n/translations/en.json
  panel/src/components/Views/Pages/PageChangesView.vue
Due: frontend

Remove unnecessary check for a blueprint method
  src/Form/Form.php
Due: backend

Use Field::isSaveable instead of Field::save
  src/Form/Form.php
Due: backend

New Fields::findByKey and Fields::findByKeyRecursive methods
  src/Form/Fields.php
  src/Form/Form.php
  tests/Form/FieldsTest.php
Due: backend

Pass the model to the Fields collection
  src/Form/Form.php
Due: backend

Align Field::data and Field::value with FieldClass::data and FieldClass::value
  src/Form/Field.php
  tests/Form/FieldTest.php
Due: backend

Make ::store protected in other field classes
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
  tests/Form/Fields/BlocksFieldTest.php
  tests/Form/Fields/LayoutFieldTest.php
Due: backend

New Value mixin
  src/Form/Field.php
  src/Form/FieldClass.php
  src/Form/Mixin/Value.php
  src/Form/Validations.php
  tests/Form/FieldTest.php
Due: backend

Fix CS issue
  tests/Form/Fields/LayoutFieldTest.php
Due: none

New Fields::toFormValues and Fields::toStoredValues
  src/Form/Fields.php
Due: backend

Return null in the original store method to keep it aligned with the one in the Field class
  src/Form/Mixin/Value.php
Due: backend

New Translatable mixin
  src/Form/Field.php
  src/Form/FieldClass.php
  src/Form/Mixin/Translatable.php
Due: backend

Move needsValue to the Value mixin
  src/Form/Mixin/Value.php
  src/Form/Mixin/When.php
Due: backend
