Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix Lab examples
  panel/lab/components/buttons/5_view-button/index.vue
Due: none

Use `k-view-button` for view buttons
  panel/src/components/View/Buttons/AddButton.vue
  panel/src/components/View/Buttons/AddLanguagesButton.vue
  panel/src/components/View/Buttons/AddUsersButton.vue
  panel/src/components/View/Buttons/LanguagesButton.vue
  panel/src/components/View/Buttons/PreviewButton.vue
  panel/src/components/View/Buttons/RemoveButton.vue
  panel/src/components/View/Buttons/RemoveLanguageButton.vue
  panel/src/components/View/Buttons/SettingsButton.vue
  panel/src/components/View/Buttons/StatusButton.vue
  panel/src/components/View/Buttons/ThemeButton.vue
Due: frontend

`k-view-button` component
  panel/src/components/View/Buttons/SettingsButton.vue
Due: frontend

Fix the button size for the status button
  panel/src/components/View/Buttons/StatusButton.vue
Due: frontend

Turn `panel` JS modules fully reactive
  panel/src/panel/activiation.js
  panel/src/panel/content.js
  panel/src/panel/dialog.js
  panel/src/panel/drag.js
  panel/src/panel/drawer.js
  panel/src/panel/dropdown.js
  panel/src/panel/feature.js
  panel/src/panel/history.js
  panel/src/panel/language.js
  panel/src/panel/menu.js
  panel/src/panel/modal.js
  panel/src/panel/notification.js
  panel/src/panel/state.js
  panel/src/panel/theme.js
  panel/src/panel/translation.js
  panel/src/panel/upload.js
  panel/src/panel/view.js
Due: frontend

Clean up `k-dialog-search`
  panel/src/components/Dialogs/Elements/Search.vue
Due: frontend

New dumb `k-search` component
  panel/lab/components/search/index.php
  panel/lab/components/search/index.vue
  panel/src/components/Navigation/Search.vue
  panel/src/components/Navigation/index.js
Due: frontend

Adapt SearchView to `panel.searcher`
  i18n/translations/en.json
  panel/src/components/Views/SearchView.vue
Due: frontend

SearchDialog: consistent naming of results
  panel/src/components/Dialogs/SearchDialog.vue
Due: frontend

New `panel.searcher` module
  panel/src/panel/panel.js
  panel/src/panel/search.js
Due: frontend

Clean up `k-search`
  panel/src/components/Navigation/Search.vue
Due: frontend

Panel search: DRY too short query
  panel/src/components/Dialogs/SearchDialog.vue
  panel/src/components/Views/SearchView.vue
  panel/src/mixins/search.js
  panel/src/panel/panel.js
  panel/src/panel/search.js
Due: frontend

SearchDialog: use `k-search`
  panel/src/components/Dialogs/SearchDialog.vue
Due: frontend

Fix regression
  panel/src/components/Dialogs/SearchDialog.vue
Due: frontend

Search: also display results while loading
  panel/src/components/Navigation/Search.vue
Due: frontend

Add docs for custom vite config for Herd HTTPS
  panel/README.md
Due: none

Fix unit tests: lazy-resolve uuid for Panel models
  src/Panel/File.php
  src/Panel/Page.php
  src/Panel/Site.php
  src/Panel/User.php
Due: backend

View button PHP classes
  src/Panel/Model.php
  src/Panel/Ui/Buttons/ViewButton.php
  src/Panel/Ui/Buttons/ViewButtons.php
  tests/Panel/ModelTest.php
  tests/Panel/Ui/Buttons/ViewButtonTest.php
  tests/Panel/Ui/Buttons/ViewButtonsTest.php
Due: backend

Fix `ViewButton` props
  src/Panel/Ui/Button.php
  src/Panel/Ui/Buttons/ViewButton.php
  tests/Panel/Ui/Buttons/ViewButtonTest.php
Due: backend

Add since tag for `Panel\Model::model()`
  src/Panel/Model.php
Due: backend

`A::random()`: exception if $count exceeds array
  src/Toolkit/A.php
  tests/Toolkit/ATest.php
Due: backend

`k-button`: add `aria-label`
  panel/src/components/Navigation/Button.vue
Due: frontend

Site area: use icon from site blueprint
  config/areas/site.php
Due: backend

Fix `focus` helper for non-native inputs
  panel/src/components/Forms/Field/BlocksField.vue
  panel/src/components/Forms/Field/LayoutField.vue
  panel/src/components/Forms/Input/TagsInput.vue
  panel/src/helpers/focus.js
Due: frontend

Fix overflowing topbar with very long breadcrumb
  panel/src/components/Navigation/Breadcrumb.vue
  panel/src/components/View/Topbar.vue
Due: frontend

Add new Changes controller
  src/Panel/Controller/Changes.php
Due: backend

Add request routes
  config/areas/account.php
  config/areas/account/requests.php
  config/areas/files/requests.php
  config/areas/site/requests.php
  config/areas/users.php
  config/areas/users/requests.php
Due: backend

Move setUp helpers into the global TestCase class
  tests/Content/TestCase.php
  tests/TestCase.php
Due: none

Fix `new Uri()` for relative URLs with param colon
  src/Http/Environment.php
  src/Http/Uri.php
  tests/Http/UriTest.php
Due: backend

New Version::publish method
  src/Content/Version.php
Due: backend

Add the first batch of unit tests
  tests/Content/TestCase.php
  tests/Panel/Controller/ChangesTest.php
  tests/TestCase.php
Due: none

Fix controller reference
  config/areas/site/requests.php
Due: backend

Fix property type
  tests/Content/TestCase.php
Due: none

Remove risky test
  tests/Panel/Controller/ChangesTest.php
Due: none

Writer field: fix content with non-breaking space
  config/fields/writer.php
Due: backend

Add a min-width to keep the icon visible
  panel/src/components/Navigation/Breadcrumb.vue
Due: frontend

Change exception type
  src/Toolkit/A.php
  tests/Toolkit/ATest.php
Due: backend

Apply code reviews
  src/Cms/Language.php
  src/Cms/LanguageTranslations.php
Due: backend

Add unit test for `LanguageTranslations` class
  tests/Cms/Languages/LanguageTest.php
  tests/Cms/Languages/LanguageTranslationsTest.php
  tests/Cms/Languages/fixtures/de.php
  tests/Cms/Languages/fixtures/en.php
Due: none

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
