Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Tweak color lightness boosts
  panel/src/styles/config/colors.css
Due: frontend

Ignore Kirby URL params for the preview token
  src/Content/Version.php
  tests/Content/VersionTest.php
Due: backend

Implement feedback from code review
  src/Content/Version.php
  tests/Content/VersionTest.php
Due: backend

Catch errors and send them to the error dialog
  config/sections/files.php
  config/sections/pages.php
Due: backend

Validate min validation
  config/sections/files.php
  config/sections/pages.php
Due: backend

Backend requests for batch deleting files and pages
  config/sections/files.php
  config/sections/pages.php
Due: backend

Batch editing mode for model sections
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/ModelsSection.vue
  panel/src/components/Sections/PagesSection.vue
Due: frontend

Selectable items
  panel/lab/components/items/1_list/index.vue
  panel/lab/components/items/2_cards/index.vue
  panel/lab/components/items/3_cardlets/index.vue
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/Item.vue
  panel/src/components/Collection/Items.vue
Due: frontend

New batch mixin
  config/sections/files.php
  config/sections/mixins/batch.php
  config/sections/pages.php
  src/Cms/Core.php
Due: backend

Only activate the batch mode by option
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Upgrade CI phpunit and psalm
  .github/workflows/backend.yml
Due: none

Fix Parsedown classes for PHP 8.4
  dependencies/parsedown-extra/ParsedownExtra.php
  dependencies/parsedown/Parsedown.php
Due: none

Raise support to include PHP 8.4
  .github/workflows/backend.yml
  bootstrap.php
  composer.json
  composer.lock
  src/Cms/System.php
  tests/Cms/System/UpdateStatusTest.php
  vendor/composer/installed.json
  vendor/composer/installed.php
Due: backend

Upgrade simpleimage
  composer.json
  composer.lock
  vendor/claviska/simpleimage/src/claviska/SimpleImage.php
  vendor/composer/installed.json
  vendor/composer/installed.php
Due: none

CI: upgrade PHP CS Fixer
  .github/workflows/backend.yml
Due: none

Remove PHP 8.1 from CI tests
  .github/workflows/backend.yml
Due: none

Fix implicitly required parameters
  config/areas/site/searches.php
  config/areas/users/searches.php
  src/Cms/Blueprint.php
  src/Cms/Media.php
  src/Toolkit/Str.php
  src/Toolkit/V.php
Due: backend

Try to exclude Psalm from PHP 8.4 CI
  .github/workflows/backend.yml
Due: none

Try different PHPUnit version
  .github/workflows/backend.yml
Due: none

Try once more to exclude Psalm on PHP 8.4
  .github/workflows/backend.yml
Due: none

Check for the batch option in the ApI calls
  config/sections/files.php
  config/sections/pages.php
Due: backend

Try adding PHP 8.1 back to CI
  .github/workflows/backend.yml
Due: none

Add unit tests for the batch option
  tests/Cms/Sections/FilesSectionTest.php
  tests/Cms/Sections/PagesSectionTest.php
Due: none

Raise support to include PHP 8.4
  .github/workflows/backend.yml
  bootstrap.php
  composer.json
  composer.lock
  src/Cms/System.php
  tests/Cms/System/UpdateStatusTest.php
Due: backend

Lower PHPUnit again and exclude Psalm for PHP 8.4
  .github/workflows/backend.yml
Due: none

Merge `Api` classes
  config/fields/mixins/upload.php
  src/Api/Api.php
  src/Api/Model.php
  src/Cms/Api.php
  src/Cms/App.php
  tests/Api/ApiTest.php
  tests/Api/CollectionTestCase.php
  tests/Api/ModelTestCase.php
  tests/Api/collections/ChildrenCollectionTest.php
  tests/Api/collections/FilesCollectionTest.php
  tests/Api/collections/LanguagesCollectionTest.php
  tests/Api/collections/PagesCollectionTest.php
  tests/Api/collections/RolesCollectionTest.php
  tests/Api/collections/TranslationsCollectionTest.php
  tests/Api/collections/UsersCollectionTest.php
  tests/Api/models/FileBlueprintModelTest.php
  tests/Api/models/FileModelTest.php
  tests/Api/models/FileVersionModelTest.php
  tests/Api/models/PageBlueprintModelTest.php
  tests/Api/models/PageModelTest.php
  tests/Api/models/SiteModelTest.php
  tests/Api/models/UserBlueprintModelTest.php
  tests/Api/models/UserModelTest.php
  tests/Api/routes/AccountRoutesTest.php
  tests/Api/routes/AuthRoutesTest.php
  tests/Api/routes/LanguagesRoutesTest.php
  tests/Api/routes/PagesRoutesTest.php
  tests/Api/routes/RolesRoutesTest.php
  tests/Api/routes/SiteRoutesTest.php
  tests/Api/routes/SystemRoutesTest.php
  tests/Api/routes/TranslationsRoutesTest.php
  tests/Api/routes/UsersRoutesTest.php
  tests/Api/routes/fixtures/avatar.jpg
  tests/Cms/Api/ApiTest.php
  tests/Cms/Api/collections/TranslationsApiCollectionTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

Move batch delete logic into the pages and files classes
  config/sections/files.php
  config/sections/pages.php
  src/Cms/Files.php
  src/Cms/Pages.php
Due: backend

Add unit tests for new collection methods
  src/Cms/Files.php
  tests/Cms/Files/FilesTest.php
  tests/Cms/Pages/PagesTest.php
Due: backend

Fix covers annotations
  tests/Cms/Pages/PagesTest.php
Due: none

Translate the bulk exceptions for Files::delete and Pages::delete
  i18n/translations/en.json
  src/Cms/Files.php
  src/Cms/Pages.php
Due: backend

Reuse the validation error messages
  config/sections/files.php
  config/sections/pages.php
Due: backend

Selectable item: click anywhere to select
  panel/src/components/Collection/Item.vue
Due: frontend

Stop click event on input
  panel/src/components/Collection/Item.vue
Due: frontend

Already show a disabled delete button if nothing is selected
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Fix CSS data selectors
  panel/src/components/Dropdowns/DropdownItem.vue
  panel/src/components/Forms/Previews/UrlFieldPreview.vue
  panel/src/components/View/Buttons/LanguagesDropdown.vue
Due: frontend

Make use of CSS `:has()`
  panel/src/components/Collection/Item.vue
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Dialogs/Elements/Body.vue
  panel/src/components/Drawers/Elements/Body.vue
  panel/src/components/Forms/Blocks/Types/Fields.vue
  panel/src/components/Forms/Field/BlocksField.vue
  panel/src/components/Forms/Field/DateField.vue
  panel/src/components/Forms/Field/LayoutField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Input/TogglesInput.vue
  panel/src/components/Forms/Input/WriterInput.vue
  panel/src/components/Forms/Toolbar/Toolbar.vue
  panel/src/components/Forms/Writer/Toolbar.vue
  panel/src/components/Lab/PlaygroundView.vue
  panel/src/components/Layout/Bubble.vue
  panel/src/components/Layout/Header.vue
  panel/src/components/Navigation/Browser.vue
  panel/src/components/Navigation/Button.vue
  panel/src/components/Navigation/Tag.vue
  panel/src/components/Navigation/Tree.vue
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/ModelView.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Pages/SiteView.vue
  panel/src/components/Views/Users/UserView.vue
  panel/src/styles/reset.css
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
