Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Unit tests for new auth behavior
  tests/Cms/Auth/AuthChallengeTest.php
  tests/Cms/Auth/AuthProtectionTest.php
  tests/Cms/Auth/mocks.php
Due: none

Adapt unit tests to new `auth.debug` option
  tests/Cms/Auth/AuthChallengeTest.php
  tests/Cms/Auth/AuthProtectionTest.php
  tests/Cms/Auth/AuthTest.php
Due: none

Switch back to spaces for indentation
  src/Cms/Auth.php
  tests/Cms/Auth/AuthChallengeTest.php
  tests/Cms/Auth/AuthProtectionTest.php
  tests/Cms/Auth/AuthTest.php
Due: backend

Update version number and cert bundle
  cacert.pem
  composer.json
  composer.lock
  vendor/composer/installed.php
Due: none

Hide errors in production during rate limit check
  src/Cms/Auth.php
Due: backend

Catch errors from user.login:failed hook
  src/Cms/Auth.php
Due: backend

Update version number and cert bundle
  cacert.pem
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

Fix check for exception details
  src/Cms/Auth.php
Due: backend

Update dependencies
  composer.json
  composer.lock
  vendor/composer/installed.php
Due: none

Fix check for exception details in Auth::verifyChallenge as well
  src/Cms/Auth.php
Due: backend

Fix one more details issue and refactor is_a
  src/Cms/Auth.php
Due: backend

Fix CS issue
  src/Cms/Auth.php
Due: backend

Fix CS issues
  src/Cms/Auth.php
Due: backend

Fix login view integration tests
  panel/src/components/Views/LoginView.e2e.js
Due: frontend

Fix login view integration test
  panel/src/components/Views/LoginView.e2e.js
Due: frontend

Support YouTube shorts video urls #4791
  src/Toolkit/Html.php
  tests/Toolkit/HtmlTest.php
Due: backend

Fix UUID model for not found users #4797
  src/Uuid/UserUuid.php
  tests/Uuid/UuidTest.php
Due: backend

UUID fix
  src/Uuid/ModelUuid.php
Due: backend

Better checks to avoid overwriting content
  src/Uuid/ModelUuid.php
Due: backend

Don’t swallow exceptions when reading content
  src/Cms/ModelWithContent.php
Due: backend

Fix component loading issue
  panel/dist/js/index.js
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/PagesSection.vue
  src/Cms/ModelWithContent.php
Due: backend, frontend

Improve error handling in the file classes without breaking changes
  src/Cms/ModelWithContent.php
  src/Data/Handler.php
  src/Filesystem/F.php
  tests/Data/HandlerTest.php
Due: backend

Fix the doc block comment
  src/Cms/ModelWithContent.php
Due: backend

Fix unit tests
  src/Uuid/ModelUuid.php
  tests/Uuid/FileUuidTest.php
  tests/Uuid/PageUuidTest.php
Due: backend

No longer swallow file reading issues
  src/Filesystem/F.php
Due: backend

Fix cs issue
  src/Uuid/ModelUuid.php
Due: backend

Add a delay before reading the content again
  src/Uuid/ModelUuid.php
Due: backend

Fix generation for empty but existing `uuid` field
  src/Uuid/ModelUuid.php
  tests/Uuid/FileUuidTest.php
  tests/Uuid/PageUuidTest.php
Due: backend
