Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

style: Use Kirby `php-cs`
  .gitignore
  .php-cs-fixer.dist.php
  .php-cs-fixer.types.php
  composer.json
Due: none

fix: Keep accumulated bindings in `Sql::joins()` (#8460)
  src/Database/Sql.php
  tests/Database/SqlTest.php
Due: backend

fix: Default bindings in `Sql::insert()` (#8461)
  src/Database/Sql.php
  tests/Database/SqlTest.php
Due: backend

Merge pull request #8464 from getkirby/v6/fix/db-filter-query-types
  src/Database/Query.php
Due: backend

style: Fix cs
  src/Database/Database.php
Due: backend

style: Fix another CS
  tests/Database/DatabaseTest.php
Due: none

Switch: Replace private class members with protected
  src/Exception/Exception.php
Due: backend

perf: Optimize Exception
  psalm-baseline.xml
  src/Exception/Exception.php
  tests/Exception/ExceptionTest.php
Due: backend

fix: Read and write data files under a lock #8468
  src/Data/Handler.php
  src/Filesystem/F.php
  tests/Data/HandlerTest.php
  tests/Data/mocks.php
  tests/Filesystem/FTest.php
Due: backend

fix: Keep existing content when the changes version is gone #8468
  src/Api/Controller/Changes.php
  tests/Api/Controller/ChangesTest.php
Due: backend

fix: `Url::normalize()`
  src/Http/Url.php
  src/Sane/Svg.php
  src/Toolkit/Dom.php
  tests/Http/UrlTest.php
  tests/Sane/SvgTest.php
  tests/Sane/fixtures/svg/disallowed/protocol-relative-whitespace.svg
  tests/Sane/fixtures/svg/disallowed/use-attack-whitespace.svg
  tests/Sane/fixtures/svg/sanitized/protocol-relative-whitespace.svg
  tests/Sane/fixtures/svg/sanitized/use-attack-whitespace.svg
  tests/Toolkit/DomTest.php
Due: backend

Add extensible cache invalidation component
  config/components.php
  src/Cms/ModelCommit.php
  tests/Cms/Model/ModelCommitTest.php
Due: backend

chore: Upgrade vitest
  panel/package-lock.json
  panel/package.json
Due: none

chore: Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
  panel/scripts/vite-kirby.ts
  panel/src/components/Collection/Item.vue
  panel/src/components/Lab/DocsParams.vue
  panel/src/components/Sections/FieldsSection.vue
  panel/vite.config.ts
Due: frontend

fix: Copy inside drawers and dialogs #8455
  panel/src/helpers/clipboard.test.ts
  panel/src/helpers/clipboard.ts
Due: frontend

fix: Hide protected ancestors in Panel breadcrumbs
  src/Panel/File.php
  src/Panel/Page.php
  tests/Panel/FileTest.php
  tests/Panel/PageTest.php
Due: backend

fix: Hide protected ancestors in Panel breadcrumbs
  src/Panel/Controller/View/PageFileViewController.php
  src/Panel/Controller/View/PageViewController.php
  tests/Panel/Controller/View/PageFileViewControllerTest.php
  tests/Panel/Controller/View/PageViewControllerTest.php
Due: backend

fix: Fold backslashes and CSS escapes before URL checks
  src/Http/Url.php
  src/Toolkit/Dom.php
  tests/Http/UrlTest.php
  tests/Sane/SvgTest.php
  tests/Sane/fixtures/svg/disallowed/protocol-relative-backslash.svg
  tests/Sane/fixtures/svg/disallowed/style-import-escaped.svg
  tests/Sane/fixtures/svg/sanitized/protocol-relative-backslash.svg
  tests/Sane/fixtures/svg/sanitized/style-import-escaped.svg
  tests/Toolkit/DomTest.php
Due: backend

fix: Decode dot segments and match index URL on segment boundary
  src/Toolkit/Dom.php
  tests/Toolkit/DomTest.php
Due: backend

fix: Use a real billion laughs payload in the XML fixture
  tests/Toolkit/fixtures/xml/billion-laughs.xml
Due: none

fix: Combine consecutive unsets in `Page::create()`
  src/Cms/PageActions.php
Due: backend

fix: `$model->convertTo()` data loss
  src/Cms/ModelWithContent.php
  tests/Cms/File/FileChangeTemplateTest.php
  tests/Cms/Page/PageChangeTemplateTest.php
Due: backend

Revert "fix: `$model->convertTo()` data loss"
  src/Cms/ModelWithContent.php
  tests/Cms/File/FileChangeTemplateTest.php
  tests/Cms/Page/PageChangeTemplateTest.php
Due: backend

Reapply "fix: `$model->convertTo()` data loss"
  src/Cms/ModelWithContent.php
  tests/Cms/File/FileChangeTemplateTest.php
  tests/Cms/Page/PageChangeTemplateTest.php
Due: backend

refact: Check rules through the model guards
  src/Cms/FileActions.php
  src/Cms/UserActions.php
  src/Panel/Controller/Drawer/UserEmailChallengeDrawerController.php
Due: backend

refact: Use `Role::isAdmin()` and `::isNobody()`
  src/Cms/User.php
  src/Panel/Field.php
Due: backend

refact: Use model guards, not deprecated `->can()`
  config/api/routes/files.php
  config/api/routes/users.php
  src/Api/Controller/Changes.php
  src/Auth/Method/PasswordMethod.php
  src/Blueprint/PageBlueprint.php
  src/Blueprint/SiteBlueprint.php
  src/Cms/Model.php
  src/Cms/Page.php
  src/Cms/Roles.php
  src/Cms/Site.php
  src/Cms/User.php
  src/Form/Fields.php
  src/Panel/Controller/Dialog/PageChangeTitleDialogController.php
  src/Panel/Controller/Drawer/UserSecurityDrawerController.php
  src/Panel/Controller/View/SiteViewController.php
  src/Panel/Ui/Button/PageStatusButton.php
  src/Panel/Ui/Item/FileItem.php
  src/Panel/Ui/Item/PageItem.php
  tests/Auth/Method/PasswordMethodTest.php
  tests/Cms/Model/ModelWithContentTest.php
Due: backend

perf: Cache the resolved action methods of the guards
  src/Guards/HasActions.php
Due: backend

refact: Cache model guards in `ModelGuards::for()`
  src/Cms/File.php
  src/Cms/Language.php
  src/Cms/Page.php
  src/Cms/Site.php
  src/Cms/User.php
  src/Guards/ModelGuards.php
  tests/Guards/ModelGuardsTest.php
Due: backend

refact!: Remove the deprecated permission cache
  src/Cms/App.php
  src/Cms/FilePermissions.php
  src/Cms/ModelPermissions.php
  src/Cms/PagePermissions.php
  src/Cms/UserPermissions.php
  tests/Cms/File/FilePermissionsTest.php
  tests/Cms/Page/PagePermissionsTest.php
  tests/Cms/Site/SitePermissionsTest.php
  tests/Cms/User/UserPermissionsTest.php
Due: backend

refact: Drop redundant read checks and permission caches
  src/Cms/File.php
  src/Cms/Page.php
  src/Cms/Site.php
  src/Cms/User.php
  tests/Panel/Controller/Dialog/PagePickerDialogControllerTest.php
Due: backend

[sections 2 fields] #3 feat: New ModelForm component (#8416)
  panel/lab/components/modelform/index.php
  panel/lab/components/modelform/index.vue
  panel/src/components/Forms/ModelForm.test.ts
  panel/src/components/Forms/ModelForm.vue
  panel/src/components/Forms/index.js
Due: frontend

[sections 2 fields] #4 feat: New BlueprintsDefinition interface for fields (#8417)
  src/Form/Field/PageListField.php
  src/Form/Field/SectionField.php
  src/Form/Interface/ProvidesAcceptedBlueprints.php
  tests/Form/Field/SectionFieldTest.php
Due: backend

[sections 2 fields] #2 feat: New field.loaded event in ModelListField (#8415)
  panel/src/components/Forms/Field/ModelListField.test.ts
  panel/src/components/Forms/Field/ModelListField.vue
  panel/src/components/Views/Preview/PreviewForm.test.ts
  panel/src/components/Views/Preview/PreviewForm.vue
Due: frontend

fix: Throw NotFoundException for missing sections in section controllers (#8418)
  src/Panel/Controller/SectionController.php
  tests/Panel/Controller/Dialog/SectionDialogControllerTest.php
Due: backend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
