Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Make ::store protected in other field classes
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
  tests/Form/Fields/BlocksFieldTest.php
  tests/Form/Fields/LayoutFieldTest.php
Due: backend

Move needsValue to the Value mixin
  src/Form/Mixin/Value.php
  src/Form/Mixin/When.php
Due: backend

Use ::toStoredValue in the old Form::data method
  src/Form/Form.php
Due: backend

Remove no needed translation strings
  i18n/translations/en.json
Due: none

Implement `access` permission to `Language` class
  src/Cms/Api.php
  src/Cms/Find.php
  src/Cms/Language.php
  src/Cms/LanguagePermissions.php
Due: backend

`Version::isIdentical()`
  src/Api/Controller/Changes.php
  src/Content/Version.php
  tests/Content/VersionTest.php
Due: backend

Support `icon` and `info` for query and api options #6780
  src/Option/OptionsApi.php
  src/Option/OptionsQuery.php
Due: backend

DRY `LanguagePermissions` and `ModelPermissions`
  src/Cms/LanguagePermissions.php
  src/Cms/ModelPermissions.php
  src/Cms/NewPermissions.php
Due: backend

Revert "DRY `LanguagePermissions` and `ModelPermissions`"
  src/Cms/LanguagePermissions.php
  src/Cms/ModelPermissions.php
  src/Cms/NewPermissions.php
Due: backend

Add `Language` class support to `ModelPermissions` class
  src/Cms/LanguagePermissions.php
  src/Cms/ModelPermissions.php
Due: backend

Fix / add unit tests
  src/Panel/Page.php
  tests/Panel/Areas/SiteTest.php
Due: backend

Translated labels
  i18n/translations/en.json
  panel/src/components/Views/Pages/PageChangesView.vue
Due: frontend

Move view logic to ModelView component instead of the content module
  panel/src/components/Views/ModelView.vue
  panel/src/panel/content.js
Due: frontend

First draft for a new comparison view
  config/areas/site/views.php
  panel/public/img/icons.svg
  panel/src/components/Forms/FormControls.vue
  panel/src/components/Views/Pages/PageComparisonView.vue
  panel/src/components/Views/Pages/index.js
  src/Panel/Page.php
Due: backend, frontend

New asterisk and window icons
  panel/public/img/icons.svg
Due: none

New PreviewDropdownButton to handle the open/preview/copy dropdowns
  config/areas/site/buttons.php
  i18n/translations/en.json
  panel/src/components/Forms/FormControls.vue
  panel/src/panel/events.js
  src/Panel/Page.php
  src/Panel/Ui/Buttons/PreviewDropdownButton.php
Due: backend, frontend

Rename view to k-page-changes-view
  config/areas/site/views.php
  panel/src/components/Views/Pages/PageChangesView.vue
  panel/src/components/Views/Pages/PageComparisonView.vue
  panel/src/components/Views/Pages/index.js
  src/Panel/Page.php
Due: backend, frontend

Remove repeating code
  config/areas/site/views.php
Due: backend

Slightly better wording
  i18n/translations/en.json
Due: none

Fix CS issues
  config/areas/site/views.php
Due: backend

Responsive header buttons
  panel/src/components/Views/Pages/PageChangesView.vue
Due: frontend

New expand and collapse icons
  panel/public/img/icons.svg
Due: none

Responsive form controls
  panel/src/components/Forms/FormControls.vue
Due: frontend

Fix the options in the page dropdown
  src/Panel/Page.php
Due: backend

Open in new window buttons
  panel/src/components/Views/Pages/PageComparisonView.vue
Due: frontend

Various UX changes
  panel/src/components/Views/Pages/PageChangesView.vue
Due: frontend

Set a default background for the iframes
  panel/src/components/Views/Pages/PageChangesView.vue
Due: frontend

Add a unit test for the changes route
  tests/Panel/Areas/SiteTest.php
Due: none

Rename View and implement for the site
  config/areas/site/views.php
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Pages/SiteView.vue
  panel/src/components/Views/Pages/index.js
  panel/src/components/Views/PreviewView.vue
  panel/src/components/Views/index.js
  src/Panel/Page.php
  src/Panel/Site.php
Due: backend, frontend

Improve the wording in the discard dialog
  i18n/translations/en.json
Due: none

Better wording
  i18n/translations/en.json
Due: none

Flip the menu order
  panel/src/components/Views/Pages/PageChangesView.vue
Due: frontend

Make iframes responsive
  panel/src/components/Views/Pages/PageChangesView.vue
Due: frontend

Fix outdated toggle method
  panel/src/components/Views/PreviewView.vue
Due: frontend

Clarify the usage of ::toStoredValue and ::toFormValue and remove protected ::store method
  src/Form/Field.php
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
  src/Form/Mixin/Value.php
  tests/Form/FieldClassTest.php
  tests/Form/FieldTest.php
Due: backend

Remove outdated trait import
  src/Form/Field.php
Due: backend

`Form\Value`: Move data methods to `Data` classes
  src/Data/Data.php
  src/Data/Json.php
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
  src/Form/Mixin/Value.php
  tests/Form/FieldClassTest.php
  tests/Form/FieldTest.php
Due: backend

Change parameter name to `$fail`
  src/Data/Data.php
  src/Form/Field/LayoutField.php
  tests/Data/DataTest.php
Due: backend

Add test for `JSON::encode(pretty: true)`
  tests/Data/JsonTest.php
Due: none

Improve copy language strings
  i18n/translations/en.json
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/components/Forms/Layouts/Layouts.vue
  panel/src/panel/events.js
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
