Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Remove unnecessary cloning #5428
  config/components.php
Due: backend

Update dist files
  composer.json
  composer.lock
  i18n/translations/bg.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/eo.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/is_IS.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ro.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
  panel/dist/js/index.js
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

Simplify search component #5428
  config/components.php
Due: backend

FTest::testMoveAcrossDevices(): Test in CI
  tests/Filesystem/FTest.php
Due: none

New `panel.frameAncestors` option
  src/Panel/Document.php
  tests/Panel/DocumentTest.php
Due: backend

Fix coverage reporting
  tests/Cms/Auth/AuthTest.php
Due: none

Fix session error in CI
  tests/Cms/Api/routes/AccountRoutesTest.php
Due: none

More PHPUnit test cleanup for better reliability
  tests/Cms/Users/UserActionsTest.php
  tests/Cms/Users/UserAuthTest.php
Due: none

Fix nullable search query #5428
  config/components.php
  tests/Cms/Collections/SearchTest.php
Due: backend

Update dist files and translations
  composer.json
  composer.lock
  i18n/translations/bg.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/eo.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/is_IS.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ro.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

Fix missing translations
  i18n/translations/bg.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/eo.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/is_IS.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ro.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
Due: none

Keep the custom events on parent drawers
  panel/src/components/Drawers/FiberDrawer.vue
Due: frontend

Introduce an option to close a drawer by ID
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/panel/drawer.js
Due: frontend

Only close the drawer for the current structure field
  panel/src/components/Forms/Field/StructureField.vue
Due: frontend

Refactor methods and fix issues in the object field
  panel/src/components/Forms/Field/ObjectField.vue
Due: frontend

Bring back the save method when a new entry is added
  panel/src/components/Forms/Field/ObjectField.vue
  panel/src/components/Forms/Field/StructureField.vue
Due: frontend

Fix toggle field preview
  panel/src/components/Forms/Previews/ToggleFieldPreview.vue
Due: frontend

Don’t cut the descenders
  panel/src/components/Layout/Header.vue
Due: frontend

Move the input styles to the Textarea Input
  panel/src/components/Forms/Input.vue
  panel/src/components/Forms/Input/TextareaInput.vue
Due: frontend

Fix prop type check in choice component
  panel/src/components/Forms/Element/Choice.vue
Due: frontend

Use clip to avoid scrollbar in Firefox
  panel/src/components/Layout/Header.vue
Due: frontend

Fix toolbar overflow
  panel/src/components/Forms/Input/TextareaInput.vue
  panel/src/components/Forms/Toolbar.vue
Due: frontend

Remove max-width test
  panel/src/components/Forms/Input/TextareaInput.vue
Due: frontend

Better fix for the textarea
  panel/src/components/Forms/Input/TextareaInput.vue
Due: frontend

Fix the labels for inputs
  panel/src/components/Forms/Input.vue
Due: frontend

Fix toggle field
  panel/src/components/Forms/Field/TogglesField.vue
  panel/src/components/Forms/Input.vue
  panel/src/components/Forms/Input/TogglesInput.vue
Due: frontend

Fix slug input
  panel/src/components/Forms/Input/SlugInput.vue
Due: frontend

Re-populate when invalid uuid cached #5430
  src/Uuid/SiteUuid.php
  src/Uuid/UserUuid.php
  src/Uuid/Uuid.php
Due: backend

Add unit test for caching invalid model id #5430
  tests/Uuid/UuidTest.php
Due: none

`k-tree`: fix shrinking icons
  panel/src/components/Navigation/Tree.vue
Due: frontend

SlugInput: use `$panel.multilang`
  panel/src/components/Forms/Input/SlugInput.vue
Due: frontend

Fix OptionsDropdown button text
  panel/src/components/Dropdowns/OptionsDropdown.vue
Due: frontend

Form buttons: bring back lock states
  i18n/translations/en.json
  panel/src/components/Forms/FormButtons.vue
Due: frontend

Set null as default for rules and simplify the slug input afterwards
  panel/src/components/Forms/Input/SlugInput.vue
  panel/src/panel/language.js
Due: frontend

Fix unit test
  panel/src/panel/language.test.js
Due: frontend

Use auto-fill with a slightly larger card size
  panel/src/components/Collection/Items.vue
Due: frontend

Fix scroll bar issues in drawers and dialogs
  panel/src/components/Layout/Overlay.vue
  panel/src/components/View/Panel.vue
  panel/src/panel/drawer.js
  panel/src/panel/modal.js
  panel/src/panel/panel.js
Due: frontend

Add dist files
  composer.json
  composer.lock
  i18n/translations/fr.json
  panel/dist/css/style.css
  panel/dist/js/index.js
  panel/dist/js/vendor.js
  vendor/composer/InstalledVersions.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

Fix CI issues
  tests/Panel/DocumentTest.php
Due: none
