Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

feat: New StringField class abstract
  src/Form/Field/StringField.php
Due: backend

fix: Psalm issue
  src/Form/Field/TextField.php
Due: backend

refact: New TextField class
  src/Cms/Core.php
  src/Form/Field/TextField.php
Due: backend

fix: Use legacy-text in extended fields
  config/fields/email.php
  config/fields/slug.php
  config/fields/tel.php
  config/fields/url.php
Due: backend

test: Improve the unit tests for the text field props
  src/Form/Field/TextField.php
  tests/Form/Field/TextFieldTest.php
Due: backend

refact: Add legacy vue component
  panel/src/components/Forms/Field/index.js
Due: frontend

fix: Adapt unit tests after breaking changes
  tests/Form/Field/EntriesFieldTest.php
  tests/Form/Field/StructureFieldTest.php
  tests/Form/Field/TextFieldTest.php
  tests/Form/FieldsTest.php
Due: none

test: Add unit test for finding nested fields
  tests/Form/FieldsTest.php
Due: none

refact!: New EmailField class
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/EmailField.php
  tests/Form/Field/EmailFieldTest.php
Due: backend, frontend

refact: Don’t set spellcheck by default
  src/Form/Mixin/Spellcheck.php
  tests/Form/Field/EntriesFieldTest.php
  tests/Form/Field/TextFieldTest.php
  tests/Form/FieldsTest.php
Due: backend

test: Improve unit tests
  tests/Form/Field/EmailFieldTest.php
Due: none

test: Add coverage attribute
  tests/Form/Field/TextFieldTest.php
Due: none

test: Add missing coverage attributes
  tests/Form/Field/BlocksFieldTest.php
  tests/Form/Field/EmailFieldTest.php
  tests/Form/Field/LayoutFieldTest.php
Due: none

refact!: New `LinkField` class
  config/fields/link.php
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/LinkField.php
  tests/Form/Field/LinkFieldTest.php
Due: backend, frontend

refact!: New SlugField class
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/SlugField.php
  tests/Form/Field/SlugFieldTest.php
Due: backend, frontend

refact!: New TelField class (#7718)
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/TelField.php
  tests/Form/Field/TelFieldTest.php
Due: backend, frontend

refact!: New UrlField class
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/UrlField.php
  tests/Form/Field/ObjectFieldTest.php
  tests/Form/Field/UrlFieldTest.php
Due: backend, frontend

fix: Wrong type hint for autocomplete
  src/Form/Field/EmailField.php
  src/Form/Field/StringField.php
  src/Form/Field/TextField.php
  src/Form/Field/UrlField.php
  tests/Form/Field/UrlFieldTest.php
Due: backend

refact!: New WriterField class (#7720)
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/WriterField.php
  tests/Form/Field/WriterFieldTest.php
Due: backend, frontend

test: Add unit tests for LinkField
  tests/Form/Field/EmailFieldTest.php
  tests/Form/Field/LinkFieldTest.php
Due: none

refact!: New ListField class
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/ListField.php
  tests/Form/Field/ListFieldTest.php
Due: backend, frontend

refact!: New ListField class (#7721)
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/ListField.php
  tests/Form/Field/ListFieldTest.php
Due: backend, frontend

chore: Update EULA to 2025-11-29
  LICENSE.md
Due: none

fix: Improve unit tests
  src/Form/Field/TextareaField.php
  tests/Form/Field/TextareaFieldTest.php
Due: backend

refact!: New classes for picker fields
  config/fields/users.php
  panel/package-lock.json
  panel/src/components/Forms/Field/FilespickerField.vue
  panel/src/components/Forms/Field/ModelspickerField.vue
  panel/src/components/Forms/Field/PagespickerField.vue
  panel/src/components/Forms/Field/UserspickerField.vue
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/BaseField.php
  src/Form/Field/FilespickerField.php
  src/Form/Field/ModelspickerField.php
  src/Form/Field/PagespickerField.php
  src/Form/Field/UserspickerField.php
  src/Form/Mixin/Upload.php
  tests/Form/Field/FilespickerFieldTest.php
  tests/Form/Field/PagespickerFieldTest.php
  tests/Form/Field/UserspickerFieldTest.php
  tests/Form/FieldClassTest.php
Due: backend, frontend

refact!: New `TextareaField` class
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/FilespickerField.php
  src/Form/Field/TextareaField.php
  src/Form/Mixin/Upload.php
  tests/Form/Field/TextareaFieldTest.php
Due: backend, frontend

refact: `Upload` mixin tweaks
  src/Form/Mixin/Upload.php
Due: backend

refact: Replace `::routes()` with `::api()`
  src/Form/Field.php
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
  src/Form/Mixin/Api.php
  tests/Form/Field/BlocksFieldTest.php
  tests/Form/Field/LayoutFieldTest.php
  tests/Form/FieldClassTest.php
Due: backend

fix `$uploads` property type hinting
  src/Form/Field/FilespickerField.php
  src/Form/Mixin/Upload.php
Due: backend

refact: Reuse `::toItem` method for API upload
  src/Form/Field/FilespickerField.php
Due: backend

fix: Passing computed data to `::pickerData()`
  src/Form/Field/ModelspickerField.php
Due: backend

fix: Store filename if same parent
  src/Form/Field/FilespickerField.php
  src/Form/Field/ModelspickerField.php
Due: backend

refact: Use ModelItem classes for picker fields
  src/Form/Field/FilespickerField.php
  src/Form/Field/ModelspickerField.php
  src/Form/Field/PagespickerField.php
  src/Form/Field/UserspickerField.php
  tests/Form/Field/FilespickerFieldTest.php
  tests/Form/Field/UserspickerFieldTest.php
Due: backend

feat: Async models field preview
  config/areas/site/requests.php
  config/areas/users.php
  config/areas/users/requests.php
  panel/lab/components/fieldpreviews/files/index.php
  panel/lab/components/fieldpreviews/files/index.vue
  panel/lab/components/fieldpreviews/pages/index.php
  panel/lab/components/fieldpreviews/pages/index.vue
  panel/lab/components/fieldpreviews/users/index.php
  panel/lab/components/fieldpreviews/users/index.vue
  panel/src/components/Forms/Previews/FilesFieldPreview.vue
  panel/src/components/Forms/Previews/ModelsFieldPreview.vue
  panel/src/components/Forms/Previews/PagesFieldPreview.vue
  panel/src/components/Forms/Previews/UsersFieldPreview.vue
  src/Panel/Controller/Request/FileItemsRequestController.php
  src/Panel/Controller/Request/ModelItemsRequestController.php
  src/Panel/Controller/Request/PageItemsRequestController.php
  src/Panel/Controller/Request/UserItemsRequestController.php
  tests/Panel/Controller/Request/FileItemsRequestControllerTest.php
  tests/Panel/Controller/Request/PageItemsRequestControllerTest.php
  tests/Panel/Controller/Request/UserItemsRequestControllerTest.php
Due: backend, frontend

fix: Type hint fixes
  src/Form/Field/FilespickerField.php
  src/Form/Field/ModelspickerField.php
  src/Form/Field/PagespickerField.php
  src/Form/Field/UserspickerField.php
Due: backend

perf: More resourceful preview items fetching
  panel/src/components/Forms/Previews/ModelsFieldPreview.vue
Due: frontend

refact: Simplify default handling in picker fields
  src/Form/Field/ModelspickerField.php
  src/Form/Field/UserspickerField.php
  tests/Form/Field/UserspickerFieldTest.php
Due: backend

fix: Cropping with Imagick
  src/Image/Darkroom/GdLib.php
  src/Image/Darkroom/ImageMagick.php
  src/Image/Darkroom/Imagick.php
  src/Image/Focus.php
  src/Image/Gravity.php
  tests/Image/Darkroom/ImagickTest.php
  tests/Image/FocusTest.php
Due: backend

fix: Set correct percentages for gravities
  src/Image/Gravity.php
Due: backend

fix: Unit test
  tests/Image/FocusTest.php
Due: none

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
