Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

`k-input-validator` as wrapper
  panel/src/components/Forms/Field/BlocksField.vue
  panel/src/components/Forms/Field/LayoutField.vue
  panel/src/components/Forms/Field/ModelsField.vue
  panel/src/components/Forms/Input/CheckboxesInput.vue
  panel/src/components/Forms/Input/MultiselectInput.vue
  panel/src/components/Forms/Input/PicklistInput.vue
  panel/src/components/Forms/Input/RadioInput.vue
  panel/src/components/Forms/Input/TagsInput.vue
  panel/src/components/Forms/Input/TogglesInput.vue
  panel/src/components/Forms/Input/Validator.js
Due: frontend

Keep title when switching template in create dialog #6328
  src/Panel/PageCreateDialog.php
Due: backend

Make all reactive
  panel/src/panel/activiation.js
  panel/src/panel/dialog.js
  panel/src/panel/drag.js
  panel/src/panel/drawer.js
  panel/src/panel/dropdown.js
  panel/src/panel/feature.js
  panel/src/panel/history.js
  panel/src/panel/language.js
  panel/src/panel/menu.js
  panel/src/panel/modal.js
  panel/src/panel/notification.js
  panel/src/panel/state.js
  panel/src/panel/theme.js
  panel/src/panel/translation.js
  panel/src/panel/upload.js
Due: frontend

Deep toRaw for object cloning
  panel/lab/components/stats/1_stats/index.vue
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Input/TagsInput.vue
  panel/src/components/Forms/Layouts/Layouts.vue
  panel/src/components/Navigation/Tags.vue
  panel/src/components/Views/System/SystemSecurity.vue
  panel/src/helpers/field.js
  panel/src/helpers/object.js
  panel/src/store/modules/content.js
Due: frontend

Fix
  panel/src/components/Collection/Items.vue
Due: frontend

Use `mounted`/`unmounted` lifecycle hooks
  panel/src/components/Dialogs/ModelsDialog.vue
  panel/src/components/Dropdowns/Dropdown.vue
  panel/src/components/Dropdowns/DropdownContent.vue
  panel/src/components/Forms/Autocomplete.vue
  panel/src/components/Forms/Blocks/BlockSelector.vue
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/components/Forms/Field/FilesField.vue
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Forms/Input/DateInput.vue
  panel/src/components/Forms/Writer/Writer.vue
  panel/src/components/Layout/AspectRatio.vue
  panel/src/components/Layout/Bubble.vue
  panel/src/components/Layout/Grid.vue
  panel/src/components/Layout/Header.vue
  panel/src/components/Layout/Tabs.vue
  panel/src/components/Layout/View.vue
  panel/src/components/Misc/Loader.vue
  panel/src/components/Navigation/Breadcrumb.vue
  panel/src/components/Navigation/Button.vue
  panel/src/components/Navigation/ButtonDisabled.vue
  panel/src/components/Navigation/ButtonLink.vue
  panel/src/components/Navigation/ButtonNative.vue
  panel/src/components/Navigation/Navigate.vue
  panel/src/components/Navigation/PageTree.vue
  panel/src/components/Sections/FieldsSection.vue
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/InfoSection.vue
  panel/src/components/Sections/ModelsSection.vue
  panel/src/components/Sections/PagesSection.vue
  panel/src/components/Sections/StatsSection.vue
  panel/src/components/Text/Headline.vue
  panel/src/components/Text/Text.vue
  panel/src/components/Views/LegacyPluginView.vue
  panel/src/components/Views/Login/LoginView.vue
  panel/src/components/Views/ModelView.vue
  panel/src/components/Views/System/SystemSecurity.vue
  panel/src/components/Views/System/SystemView.vue
  panel/src/panel/app.js
Due: frontend

Use `mounted` lifecycle hook
  panel/src/components/Dialogs/ModelsDialog.vue
  panel/src/components/Dropdowns/Dropdown.vue
  panel/src/components/Dropdowns/DropdownContent.vue
  panel/src/components/Forms/Autocomplete.vue
  panel/src/components/Forms/Blocks/BlockSelector.vue
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/components/Forms/Field/FilesField.vue
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Forms/Input/DateInput.vue
  panel/src/components/Layout/AspectRatio.vue
  panel/src/components/Layout/Bubble.vue
  panel/src/components/Layout/Grid.vue
  panel/src/components/Layout/Header.vue
  panel/src/components/Layout/View.vue
  panel/src/components/Misc/Loader.vue
  panel/src/components/Navigation/Breadcrumb.vue
  panel/src/components/Navigation/Button.vue
  panel/src/components/Navigation/ButtonDisabled.vue
  panel/src/components/Navigation/ButtonLink.vue
  panel/src/components/Navigation/ButtonNative.vue
  panel/src/components/Navigation/PageTree.vue
  panel/src/components/Sections/FieldsSection.vue
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/InfoSection.vue
  panel/src/components/Sections/ModelsSection.vue
  panel/src/components/Sections/PagesSection.vue
  panel/src/components/Sections/StatsSection.vue
  panel/src/components/Text/Headline.vue
  panel/src/components/Text/Text.vue
  panel/src/components/Views/LegacyPluginView.vue
  panel/src/components/Views/Login/LoginView.vue
  panel/src/components/Views/ModelView.vue
  panel/src/components/Views/System/SystemSecurity.vue
  panel/src/components/Views/System/SystemView.vue
Due: frontend

Fix Lab loading
  panel/src/components/Lab/Docs.vue
  panel/src/components/Lab/PlaygroundView.vue
  panel/src/components/Lab/index.js
Due: frontend

Fix externalized Vue in build
  panel/vite.config.mjs
  src/Panel/Assets.php
Due: backend

Dynamically load vuedraggable again
  panel/src/components/Misc/Draggable.vue
Due: frontend

Dynamically load `k-highlight`
  panel/src/components/Text/Code.vue
Due: frontend

Fix Lab header buttons
  panel/src/components/Lab/PlaygroundView.vue
Due: frontend

Fix Lab dynamic loading
  panel/src/components/Lab/Docs.vue
  panel/src/components/Lab/PlaygroundView.vue
  panel/src/components/Lab/index.js
Due: frontend

Lab playground: fix header buttons slot
  panel/src/components/Lab/PlaygroundView.vue
Due: frontend

More fixes
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Input/MultiselectInput.vue
  panel/src/components/Forms/Input/PicklistInput.vue
  panel/src/components/Forms/Input/Validator.js
  panel/src/components/Text/Label.vue
Due: frontend

Fix remaining $listeners with workaround
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/Empty.vue
Due: frontend

Fix dialog classes
  panel/src/components/Dialogs/Dialog.vue
Due: frontend

Fix tag lab example
  panel/lab/components/tags/1_tag/index.php
Due: none

Fixes after merge conflicts
  panel/src/components/Forms/Field/BlocksField.vue
  panel/src/components/Forms/Field/LayoutField.vue
  panel/src/components/Forms/Field/ModelsField.vue
  panel/src/components/Forms/Field/ObjectField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Input/MultiselectInput.vue
  panel/src/components/Forms/Input/PicklistInput.vue
  panel/src/components/Forms/Input/TagsInput.vue
  panel/src/components/Forms/Input/TogglesInput.vue
Due: frontend

Fix WriterInput validation delay
  panel/src/components/Forms/Input/WriterInput.vue
Due: frontend

ChoiceInput: disable when full
  panel/src/components/Forms/Input/CheckboxesInput.vue
  panel/src/components/Forms/Input/ChoiceInput.vue
Due: frontend

Files browser pagination for the link field #6288
  config/fields/link.php
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Navigation/FileBrowser.vue
Due: backend, frontend

Adjust styling and add lab examples
  panel/lab/components/browsers/files/index.vue
  panel/src/components/Navigation/FileBrowser.vue
  panel/src/components/Navigation/Pagination.vue
Due: frontend

Remove limit prop from link field
  config/fields/link.php
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Navigation/FileBrowser.vue
Due: backend, frontend

Fix jumping issue when click to pagination buttons
  panel/src/components/Navigation/FileBrowser.vue
Due: frontend

Reduce limit to 50 for the file browser pagination
  panel/src/components/Navigation/FileBrowser.vue
Due: frontend

Update npm packages
  panel/package-lock.json
  panel/package.json
Due: none

Make content store getters reactive again
  panel/src/store/modules/content.js
Due: frontend

Remove more `.native`
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/components/Forms/Field/ColorField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Input/MultiselectInput.vue
  panel/src/components/Forms/Input/PicklistInput.vue
  panel/src/components/Forms/Input/RadioInput.vue
  panel/src/components/Forms/Input/TagsInput.vue
  panel/src/components/Sections/ModelsSection.vue
Due: frontend

Fix color frame
  panel/src/components/Layout/Frame/Frame.vue
Due: frontend

Remove first round of deprecated elements
  panel/src/components/Dialogs/Elements/Buttons.vue
  panel/src/components/Dropdowns/Dropdown.vue
  panel/src/components/Dropdowns/DropdownContent.vue
  panel/src/components/Dropdowns/index.js
  panel/src/components/Forms/Upload.vue
  panel/src/components/Forms/Writer/Writer.vue
  panel/src/components/Forms/index.js
  panel/src/components/Layout/AspectRatio.vue
  panel/src/components/Layout/Bar.vue
  panel/src/components/Layout/Header.vue
  panel/src/components/Layout/View.vue
  panel/src/components/Layout/index.js
  panel/src/components/Misc/Loader.vue
  panel/src/components/Misc/Progress.vue
  panel/src/components/Misc/index.js
  panel/src/components/Navigation/ButtonDisabled.vue
  panel/src/components/Navigation/ButtonLink.vue
  panel/src/components/Navigation/ButtonNative.vue
  panel/src/components/Navigation/index.js
  panel/src/components/Text/Headline.vue
  panel/src/components/Text/Text.vue
  panel/src/components/View/index.js
  panel/src/components/Views/LegacyPluginView.vue
  panel/src/components/Views/index.js
  panel/src/helpers/array.js
  panel/src/helpers/object.js
  panel/src/store/modules/drawers.js
  panel/src/store/modules/notification.js
  panel/src/store/store.js
Due: frontend

Panel fields: fix direction for content lanuage
  panel/src/config/i18n.js
Due: frontend

Tags input: split on separator
  panel/src/components/Forms/Input/TagsInput.vue
Due: frontend

`(image:)` escape alt text for smartypants
  config/tags.php
Due: backend

Table layout: fix width for image and flag +
  config/sections/mixins/layout.php
  panel/src/components/Layout/Table.vue
Due: backend, frontend

Table layout: allow modifying default columns
  config/sections/mixins/layout.php
Due: backend

Fix unit tests
  tests/Cms/Sections/mixins/LayoutMixinTest.php
Due: none
