Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Mark methods as internal
  src/Cms/FileActions.php
  src/Cms/PageActions.php
Due: backend

Add unit tests
  tests/Cms/Users/UserTest.php
Due: none

Fix `$user->roles($purpose)`
  config/api/routes/users.php
  src/Cms/User.php
Due: backend

Multilang `::permalink()`
  src/Uuid/ModelUuid.php
  tests/Uuid/PageUuidTest.php
Due: backend

LinkDialog: insert permalink for current language
  panel/src/api/files.js
  panel/src/api/pages.js
  panel/src/components/Dialogs/LinkDialog.vue
  panel/src/helpers/link.js
  panel/src/helpers/link.test.js
Due: frontend

Try to fix code coverage
  tests/Uuid/PageUuidTest.php
Due: none

Page create dialog: allow toggle field
  src/Panel/PageCreateDialog.php
Due: backend

Tweak check of empty errors array
  src/Api/Upload.php
  src/Filesystem/Dir.php
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
  src/Sane/DomHandler.php
Due: backend

New `translations` root
  config/areas/languages/views.php
  src/Cms/AppTranslations.php
  src/Cms/Core.php
  src/Cms/Language.php
  src/Cms/LanguageTranslations.php
  src/Cms/LanguageVariable.php
Due: backend

Apply code reviews
  src/Cms/LanguageTranslations.php
Due: backend

Improvements
  src/Cms/Language.php
  src/Cms/LanguageTranslations.php
  src/Cms/LanguageVariable.php
Due: backend

Add `avif` to resizable image types
  src/Image/Image.php
Due: backend

Revert permalink changes for files
  panel/src/api/files.js
  panel/src/components/Dialogs/LinkDialog.vue
  panel/src/helpers/link.js
  panel/src/helpers/link.test.js
  src/Uuid/FileUuid.php
  src/Uuid/ModelUuid.php
  src/Uuid/PageUuid.php
  tests/Uuid/FileUuidTest.php
  tests/Uuid/PageUuidTest.php
Due: backend, frontend

Better contrast for current item in light dropdown
  panel/src/components/Dropdowns/DropdownContent.vue
  panel/src/components/Dropdowns/DropdownItem.vue
Due: frontend

Add `angle-dropdown` button
  panel/public/img/icons.svg
  panel/src/components/Navigation/Button.vue
Due: frontend

Panel: abort overlapping Fiber requests
  panel/src/panel/panel.js
Due: frontend

Refactor model views after lock and form control changes
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/ModelView.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Pages/SiteView.vue
  panel/src/components/Views/Users/UserView.vue
Due: frontend

Refactor the model views and child components
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Navigation/ModelTabs.vue
  panel/src/components/Sections/FieldsSection.vue
  panel/src/components/Sections/Sections.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Files/ImageFilePreview.vue
  panel/src/components/Views/ModelView.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Pages/SiteView.vue
  panel/src/components/Views/Users/UserView.vue
  panel/src/panel/content.js
Due: frontend

Pass the lock state to the fields section
  panel/src/components/Sections/FieldsSection.vue
  panel/src/components/Sections/Sections.vue
Due: frontend

Move buttons around
  src/Panel/Page.php
Due: backend

New Version::diff and ModelWithContent::hasChanges methods to compare versions
  src/Cms/ModelWithContent.php
  src/Content/Version.php
Due: backend

Remove lock logic from content module for now
  panel/src/panel/content.js
Due: frontend

Move the changes interface to the site object
  src/Cms/Site.php
  src/Cms/User.php
  src/Content/Changes.php
  src/Panel/ChangesDialog.php
  src/Panel/Controller/Changes.php
Due: backend

Handle drafts exactly like other pages
  src/Content/PlainTextContentStorageHandler.php
  src/Content/VersionId.php
Due: backend

Return changes for all models
  src/Panel/File.php
  src/Panel/Model.php
  src/Panel/Page.php
  src/Panel/Site.php
  src/Panel/User.php
Due: backend

Improve form control examples after refactoring
  panel/lab/components/formcontrols/index.vue
Due: none

Remove Vuex and last store module
  panel/package-lock.json
  panel/package.json
  panel/src/components/Dialogs/ChangesDialog.vue
  panel/src/index.js
  panel/src/panel/app.js
  panel/src/panel/modal.js
  panel/src/store/modules/content.js
  panel/src/store/store.js
Due: frontend

Fix some console errors
  panel/src/components/Navigation/ModelTabs.vue
  panel/src/components/Views/ModelView.vue
  panel/src/components/Views/Pages/SiteView.vue
Due: frontend

Fill changes dialog with new changes from backend
  config/areas/site/dialogs.php
  panel/src/components/Dialogs/ChangesDialog.vue
  src/Panel/ChangesDialog.php
Due: backend, frontend

Remove old form buttons and refactor form controls
  panel/src/components/Forms/Controls/Controls.vue
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Forms/index.js
Due: frontend

First working version of the new changes workflow
  panel/src/components/Views/ModelView.vue
  panel/src/panel/content.js
Due: frontend

Store the locked user
  src/Panel/Controller/Changes.php
Due: backend

Keep track of unsaved changes
  src/Cms/User.php
  src/Content/Changes.php
  src/Panel/Controller/Changes.php
Due: backend

Added todo
  panel/src/components/Dialogs/ChangesDialog.vue
Due: frontend

First shot at a new, simplified Lock class
  src/Cms/ModelWithContent.php
  src/Content/Lock.php
  src/Panel/Model.php
Due: backend

Disconnect the content store module
  panel/src/components/Views/Login/LoginView.vue
  panel/src/components/Views/ModelView.vue
  panel/src/panel/content.js
Due: frontend

Return changes and originals for each panel model
  src/Panel/File.php
  src/Panel/Model.php
  src/Panel/Page.php
  src/Panel/Site.php
  src/Panel/User.php
Due: backend

First draft for a lock dropdown
  panel/src/components/Forms/Controls/Controls.vue
Due: frontend

Filter changes by new hasChanges method to avoid invalid entires in the dialog
  src/Content/Changes.php
Due: backend
