Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Fix status action and section reloading
  panel/src/components/Sections/PagesSection.vue
  panel/src/components/Sections/Sections.vue
  panel/src/mixins/section/collection.js
  src/Panel/Panel.php
Due: backend, frontend

Replace template dialog in frontend
  panel/src/api/pages.js
  panel/src/components/Sections/PagesSection.vue
  panel/src/components/Views/PageView.vue
  panel/src/config/components.js
Due: frontend

Fix status icon in page view
  panel/src/components/Views/PageView.vue
Due: frontend

Implement new page create dialog in frontend
  panel/src/components/Sections/PagesSection.vue
  panel/src/config/components.js
Due: frontend

Fix autofocus in extended dialogs
  panel/src/mixins/dialog.js
Due: frontend

Don’t sync slugs when field is disabled
  panel/src/components/Forms/Field/SlugField.vue
Due: frontend

Page title dialog backend with tests
  config/areas/site/dialogs.php
  src/Cms/PageActions.php
  tests/Panel/Areas/PageDialogsTest.php
Due: backend

Reload field section on timestamp changes
  panel/src/components/Sections/FieldsSection.vue
  panel/src/mixins/section/section.js
Due: frontend

Use new page title dialog in frontend
  panel/src/api/pages.js
  panel/src/components/Sections/PagesSection.vue
  panel/src/components/Views/PageView.vue
  panel/src/config/components.js
Due: frontend

Remove file delete dialog from frontend
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Views/FileView.vue
  panel/src/config/components.js
Due: frontend

File delete dialog backend with tests
  config/areas/files/dialogs.php
  config/areas/site/dialogs.php
  config/areas/users/dialogs.php
  panel/src/api/files.js
  tests/Panel/Areas/FileDialogsTest.php
Due: backend, frontend

File changeName dialog backend and tests
  config/areas/files/dialogs.php
  config/areas/site/dialogs.php
  config/areas/users/dialogs.php
  panel/src/api/files.js
  panel/src/components/Forms/Input/SlugInput.vue
  src/Cms/FileActions.php
  src/Cms/FileRules.php
  tests/Panel/Areas/FileDialogsTest.php
Due: backend, frontend

Remove file sort dialog from frontend
  panel/src/components/Sections/FilesSection.vue
  panel/src/config/components.js
Due: frontend

File sort dialog backend with tests
  config/areas/files/dialogs.php
  config/areas/site/dialogs.php
  config/areas/users/dialogs.php
  panel/src/api/files.js
  panel/src/components/Views/FileView.vue
  panel/src/config/components.js
  src/Panel/Field.php
  tests/Panel/Areas/FileDialogsTest.php
Due: backend, frontend

Remove site rename dialog from frontend
  panel/src/config/components.js
Due: frontend

Language create dialog backend and tests
  config/areas/settings/dialogs.php
  panel/src/components/Dialogs/FormDialog.vue
  panel/src/components/Dialogs/LanguageDialog.vue
  panel/src/components/Views/SettingsView.vue
  panel/src/config/components.js
  src/Cms/Language.php
  tests/Panel/Areas/SettingsDialogsTest.php
Due: backend, frontend

Language update dialog backend with tests
  config/areas/settings/dialogs.php
  panel/src/components/Views/SettingsView.vue
  panel/src/config/components.js
  src/Cms/Language.php
  tests/Panel/Areas/SettingsDialogsTest.php
Due: backend, frontend

Fix tests and linting issues
  panel/src/components/Dialogs/FiberDialog.vue
  panel/src/components/Forms/Field/SlugField.vue
  panel/src/components/Views/SettingsView.vue
  src/Cms/Language.php
  src/Cms/PageActions.php
  tests/Panel/PanelTest.php
Due: backend, frontend

New Panel::referrer method
  src/Panel/Panel.php
Due: backend

Improve slug input and slug field
  panel/src/components/Forms/Field/SlugField.vue
  panel/src/components/Forms/Input/SlugInput.vue
Due: frontend

Fix audit issues
  panel/package-lock.json
Due: none

Redirects in delete dialogs and tests
  config/areas/files/dialogs.php
  config/areas/site/dialogs.php
  config/areas/users/dialogs.php
  panel/src/components/Sections/PagesSection.vue
  tests/Panel/Areas/FileDialogsTest.php
  tests/Panel/Areas/PageDialogsTest.php
  tests/Panel/Areas/UsersDialogsTest.php
Due: backend, frontend

Solve redirects in dialogs based on the opening view
  config/areas/files/dialogs.php
  config/areas/site/dialogs.php
  panel/src/components/Dialogs/FiberDialog.vue
  panel/src/config/fiber.js
  src/Panel/Panel.php
Due: backend, frontend

Redirect after file has been renamed
  config/areas/files/dialogs.php
  tests/Panel/Areas/FileDialogsTest.php
Due: backend

Remove outdated dialog files
  config/areas/users/dialogs.php
  panel/src/components/Dialogs/FileRemoveDialog.vue
  panel/src/components/Dialogs/FileRenameDialog.vue
  panel/src/components/Dialogs/FileSortDialog.vue
  panel/src/components/Dialogs/LanguageCreateDialog.vue
  panel/src/components/Dialogs/LanguageRemoveDialog.vue
  panel/src/components/Dialogs/LanguageUpdateDialog.vue
  panel/src/components/Dialogs/PageCreateDialog.vue
  panel/src/components/Dialogs/PageDuplicateDialog.vue
  panel/src/components/Dialogs/PageRemoveDialog.vue
  panel/src/components/Dialogs/PageRenameDialog.vue
  panel/src/components/Dialogs/PageSortDialog.vue
  panel/src/components/Dialogs/PageStatusDialog.vue
  panel/src/components/Dialogs/PageTemplateDialog.vue
  panel/src/components/Dialogs/RegistrationDialog.vue
  panel/src/components/Dialogs/SiteRenameDialog.vue
  panel/src/components/Dialogs/UserCreateDialog.vue
  panel/src/components/Dialogs/UserEmailDialog.vue
  panel/src/components/Dialogs/UserLanguageDialog.vue
  panel/src/components/Dialogs/UserPasswordDialog.vue
  panel/src/components/Dialogs/UserRemoveDialog.vue
  panel/src/components/Dialogs/UserRenameDialog.vue
  panel/src/components/Dialogs/UserRoleDialog.vue
  tests/Panel/Areas/UsersDialogsTest.php
Due: backend, frontend

Redirect when a slug changes
  config/areas/site/dialogs.php
  tests/Panel/Areas/PageDialogsTest.php
Due: backend

Fix z-index issue in items
  panel/src/components/Layout/Item.vue
Due: frontend

Further simplify the Fiber class and requests
  panel/src/api/pages.js
  panel/src/components/Dialogs/FiberDialog.vue
  panel/src/config/fiber.js
  panel/src/index.js
Due: frontend

Fix comment
  config/areas/site/dialogs.php
Due: backend

Restore the old dialog store handling on open
  panel/src/components/Dialogs/Dialog.vue
Due: frontend

Improve dropdown loading in sections and views
  panel/src/api/files.js
  panel/src/api/pages.js
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/PagesSection.vue
Due: frontend

Explicitly set listeners in form dialog
  panel/src/components/Dialogs/FormDialog.vue
Due: frontend

Rename “include” to “replace”
  config/areas/users/dialogs.php
  panel/src/config/fiber.js
  src/Panel/Panel.php
  tests/Panel/Areas/UsersDialogsTest.php
  tests/Panel/PanelTest.php
Due: backend, frontend

Better inline docs for the timestamp watchers
  panel/src/components/Sections/FieldsSection.vue
  panel/src/mixins/section/collection.js
Due: frontend

Check for referrer in dialog tests
  tests/Panel/PanelTest.php
Due: none

Fix linting problems
  panel/src/components/Dialogs/FiberDialog.vue
  panel/src/components/Forms/Input/SlugInput.vue
Due: frontend

Fix all frontend tests
  panel/src/components/Blocks/Blocks.spec.js
  panel/src/components/Dialogs/FiberDialog.vue
  panel/src/components/Sections/PagesSection.vue
  panel/src/config/fiber.js
Due: frontend

Fix side-effects in section tests
  tests/Cms/Sections/SectionTest.php
Due: none

Globals instead of replace
  config/areas/users/dialogs.php
  panel/src/config/fiber.js
  src/Panel/Panel.php
  tests/Panel/Areas/UsersDialogsTest.php
  tests/Panel/PanelTest.php
Due: backend, frontend

Fix tab navigation
  panel/src/components/Layout/Tabs.vue
  panel/src/config/fiber.js
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
