Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

refact: Allow folders inside `site/controllers` (#7368)
  src/Cms/App.php
  src/Template/Snippet.php
Due: backend

feat: Add `Cms\License::delete()` & `::root()` (#7211)
  src/Cms/License.php
  tests/Cms/System/LicenseTest.php
Due: backend

feat: Remove license button/dialog
  config/areas/system/dialogs.php
  i18n/translations/en.json
  panel/src/components/Dialogs/LicenseDialog.vue
Due: backend, frontend

docs: Add `@unstable` to new Query classes
  src/Query/AST/ArgumentListNode.php
  src/Query/AST/ArithmeticNode.php
  src/Query/AST/ArrayListNode.php
  src/Query/AST/ClosureNode.php
  src/Query/AST/CoalesceNode.php
  src/Query/AST/ComparisonNode.php
  src/Query/AST/GlobalFunctionNode.php
  src/Query/AST/LiteralNode.php
  src/Query/AST/LogicalNode.php
  src/Query/AST/MemberAccessNode.php
  src/Query/AST/Node.php
  src/Query/AST/TernaryNode.php
  src/Query/AST/VariableNode.php
  src/Query/Parser/Parser.php
  src/Query/Parser/Token.php
  src/Query/Parser/TokenType.php
  src/Query/Parser/Tokenizer.php
  src/Query/Runners/DefaultRunner.php
  src/Query/Runners/Runner.php
  src/Query/Runners/Scope.php
  src/Query/Visitors/DefaultVisitor.php
  src/Query/Visitors/Visitor.php
Due: backend

fix: Adjust license message
  i18n/translations/en.json
Due: none

refact!: Remove PHP 8.2 support
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  bootstrap.php
  composer.json
  src/Cms/System.php
Due: backend

refact: Remove code unneeded for PHP >= 8.3
  src/Cms/File.php
  src/Cms/Page.php
  src/Cms/User.php
  src/Text/KirbyTag.php
  src/Toolkit/Component.php
Due: backend

test: Add license remove dialog tests
  config/areas/system/dialogs.php
  tests/Panel/Areas/SystemDialogsTest.php
Due: backend

refact: Use `json_validate` for `V::json()`
  src/Toolkit/V.php
Due: backend

refact: Replace `get_class()` with `::class`
  src/Toolkit/Component.php
Due: backend

chore: Update composer
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: none

chore: Upgrade CI dependencies
  .gitattributes
  .github/workflows/backend.yml
  composer-unused.php
  composer.json
  composer.lock
  src/Cms/ModelWithContent.php
Due: backend

fix: Date field input padding
  panel/src/components/Forms/Input/DateInput.vue
Due: frontend

Fix cs
  config/areas/site/dialogs.php
  config/areas/users/dialogs.php
  config/areas/users/drawers.php
  src/Panel/Dialog.php
  src/Panel/Ui/Dialog.php
  src/Panel/Ui/Dialogs/FieldDialog.php
  src/Panel/Ui/Dialogs/LanguageTranslationCreateDialog.php
  src/Panel/Ui/Dialogs/PageMoveDialog.php
  src/Panel/Ui/Dialogs/SiteChangeTitleDialog.php
  src/Panel/Ui/Dialogs/SystemActivateDialog.php
  src/Panel/Ui/Dialogs/SystemLicenseDialog.php
  src/Panel/Ui/Dialogs/UserChangePasswordDialog.php
  src/Panel/Ui/Dialogs/UserCreateDialog.php
  src/Panel/Ui/Dialogs/UserTotpEnableDialog.php
  src/Panel/Ui/Drawer.php
  src/Panel/Ui/Drawers/FieldDrawer.php
Due: backend

feat: New `buttons` prop for the `<k-field>` component
  panel/lab/components/field/index.vue
  panel/src/components/Forms/Field.vue
Due: frontend

Try fixing/muting code analysis errors
  phpmd.xml.dist
  src/Panel/Ui/Dialogs/IsForLanguageVariable.php
Due: backend

First basic Ui dialog + drawer unit tests
  config/areas/account/dialogs.php
  config/areas/account/drawers.php
  config/areas/site/dialogs.php
  config/areas/site/drawers.php
  config/areas/users/dialogs.php
  config/areas/users/drawers.php
  src/Panel/Ui/Component.php
  src/Panel/Ui/Dialog.php
  src/Panel/Ui/Dialogs/FieldDialog.php
  src/Panel/Ui/Drawer.php
  tests/Panel/Areas/AccountDialogsTest.php
  tests/Panel/Areas/FileDialogsTest.php
  tests/Panel/Areas/LanguagesDialogsTest.php
  tests/Panel/Areas/PageDialogsTest.php
  tests/Panel/Areas/SiteDialogsTest.php
  tests/Panel/Areas/SystemDialogsTest.php
  tests/Panel/Areas/UsersDialogsTest.php
  tests/Panel/Ui/DialogTest.php
  tests/Panel/Ui/Dialogs/ChangesDialogTest.php
  tests/Panel/Ui/Dialogs/ErrorDialogTest.php
  tests/Panel/Ui/Dialogs/FormDialogTest.php
  tests/Panel/Ui/Dialogs/TextDialogTest.php
  tests/Panel/Ui/Dialogs/UserTotpDisableDialogTest.php
  tests/Panel/Ui/Dialogs/UserTotpEnableDialogTest.php
  tests/Panel/Ui/DrawerTest.php
Due: backend

First file dialog unit tests
  tests/Panel/Ui/Dialogs/FileChangeNameDialogTest.php
  tests/Panel/Ui/Dialogs/FileChangeSortDialogTest.php
  tests/Panel/Ui/Dialogs/FileChangeTemplateDialogTest.php
  tests/Panel/Ui/Dialogs/TestCase.php
Due: none

Exclude dialogs + drawers config from coverage
  phpunit.dist.xml
Due: none

Try suppressing irrelevant psalm error
  src/Panel/Ui/Dialogs/IsForLanguageVariable.php
Due: backend

Simplify area field dialogs + drawers config
  config/areas/fields/dialogs.php
  config/areas/fields/drawers.php
  config/areas/site/dialogs.php
  config/areas/site/drawers.php
  config/areas/users/dialogs.php
  config/areas/users/drawers.php
  phpunit.dist.xml
  src/Panel/Drawer.php
Due: backend

Add test for `RemoveDialog`
  tests/Cms/Languages/LanguageVariableTest.php
  tests/Panel/Ui/Dialogs/RemoveDialogTest.php
  tests/Panel/Ui/Drawers/TextDrawerTest.php
Due: none

Add class aliases for moved dialog classes
  config/aliases.php
  src/Panel/Ui/Dialogs/LanguageTranslationUpdateDialog.php
  tests/Panel/Ui/Dialogs/LanguageTranslationCreateDialogTest.php
  tests/Panel/Ui/Dialogs/LanguageTranslationUpdateDialogTest.php
  tests/Panel/Ui/Dialogs/UserTotpDisableDialogTest.php
Due: backend

refact: Move empty reports handling into `<k-stats>` component
  panel/lab/components/stats/1_stats/index.vue
  panel/src/components/Layout/Stats.vue
  panel/src/components/Sections/StatsSection.vue
Due: frontend

refact: Export props from `<k-stats>`
  panel/src/components/Layout/Stats.vue
Due: frontend

refact: Remove dialog class aliases
  config/aliases.php
Due: backend

refact: Simplify dialogs/drawers/dropdowns config
  config/areas/account/dialogs.php
  config/areas/account/drawers.php
  config/areas/account/dropdowns.php
  config/areas/site/dialogs.php
  config/areas/site/drawers.php
  config/areas/users/dialogs.php
  config/areas/users/drawers.php
Due: backend

chore: Update PR template
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

feat: `LanguageVariable::language()`
  src/Cms/LanguageVariable.php
  tests/Cms/Languages/LanguageVariableTest.php
Due: backend

refact!: Move `$panel` logic out of `k-panel-menu`
  panel/lab/components/menu/index.php
  panel/lab/components/menu/index.vue
  panel/src/components/View/Inside.vue
  panel/src/components/View/Menu.vue
Due: frontend

fix: `Panel\Ui\Component` filter `null`, not `[]`
  src/Panel/Ui/Component.php
  tests/Panel/Ui/ComponentTest.php
Due: backend

fix!: Remove `reset` prop from `k-radio-input`
  panel/src/components/Forms/Input/RadioInput.vue
Due: frontend

refact: Simplify dialogs/drawers/dropdowns config (#7377)
  config/areas/account/dialogs.php
  config/areas/account/drawers.php
  config/areas/account/dropdowns.php
  config/areas/site/dialogs.php
  config/areas/site/drawers.php
  config/areas/users/dialogs.php
  config/areas/users/drawers.php
Due: backend
