Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix: Respect draft page access permission (#47)
  src/Cms/App.php
  tests/Cms/App/AppResolveTest.php
Due: backend

perf: Reduce requests triggered by link field (#8072)
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Navigation/PageTree.vue
Due: frontend

fix: Block access to unlistable users in lock info (#48)
  src/Content/Lock.php
  tests/Content/LockTest.php
Due: backend

fix: Block access to unlistable users in lock info
  src/Cms/ContentLock.php
  tests/Cms/Content/ContentLockTest.php
Due: backend

refact: Migrate `panel.content` to TypeScript
  panel/lab/internals/panel/content/index.php
  panel/src/errors/RequestError.ts
  panel/src/panel/content.test.ts
  panel/src/panel/content.ts
  panel/src/panel/dialog.test.ts
  panel/src/panel/drawer.test.ts
  panel/src/panel/modal.test.ts
  panel/src/panel/modal.ts
  panel/src/panel/panel.js
Due: frontend

test: Unit tests for Editor `Emitter` class
  panel/src/components/Forms/Writer/Emitter.test.ts
Due: frontend

refact: Use private field in `Emitter` class
  panel/src/components/Forms/Writer/Emitter.js
Due: frontend

refact: Migrate `Emitter` to TypeScript
  panel/src/components/Forms/Writer/Emitter.ts
Due: frontend

refact: Use event map as generic in `Emitter`
  panel/src/components/Forms/Writer/Emitter.ts
Due: frontend

refact: Remove `$isExternal` parameter
  src/Sane/Sane.php
Due: backend

fix: Sanitize list field values (#41)
  config/fields/list.php
  config/fields/writer.php
  src/Form/Field/WriterField.php
  src/Sane/Sane.php
  tests/Form/Field/ListFieldTest.php
  tests/Sane/SaneTest.php
Due: backend

[Auth] feat: New login Vue components (#8077)
  CHANGELOG.md
  i18n/translations/en.json
  panel/lab/components/login/1_login-form/index.php
  panel/lab/components/login/1_login-form/index.vue
  panel/lab/components/login/1_login-method-forms/index.vue
  panel/lab/components/login/2_login-challenge-forms/index.vue
  panel/lab/components/login/2_login-code-form/index.php
  panel/lab/components/login/2_login-code-form/index.vue
  panel/lab/components/login/3_login-switchers/index.vue
  panel/lab/components/login/4_login-form-components/index.vue
  panel/src/components/Views/Login/LoginBack.vue
  panel/src/components/Views/Login/LoginChallenges.vue
  panel/src/components/Views/Login/LoginCode.vue
  panel/src/components/Views/Login/LoginCodeMethodForm.vue
  panel/src/components/Views/Login/LoginEmailChallengeForm.vue
  panel/src/components/Views/Login/LoginFooter.vue
  panel/src/components/Views/Login/LoginMethods.vue
  panel/src/components/Views/Login/LoginPasswordMethodForm.vue
  panel/src/components/Views/Login/LoginPasswordResetMethodForm.vue
  panel/src/components/Views/Login/LoginRemember.vue
  panel/src/components/Views/Login/LoginSubmit.vue
  panel/src/components/Views/Login/LoginTotpChallengeForm.vue
  panel/src/components/Views/Login/LoginView.vue
  panel/src/components/Views/Login/index.js
Due: frontend

refact: Migrate `panel.content` to TypeScript (#8079)
  panel/lab/internals/panel/content/index.php
  panel/src/errors/RequestError.ts
  panel/src/panel/content.test.ts
  panel/src/panel/content.ts
  panel/src/panel/dialog.test.ts
  panel/src/panel/drawer.test.ts
  panel/src/panel/modal.test.ts
  panel/src/panel/modal.ts
  panel/src/panel/panel.js
Due: frontend

feat: New BlockCollectionAccess attribute for model methods (#37)
  src/Cms/File.php
  src/Cms/FileActions.php
  src/Cms/HasFiles.php
  src/Cms/HasMethods.php
  src/Cms/HasModels.php
  src/Cms/Page.php
  src/Cms/PageActions.php
  src/Cms/Site.php
  src/Cms/SiteActions.php
  src/Cms/User.php
  src/Cms/UserActions.php
  src/Toolkit/BlockCollectionAccess.php
  src/Toolkit/Collection.php
  tests/Cms/Collections/CollectionTest.php
  tests/Toolkit/CollectionTest.php
Due: backend

refact: Use named arguments
  src/Api/Api.php
Due: backend

fix: Remove unnecessary `$isExternal` argument
  src/Sane/Sane.php
Due: backend

refact: Unit tests for Editor utils incl. bug fix
  panel/src/components/Forms/Writer/Utils/equalNodeType.test.ts
  panel/src/components/Forms/Writer/Utils/findParentNode.test.ts
  panel/src/components/Forms/Writer/Utils/findParentNodeClosestToPos.test.ts
  panel/src/components/Forms/Writer/Utils/findSelectedNodeOfType.test.ts
  panel/src/components/Forms/Writer/Utils/getMarkAttrs.test.ts
  panel/src/components/Forms/Writer/Utils/getMarkRange.js
  panel/src/components/Forms/Writer/Utils/getMarkRange.test.ts
  panel/src/components/Forms/Writer/Utils/getNodeAttrs.test.ts
  panel/src/components/Forms/Writer/Utils/index.ts
  panel/src/components/Forms/Writer/Utils/insertNode.js
  panel/src/components/Forms/Writer/Utils/insertNode.test.ts
  panel/src/components/Forms/Writer/Utils/isNodeSelection.test.ts
  panel/src/components/Forms/Writer/Utils/markInputRule.js
  panel/src/components/Forms/Writer/Utils/markInputRule.test.ts
  panel/src/components/Forms/Writer/Utils/markIsActive.test.ts
  panel/src/components/Forms/Writer/Utils/markPasteRule.test.ts
  panel/src/components/Forms/Writer/Utils/minMax.test.ts
  panel/src/components/Forms/Writer/Utils/nodeInputRule.js
  panel/src/components/Forms/Writer/Utils/nodeInputRule.test.ts
  panel/src/components/Forms/Writer/Utils/nodeIsActive.test.ts
  panel/src/components/Forms/Writer/Utils/pasteRule.test.ts
  panel/src/components/Forms/Writer/Utils/removeMark.js
  panel/src/components/Forms/Writer/Utils/removeMark.test.ts
  panel/src/components/Forms/Writer/Utils/toggleBlockType.test.ts
  panel/src/components/Forms/Writer/Utils/toggleList.js
  panel/src/components/Forms/Writer/Utils/toggleList.test.ts
  panel/src/components/Forms/Writer/Utils/toggleWrap.test.ts
  panel/src/components/Forms/Writer/Utils/updateMark.js
  panel/src/components/Forms/Writer/Utils/updateMark.test.ts
Due: frontend

Merge pull request #50 from getkirby/security/v4/prevent-dangerous-schemes
  src/Http/Url.php
  src/Toolkit/Html.php
  tests/Http/UrlTest.php
  tests/Toolkit/HtmlTest.php
Due: backend

[TS Editor 2] refact: Unit tests for Editor utils incl. bug fix (#8101)
  panel/src/components/Forms/Writer/Utils/equalNodeType.test.ts
  panel/src/components/Forms/Writer/Utils/findParentNode.test.ts
  panel/src/components/Forms/Writer/Utils/findParentNodeClosestToPos.test.ts
  panel/src/components/Forms/Writer/Utils/findSelectedNodeOfType.test.ts
  panel/src/components/Forms/Writer/Utils/getMarkAttrs.test.ts
  panel/src/components/Forms/Writer/Utils/getMarkRange.js
  panel/src/components/Forms/Writer/Utils/getMarkRange.test.ts
  panel/src/components/Forms/Writer/Utils/getNodeAttrs.test.ts
  panel/src/components/Forms/Writer/Utils/index.ts
  panel/src/components/Forms/Writer/Utils/insertNode.js
  panel/src/components/Forms/Writer/Utils/insertNode.test.ts
  panel/src/components/Forms/Writer/Utils/isNodeSelection.test.ts
  panel/src/components/Forms/Writer/Utils/markInputRule.js
  panel/src/components/Forms/Writer/Utils/markInputRule.test.ts
  panel/src/components/Forms/Writer/Utils/markIsActive.test.ts
  panel/src/components/Forms/Writer/Utils/markPasteRule.test.ts
  panel/src/components/Forms/Writer/Utils/minMax.test.ts
  panel/src/components/Forms/Writer/Utils/nodeInputRule.js
  panel/src/components/Forms/Writer/Utils/nodeInputRule.test.ts
  panel/src/components/Forms/Writer/Utils/nodeIsActive.test.ts
  panel/src/components/Forms/Writer/Utils/pasteRule.test.ts
  panel/src/components/Forms/Writer/Utils/removeMark.js
  panel/src/components/Forms/Writer/Utils/removeMark.test.ts
  panel/src/components/Forms/Writer/Utils/toggleBlockType.test.ts
  panel/src/components/Forms/Writer/Utils/toggleList.js
  panel/src/components/Forms/Writer/Utils/toggleList.test.ts
  panel/src/components/Forms/Writer/Utils/toggleWrap.test.ts
  panel/src/components/Forms/Writer/Utils/updateMark.js
  panel/src/components/Forms/Writer/Utils/updateMark.test.ts
Due: frontend

fix: `Editor.setContent` remove reactivity
  panel/src/components/Forms/Writer/Editor.js
Due: frontend

test: Update Psalm baseline
  psalm-baseline.xml
Due: none

refact: Migrate Editor utils to TypeScript
  panel/src/components/Forms/Writer/Utils/equalNodeType.ts
  panel/src/components/Forms/Writer/Utils/findParentNode.ts
  panel/src/components/Forms/Writer/Utils/findParentNodeClosestToPos.ts
  panel/src/components/Forms/Writer/Utils/findSelectedNodeOfType.js
  panel/src/components/Forms/Writer/Utils/findSelectedNodeOfType.ts
  panel/src/components/Forms/Writer/Utils/getMarkAttrs.js
  panel/src/components/Forms/Writer/Utils/getMarkAttrs.ts
  panel/src/components/Forms/Writer/Utils/getMarkRange.ts
  panel/src/components/Forms/Writer/Utils/getNodeAttrs.js
  panel/src/components/Forms/Writer/Utils/getNodeAttrs.ts
  panel/src/components/Forms/Writer/Utils/insertNode.js
  panel/src/components/Forms/Writer/Utils/insertNode.ts
  panel/src/components/Forms/Writer/Utils/isNodeSelection.ts
  panel/src/components/Forms/Writer/Utils/markInputRule.js
  panel/src/components/Forms/Writer/Utils/markInputRule.ts
  panel/src/components/Forms/Writer/Utils/markIsActive.js
  panel/src/components/Forms/Writer/Utils/markIsActive.ts
  panel/src/components/Forms/Writer/Utils/markPasteRule.ts
  panel/src/components/Forms/Writer/Utils/minMax.js
  panel/src/components/Forms/Writer/Utils/minMax.ts
  panel/src/components/Forms/Writer/Utils/nodeInputRule.js
  panel/src/components/Forms/Writer/Utils/nodeInputRule.ts
  panel/src/components/Forms/Writer/Utils/nodeIsActive.ts
  panel/src/components/Forms/Writer/Utils/pasteRule.ts
  panel/src/components/Forms/Writer/Utils/removeMark.ts
  panel/src/components/Forms/Writer/Utils/toggleBlockType.js
  panel/src/components/Forms/Writer/Utils/toggleBlockType.ts
  panel/src/components/Forms/Writer/Utils/toggleList.ts
  panel/src/components/Forms/Writer/Utils/toggleWrap.js
  panel/src/components/Forms/Writer/Utils/toggleWrap.ts
  panel/src/components/Forms/Writer/Utils/updateMark.ts
Due: frontend

refact: Clean up Editor utils
  panel/src/components/Forms/Writer/Utils/equalNodeType.js
  panel/src/components/Forms/Writer/Utils/findParentNode.js
  panel/src/components/Forms/Writer/Utils/findParentNodeClosestToPos.js
  panel/src/components/Forms/Writer/Utils/findSelectedNodeOfType.js
  panel/src/components/Forms/Writer/Utils/isNodeSelection.js
  panel/src/components/Forms/Writer/Utils/markInputRule.js
  panel/src/components/Forms/Writer/Utils/markPasteRule.js
  panel/src/components/Forms/Writer/Utils/nodeInputRule.js
  panel/src/components/Forms/Writer/Utils/nodeIsActive.js
  panel/src/components/Forms/Writer/Utils/pasteRule.js
  panel/src/components/Forms/Writer/Utils/removeMark.js
  panel/src/components/Forms/Writer/Utils/toggleBlockType.js
  panel/src/components/Forms/Writer/Utils/toggleWrap.js
  panel/src/components/Forms/Writer/Utils/updateMark.js
Due: frontend

fix: More thorough whitespace handling in URL schemes
  src/Http/Url.php
  tests/Http/UrlTest.php
  tests/Toolkit/HtmlTest.php
Due: backend

refact: Use `panel.t` instead `panel.$t`
  panel/src/api/users.js
  panel/src/components/Forms/Input/Validator.js
  panel/src/components/Forms/Writer/Marks/Bold.js
  panel/src/components/Forms/Writer/Marks/Clear.js
  panel/src/components/Forms/Writer/Marks/Code.js
  panel/src/components/Forms/Writer/Marks/Email.js
  panel/src/components/Forms/Writer/Marks/Italic.js
  panel/src/components/Forms/Writer/Marks/Link.js
  panel/src/components/Forms/Writer/Marks/Strike.js
  panel/src/components/Forms/Writer/Marks/Sub.js
  panel/src/components/Forms/Writer/Marks/Sup.js
  panel/src/components/Forms/Writer/Marks/Underline.js
  panel/src/components/Forms/Writer/Nodes/BulletList.js
  panel/src/components/Forms/Writer/Nodes/Heading.js
  panel/src/components/Forms/Writer/Nodes/OrderedList.js
  panel/src/components/Forms/Writer/Nodes/Paragraph.js
  panel/src/components/Forms/Writer/Nodes/Quote.js
  panel/src/helpers/link.test.ts
  panel/src/helpers/link.ts
  panel/src/helpers/page.test.ts
  panel/src/helpers/page.ts
Due: frontend

refact: Export all Panel module state types
  panel/src/panel/activation.ts
  panel/src/panel/drag.ts
  panel/src/panel/dropdown.ts
  panel/src/panel/language.ts
  panel/src/panel/menu.ts
  panel/src/panel/notification.ts
  panel/src/panel/system.ts
  panel/src/panel/theme.ts
  panel/src/panel/translation.ts
  panel/src/panel/upload.ts
  panel/src/panel/user.ts
  panel/src/panel/view.ts
Due: frontend

refact: Simplify Vue app error handler binding
  panel/src/config/errorhandling.js
Due: frontend

fix: `buildUrl()` typing for `query` argument
  panel/src/helpers/url.ts
Due: frontend

refact: Migrate Panel `app` to TypScript
  panel/src/panel/app.ts
  panel/src/types/vue.d.ts
Due: frontend

fix: Adapt i18n `direction` directive to Vue 3
  panel/src/config/i18n.js
Due: frontend

refact: Migrate i18n `direction` directive to TS
  panel/src/config/i18n.ts
Due: frontend

test: Unit tests for i18n `direction` directive
  panel/src/config/i18n.test.ts
Due: frontend

fix: Do not nest static Vue copies in dist folder
  panel/vite.config.ts
Due: none

fix: Merge Lab-related chunks into a single chunk
  panel/vite.config.ts
Due: none

refact: Migrate Vue preserve mixins to TypeScript
  panel/src/index.ts
  panel/src/mixins/preserveDataAttrs.test.ts
  panel/src/mixins/preserveDataAttrs.ts
  panel/src/mixins/preserveListeners.test.ts
  panel/src/mixins/preserveListeners.ts
  panel/vite.config.ts
Due: frontend

fix: Safely handle single lang in `api` JS handler
  panel/src/api/index.test.ts
  panel/src/api/index.ts
Due: frontend

style: Fix cs in panel modules
  panel/src/panel/dropdown.test.ts
  panel/src/panel/feature.ts
  panel/src/panel/plugins.test.ts
  panel/src/panel/plugins.ts
  panel/src/panel/search.test.ts
  panel/src/panel/translation.test.ts
  panel/src/panel/view.test.ts
Due: frontend

refact: `panel.t()` to use key as fallback
  panel/src/panel/translation.test.ts
  panel/src/panel/translation.ts
Due: frontend

test: Stub `fetch` in tests
  panel/tests/unit/setup.ts
Due: none

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
