Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

test: Lab example for `dayjs.round()`
  panel/lab/internals/library.dayjs/5_round/index.php
  panel/lab/internals/library.dayjs/5_round/index.vue
Due: none

refact!: `dayjs.validate()` without unit
  panel/lab/internals/library.dayjs/5_validate/index.vue
  panel/lab/internals/library.dayjs/6_validate/index.php
  panel/lab/internals/library.dayjs/6_validate/index.vue
  panel/src/libraries/dayjs-validate.test.ts
  panel/src/libraries/dayjs-validate.ts
Due: frontend

fix: Recative `Panel` class properties
  panel/src/panel/panel.test.ts
  panel/src/panel/panel.ts
Due: frontend

feat: Delay showing topbar loading spinner
  panel/src/components/View/Topbar.vue
Due: frontend

build: Preflight for 5.5.3
  cacert.pem
  composer.json
  composer.lock
  i18n/translations/it.json
  panel/dist/js/index.min.js
  vendor/composer/installed.php
Due: none

build: Update JS dependencies
  panel/dist/js/vendor.min.js
  panel/package-lock.json
  panel/package.json
Due: none

fix: Ensure proper ISO for date field min/max (#8324)
  src/Form/Field/DateField.php
  src/Form/Field/DateTimeField.php
  tests/Form/Field/DateFieldTest.php
  tests/Form/Field/TimeFieldTest.php
Due: backend

fix: `dayjs.round()` milliseconds handling
  panel/lab/internals/library.dayjs/5_round/index.php
  panel/lab/internals/library.dayjs/5_round/index.vue
  panel/src/libraries/dayjs-round.test.ts
  panel/src/libraries/dayjs-round.ts
Due: frontend

feat: Delay showing topbar loading spinner (#8331)
  panel/src/components/View/Topbar.vue
Due: frontend

perf: `Str::safeTemplate()` unescaped check
  src/Toolkit/Str.php
  tests/Toolkit/StrTest.php
Due: backend

perf: Cache `Field::emptyValue()`
  src/Form/Mixin/Value.php
Due: backend

perf: Cache `Constructor:: getParameterNames()`
  src/Reflection/Constructor.php
Due: backend

perf: `Fieldset` lazily create tabs
  src/Cms/Fieldset.php
  tests/Cms/Fieldsets/FieldsetTest.php
Due: backend

perf: `OptionsQuery` cache defaults for item type
  src/Option/OptionsQuery.php
Due: backend

perf: `OptionsApi` safe method check
  src/Option/OptionsApi.php
Due: backend

perf: Cache subfields' props
  src/Form/Mixin/Fields.php
Due: backend

perf: New `FieldsCache` for options
  src/Cms/Fieldset.php
  src/Cms/Fieldsets.php
  src/Form/Field/BlocksField.php
  src/Form/Field/EntriesField.php
  src/Form/Field/LayoutField.php
  src/Form/Fields.php
  src/Form/FieldsCache.php
  src/Form/Form.php
  src/Form/Mixin/Fields.php
  src/Form/Mixin/Options.php
  tests/Form/Field/BlocksFieldTest.php
  tests/Form/Field/StructureFieldTest.php
  tests/Form/FieldsCacheTest.php
  tests/Form/FieldsTest.php
Due: backend

lab: Do not lazy-load fields sections
  panel/src/components/Sections/FieldsSection.vue
  src/Panel/Controller/View/ModelViewController.php
  tests/Panel/Controller/View/ModelViewControllerTest.php
Due: backend, frontend

perf: Cache normalized blueprint
  config/presets/files.php
  config/presets/page.php
  config/presets/pages.php
  config/sections/pages.php
  src/Blueprint/Blueprint.php
  src/Blueprint/FileBlueprint.php
  src/Blueprint/PageBlueprint.php
  src/Blueprint/UserBlueprint.php
  src/Cms/App.php
  src/Cms/File.php
  src/Cms/Page.php
  src/Cms/Site.php
  src/Cms/User.php
  src/Content/Content.php
  tests/Api/ApiTest.php
  tests/Api/Routes/AccountRoutesTest.php
  tests/Api/Routes/UsersRoutesTest.php
  tests/Api/UploadTest.php
  tests/Blueprint/BlueprintPresetsTest.php
  tests/Blueprint/BlueprintTest.php
  tests/Blueprint/FileBlueprintTest.php
  tests/Blueprint/PageBlueprintTest.php
  tests/Blueprint/Sections/PagesSectionTest.php
  tests/Blueprint/UserBlueprintTest.php
  tests/Cms/TestCase.php
  tests/Panel/Areas/AreaTestCase.php
  tests/Panel/TestCase.php
  tests/Panel/UserTest.php
Due: backend

refact!: Remove `ModelPermission::canFromCache()`
  src/Cms/App.php
  src/Cms/File.php
  src/Cms/FilePermissions.php
  src/Cms/ModelPermissions.php
  src/Cms/Page.php
  src/Cms/PagePermissions.php
  src/Cms/Site.php
  src/Cms/User.php
  src/Cms/UserPermissions.php
  tests/Cms/File/FilePermissionsTest.php
  tests/Cms/Page/PagePermissionsTest.php
  tests/Cms/Page/PagePickerTest.php
  tests/Cms/Site/SitePermissionsTest.php
  tests/Cms/User/UserPermissionsTest.php
  tests/Panel/Controller/Dialog/PagePickerDialogControllerTest.php
Due: backend

a11y: eslint rule for Vue files
  i18n/translations/en.json
  panel/eslint.config.js
  panel/package-lock.json
  panel/package.json
  panel/src/components/Forms/Field/ObjectField.vue
  panel/src/components/Forms/Input/ColorpickerInput.vue
  panel/src/components/Forms/Input/CoordsInput.vue
  panel/src/components/Forms/Input/NumberInput.vue
  panel/src/components/Forms/Input/RangeInput.vue
  panel/src/components/Forms/Input/TextareaInput.vue
  panel/src/components/Forms/Input/WriterInput.vue
  panel/src/components/Layout/Frame/VideoFrame.vue
  panel/src/components/Misc/Fatal.test.ts
  panel/src/components/Misc/Fatal.vue
  panel/src/components/Misc/Progress.test.ts
  panel/src/components/Misc/Progress.vue
  panel/src/components/Uploads/UploadItem.vue
  panel/src/components/Uploads/UploadItemPreview.vue
  panel/src/components/Views/Files/ImageFilePreview.vue
  panel/src/components/Views/Files/PdfFilePreview.vue
  panel/src/components/Views/Preview/PreviewBrowser.vue
Due: frontend

style: Fix typo
  panel/src/components/Forms/Input/RangeInput.vue
Due: frontend

style: Fix method sort order of `LazyCollection`
  src/Cms/LazyCollection.php
  tests/Cms/Collections/LazyCollectionTest.php
Due: backend

fix: Never submit fields without a value
  src/Form/Field/BaseField.php
  tests/Form/Field/BaseFieldTest.php
Due: backend

feat: New filelist field
  src/Cms/Core.php
  src/Form/Field/FileListField.php
  src/Form/Field/ModelListField.php
  tests/Cms/CoreTest.php
  tests/Form/Field/FileListFieldTest.php
Due: backend

feat: New filelist field component
  panel/src/components/Forms/Field/FileListField.vue
  panel/src/components/Forms/Field/index.js
Due: frontend

feat: Add lab examples for the filelist field
  panel/lab/components/fields/filelist/index.php
  panel/lab/components/fields/filelist/index.vue
Due: none

test: Include Psalm stubs for apcu, pdo and redis
  psalm.xml.dist
  src/Cache/RedisCache.php
  src/Database/Database.php
Due: backend

fix: Prevent Whoops handlers from retaining $app
  src/Cms/AppErrors.php
  tests/Cms/App/AppErrorsTest.php
Due: backend

fix: Keep global translations in sync with the current app
  src/Cms/AppTranslations.php
  tests/Cms/App/AppTranslationsTest.php
Due: backend

fix: Load `tags.php` without binding it to `Core`
  src/Cms/Core.php
Due: backend

fix: Scrolling in drawer/dialog with dropzone
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Drawers/Drawer.vue
Due: frontend

fix: Gallery block grid sizing
  panel/src/components/Forms/Blocks/Types/Gallery.vue
Due: frontend

fix: Drawer autofocus on a modelpicker field
  panel/src/components/Forms/Field/ModelPickerField.vue
Due: frontend

fix: CSS for item sort handle background
  panel/src/components/Collection/Item.vue
Due: frontend

style: Fix duplicate `await`
  panel/src/components/Forms/Previews/ModelsFieldPreview.vue
Due: frontend

fix: Dropdown focus outline overlap
  panel/src/components/Dropdowns/DropdownItem.vue
Due: frontend

perf: Lazy perserveListener mixin
  panel/src/mixins/preserveListeners.ts
Due: frontend

perf: Cache `content.diff`
  panel/src/panel/content.test.ts
  panel/src/panel/content.ts
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
