Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Removes `<p>` tags from value #3086
  panel/src/components/Forms/Input/ListInput.vue
Due: frontend

Improve field visuals on disabled #2807
  panel/src/components/Forms/Input.vue
  panel/src/components/Forms/Input/CheckboxInput.vue
  panel/src/components/Forms/Input/ListInput.vue
  panel/src/components/Forms/Input/RadioInput.vue
  panel/src/components/Forms/Input/RangeInput.vue
  panel/src/components/Misc/Icon.vue
  panel/src/components/Navigation/Tag.vue
Due: frontend

Removes actions buttons on disabled #2807
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Layouter/Layout.vue
  panel/src/components/Layouter/Layouts.vue
  panel/src/components/Navigation/Tag.vue
Due: frontend

Removes layout toolbar on disabled #2807
  panel/src/components/Layouter/Layout.vue
  panel/src/components/Layouter/Layouts.vue
Due: frontend

Emit empty string when editor is empty #3115
  panel/src/components/Writer/Writer.vue
Due: frontend

Disables `onCodeChanges()` method on language update #3129
  panel/src/components/Dialogs/LanguageUpdateDialog.vue
Due: frontend

`isEmpty()` and `isNotEmpty()` methods for layout field
  src/Cms/Layout.php
  src/Cms/LayoutColumn.php
  tests/Cms/Layouts/LayoutColumnTest.php
  tests/Cms/Layouts/LayoutTest.php
Due: backend

F::niceSize(): Locale-aware formatting
  src/Toolkit/F.php
  tests/Toolkit/FTest.php
Due: backend

F::niceSize(): Use no-break space
  src/Toolkit/F.php
  tests/Toolkit/DirTest.php
  tests/Toolkit/FTest.php
  tests/Toolkit/FileTest.php
Due: backend

Switches from integer to return to array #2936
  src/Toolkit/Str.php
  tests/Toolkit/StrTest.php
Due: backend

Use PHP_EOL for CS-Fixer setup
  .php_cs
Due: none

Str::similarity(): Minor improvements
  src/Toolkit/Str.php
  tests/Toolkit/StrTest.php
Due: backend

Str::similarity(): Consistent $caseInsensitive arg
  src/Toolkit/Str.php
  tests/Toolkit/StrTest.php
Due: backend

Response::redirect(): Consistent arguments
  src/Cms/Response.php
  src/Http/Response.php
  tests/Cms/ResponseTest.php
  tests/Http/ResponseTest.php
Due: backend

Update languages
  i18n/translations/de.json
  i18n/translations/sv_SE.json
Due: none

Update dist files
  cacert.pem
  composer.json
  composer.lock
  panel/dist/css/app.css
  panel/dist/js/app.js
  vendor/composer/InstalledVersions.php
  vendor/composer/installed.php
Due: none

Fix certificate URL
  cacert.pem
  composer.json
Due: none

Switches to rounded badges
  .github/README.md
Due: none

Sanitize cache key
  src/Cache/FileCache.php
  tests/Cache/FileCacheTest.php
Due: backend

Use `basename()` to avoid relative path in cache key
  src/Cache/FileCache.php
  tests/Cache/FileCacheTest.php
Due: backend

Removes unused imports
  src/Cache/FileCache.php
Due: backend

Adds translation service to new issue list
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Updates links for translation service
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/config.yml
Due: none

Update composer
  composer.json
  composer.lock
  vendor/composer/InstalledVersions.php
  vendor/composer/installed.php
Due: none

Update languages
  i18n/translations/bg.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
Due: none

Checks the language for extensions translations #3149
  src/Cms/AppTranslations.php
Due: backend

Adds new language with translations for unit test #3149
  tests/Cms/App/AppTranslationsTest.php
Due: none

Updated translations and composer.lock
  composer.json
  composer.lock
  i18n/translations/fr.json
  i18n/translations/id.json
  vendor/composer/InstalledVersions.php
  vendor/composer/installed.php
Due: none

Reverts info texts for pages/files sections
  config/sections/files.php
  config/sections/pages.php
Due: backend

FileCache: Safe and unique cache paths #3157
  src/Cache/FileCache.php
  tests/Cache/FileCacheTest.php
Due: backend

FileCache: More tests for paths with slashes
  tests/Cache/FileCacheTest.php
Due: none

Fix regression in go() helper without args #3160
  config/helpers.php
Due: backend

Deprecated: improve docs and warnings
  config/api/routes/pages.php
  config/api/routes/site.php
  config/components.php
  panel/src/api/index.js
  src/Cms/AppTranslations.php
  src/Cms/Block.php
  src/Cms/PageActions.php
  src/Form/FieldClass.php
  src/Toolkit/I18n.php
Due: backend, frontend

Update src/Cms/Blueprint.php
  src/Cms/Blueprint.php
Due: backend

Update src/Form/Fields.php
  src/Form/Fields.php
Due: backend

Reverts removing `p` tags changes #3168
  panel/src/components/Forms/Input/ListInput.vue
Due: frontend

Check for valid iframe before writing to it
  panel/src/App.vue
Due: frontend

Better error handing if the iframe is missing
  panel/src/App.vue
Due: frontend

CI: Use PHP 7.4 again because of PHPMD
  .github/workflows/ci.yml
Due: none
