Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

`k-textarea-input`: remove orphaned theme prop
  panel/src/components/Forms/Input/TextareaInput.vue
Due: frontend

Revert some unnecessary changes
  panel/src/components/Forms/Input/TextareaInput.vue
Due: frontend

Clean up code
  panel/src/components/Sections/PagesSection.vue
Due: frontend

`k-highlight`: minify Prism.js
  panel/src/components/Text/Highlight.vue
Due: frontend

SystemSecurity.vue: prop defaults
  panel/src/components/Views/System/SystemSecurity.vue
Due: frontend

Replace more `structuredClone` with helper
  panel/src/helpers/field.js
  panel/src/store/modules/content.js
Due: frontend

Vite config: move `proxy` to shared space
  panel/vite.config.mjs
Due: none

Vite: make HTTPS default
  panel/.env.example
  panel/vite.config.mjs
Due: none

Vue: don't use loop index for `:key`
  panel/lab/basics/design/colors/index.vue
  panel/lab/basics/icons/2_files/index.vue
  panel/src/components/Collection/Item.vue
  panel/src/components/Collection/Items.vue
  panel/src/components/Dialogs/ErrorDialog.vue
  panel/src/components/Drawers/Drawer.vue
  panel/src/components/Forms/Input/CalendarInput.vue
  panel/src/components/Forms/Input/CheckboxesInput.vue
  panel/src/components/Forms/Input/ColoroptionsInput.vue
  panel/src/components/Forms/Input/RadioInput.vue
  panel/src/components/Forms/Input/TogglesInput.vue
  panel/src/components/Forms/Layouts/LayoutSelector.vue
  panel/src/components/Forms/Toolbar/TextareaToolbar.vue
  panel/src/components/Forms/Toolbar/Toolbar.vue
  panel/src/components/Forms/Writer/Toolbar.vue
  panel/src/components/Lab/Docs/Examples.vue
  panel/src/components/Layout/Table.vue
  panel/src/components/Navigation/ButtonGroup.vue
  panel/src/components/Navigation/Tree.vue
  panel/src/components/Sections/Sections.vue
  panel/src/helpers/index.js
  panel/src/helpers/uid.js
Due: frontend

Fix language permissions #6497
  panel/src/components/Views/Languages/LanguagesView.vue
  src/Cms/Language.php
  tests/Cms/Languages/LanguageTest.php
Due: backend, frontend

Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

Page tree: pagination
  config/areas/site/requests.php
  panel/lab/components/trees/index.vue
  panel/src/components/Navigation/PageTree.vue
  panel/src/components/Navigation/Tree.vue
Due: backend, frontend

Fix cs
  config/areas/site/requests.php
  panel/src/components/Navigation/Tree.vue
Due: backend, frontend

try/finally load plugins and panel js
  src/Panel/Assets.php
  views/panel.php
Due: backend

Upgrade and fix npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

Remove container query polyfill
  panel/package-lock.json
  panel/package.json
  panel/src/index.js
Due: frontend

Try fixing CI
  panel/package-lock.json
Due: none

Add reactive wrapper to panel.content
  panel/src/panel/content.js
Due: frontend

Move more legacy shortcuts to legacy.js
  panel/src/index.js
  panel/src/panel/legacy.js
Due: frontend

Fix linting
  panel/src/panel/legacy.js
Due: frontend

Panel theme: allow resetting to system default
  i18n/translations/en.json
  panel/src/components/View/Buttons/ThemeButton.vue
  panel/src/panel/theme.js
Due: frontend

`panel.plugins`: expose helper funcs to kirbyup
  panel/src/panel/plugins.js
Due: frontend

Fix typo
  src/Cms/AppPlugins.php
Due: backend

Fix `content.isLocked` for no-lock views
  panel/src/panel/content.js
Due: frontend

`Panel\Panel`: cache areas
  src/Panel/Panel.php
Due: backend

`View::data()` use `Language::toArray()`
  src/Cms/Language.php
  src/Panel/View.php
  tests/Panel/ViewTest.php
Due: backend

Remove deprecated `<k-autocomplete>`
  panel/src/components/Forms/Autocomplete.vue
  panel/src/components/Forms/index.js
Due: frontend

`<k-icon>`: remove support for smaller viewBox
  panel/src/components/Misc/Icons.vue
Due: frontend

`<k-breadcrumb>`: remove deprecated `view` prop
  panel/src/components/Navigation/Breadcrumb.vue
Due: frontend

Emitter: remove deprecated shortcuts
  panel/src/panel/events.js
Due: frontend

Remove deprecated `Array.wrap()`
  panel/src/helpers/array.js
  panel/src/helpers/array.wrap.test.js
  panel/src/panel/dialog.js
  panel/src/panel/dropdown.js
  panel/src/panel/modal.js
Due: frontend

Remove more deprecated array functions
  panel/src/components/Dialogs/ErrorDialog.vue
  panel/src/helpers/array.fromObject.test.js
  panel/src/helpers/array.js
  panel/src/helpers/array.split.test.js
Due: frontend

`<k-button>`: remove deprecated `tooltip` prop
  panel/src/components/Navigation/Button.vue
Due: frontend

`<k-grid>`: remove deprecated `gutter` prop
  panel/src/components/Layout/Grid.vue
Due: frontend

Make `Api\Upload` readonly
  src/Api/Upload.php
Due: backend

Sort methods in `AreaTestCase `
  tests/Panel/Areas/AreaTestCase.php
  tests/Panel/PanelTest.php
Due: none

Blocks preview `snippet`
  panel/src/components/Forms/Blocks/Types/Snippet.vue
  panel/src/components/Forms/Blocks/index.js
  src/Form/Field/BlocksField.php
Due: backend, frontend

BlockTypeSnippet: move loader to block icon
  panel/src/components/Forms/Blocks/Types/Snippet.vue
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
