Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

AppErrors: safer $isLogged check
  src/Cms/AppErrors.php
Due: backend

Model actions: apply hooks
  src/Cms/FileActions.php
  src/Cms/PageActions.php
  src/Cms/SiteActions.php
  src/Cms/UserActions.php
  tests/Cms/Files/FileActionsTest.php
  tests/Cms/Pages/PageActionsTest.php
  tests/Cms/Site/SiteActionsTest.php
  tests/Cms/Users/UserActionsTest.php
Due: backend

Check rules before and after applying hook
  src/Cms/FileActions.php
  src/Cms/PageActions.php
  src/Cms/SiteActions.php
  src/Cms/UserActions.php
Due: backend

Add more inline comments
  src/Cms/FileActions.php
  src/Cms/PageActions.php
  src/Cms/SiteActions.php
  src/Cms/UserActions.php
Due: backend

Consider user language for filename sanittization
  src/Filesystem/Filename.php
  tests/Filesystem/FilenameTest.php
Due: backend

Consistent code style
  src/Cms/LanguageRoutes.php
  tests/Cms/Languages/LanguageRoutesTest.php
Due: backend

Revert "Merge FilePreview and FileDefaultPreview classes"
  src/Panel/Ui/FilePreview.php
  src/Panel/Ui/FilePreviews/FileDefaultPreview.php
  tests/Panel/Ui/FilePreviewTest.php
  tests/Panel/Ui/FilePreviews/FileDefaultPreviewTest.php
Due: backend

Simplify code to get the version id
  src/Cms/ModelWithContent.php
Due: backend

Improve inline documentation
  src/Panel/Model.php
Due: backend

Fix indentation
  src/Panel/Model.php
Due: backend

Remove unnecessary render method
  src/Content/VersionId.php
Due: backend

Change file preview class names
  src/Panel/Ui/FilePreview.php
  src/Panel/Ui/FilePreviews/DefaultFilePreview.php
  tests/Panel/Ui/FilePreviewTest.php
  tests/Panel/Ui/FilePreviews/DefaultFilePreviewTest.php
Due: backend

`FileDefaultPreview` class
  src/Panel/Ui/FilePreviews/FileDefaultPreview.php
  tests/Panel/Ui/FilePreviews/FileDefaultPreviewTest.php
Due: backend

Fix merge conflicts
  src/Panel/Ui/FilePreviews/FileDefaultPreview.php
  src/Panel/Ui/FilePreviews/FileImagePreview.php
  tests/Panel/Ui/FilePreviewTest.php
  tests/Panel/Ui/FilePreviews/FileDefaultPreviewTest.php
Due: backend

`FileImagePreview` class
  src/Cms/Core.php
  src/Panel/File.php
  src/Panel/Ui/FilePreviews/FileImagePreview.php
  tests/Cms/App/AppPluginsTest.php
  tests/Cms/CoreTest.php
  tests/Panel/Ui/FilePreviews/FileImagePreviewTest.php
Due: backend

Fixes after merge conflicts
  src/Cms/Core.php
  src/Panel/Ui/FilePreviews/ImageFilePreview.php
  tests/Panel/Ui/FilePreviewTest.php
  tests/Panel/Ui/FilePreviews/ImageFilePreviewTest.php
Due: backend

Fix `FilePreview::props()`
  src/Panel/Ui/FilePreview.php
  tests/Panel/Ui/FilePreviewTest.php
Due: backend

Add unit test for ImageFilePreview factory
  tests/Panel/Ui/FilePreviews/ImageFilePreviewTest.php
Due: none

Fix file preview unit tests
  tests/Panel/Ui/FilePreviewTest.php
Due: none

Preflight for 4.4.0-rc.1
  cacert.pem
  composer.json
  composer.lock
  panel/dist/css/style.min.css
  panel/dist/img/icons.svg
  panel/dist/js/index.min.js
  panel/dist/js/vendor.min.js
  panel/dist/ui/BlockBackgroundDropdown.json
  panel/dist/ui/BlockFigure.json
  panel/dist/ui/BlockFigureCaption.json
  panel/dist/ui/BlockTypeFields.json
  panel/dist/ui/DialogSearch.json
  panel/dist/ui/FileBrowser.json
  panel/dist/ui/PageTree.json
  panel/dist/ui/SearchBar.json
  panel/dist/ui/SearchDialog.json
  panel/dist/ui/UploadItem.json
  panel/dist/ui/UploadItemPreview.json
  vendor/composer/installed.php
Due: none

Update translations
  i18n/translations/fr.json
  i18n/translations/nl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/tr.json
Due: none

Update composer dependencies
  composer.json
  composer.lock
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/composer/semver/phpstan-baseline.neon
  vendor/composer/semver/src/VersionParser.php
  vendor/symfony/polyfill-intl-idn/Idn.php
  vendor/symfony/polyfill-mbstring/Mbstring.php
  vendor/symfony/polyfill-mbstring/bootstrap.php
  vendor/symfony/polyfill-mbstring/bootstrap80.php
Due: none

Update js dependencies
  panel/dist/js/container-query-polyfill.modern.min.js
  panel/dist/js/vendor.min.js
  panel/package-lock.json
  panel/package.json
Due: none

Upgrad npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

Fix view buttons naming
  panel/dist/js/index.min.js
  panel/dist/js/plugins.js
  panel/public/js/plugins.js
  panel/src/components/View/Buttons/LanguagesButton.vue
  panel/src/components/View/Buttons/SettingsButton.vue
  panel/src/components/View/Buttons/StatusButton.vue
  panel/src/components/View/Buttons/ThemeButton.vue
  panel/src/components/View/Buttons/index.js
  src/Panel/Ui/Buttons/LanguagesButton.php
  src/Panel/Ui/Buttons/PageStatusButton.php
  src/Panel/Ui/Buttons/PreviewButton.php
  src/Panel/Ui/Buttons/SettingsButton.php
  src/Panel/Ui/Buttons/ViewButton.php
  tests/Panel/Ui/Buttons/LanguagesButtonTest.php
  tests/Panel/Ui/Buttons/PageStatusButtonTest.php
  tests/Panel/Ui/Buttons/PreviewButtonTest.php
  tests/Panel/Ui/Buttons/SettingsButtonTest.php
Due: backend, frontend

Fix panel unit tests after class name changes
  tests/Panel/FileTest.php
  tests/Panel/PageTest.php
  tests/Panel/SiteTest.php
  tests/Panel/Ui/Buttons/ViewButtonTest.php
  tests/Panel/Ui/Buttons/ViewButtonsTest.php
  tests/Panel/UserTest.php
Due: none

More fixes
  config/areas/account/buttons.php
  tests/Panel/Ui/Buttons/ViewButtonTest.php
Due: backend

Connect file preview UI classes to frontend
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FileView.vue
  src/Panel/File.php
  tests/Panel/FileTest.php
Due: backend, frontend

Try fixing npm error
  panel/package-lock.json
Due: none

Refactor Vue components for file preview
  panel/src/components/Views/Files/DefaultFilePreview.vue
  panel/src/components/Views/Files/FileFocusButton.vue
  panel/src/components/Views/Files/FilePreview.vue
  panel/src/components/Views/Files/FilePreviewDetails.vue
  panel/src/components/Views/Files/FilePreviewThumb.vue
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Files/ImageFilePreview.vue
  panel/src/components/Views/Files/index.js
Due: frontend

Add lab examples
  panel/lab/components/filepreview/index.php
  panel/lab/components/filepreviews/1_default/index.php
  panel/lab/components/filepreviews/1_default/index.vue
  panel/lab/components/filepreviews/2_image/index.php
  panel/lab/components/filepreviews/2_image/index.vue
  panel/lab/components/filepreviews/3_preview-thumb/index.php
  panel/lab/components/filepreviews/3_preview-thumb/index.vue
  panel/lab/components/filepreviews/4_preview-details/index.php
  panel/lab/components/filepreviews/4_preview-details/index.vue
  panel/src/components/Views/Files/FilePreview.vue
Due: frontend

`App::slug()` that obeys `maxlength` option
  config/areas/site/dialogs.php
  src/Cms/App.php
  src/Cms/PageActions.php
  src/Toolkit/Str.php
  tests/Cms/App/AppTest.php
  tests/Toolkit/StrTest.php
Due: backend

Some cs improvements
  config/sections/files.php
  src/Cms/LanguageRoutes.php
  src/Cms/Page.php
  src/Cms/PageActions.php
  src/Cms/UserRules.php
  src/Filesystem/F.php
  src/Toolkit/Dom.php
  src/Toolkit/V.php
  src/Toolkit/Xml.php
Due: backend

`panel.upload`: emit `open` event
  panel/src/panel/upload.js
Due: frontend

Rename to `Url::slug()`
  config/areas/site/dialogs.php
  src/Cms/App.php
  src/Cms/PageActions.php
  src/Cms/Url.php
  tests/Cms/App/AppTest.php
  tests/Cms/Facades/UrlTest.php
Due: backend

Unit test for invalid`Data` handler
  src/Data/Data.php
  tests/Data/DataTest.php
  tests/Data/mocks.php
Due: backend

Fix alpha input
  panel/src/components/Forms/Input/AlphaInput.vue
Due: frontend

Better color frame pattern for darkmode
  panel/src/components/Layout/Frame/ColorFrame.vue
Due: frontend

Better darkmode pattern
  panel/src/components/Views/Files/FilePreviewThumb.vue
  panel/src/styles/config/pattern.css
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
