Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

New vertical alignment of the dropdown menu: `dropup` #3080
  panel/src/components/Navigation/DropdownContent.vue
Due: frontend

Str::template(): Keep $fallback argument name
  src/Toolkit/Str.php
Due: backend

Update deprecation strategy
  src/Toolkit/Str.php
Due: backend

Str::template() callback: Pass original $query
  src/Toolkit/Str.php
Due: backend

Checks file exists on `Dir::make()` #3442
  src/Toolkit/Dir.php
  tests/Toolkit/DirTest.php
Due: backend

Fix remaining issues
  src/Toolkit/Dir.php
  tests/Toolkit/DirTest.php
Due: backend

Fix typo
  tests/Toolkit/DirTest.php
Due: none

Allow extending SVG namespaces in Sane
  src/Sane/Svg.php
Due: backend

Update composer dependencies
  composer.json
  composer.lock
  vendor/composer/InstalledVersions.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-ar.php
  vendor/phpmailer/phpmailer/src/PHPMailer.php
  vendor/phpmailer/phpmailer/src/POP3.php
  vendor/phpmailer/phpmailer/src/SMTP.php
Due: none

Update Panel README
  panel/README.md
Due: none

Use `Html::encode()` for `$field->html()`
  config/methods.php
Due: backend

Update version number
  composer.json
Due: none

Update deps and build dist files
  panel/dist/css/app.css
  panel/dist/js/app.js
  panel/dist/js/vendor.js
  panel/package-lock.json
Due: none

Update translations
  i18n/translations/cs.json
  i18n/translations/pl.json
Due: none

Update composer
  composer.lock
  vendor/composer/InstalledVersions.php
  vendor/composer/installed.php
Due: none

Cardlets and `k-items`
  config/sections/mixins/layout.php
  panel/src/components/Dialogs/FilesDialog.vue
  panel/src/components/Dialogs/PagesDialog.vue
  panel/src/components/Dialogs/UsersDialog.vue
  panel/src/components/Forms/Field/FilesField.vue
  panel/src/components/Forms/Field/PagesField.vue
  panel/src/components/Forms/Field/UsersField.vue
  panel/src/components/Forms/Previews/FilesFieldPreview.vue
  panel/src/components/Layout/AspectRatio.vue
  panel/src/components/Layout/Card.vue
  panel/src/components/Layout/Cards.vue
  panel/src/components/Layout/Collection.vue
  panel/src/components/Layout/Item.vue
  panel/src/components/Layout/ItemImage.vue
  panel/src/components/Layout/Items.vue
  panel/src/components/Layout/List.vue
  panel/src/components/Layout/ListItem.vue
  panel/src/components/Misc/Icon.vue
  panel/src/components/Navigation/Search.vue
  panel/src/components/Sections/PagesSection.vue
  panel/src/config/components.js
  panel/src/config/search.js
  panel/src/helpers/previewThumb.js
  panel/src/helpers/previewThumb.spec.js
  panel/src/mixins/forms/picker.js
  panel/src/mixins/picker/dialog.js
Due: backend, frontend

Fix panel image size for cardlets
  src/Panel/Model.php
Due: backend

Fix forntend tests
  panel/src/components/Views/PageView.spec.js
  panel/src/components/Views/UsersView.spec.js
Due: frontend

Fix item dropdown actions
  panel/src/components/Layout/Collection.vue
  panel/src/components/Layout/Item.vue
  panel/src/components/Navigation/OptionsDropdown.vue
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/PagesSection.vue
Due: frontend

Fix user item options
  panel/src/components/Views/UsersView.vue
Due: frontend

Fix CS issues
  src/Panel/Model.php
Due: backend

Fix invalid status action
  panel/src/components/Sections/PagesSection.vue
Due: frontend

Add unit tests for cardlet images
  src/Panel/Model.php
  tests/Panel/ModelTest.php
Due: backend

Fix default icon color
  src/Panel/Model.php
  tests/Panel/PageTest.php
  tests/Panel/SiteTest.php
  tests/Panel/UserTest.php
Due: backend

Fix unit tests after changed default color
  tests/Cms/Api/models/UserApiModelTest.php
  tests/Form/Fields/PagesFieldTest.php
Due: none

New `navigation` option for prev/next pages in Panel (#2779)
  config/api/models/Page.php
  src/Panel/File.php
  src/Panel/Model.php
  src/Panel/Page.php
  src/Panel/User.php
  tests/Panel/FileTest.php
  tests/Panel/ModelTest.php
  tests/Panel/PageTest.php
  tests/Panel/UserTest.php
Due: backend

Fix `Collection::filter()` #3170
  src/Toolkit/Collection.php
Due: backend

Set Panel image via blueprint
  src/Panel/Model.php
Due: backend

Improve color JS helper
  panel/src/helpers/color.js
Due: frontend

`Model::image()` support queries for all options
  src/Panel/Model.php
Due: backend

Fix color JS helper
  panel/src/helpers/color.js
  panel/src/variables.css
Due: frontend

More unit tests for Panel image
  src/Panel/Model.php
  tests/Panel/ModelTest.php
Due: backend

Clean up `Model:imageDefaults()`
  src/Panel/File.php
  src/Panel/Model.php
  src/Panel/Page.php
  src/Panel/User.php
  tests/Cms/Api/models/UserApiModelTest.php
  tests/Form/Fields/PagesFieldTest.php
  tests/Panel/FileTest.php
  tests/Panel/ModelTest.php
  tests/Panel/PageTest.php
  tests/Panel/SiteTest.php
  tests/Panel/UserTest.php
Due: backend

Fix default icon color
  src/Panel/Model.php
  tests/Cms/Api/models/UserApiModelTest.php
  tests/Form/Fields/PagesFieldTest.php
  tests/Panel/PageTest.php
  tests/Panel/SiteTest.php
  tests/Panel/UserTest.php
Due: backend

Support alternative thumb file formats
  config/components.php
  src/Cms/FileModifications.php
  src/Cms/FileVersion.php
  src/Filesystem/Filename.php
  src/Image/Darkroom.php
  src/Image/Darkroom/GdLib.php
  src/Image/Darkroom/ImageMagick.php
  src/Toolkit/Mime.php
  tests/Cms/Files/FileModificationsTest.php
  tests/Image/DarkroomTest.php
Due: backend

Add darkroom driver specific unit test
  src/Image/Darkroom/ImageMagick.php
  tests/Cms/Files/FileModificationsTest.php
  tests/Image/Darkroom/GdLibTest.php
  tests/Image/Darkroom/ImageMagickTest.php
  tests/Image/DarkroomTest.php
Due: backend

Throw exception for non-Closure Panel area
  src/Panel/Panel.php
  tests/Panel/PanelTest.php
Due: backend

Fix unit tests
  src/Cms/R.php
  src/Cms/S.php
  src/Cms/Visitor.php
  tests/Filesystem/FileTest.php
  tests/Filesystem/FilenameTest.php
  tests/Filesystem/fixtures/files/awesome.js
  tests/Image/ImageTest.php
Due: backend

Fix unit tests
  tests/Filesystem/FileTest.php
  tests/Form/OptionsApiTest.php
  tests/Session/FileSessionStoreTest.php
Due: none
