Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

test: FIx file picker field test
  tests/Form/Field/FilePickerFieldTest.php
Due: none

fix: Reset cached translations when extending translations
  src/Cms/AppPlugins.php
  tests/Cms/App/AppPluginsTest.php
Due: backend

fix: Reset impersonation after each hook
  src/Cms/Events.php
  tests/Cms/Events/EventsTest.php
  tests/Content/VersionTest.php
Due: backend

fix: Follow chained model updates in hooks without return value
  src/Cms/Event.php
  tests/Cms/Events/EventTest.php
Due: backend

fix: Transform all frames of animated GIFs in Imagick driver
  src/Image/Darkroom/Imagick.php
  tests/Image/Darkroom/ImagickTest.php
Due: backend

fix: Detect GIFs by format instead of mime type in Imagick driver
  src/Image/Darkroom/Imagick.php
  tests/Image/Darkroom/ImagickTest.php
  tests/Image/fixtures/image/animated-optimized.gif
Due: backend

feat: Optimize animated GIF layers in Imagick driver
  src/Image/Darkroom/Imagick.php
  tests/Image/Darkroom/ImagickTest.php
Due: backend

fix: Keep only the first frame for formats without animation
  src/Image/Darkroom.php
  src/Image/Darkroom/ImageMagick.php
  src/Image/Darkroom/Imagick.php
  tests/Image/Darkroom/ImageMagickTest.php
  tests/Image/Darkroom/ImagickTest.php
  tests/Image/DarkroomTest.php
Due: backend

fix: Coalesce GIFs converted to other formats in ImageMagick driver
  src/Image/Darkroom/ImageMagick.php
  tests/Image/Darkroom/ImageMagickTest.php
Due: backend

feat: Custom icon and theme for page status
  panel/src/components/Sections/PagesSection.vue
  panel/src/helpers/page.test.ts
  panel/src/helpers/page.ts
  src/Cms/PageBlueprint.php
  src/Panel/Ui/Buttons/PageStatusButton.php
  src/Panel/Ui/Item/PageItem.php
  tests/Cms/Api/models/PageBlueprintApiModelTest.php
  tests/Cms/Blueprints/PageBlueprintTest.php
  tests/Form/Field/PagesFieldTest.php
  tests/Panel/Ui/Buttons/PageStatusButtonTest.php
  tests/Panel/Ui/Item/PageItemTest.php
Due: backend, frontend

feat: Use custom icon/theme in page status dialog
  config/areas/site/dialogs.php
  panel/src/components/Forms/Input/ChoiceInput.vue
  panel/src/components/Forms/Input/RadioInput.vue
  tests/Panel/Areas/PageDialogsTest.php
Due: backend, frontend

feat: Keep default status description when label is not customized
  src/Cms/PageBlueprint.php
  tests/Cms/Blueprints/PageBlueprintTest.php
  tests/Panel/Ui/Buttons/PageStatusButtonTest.php
Due: backend

fix: Only reset impersonation after model hooks
  src/Cms/Events.php
  src/Cms/ModelCommit.php
  tests/Cms/Events/EventsTest.php
  tests/Cms/Model/ModelCommitTest.php
Due: backend

test: Remove publish test for hook impersonation
  tests/Content/VersionTest.php
Due: none

fix: Prevent `//` in relative root URLs with params
  src/Http/Uri.php
  tests/Http/UriTest.php
Due: backend

fix: Keep query and params in canonical redirects #7603
  config/routes.php
  src/Cms/App.php
  src/Cms/LanguageRouter.php
  src/Cms/LanguageRoutes.php
  tests/Cms/App/AppResolveTest.php
  tests/Cms/Languages/LanguageRouterTest.php
  tests/Cms/Languages/LanguageRoutesTest.php
  tests/Cms/Routes/RouterTest.php
Due: backend

feat: `inherit` argument for redirects
  config/helpers.php
  src/Cms/Page.php
  src/Cms/Responder.php
  src/Cms/Response.php
  src/Http/Response.php
  tests/Cms/ResponderTest.php
  tests/Cms/ResponseTest.php
  tests/Http/ResponseTest.php
Due: backend

fix: Do not HTML-escape create dialog title and slug templates
  src/Panel/PageCreateDialog.php
  tests/Panel/PageCreateDialogTest.php
Due: backend

test: Align component tests with the shared structure
  panel/src/components/Collection/Empty.test.ts
  panel/src/components/Collection/Item.test.ts
  panel/src/components/Collection/ItemImage.test.ts
  panel/src/components/Errors/ValidationIssues.test.ts
  panel/src/components/Forms/Field/ModelListField.test.ts
  panel/src/components/Forms/Field/ModelPickerField.test.ts
  panel/src/components/Forms/Input/DateInput.test.ts
  panel/src/components/Forms/Input/PicklistInput.test.ts
  panel/src/components/Forms/Input/TimeInput.test.ts
  panel/src/components/Forms/Input/TimeoptionsInput.test.ts
  panel/src/components/Forms/ModelForm.test.ts
  panel/src/components/Forms/Previews/PagesFieldPreview.test.ts
  panel/src/components/Layout/Box.test.ts
  panel/src/components/Layout/Dropzone.test.ts
  panel/src/components/Layout/Frame/ImageFrame.test.ts
  panel/src/components/Layout/Stats.test.ts
  panel/src/components/Misc/Collapsible.test.ts
  panel/src/components/Misc/Fatal.test.ts
  panel/src/components/Misc/Icon.test.ts
  panel/src/components/Misc/Icons.test.ts
  panel/src/components/Misc/Progress.test.ts
  panel/src/components/Misc/SortHandle.test.ts
  panel/src/components/Navigation/Button.test.ts
  panel/src/components/Navigation/ModelTabs.test.ts
  panel/src/components/Navigation/PrevNext.test.ts
  panel/src/components/Text/Headline.test.ts
  panel/src/components/Text/Label.test.ts
  panel/src/components/Text/Text.test.ts
  panel/src/components/View/Buttons/LanguagesDropdown.test.js
  panel/src/components/View/Buttons/LanguagesDropdown.test.ts
  panel/src/components/Views/Preview/PreviewForm.test.ts
Due: frontend

fix: Cast image ratio parts to float before dividing
  src/Panel/Model.php
Due: backend

refact!: Remove legacy Query classes
  psalm-baseline.xml
  src/Query/Argument.php
  src/Query/Arguments.php
  src/Query/Expression.php
  src/Query/Query.php
  src/Query/Segment.php
  src/Query/Segments.php
  tests/Query/ArgumentTest.php
  tests/Query/ArgumentsTest.php
  tests/Query/ExpressionTest.php
  tests/Query/QueryLegacyDefaultFunctionsTest.php
  tests/Query/QueryLegacyTest.php
  tests/Query/QueryTest.php
  tests/Query/SegmentTest.php
  tests/Query/SegmentsTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

fix: Keep structure field unpaginated by default
  src/Form/Field/StructureField.php
  tests/Form/Field/StructureFieldTest.php
Due: backend

refact: Rename to `ItemLayout` mixin
  src/Form/Field/ModelListField.php
  src/Form/Field/ModelPickerField.php
  src/Form/Field/TagsField.php
  src/Form/Mixin/ItemLayout.php
  src/Form/Mixin/Layout.php
Due: backend

refact: Drop null from stats field reports type
  src/Form/Field/ModelListField.php
  src/Form/Field/StatsField.php
Due: backend

docs: Improve field prop descriptions
  src/Form/Field/LinkField.php
  src/Form/Field/SelectField.php
  src/Form/Field/TagsField.php
Due: backend

refact: New `ItemSize` mixin
  src/Form/Field/ModelListField.php
  src/Form/Field/ModelPickerField.php
  src/Form/Mixin/ItemSize.php
Due: backend

fix: Disable license activation for users without system access
  panel/src/components/View/Activation.vue
  panel/src/components/View/Menu.vue
Due: frontend

feat: `$field->toEnum(MyEnum::class)`
  config/methods.php
  tests/Content/FieldMethodsTest.php
Due: backend

refact: Pass an array to `http_build_query()`
  src/Http/Query.php
Due: backend

fix: Don't resolve the current user when checking a password
  src/Cms/User.php
  src/Guards/UserValidators.php
  tests/Auth/UserTest.php
Due: backend

fix!: Set the `secure` cookie flag by default on HTTPS
  src/Http/Cookie.php
Due: backend

refact!: Sign cookies with SHA-256
  src/Http/Cookie.php
  tests/Http/CookieTest.php
Due: backend

build: Preflight for 5.6.1
  cacert.pem
  composer.json
  composer.lock
  i18n/translations/de.json
  i18n/translations/fr.json
  i18n/translations/tr.json
  panel/dist/js/index.min.js
  vendor/composer/installed.php
Due: none

chore: Update PHP dependencies
  composer.json
  composer.lock
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/composer/semver/composer.json
  vendor/composer/semver/src/CompilingMatcher.php
  vendor/composer/semver/src/Intervals.php
  vendor/composer/semver/src/VersionParser.php
  vendor/filp/whoops/composer.json
  vendor/filp/whoops/src/Whoops/Resources/views/frame_code.html.php
  vendor/filp/whoops/src/Whoops/Resources/views/header.html.php
  vendor/filp/whoops/src/Whoops/Run.php
  vendor/filp/whoops/src/Whoops/Util/SystemFacade.php
  vendor/filp/whoops/src/Whoops/Util/TemplateHelper.php
  vendor/symfony/polyfill-intl-idn/Idn.php
  vendor/symfony/polyfill-intl-idn/Resources/unidata/DisallowedRanges.php
  vendor/symfony/polyfill-intl-idn/Resources/unidata/Regex.php
  vendor/symfony/polyfill-intl-idn/Resources/unidata/disallowed.php
  vendor/symfony/polyfill-intl-idn/Resources/unidata/disallowed_STD3_valid.php
  vendor/symfony/polyfill-intl-idn/Resources/unidata/ignored.php
  vendor/symfony/polyfill-intl-idn/Resources/unidata/mapped.php
  vendor/symfony/polyfill-intl-idn/Resources/unidata/virama.php
  vendor/symfony/polyfill-intl-normalizer/Normalizer.php
  vendor/symfony/polyfill-mbstring/Mbstring.php
  vendor/symfony/yaml/Inline.php
  vendor/symfony/yaml/Parser.php
Due: none

chore: Update JS dependencies
  panel/dist/js/index.min.js
  panel/dist/js/vendor.min.js
  panel/package-lock.json
  panel/package.json
Due: none

refact!: Remove legacy Query classes (#8554)
  psalm-baseline.xml
  src/Query/Argument.php
  src/Query/Arguments.php
  src/Query/Expression.php
  src/Query/Query.php
  src/Query/Segment.php
  src/Query/Segments.php
  tests/Query/ArgumentTest.php
  tests/Query/ArgumentsTest.php
  tests/Query/ExpressionTest.php
  tests/Query/QueryLegacyDefaultFunctionsTest.php
  tests/Query/QueryLegacyTest.php
  tests/Query/QueryTest.php
  tests/Query/SegmentTest.php
  tests/Query/SegmentsTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

fix: Select colors in dark mode
  panel/src/styles/reset.css
Due: frontend

fix: Only resolve view button queries for content models #8569
  src/Panel/Ui/Buttons/ViewButton.php
  tests/Panel/Ui/Buttons/ViewButtonTest.php
Due: backend
