Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

fix: Remove duplicate comment line
  src/Session/FileSessionStore.php
Due: backend

feat: New `cookie.key` option
  src/Http/Cookie.php
  tests/Http/CookieTest.php
Due: backend

test: Clean up changes to cookies from tests
  tests/Http/CookieTest.php
Due: none

refact: Use more modern first class callables (#8170)
  config/components.php
  config/fields/mixins/picker.php
  src/Cms/Responder.php
  src/Filesystem/Dir.php
  src/Http/Router.php
  src/Http/VolatileHeaders.php
  src/Plugin/Plugin.php
  src/Text/KirbyTag.php
  tests/Toolkit/ATest.php
Due: backend

fix: Reject both `null` and nullables
  src/Http/Cookie.php
Due: backend

feat: `HtmlString` classes (#8175)
  panel/src/panel/html.test.ts
  panel/src/panel/html.ts
  panel/src/panel/legacy.js
  panel/src/panel/panel.js
  src/Toolkit/HtmlString.php
  tests/Toolkit/HtmlStringTest.php
Due: backend, frontend

fix: Handle race conditions in `Dir::remove()`
  src/Cache/FileCache.php
  src/Filesystem/Dir.php
Due: backend

fix: Improve inline comments and clean up code
  src/Filesystem/Dir.php
Due: backend

fix: Remove ineffective test and clarify code
  tests/Filesystem/DirTest.php
Due: none

refact: Handle Dir::remove with atomic rename
  src/Cache/FileCache.php
  src/Filesystem/Dir.php
  tests/Filesystem/DirTest.php
Due: backend

test: More unit tests
  tests/Filesystem/DirTest.php
Due: none

fix: Pass nodes prop from blueprint to quote block writer inputs (#8191)
  panel/src/components/Forms/Blocks/Types/Quote.vue
Due: frontend

fix: Guard against undefined ref in PageTree::preselect
  panel/src/components/Navigation/PageTree.vue
Due: frontend

feat: `v-safe-html`
  panel/src/config/safeHtml.test.ts
  panel/src/config/safeHtml.ts
  panel/src/index.ts
  panel/src/panel/state.test.ts
  panel/src/panel/state.ts
  src/Panel/State.php
Due: backend, frontend

fix: Emitting drop event with multiple args
  panel/src/components/Forms/Writer/Editor.ts
Due: frontend

fix: Review improvements for `F::update()`
  src/Filesystem/F.php
Due: backend

refact: Use Inventory class for deprecated method
  src/Filesystem/Dir.php
Due: backend

refact: New `Cms\Inventory` class
  src/Cms/HasChildren.php
  src/Cms/Inventory.php
  src/Cms/Page.php
  src/Cms/Site.php
  src/Cms/User.php
  src/Filesystem/Dir.php
  tests/Cms/InventoryTest.php
Due: backend

fix: Keep using `Dir::$numSeparator` for now
  src/Cms/Inventory.php
  src/Filesystem/Dir.php
Due: backend

test: Psalm ignore undefined magic rules
  psalm.xml.dist
Due: none

test: Psalm ignore Internal* rules
  psalm.xml.dist
Due: none

test: Psalm allow ImageMagick exec() call
  psalm.xml.dist
Due: none

fix: Use proper generic for `Item::$siblings`
  psalm-baseline.xml
  src/Cms/Item.php
Due: backend

fix: Use proper generic for `Item::$siblings`
  src/Cms/Item.php
Due: backend

refact: Remove redundant `array_values()` calls
  psalm.xml.dist
  src/Cms/Page.php
  src/Panel/Ui/Button/ViewButtons.php
Due: backend

depr: Deprecate `KirbyTag::$options`/`::option()`
  src/Cms/App.php
  src/Text/KirbyTag.php
  src/Text/KirbyTags.php
  tests/Text/KirbyTagTest.php
  tests/Text/KirbyTagsTest.php
Due: backend

fix: Type for `plugins.created` extension arg
  panel/src/panel/plugins.ts
Due: frontend

fix: events on/off callback argument typing
  panel/src/panel/dialog.ts
  panel/src/panel/drawer.ts
  panel/src/panel/events.ts
Due: frontend

[v5] fix: Use proper generic for `Item::$siblings` (#8195)
  src/Cms/Item.php
Due: backend

[v6] fix: Use proper generic for `Item::$siblings` (#8194)
  psalm-baseline.xml
  src/Cms/Item.php
Due: backend

depr: Deprecate `KirbyTag::$options`/`::option()` (#8196)
  src/Cms/App.php
  src/Text/KirbyTag.php
  src/Text/KirbyTags.php
  tests/Text/KirbyTagTest.php
  tests/Text/KirbyTagsTest.php
Due: backend

build: Update PHP dependencies and version number
  composer.json
  composer.lock
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/symfony/polyfill-mbstring/Mbstring.php
  vendor/symfony/polyfill-mbstring/bootstrap72.php
  vendor/symfony/polyfill-mbstring/bootstrap80.php
Due: none

build: Update JS dependencies
  panel/dist/js/index.min.js
  panel/dist/js/vendor.min.js
  panel/package-lock.json
  panel/package.json
Due: none

build: Update composer dependencies
  composer.json
  composer.lock
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/symfony/polyfill-mbstring/Mbstring.php
  vendor/symfony/polyfill-mbstring/bootstrap72.php
  vendor/symfony/polyfill-mbstring/bootstrap80.php
Due: none

i18n: Update translations
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/sr@latin.json
Due: none
