Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Move index root override out of the core
  src/Cms/Core.php
  tests/Cms/Ingredients/RootsTest.php
  tests/PhpUnitExtension.php
Due: backend

Only get SAPI name once
  src/Http/Environment.php
Due: backend

Rephrase comments
  tests/Filesystem/FileTest.php
Due: none

Always restore original cookie key
  tests/Http/CookieTest.php
Due: none

Consistent variable name
  tests/PhpUnitExtension.php
Due: none

Properly backup the index root
  tests/Cms/Ingredients/RootsTest.php
Due: none

Replace testing domain
  tests/Option/OptionsApiTest.php
Due: none

Fix JS unit test
  panel/package-lock.json
  panel/package.json
  panel/src/panel/notification.test.js
Due: frontend

Use more PHP arrow functions
  src/Cms/ModelWithContent.php
  src/Cms/PageActions.php
  src/Cms/Pages.php
  src/Cms/SiteActions.php
  src/Toolkit/A.php
  src/Toolkit/Collection.php
  tests/Cms/App/AppErrorsTest.php
  tests/Cms/App/fixtures/fields/DummyField.php
  tests/Cms/Blocks/BlockMethodsTest.php
  tests/Cms/Collections/fixtures/collections/nested/test.php
  tests/Cms/Collections/fixtures/collections/test.php
  tests/Cms/Files/FileMethodsTest.php
  tests/Cms/Files/FileModificationsTest.php
  tests/Cms/Files/FileTest.php
  tests/Cms/Helpers/HelperFunctionsTest.php
  tests/Cms/Ingredients/IngredientsTest.php
  tests/Cms/Loader/LoaderTest.php
  tests/Toolkit/ATest.php
  tests/Toolkit/ComponentTest.php
  tests/Toolkit/SymmetricCryptoTest.php
  tests/Toolkit/fixtures/controller/controller.php
Due: backend

Add lab examples and hide counter rules span if not necessary
  panel/lab/components/counter/index.vue
  panel/src/components/Forms/Counter.vue
Due: frontend

Fix compatibility in URL class
  src/Http/Url.php
Due: backend

Update de.json: Voralge -> Vorlage
  i18n/translations/de.json
Due: none

DRY tests with `Kirby\TestCase`
  tests/Cms/Api/ApiCollectionTestCase.php
  tests/Cms/Api/ApiModelTestCase.php
  tests/Cms/TestCase.php
  tests/Form/Fields/TestCase.php
  tests/TestCase.php
  tests/Uuid/TestCase.php
Due: none

Use `assertIsPage` a few more times
  tests/Api/ApiTest.php
  tests/Api/CollectionTest.php
  tests/Api/ModelTest.php
  tests/Cms/Pages/PageActionsTest.php
Due: none

Update tests/TestCase.php
  tests/TestCase.php
Due: none

Consistent Kirby assert test methods for PHPUnit
  tests/Cms/Api/ApiTest.php
  tests/Cms/App/AppPluginsTest.php
  tests/Cms/App/AppResolveTest.php
  tests/Cms/App/AppTest.php
  tests/Cms/App/AppUsersTest.php
  tests/Cms/Auth/AuthProtectionTest.php
  tests/Cms/Blocks/BlockTest.php
  tests/Cms/Collections/CollectionTest.php
  tests/Cms/Files/FileActionsTest.php
  tests/Cms/Files/FileTest.php
  tests/Cms/FindTest.php
  tests/Cms/Helpers/HelperFunctionsTest.php
  tests/Cms/Items/ItemTest.php
  tests/Cms/Media/MediaTest.php
  tests/Cms/Models/ModelTest.php
  tests/Cms/Pages/PageActionsTest.php
  tests/Cms/Pages/PageBlueprintTest.php
  tests/Cms/Pages/PageCreateTest.php
  tests/Cms/Pages/PageModelTest.php
  tests/Cms/Pages/PageTest.php
  tests/Cms/Pages/PageTestCase.php
  tests/Cms/Pages/PagesTest.php
  tests/Cms/Routes/RouterTest.php
  tests/Cms/Site/SitePagesTest.php
  tests/Cms/Structures/StructureObjectTest.php
  tests/Content/ContentTest.php
  tests/Content/ContentTranslationTest.php
  tests/Content/FieldMethodsTest.php
  tests/Query/QueryDefaultFunctionsTest.php
  tests/TestCase.php
  tests/Uuid/FileUuidTest.php
  tests/Uuid/PageUuidTest.php
  tests/Uuid/UserUuidTest.php
  tests/Uuid/UuidTest.php
Due: none

UserKirby assert methods in Uuid tests
  tests/TestCase.php
  tests/Uuid/FileUuidTest.php
  tests/Uuid/PageUuidTest.php
  tests/Uuid/SiteUuidTest.php
  tests/Uuid/TestCase.php
  tests/Uuid/UserUuidTest.php
  tests/Uuid/UuidTest.php
Due: none

DRY set uo/tear down tmp folder
  tests/Cms/Api/ApiCollectionTestCase.php
  tests/Cms/Api/ApiModelTestCase.php
  tests/Cms/TestCase.php
  tests/Form/Fields/TestCase.php
  tests/TestCase.php
Due: none

Remove unused Kirby assert test methods for now
  tests/Cms/Pages/PageTestCase.php
Due: none

Use more Kirby assert test methods
  tests/Blueprint/TestCase.php
  tests/Cms/Api/ApiModelTestCase.php
  tests/Cms/App/AppTest.php
  tests/Cms/App/AppUsersTest.php
  tests/Cms/Auth/AuthTest.php
  tests/Cms/Files/FileModificationsTest.php
  tests/Cms/Models/ModelTest.php
  tests/Cms/Pages/PageTest.php
  tests/Cms/TestCase.php
  tests/Form/FieldClassTest.php
  tests/Session/FileSessionStoreTest.php
  tests/Session/SessionTest.php
  tests/TestCase.php
  tests/Toolkit/CollectionTest.php
  tests/Uuid/SiteUuidTest.php
Due: none

Fix cs
  tests/Api/ApiTest.php
  tests/Cms/Api/ApiModelTestCase.php
  tests/Cms/Blueprints/BlueprintTest.php
  tests/Cms/Content/ContentLocksTest.php
  tests/Cms/Pages/PageDeleteTest.php
  tests/Cms/Site/SitePagesTest.php
  tests/Cms/TestCase.php
  tests/Database/DatabaseTest.php
  tests/Database/QueryTest.php
  tests/Database/Sql/MysqlTest.php
  tests/Database/Sql/SqliteTest.php
  tests/Database/SqlTest.php
  tests/Exception/ExceptionTest.php
  tests/Filesystem/DirTest.php
  tests/Filesystem/FTest.php
  tests/Http/VisitorTest.php
  tests/Image/Darkroom/ImageMagickTest.php
  tests/Panel/Areas/AreaTestCase.php
  tests/Panel/AssetsTest.php
  tests/Panel/PageTest.php
  tests/Panel/PanelTest.php
  tests/Panel/SiteTest.php
  tests/Panel/UserTest.php
  tests/Panel/UserTotpDisableDialogTest.php
  tests/Panel/UserTotpEnableDialogTest.php
  tests/Panel/ViewTest.php
  tests/Parsley/ElementTest.php
  tests/Parsley/InlineTest.php
  tests/Parsley/ParsleyTest.php
  tests/Parsley/Schema/BlocksTest.php
  tests/Parsley/Schema/PlainTest.php
  tests/Query/QueryDefaultFunctionsTest.php
  tests/Session/SessionTest.php
  tests/Toolkit/DomTest.php
  tests/Uuid/PageUuidTest.php
  tests/Uuid/SiteUuidTest.php
  tests/Uuid/UserUuidTest.php
Due: none

Replace `this._uid`
  panel/src/components/Dropdowns/DropdownContent.vue
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/components/Forms/Field/CheckboxesField.vue
  panel/src/components/Forms/Field/ColorField.vue
  panel/src/components/Forms/Field/DateField.vue
  panel/src/components/Forms/Field/EmailField.vue
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Forms/Field/ListField.vue
  panel/src/components/Forms/Field/MultiselectField.vue
  panel/src/components/Forms/Field/NumberField.vue
  panel/src/components/Forms/Field/PasswordField.vue
  panel/src/components/Forms/Field/RadioField.vue
  panel/src/components/Forms/Field/RangeField.vue
  panel/src/components/Forms/Field/SelectField.vue
  panel/src/components/Forms/Field/SlugField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Field/TagsField.vue
  panel/src/components/Forms/Field/TelField.vue
  panel/src/components/Forms/Field/TextField.vue
  panel/src/components/Forms/Field/TextareaField.vue
  panel/src/components/Forms/Field/TimeField.vue
  panel/src/components/Forms/Field/ToggleField.vue
  panel/src/components/Forms/Field/TogglesField.vue
  panel/src/components/Forms/Field/UrlField.vue
  panel/src/components/Forms/Field/WriterField.vue
  panel/src/components/Forms/Input.vue
  panel/src/components/Forms/Input/ColoroptionsInput.vue
  panel/src/components/Forms/Layouts/Layouts.vue
  panel/src/components/Navigation/Pagination.vue
  panel/src/helpers/useUid.js
Due: frontend

Remove unnecessary uid in dropdown content
  panel/src/components/Dropdowns/DropdownContent.vue
Due: frontend

Completelyt remove `uid` helper
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/components/Forms/Field/CheckboxesField.vue
  panel/src/components/Forms/Field/ColorField.vue
  panel/src/components/Forms/Field/DateField.vue
  panel/src/components/Forms/Field/EmailField.vue
  panel/src/components/Forms/Field/InfoField.vue
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Forms/Field/ListField.vue
  panel/src/components/Forms/Field/MultiselectField.vue
  panel/src/components/Forms/Field/NumberField.vue
  panel/src/components/Forms/Field/PasswordField.vue
  panel/src/components/Forms/Field/RadioField.vue
  panel/src/components/Forms/Field/RangeField.vue
  panel/src/components/Forms/Field/SelectField.vue
  panel/src/components/Forms/Field/SlugField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Field/TagsField.vue
  panel/src/components/Forms/Field/TelField.vue
  panel/src/components/Forms/Field/TextField.vue
  panel/src/components/Forms/Field/TextareaField.vue
  panel/src/components/Forms/Field/TimeField.vue
  panel/src/components/Forms/Field/ToggleField.vue
  panel/src/components/Forms/Field/TogglesField.vue
  panel/src/components/Forms/Field/UrlField.vue
  panel/src/components/Forms/Field/WriterField.vue
  panel/src/components/Forms/Input.vue
  panel/src/components/Forms/Input/CheckboxesInput.vue
  panel/src/components/Forms/Input/ColoroptionsInput.vue
  panel/src/components/Forms/Input/RadioInput.vue
  panel/src/components/Forms/Layouts/Layouts.vue
  panel/src/components/Navigation/Pagination.vue
  panel/src/helpers/useUid.js
Due: frontend

Update panel/src/components/Forms/Field/TimeField.vue
  panel/src/components/Forms/Field/TimeField.vue
Due: frontend

Fix uniquie id for checkboxes and radio
  panel/src/components/Forms/Field/CheckboxesField.vue
  panel/src/components/Forms/Field/RadioField.vue
  panel/src/components/Forms/Input/CheckboxesInput.vue
  panel/src/components/Forms/Input/RadioInput.vue
Due: frontend

Fix overflow in narrow LayoutColumn with fields
  panel/src/components/Forms/Layouts/LayoutColumn.vue
Due: frontend

Move the media query to the form
  panel/src/components/Forms/Blocks/Types/Fields.vue
  panel/src/components/Forms/Layouts/LayoutColumn.vue
Due: frontend

Pass `languageCode` argument for some missing hooks #6117
  src/Cms/PageActions.php
  src/Cms/SiteActions.php
  tests/Cms/Pages/PageActionsTest.php
  tests/Cms/Site/SiteActionsTest.php
Due: backend

Preflight for 4.0.3
  composer.json
  composer.lock
  i18n/translations/de.json
  i18n/translations/it.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/tr.json
  vendor/composer/ClassLoader.php
  vendor/composer/installed.php
Due: none

Fix CSS selectors for boolean attributes
  panel/src/components/Dialogs/PagesDialog.vue
  panel/src/components/Dialogs/UploadDialog.vue
  panel/src/components/Drawers/Elements/Header.vue
  panel/src/components/Drawers/Elements/Tabs.vue
  panel/src/components/Drawers/FiberDrawer.vue
  panel/src/components/Dropdowns/DropdownItem.vue
  panel/src/components/Forms/Blocks/BlockSelector.vue
  panel/src/components/Forms/Input/ChoiceInput.vue
  panel/src/components/Forms/Input/CoordsInput.vue
  panel/src/components/Forms/Input/ToggleInput.vue
  panel/src/components/Forms/Layouts/LayoutSelector.vue
  panel/src/components/Forms/Toolbar/Toolbar.vue
  panel/src/components/Lab/Example.vue
  panel/src/components/Layout/Overlay.vue
  panel/src/components/Layout/Table.vue
  panel/src/components/Layout/Tabs.vue
  panel/src/components/Navigation/Button.vue
  panel/src/components/Navigation/Tag.vue
  panel/src/components/Navigation/Tree.vue
  panel/src/components/Text/Label.vue
  panel/src/components/View/Menu.vue
Due: frontend

Reuse blocks and layout props
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/BlockOptions.vue
  panel/src/components/Forms/Blocks/BlockSelector.vue
  panel/src/components/Forms/Blocks/BlockTitle.vue
  panel/src/components/Forms/Blocks/BlockType.vue
  panel/src/components/Forms/Blocks/Blocks.vue
  panel/src/components/Forms/Field/BlocksField.vue
  panel/src/components/Forms/Field/LayoutField.vue
  panel/src/components/Forms/Layouts/Layout.vue
  panel/src/components/Forms/Layouts/LayoutColumn.vue
  panel/src/components/Forms/Layouts/Layouts.vue
Due: frontend

Register block types less magically
  panel/lab/components/blocks/code/index.php
  panel/lab/components/blocks/default/index.php
  panel/lab/components/blocks/fields/index.php
  panel/lab/components/blocks/gallery/index.php
  panel/lab/components/blocks/heading/index.php
  panel/lab/components/blocks/image/index.php
  panel/lab/components/blocks/line/index.php
  panel/lab/components/blocks/list/index.php
  panel/lab/components/blocks/markdown/index.php
  panel/lab/components/blocks/quote/index.php
  panel/lab/components/blocks/table/index.php
  panel/lab/components/blocks/text/index.php
  panel/lab/components/blocks/video/index.php
  panel/public/js/plugins.js
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/BlockType.vue
  panel/src/components/Forms/Blocks/Elements/BlockFigure.vue
  panel/src/components/Forms/Blocks/Elements/BlockTitle.vue
  panel/src/components/Forms/Blocks/Types/Code.vue
  panel/src/components/Forms/Blocks/Types/Default.vue
  panel/src/components/Forms/Blocks/Types/Fields.vue
  panel/src/components/Forms/Blocks/Types/Gallery.vue
  panel/src/components/Forms/Blocks/Types/Heading.vue
  panel/src/components/Forms/Blocks/Types/Image.vue
  panel/src/components/Forms/Blocks/Types/Line.vue
  panel/src/components/Forms/Blocks/Types/List.vue
  panel/src/components/Forms/Blocks/Types/Markdown.vue
  panel/src/components/Forms/Blocks/Types/Quote.vue
  panel/src/components/Forms/Blocks/Types/Table.vue
  panel/src/components/Forms/Blocks/Types/Text.vue
  panel/src/components/Forms/Blocks/Types/Video.vue
  panel/src/components/Forms/Blocks/index.js
Due: frontend

Add `disabled` prop to blocks
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/Types/Default.vue
  panel/src/components/Forms/Blocks/Types/Fields.vue
Due: frontend

Fix lab examples
  panel/lab/components/tables/1_horizontal/index.vue
  panel/lab/components/tables/2_vertical/index.vue
Due: none

Fix `Array.prototype` overwrites breaking `for...in` loops
  panel/src/helpers/array.js
Due: frontend

chore: add comment
  panel/src/helpers/array.js
Due: frontend

Fix the layouts field
  panel/src/components/Forms/Layouts/Layouts.vue
Due: frontend
