Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

refact: Use file ID src in gallery block preview
  panel/src/components/Forms/Blocks/Types/Gallery.vue
Due: frontend

docs: Lab example for image frame with file UUID
  panel/lab/components/frames/3_image/index.php
  panel/lab/components/frames/3_image/index.vue
Due: none

fix: isInternal check for file UUIDs
  panel/src/components/Forms/Blocks/Types/Image.vue
  panel/src/components/Layout/Frame/ImageFrame.vue
  panel/src/components/Layout/Frame/VideoFrame.vue
Due: frontend

fix: No badge for current changes on languages btn
  panel/src/components/View/Buttons/LanguagesDropdown.vue
Due: frontend

fix: Dialogs/Drawers routes for block subfields
  src/Form/Field/BlocksField.php
Due: backend

fix `k-item` selected to also wirk with UUIDs
  panel/src/components/Collection/Items.vue
Due: frontend

refact: Change naming of model picker dialogs
  panel/lab/components/dialogs/11_file-picker/index.php
  panel/lab/components/dialogs/11_file-picker/index.vue
  panel/lab/components/dialogs/12_page-picker/index.php
  panel/lab/components/dialogs/12_page-picker/index.vue
  panel/lab/components/dialogs/12_user-picker/index.php
  panel/lab/components/dialogs/12_user-picker/index.vue
  panel/src/components/Dialogs/FilePickerDialog.vue
  panel/src/components/Dialogs/ModelPickerDialog.vue
  panel/src/components/Dialogs/PagePickerDialog.vue
  panel/src/components/Dialogs/UserPickerDialog.vue
  panel/src/components/Dialogs/index.js
  src/Panel/Controller/Dialog/FilePickerDialogController.php
  src/Panel/Controller/Dialog/ModelPickerDialogController.php
  src/Panel/Controller/Dialog/PagePickerDialogController.php
  src/Panel/Controller/Dialog/UserPickerDialogController.php
  tests/Panel/Controller/Dialog/FilePickerDialogControllerTest.php
  tests/Panel/Controller/Dialog/PagePickerDialogControllerTest.php
  tests/Panel/Controller/Dialog/UserPickerDialogControllerTest.php
Due: backend, frontend

refact: Freeze legacy models fields Vue components
  panel/src/components/Forms/Field/LegacyFilesField.vue
  panel/src/components/Forms/Field/LegacyModelsField.vue
  panel/src/components/Forms/Field/LegacyPagesField.vue
  panel/src/components/Forms/Field/LegacyUsersField.vue
  panel/src/components/Forms/Field/index.js
Due: frontend

deprecate: `Cms\Picker` classes
  src/Cms/FilePicker.php
  src/Cms/PagePicker.php
  src/Cms/Picker.php
  src/Cms/UserPicker.php
Due: backend

deprecate: `k-models-dialog` components
  panel/src/components/Dialogs/FilesDialog.vue
  panel/src/components/Dialogs/ModelsDialog.vue
  panel/src/components/Dialogs/PagesDialog.vue
  panel/src/components/Dialogs/UsersDialog.vue
  panel/src/components/Dialogs/index.js
Due: frontend

refact: Use `ModelItem` classes for picker dialogs
  src/Panel/Controller/Dialog/FilePickerDialogController.php
  src/Panel/Controller/Dialog/ModelPickerDialogController.php
  src/Panel/Controller/Dialog/PagePickerDialogController.php
  src/Panel/Controller/Dialog/UserPickerDialogController.php
  src/Panel/Ui/Item/PageItem.php
  tests/Form/Field/PagesFieldTest.php
  tests/Panel/Controller/Dialog/UserPickerDialogControllerTest.php
  tests/Panel/Ui/Item/PageItemTest.php
Due: backend

feat: `k-video-frame`
  panel/lab/components/frames/4_video/index.php
  panel/lab/components/frames/4_video/index.vue
  panel/lab/components/frames/5_color/index.php
  panel/lab/components/frames/5_color/index.vue
  panel/src/components/Layout/Frame/VideoFrame.vue
  panel/src/components/Layout/index.js
Due: frontend

refact: Use `k-video-frame` in video block preview
  panel/lab/components/frames/4_video/index.vue
  panel/src/components/Forms/Blocks/Types/Video.vue
  panel/src/components/Layout/Frame/VideoFrame.vue
Due: frontend

feat: `k-image-frame` to support UUID as src
  panel/lab/components/frames/3_image/index.php
  panel/lab/components/frames/3_image/index.vue
  panel/src/components/Layout/Frame/ImageFrame.vue
  src/Panel/Controller/Request/ModelItemsRequestController.php
Due: backend, frontend

refact: IDs for image frame in gallery/image block
  panel/src/components/Forms/Blocks/Types/Gallery.vue
  panel/src/components/Forms/Blocks/Types/Image.vue
  panel/src/components/Layout/Frame/Frame.vue
Due: frontend

fix: Use `::i18n()` in `PreviewButton`
  src/Panel/Ui/Button/PreviewButton.php
  src/Panel/Ui/Button/ViewButton.php
  tests/Panel/Ui/Button/PreviewButtonTest.php
Due: backend

fix: Proper fallback for `HasI18n` with data
  src/Toolkit/HasI18n.php
Due: backend

test: Fix `HasI18n` unit test
  tests/TestCase.php
  tests/Toolkit/HasI18nTest.php
Due: none

test: Bump base PHP env for CI
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

test: Upgrade CI GitHub actions
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

test: DRY CI workflow files
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

test: DRY the PHP setup CI steps
  .github/workflows/backend.yml
  .github/workflows/setup-php/action.yml
Due: none

test: Run CI steps regardless of cache success
  .github/workflows/backend.yml
Due: none

test: Fix CI php-cs-fixer caching
  .github/workflows/backend.yml
Due: none

test: Move Psalm to separate CI job
  .github/workflows/backend.yml
Due: none

test: DRY npm setup steps
  .github/workflows/frontend.yml
  .github/workflows/setup-npm/action.yml
Due: none

test: More CI improvements
  .github/actions/setup-npm/action.yml
  .github/actions/setup-php/action.yml
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

test: Use CI services for Redis and Memcached
  .github/workflows/backend.yml
Due: none

test: Simplify concurrency groups
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

test: Add PHP version to Psalm cache key
  .github/workflows/backend.yml
Due: none

test: Upload PHPUnit coverage for PHP 8.4
  .github/workflows/backend.yml
Due: none

refact: Consistent `parent::fill()` in fields
  src/Form/Field/BlocksField.php
  src/Form/Field/CheckboxesField.php
  src/Form/Field/EntriesField.php
  src/Form/Field/LayoutField.php
  src/Form/Field/NumberField.php
  src/Form/Field/ObjectField.php
  src/Form/Field/StructureField.php
  src/Form/Field/TagsField.php
  src/Form/Field/TextField.php
  src/Form/Field/TextareaField.php
  src/Form/Field/ToggleField.php
  src/Form/Field/WriterField.php
Due: backend

test: move cleanups to `tearDown`
  tests/Cms/CorsTest.php
Due: none

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
