Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Remove `DateTimeInput.vue`
  panel/src/components/Forms/Field/DateField.vue
  panel/src/components/Forms/Input/DateTimeInput.vue
  panel/src/config/components.js
Due: frontend

Date components: add more comments
  panel/src/components/Forms/Field/DateField.vue
  panel/src/components/Forms/Field/TimeField.vue
  panel/src/components/Forms/Input/DateInput.vue
  panel/src/components/Forms/Input/TimeInput.vue
Due: frontend

Fix unit tests
  config/fields/date.php
  config/fields/time.php
  tests/Form/Fields/TimeFieldTest.php
Due: backend

Add e2e tests for the date field
  panel/cypress.json
  panel/dist/css/style.css
  panel/dist/js/index.js
  panel/src/components/Forms/Field/DateField.e2e.js
Due: frontend

Fix linting issue
  panel/src/components/Forms/Field/DateField.vue
Due: frontend

Refactor e2e tests again
  panel/cypress.json
  panel/src/components/Forms/Blocks/Blocks.e2e.js
  panel/src/components/Forms/Field/DateField.e2e.js
Due: frontend

Disable failing test
  panel/src/components/Forms/Field/DateField.e2e.js
Due: frontend

Update input rule for italic formats
  panel/src/components/Forms/Writer/Marks/Italic.js
Due: frontend

Update translations
  i18n/translations/da.json
  i18n/translations/fr.json
  i18n/translations/tr.json
Due: none

Update composer dependencies
  composer.json
  composer.lock
  vendor/composer/installed.php
Due: none

Fix vulnerability in JS dep
  panel/package-lock.json
Due: none

Build dist files
  panel/dist/css/style.css
  panel/dist/js/index.js
Due: none

Fix broken structure previews for the date and time fields
  panel/dist/js/index.js
  panel/src/components/Forms/Previews/DateFieldPreview.vue
  panel/src/components/Forms/Previews/TimeFieldPreview.vue
Due: frontend

Fix z-index for item dropdown toggle #4072
  panel/src/components/Layout/Item.vue
  panel/src/styles/variables.css
Due: frontend

Fix CSS for the date field to wrap more reliably
  panel/src/components/Forms/Field/DateField.vue
Due: frontend

trim does not except null anymore.
  src/Cms/Pages.php
  tests/Cms/Pages/PagesTest.php
Due: backend

Update dist files
  panel/dist/css/style.css
  panel/dist/js/index.js
Due: none

Update translations
  i18n/translations/pl.json
  i18n/translations/ru.json
Due: none

Update dependencies
  composer.json
  composer.lock
  vendor/composer/installed.php
Due: none

Update translations
  i18n/translations/is_IS.json
  i18n/translations/ko.json
Due: none

Continue passing $inline parameter to Markdown component. Fixes #4126
  src/Cms/App.php
Due: backend

Added Markdown plugin component test
  tests/Cms/App/AppComponentsTest.php
Due: none

Add future deprecation todo comments
  src/Cms/App.php
Due: backend

Highlight today in calendar #4124
  panel/src/components/Forms/Calendar.vue
Due: frontend

blur activeElement before trying copy
  panel/src/components/Forms/Blocks/BlockOptions.vue
Due: frontend

fix focus handling of block option buttons
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/BlockOptions.vue
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

coding style
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

JS: more optional chaining
  panel/src/components/Forms/Blocks/BlockSelector.vue
  panel/src/components/Forms/Field/SlugField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Form.vue
  panel/src/components/Forms/Input/MultiselectInput.vue
  panel/src/components/Forms/Upload.vue
  panel/src/components/Layout/Overlay.vue
Due: frontend

better comments in Blocks.vue
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

better comments in Blocks.vue
  panel/src/components/Forms/Blocks/Block.vue
Due: frontend

exclude "vitest" from vite pre-bundling
  panel/vite.config.js
Due: none

Upgrade `vitest`
  panel/package-lock.json
  panel/package.json
Due: none

Fix date JS unit tests
  panel/src/libraries/dayjs-interpret.test.js
Due: frontend

Update Translation.php
  src/Cms/Translation.php
Due: backend

Fix path ending with params separator #4138
  src/Http/Params.php
  tests/Http/ParamsTest.php
Due: backend

Upgrade dependencies
  panel/package-lock.json
  panel/package.json
Due: none

Upgrade vuelidate
  panel/package-lock.json
  panel/package.json
Due: none

Update GitHub actions for CI
  .github/workflows/ci.yml
Due: none
