Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

refact: Use img not svg for QR code
  panel/src/components/Drawers/UserTotpDrawer.vue
  src/Panel/Controller/Drawer/UserTotpDrawerController.php
Due: backend, frontend

docs: Regroup enhancements changelog per audience
  CHANGELOG.md
Due: none

docs: Condense form field changes
  CHANGELOG.md
Due: none

fix: Changes from code review
  panel/src/components/Drawers/UserTotpDrawer.vue
Due: frontend

docs: Add lab example
  panel/lab/internals/helpers/string/index.vue
Due: none

feat: Improve import/export of nodes and marks
  panel/src/components/Forms/Writer/Marks/index.js
  panel/src/components/Forms/Writer/Nodes/index.js
Due: frontend

feat: New string.sanitizeHTML helper
  panel/src/helpers/string.js
  panel/src/helpers/string.sanitizeHTML.test.js
Due: frontend

feat: New writer helper library
  panel/src/helpers/index.js
  panel/src/helpers/writer.js
  panel/src/helpers/writer.test.js
Due: frontend

refact: Simplify sanitizeHTML with new writer helpers
  panel/src/helpers/string.js
  panel/src/helpers/string.sanitizeHTML.test.js
Due: frontend

refact: Simplify WriterInput with new writer helpers
  panel/src/components/Forms/Input/WriterInput.vue
Due: frontend

refact: Use `HasI18n` more
  src/Option/Option.php
  src/Panel/Menu.php
  src/Panel/Ui/Button/LanguageCreateButton.php
  src/Panel/Ui/Button/LanguageDeleteButton.php
  src/Panel/Ui/Button/LanguageSettingsButton.php
  src/Panel/Ui/Button/OpenButton.php
  src/Panel/Ui/Button/PageStatusButton.php
  src/Panel/Ui/Button/SettingsButton.php
  src/Panel/Ui/Button/VersionsButton.php
  src/Panel/Ui/FilePreview.php
  src/Panel/Ui/FilePreview/ImageFilePreview.php
  src/Toolkit/HasI18n.php
Due: backend

test: Raise Psalm error level, but baseline
  .gitattributes
  psalm-baseline.xml
  psalm.xml.dist
Due: none

chore: Upgrade Psalm
  .github/workflows/backend.yml
Due: none

chore: Upgrade CI actions
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

refact: Use `HasI18n` more (#7931)
  src/Option/Option.php
  src/Panel/Menu.php
  src/Panel/Ui/Button/LanguageCreateButton.php
  src/Panel/Ui/Button/LanguageDeleteButton.php
  src/Panel/Ui/Button/LanguageSettingsButton.php
  src/Panel/Ui/Button/OpenButton.php
  src/Panel/Ui/Button/PageStatusButton.php
  src/Panel/Ui/Button/SettingsButton.php
  src/Panel/Ui/Button/VersionsButton.php
  src/Panel/Ui/FilePreview.php
  src/Panel/Ui/FilePreview/ImageFilePreview.php
  src/Toolkit/HasI18n.php
Due: backend

fix: Revert drawer regression
  panel/src/panel/modal.js
Due: frontend

chore: Update JS dependencies
  panel/package-lock.json
  panel/package.json
Due: none

build: Preflight for 5.3.0
  composer.json
  composer.lock
  i18n/translations/fr.json
  i18n/translations/is_IS.json
  panel/dist/js/index.min.js
  panel/dist/js/vendor.min.js
  vendor/composer/installed.php
Due: none

fix: Reduce normalization complexity
  src/Cms/Permissions.php
Due: backend

fix: Update allowed defaults types
  src/Cms/Permissions.php
Due: backend

refact: Adapt coding style
  panel/src/components/Forms/Input/WriterInput.vue
  panel/src/helpers/writer.js
Due: frontend

chore: Cleanup
  src/Cms/Permissions.php
Due: backend

refact: Remove try catch due to unintended problems in tests
  src/Cms/Permissions.php
Due: backend

fix: Update URL validation regex
  panel/src/helpers/url.isUrl.test.js
  panel/src/helpers/url.js
  src/Toolkit/V.php
  tests/Toolkit/VTest.php
Due: backend, frontend

chore: Fix GitHub CI action
  .github/workflows/backend.yml
Due: none

test: Fix Psalm baseline
  psalm-baseline.xml
Due: none

test: Convert some stubs to mocks
  tests/Cms/File/FileRulesTest.php
  tests/Cms/Page/PageRulesTest.php
  tests/Cms/Site/SiteRulesTest.php
  tests/Cms/User/UserRulesTest.php
  tests/Image/Darkroom/ImagickTest.php
Due: none

fix: License registration dialog domain info
  config/areas/system/dialogs.php
  i18n/translations/en.json
Due: backend

feat: License activate dialog for free licenses
  config/areas/system/dialogs.php
  i18n/translations/en.json
Due: backend

feat: `LicenseStatus` + `LicenseType` cases
  i18n/translations/en.json
  src/Cms/LicenseStatus.php
  src/Cms/LicenseType.php
Due: backend

refact: New warning boxes for the registration dialog
  config/areas/system/dialogs.php
  i18n/translations/en.json
  tests/Panel/Areas/LanguagesDialogsTest.php
  tests/Panel/Areas/SystemDialogsTest.php
Due: backend

refact: Rephrase to cover only develop installs
  i18n/translations/en.json
Due: none

fix: Rephrase free license label
  i18n/translations/en.json
Due: none

feat: License dialog improvements
  config/areas/system/dialogs.php
  panel/src/components/Dialogs/LicenseDialog.vue
  panel/src/components/Layout/Definition.vue
Due: backend, frontend

test: Add unit tests for new License methods
  tests/Cms/System/LicenseTest.php
  tests/Cms/System/UpdateStatusTest.php
Due: none
