Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

`ModelWithContent`: new `::purge` method
  src/Cms/ModelWithContent.php
  src/Cms/PageActions.php
  src/Cms/SiteActions.php
Due: backend

`ModelWithContent::convertTo($blueprint)`
  src/Cms/Content.php
  src/Cms/ModelWithContent.php
  src/Cms/PageActions.php
  tests/Cms/Content/ContentTest.php
  tests/Cms/Pages/PageActionsTest.php
Due: backend

Fix name of default blueprints
  config/blueprints/blocks/code.yml
  config/blueprints/blocks/heading.yml
  config/blueprints/blocks/image.yml
  config/blueprints/blocks/quote.yml
  config/blueprints/blocks/table.yml
  config/blueprints/blocks/text.yml
  config/blueprints/blocks/video.yml
  config/blueprints/files/default.yml
  config/blueprints/pages/default.yml
  config/blueprints/site.yml
  src/Cms/Blueprint.php
  src/Cms/Core.php
  tests/Cms/Models/ModelWithContentTest.php
  tests/Panel/Areas/PageDialogsTest.php
Due: backend

`File::blueprints()`
  src/Cms/File.php
  tests/Cms/Files/FileTest.php
Due: backend

Page change template dialog: add notice
  config/areas/site/dialogs.php
  i18n/translations/en.json
Due: backend

StructureField: fix drag handle
  panel/src/components/Layout/Table.vue
Due: frontend

FormIndicator: adapt icon
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Forms/FormIndicator.vue
  panel/src/components/Navigation/Topbar.vue
Due: frontend

UI: Pagination
  panel/src/components/Layout/Collection.vue
  panel/src/components/Navigation/Pagination.vue
Due: frontend

Improve `k-pagination`
  panel/src/components/Navigation/Pagination.vue
Due: frontend

Ui Header
  panel/src/components/Layout/FilePreview.vue
  panel/src/components/Layout/Header.vue
  panel/src/components/Navigation/ModelTabs.vue
  panel/src/components/Navigation/PanelMenu.vue
  panel/src/components/Navigation/index.js
  panel/src/components/Text/Headline.vue
  panel/src/components/Views/FileView.e2e.js
  panel/src/components/Views/FileView.vue
  panel/src/components/Views/PageView.e2e.js
  panel/src/components/Views/PageView.vue
  panel/src/components/Views/SiteView.e2e.js
  panel/src/components/Views/SiteView.vue
  panel/src/components/Views/UserView.vue
Due: frontend

Never escape Unicode characters in blocks/layout fields
  src/Form/FieldClass.php
Due: backend

Remove deprecated `Form\Options` classes
  src/Form/Options.php
  src/Form/OptionsApi.php
  src/Form/OptionsQuery.php
  tests/Form/OptionsApiTest.php
  tests/Form/OptionsQueryTest.php
  tests/Form/OptionsTest.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
Due: backend

Remove deprecated `Toolkit\Query` class
  src/Toolkit/Query.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
Due: backend

Add unit test for i18n title of user blueprints
  src/Toolkit/I18n.php
  tests/Cms/Users/UserBlueprintTest.php
Due: backend

Remove `Properties`: `Api` classes
  src/Api/Api.php
  src/Cms/Api.php
Due: backend

Remove `Properties`: `Cms\App` class
  src/Cms/App.php
Due: backend

Remove `Properties`: `Cms\Auth\Status` class
  src/Cms/Auth/Status.php
Due: backend

Remove `Properties`: `Email` package
  src/Email/Body.php
  src/Email/Email.php
Due: backend

Remove `Properties`: `Toolkit\Pagination` class
  src/Toolkit/Pagination.php
Due: backend

Remove `Properties`: `Http\Uri` class
  src/Http/Uri.php
  tests/Http/UriTest.php
Due: backend

Deprecate `::clone()` in `Email` package
  src/Email/Body.php
  src/Email/Email.php
Due: backend

Trigger CI manually
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/integration.yml
Due: none

Type hint all of `Cms\App`
  src/Cms/App.php
  src/Cms/AppCaches.php
  src/Cms/AppErrors.php
  src/Cms/AppPlugins.php
  src/Cms/AppTranslations.php
  src/Cms/AppUsers.php
  tests/Cms/System/mocks.php
Due: backend

Workflow improvements by @lukasbestle
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/integration.yml
Due: none

Fix wrong sort number when using limit in files section #5101
  config/sections/files.php
Due: backend

Update AppPlugins.php
  src/Cms/AppPlugins.php
Due: backend

Update Field.php
  src/Cms/Field.php
Due: backend

Added backwards compatibility
  src/Cms/AppPlugins.php
Due: backend

Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

`File::blueprints()` for `textarea` field
  src/Cms/File.php
  tests/Cms/Files/FileTest.php
Due: backend

`File::blueprints()` for `structure` field
  src/Cms/File.php
  tests/Cms/Files/FileTest.php
Due: backend

FormIndicator: tweak color
  panel/src/components/Forms/FormIndicator.vue
Due: frontend

FilePreview: fix overflow
  panel/src/components/Layout/FilePreview.vue
Due: frontend

Cleanup
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
  .github/workflows/integration.yml
Due: none

Fix pasting blocks in block selector
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Fix zero number in param
  src/Http/Params.php
  tests/Http/ParamsTest.php
Due: backend

Update composer dependencies
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/filp/whoops/src/Whoops/Exception/Formatter.php
  vendor/filp/whoops/src/Whoops/Exception/Frame.php
  vendor/filp/whoops/src/Whoops/Exception/FrameCollection.php
  vendor/filp/whoops/src/Whoops/Exception/Inspector.php
  vendor/filp/whoops/src/Whoops/Handler/Handler.php
  vendor/filp/whoops/src/Whoops/Handler/HandlerInterface.php
  vendor/filp/whoops/src/Whoops/Handler/JsonResponseHandler.php
  vendor/filp/whoops/src/Whoops/Handler/PlainTextHandler.php
  vendor/filp/whoops/src/Whoops/Handler/PrettyPageHandler.php
  vendor/filp/whoops/src/Whoops/Handler/XmlResponseHandler.php
  vendor/filp/whoops/src/Whoops/Inspector/InspectorFactory.php
  vendor/filp/whoops/src/Whoops/Inspector/InspectorFactoryInterface.php
  vendor/filp/whoops/src/Whoops/Inspector/InspectorInterface.php
  vendor/filp/whoops/src/Whoops/Run.php
  vendor/filp/whoops/src/Whoops/RunInterface.php
  vendor/filp/whoops/src/Whoops/Util/TemplateHelper.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-hi.php
  vendor/phpmailer/phpmailer/src/DSNConfigurator.php
  vendor/phpmailer/phpmailer/src/PHPMailer.php
  vendor/phpmailer/phpmailer/src/POP3.php
  vendor/phpmailer/phpmailer/src/SMTP.php
Due: none

Stale bot only for when actions needed
  .github/workflows/stale.yml
Due: none

Display heading level in blocks
  panel/src/components/Forms/Blocks/Types/Heading.vue
  panel/src/styles/variables.css
Due: frontend

Tweak stale bot
  .github/workflows/stale.yml
Due: none

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
