Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Fix writer field RTL support
  panel/src/components/Writer/Writer.vue
Due: frontend

Use new `this.$language` instead `this.$languages.current`
  panel/src/components/Forms/Input/SlugInput.vue
Due: frontend

Fix block type errors
  panel/src/components/Blocks/Block.vue
  panel/src/components/Blocks/BlockType.vue
Due: frontend

CSS styles folder
  panel/src/index.js
  panel/src/styles/reset.css
  panel/src/styles/variables.css
Due: frontend

CSS theme utility selectors
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Forms/FormButtons.vue
  panel/src/components/Layout/Box.vue
  panel/src/components/Layout/Inside.vue
  panel/src/components/Misc/Headline.vue
  panel/src/components/Misc/Invalid.vue
  panel/src/components/Misc/StatusIcon.vue
  panel/src/components/Navigation/Button.vue
  panel/src/components/Navigation/Topbar.vue
  panel/src/config/components.js
  panel/src/styles/utilities.css
Due: frontend

Install cssnano
  panel/package-lock.json
  panel/package.json
  panel/vite.config.js
Due: none

CSS utility: align
  panel/src/components/Blocks/Types/Table.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Input/TextareaInput.vue
  panel/src/components/Misc/Headline.vue
  panel/src/components/Misc/Icon.vue
  panel/src/components/Misc/Text.vue
  panel/src/components/Navigation/Pagination.vue
  panel/src/styles/utilities.css
Due: frontend

Replace cssnano with csso
  panel/package-lock.json
  panel/package.json
  panel/vite.config.js
Due: none

`Tag.vue` remove unused CSS line
  panel/src/components/Navigation/Tag.vue
Due: frontend

Clean CSS of `Item.vue`
  panel/src/components/Layout/Item.vue
Due: frontend

Use `file.previewUrl` in file view
  panel/src/components/Layout/FilePreview.vue
Due: frontend

Improve `k-file-preview`
  panel/src/components/Layout/FilePreview.vue
Due: frontend

Move FilePreview details to backend
  panel/src/components/Layout/FilePreview.vue
  panel/src/components/Views/FileView.vue
  src/Panel/File.php
Due: backend, frontend

Fix version number on RTL
  panel/src/components/Views/SettingsView.vue
Due: frontend

Use `file.previewUrl` in file view (#3575)
  panel/src/components/Layout/FilePreview.vue
Due: frontend

Fix version number on RTL (#3581)
  panel/src/components/Views/SettingsView.vue
Due: frontend

Use variable defined in if statement
  config/methods.php
Due: backend

Missing `file.previewUrl`
  panel/src/components/Views/FileView.vue
Due: frontend

Adds new `toBlocks()` and `hasBlockType()` layouts methods
  src/Cms/Layouts.php
  tests/Cms/Layouts/LayoutsTest.php
Due: backend

Fix frontend test
  panel/src/components/Views/FileView.spec.js
Due: frontend

Fix tabbed link styling
  panel/src/components/Navigation/Link.vue
Due: frontend

Fix responsive topbar
  panel/src/components/Misc/Registration.vue
  panel/src/components/Navigation/Breadcrumb.vue
  panel/src/components/Navigation/Topbar.vue
  panel/src/config/components.js
Due: frontend

Injects pages from pages extension into site inventory
  src/Cms/Site.php
Due: backend

Update panel/src/components/Navigation/Link.vue
  panel/src/components/Navigation/Link.vue
Due: frontend

Fix manually sorting via `changePosition` #3589
  config/areas/files/dialogs.php
Due: backend

Missing `file.previewUrl` (#3582)
  panel/src/components/Views/FileView.spec.js
  panel/src/components/Views/FileView.vue
Due: frontend

Fix responsive topbar (#3585)
  panel/src/components/Misc/Registration.vue
  panel/src/components/Navigation/Breadcrumb.vue
  panel/src/components/Navigation/Topbar.vue
  panel/src/config/components.js
Due: frontend

New Files::sorted method
  config/api/models/File.php
  config/api/models/Page.php
  config/api/models/Site.php
  config/api/models/User.php
  config/api/routes/files.php
  config/areas/files/dialogs.php
  config/sections/files.php
  src/Cms/Files.php
  src/Panel/Field.php
Due: backend

Add unit test for Files::sorted
  tests/Cms/Files/FilesTest.php
Due: none

Remove unnecessary check
  config/areas/files/dialogs.php
Due: backend

Fix converting files when a language gets deleted
  src/Cms/Language.php
Due: backend

Add unit tests for missing lines
  tests/Cms/Api/models/FileApiModelTest.php
  tests/Cms/Api/models/UserApiModelTest.php
Due: none

Fix converting files when a language gets deleted (#3591)
  src/Cms/Language.php
Due: backend

Fix manually sorting via `changePosition` (#3590)
  config/api/models/File.php
  config/api/models/Page.php
  config/api/models/Site.php
  config/api/models/User.php
  config/api/routes/files.php
  config/areas/files/dialogs.php
  config/sections/files.php
  src/Cms/Files.php
  src/Panel/Field.php
  tests/Cms/Api/models/FileApiModelTest.php
  tests/Cms/Api/models/UserApiModelTest.php
  tests/Cms/Files/FilesTest.php
Due: backend

Data\Json and Data\Xml: Decode empty strings
  src/Data/Json.php
  src/Data/Txt.php
  src/Data/Xml.php
  src/Data/Yaml.php
  tests/Data/JsonTest.php
  tests/Data/TxtTest.php
  tests/Data/XmlTest.php
  tests/Data/YamlTest.php
Due: backend

Data\Json and Data\Xml: Decode empty strings (#3565)
  src/Data/Json.php
  src/Data/Txt.php
  src/Data/Xml.php
  src/Data/Yaml.php
  tests/Data/JsonTest.php
  tests/Data/TxtTest.php
  tests/Data/XmlTest.php
  tests/Data/YamlTest.php
Due: backend

Fix dropdown z-index issue and JSON problem
  panel/src/variables.css
  views/panel.php
Due: frontend

Adds new hasType blocks method
  src/Cms/Blocks.php
  tests/Cms/Blocks/BlocksTest.php
Due: backend

Implement Fiber dropdowns
  config/areas/files/dropdowns.php
  config/areas/site.php
  config/areas/site/dropdowns.php
  config/areas/users.php
  config/areas/users/dropdowns.php
  panel/src/api/files.js
  panel/src/api/pages.js
  panel/src/api/users.js
  panel/src/components/Navigation/DropdownContent.vue
  panel/src/components/Sections/FilesSection.vue
  panel/src/components/Sections/PagesSection.vue
  panel/src/components/Views/FileView.vue
  panel/src/components/Views/PageView.vue
  panel/src/components/Views/UserView.vue
  panel/src/components/Views/UsersView.vue
  panel/src/config/fiber.js
  src/Panel/Dropdown.php
  src/Panel/File.php
  src/Panel/Page.php
  src/Panel/Panel.php
  src/Panel/User.php
  src/Panel/View.php
Due: backend, frontend

Add unit tests and fix CS issues
  config/areas/files/dropdowns.php
  config/areas/site.php
  config/areas/site/dropdowns.php
  config/areas/users/dropdowns.php
  src/Panel/Dropdown.php
  tests/Panel/DropdownTest.php
Due: backend
