Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Unify padding with textarea
  panel/src/components/Forms/Field/WriterField.vue
Due: frontend

Fix padding
  panel/src/components/Forms/Input/TextareaInput.vue
Due: frontend

Unify toolbar buttons with writer
  panel/src/components/Forms/Toolbar.vue
Due: frontend

Don’t show the toolbar when the writer is disabled
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Fix the dropdown theme and disabled size
  panel/src/components/Forms/Writer/Toolbar.vue
Due: frontend

Set the autofocus for the object field
  panel/src/components/Forms/Field/ObjectField.vue
Due: frontend

Styling fix for the toolbar in the text block
  panel/src/components/Forms/Blocks/Types/Text.vue
Due: frontend

Fix sticky header offset in drawer
  panel/src/components/Drawers/Drawer.vue
  panel/src/components/Drawers/Elements/Body.vue
Due: frontend

Fix regression after preview fix
  panel/src/components/Layout/Bubble.vue
Due: frontend

Fix regression in requests and avoid listeners
  config/areas/site/requests.php
  panel/src/components/Navigation/Tree.vue
Due: backend, frontend

Code style changes
  src/Cms/Page.php
Due: backend

Improve the request action for the tree route
  config/areas/site/requests.php
Due: backend

First attempt to create fiber request routes and a better move tree
  config/areas/site.php
  config/areas/site/dialogs.php
  config/areas/site/requests.php
  panel/src/components/Dialogs/PageMoveDialog.vue
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Navigation/PageTree.vue
  panel/src/components/Navigation/Tree.vue
  src/Cms/Page.php
  src/Cms/PageRules.php
  src/Panel/Json.php
  src/Panel/Panel.php
  src/Panel/Request.php
Due: backend, frontend

Don’t send data to the requestData method twice
  src/Panel/Request.php
Due: backend

Code style changes
  config/areas/site/requests.php
Due: backend

Use min for all minified assets
  panel/dist/css/style.css
  panel/dist/css/style.min.css
  panel/dist/js/container-query-polyfill.modern.min.js
  panel/dist/js/index.js
  panel/dist/js/index.min.js
  panel/dist/js/vendor.min.js
  panel/dist/js/vue.min.js
  panel/dist/js/vuedraggable.min.js
  panel/vite.config.js
  src/Panel/Assets.php
Due: backend

Fix unit test
  tests/Panel/AssetsTest.php
Due: none

Fix invalid accept option in tags selector
  panel/src/components/Navigation/Tags.vue
Due: frontend

More space for selector options
  panel/src/components/Dropdowns/SelectorDropdown.vue
Due: frontend

Only apply block delete shortcut when no input is focused
  panel/src/components/Forms/Blocks/Block.vue
Due: frontend

Fix the select color in the pagination dropdown
  panel/src/components/Navigation/Pagination.vue
Due: frontend

Unify range and range input
  panel/src/components/Forms/Element/Color/color.css
  panel/src/components/Forms/Element/Coords/coords.css
  panel/src/components/Forms/Element/Range.vue
  panel/src/components/Forms/Input/RangeInput.vue
  panel/src/components/Views/Files/FilePreview.vue
Due: frontend

Complete `Toolkit\View` test coverage
  src/Toolkit/View.php
  tests/Toolkit/ViewTest.php
Due: backend

Complete `Template\Snippet` test coverage
  tests/Template/SnippetTest.php
  tests/Template/TemplateTest.php
Due: none

Complete `Option\Option` test coverage
  tests/Option/OptionTest.php
Due: none

Complete `Option\Options` test coverage
  tests/Option/OptionsTest.php
Due: none

Complete `Template\Slots` test coverage
  tests/Template/SlotsTest.php
Due: none

Bring back `Toolkit\View::missingViewMessage()`
  src/Toolkit/View.php
Due: backend

Fix cs
  src/Panel/Json.php
Due: backend

Pages field preview: fix escaping
  panel/src/components/Forms/Previews/BubblesFieldPreview.vue
Due: frontend

`html` prop for bubbles
  panel/src/components/Forms/Previews/BubblesFieldPreview.vue
  panel/src/components/Forms/Previews/PagesFieldPreview.vue
  panel/src/components/Layout/Bubble.vue
  panel/src/components/Layout/Bubbles.vue
Due: frontend

Disabled prop is no longer needed
  panel/src/components/Forms/Writer/Toolbar.vue
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Writer: fix mark priority order
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Remove reduntant propagation stop
  panel/src/components/Forms/Blocks/Block.vue
Due: frontend

use `html` prop also for files field preview
  panel/src/components/Forms/Previews/FilesFieldPreview.vue
Due: frontend

Improve main view bottom padding
  panel/src/components/Sections/Sections.vue
  panel/src/components/View/Inside.vue
Due: frontend

Fix typo
  src/Panel/Menu.php
Due: backend

No need for multiple background colors
  panel/src/components/View/Panel.vue
Due: frontend

Page move dialog: better Site handling
  config/areas/site/requests.php
  panel/src/components/Navigation/PageTree.vue
Due: backend, frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
