Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Page move: consider section parent in rules
  src/Cms/PageRules.php
  tests/Cms/Pages/PageRulesTest.php
Due: backend

Added variadic argument
  src/Toolkit/Controller.php
Due: backend

Added test case
  tests/Toolkit/ControllerTest.php
Due: none

Dist files
  cacert.pem
  composer.json
  composer.lock
  i18n/translations/is_IS.json
  i18n/translations/ru.json
  panel/dist/css/style.css
  panel/dist/js/index.js
  panel/dist/js/vendor.js
  panel/dist/js/vue.js
  panel/dist/js/vuedraggable.js
  vendor/composer/InstalledVersions.php
  vendor/composer/installed.php
Due: none

Update composer
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_real.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

Simplify error handling
  panel/src/panel/upload.js
Due: frontend

Move the site finder logic into the move dialog submitter
  config/areas/site/dialogs.php
  src/Cms/Find.php
Due: backend

Remove invalid unit tests
  tests/Cms/FindTest.php
Due: none

Rename to `modal.legacy`
  panel/src/components/Layout/Panel.vue
  panel/src/panel/dialog.test.js
  panel/src/panel/drawer.test.js
  panel/src/panel/modal.js
  panel/src/panel/modal.test.js
Due: frontend

Update src/Toolkit/Controller.php
  src/Toolkit/Controller.php
Due: backend

Update tests/Toolkit/ControllerTest.php
  tests/Toolkit/ControllerTest.php
Due: none

Session: simpler code that relies on type hints
  src/Session/Session.php
  src/Session/SessionData.php
  src/Session/Sessions.php
  tests/Session/SessionDataTest.php
  tests/Session/SessionTest.php
  tests/Session/SessionsTest.php
Due: backend

Session: Fix code styling
  src/Session/AutoSession.php
  src/Session/FileSessionStore.php
  src/Session/Session.php
  src/Session/SessionData.php
  src/Session/Sessions.php
Due: backend

`Session`: add more type hints
  src/Session/AutoSession.php
  src/Session/FileSessionStore.php
  src/Session/Session.php
  src/Session/SessionData.php
  src/Session/SessionStore.php
  src/Session/Sessions.php
  tests/Session/mocks.php
Due: backend

SessionData: remove type error tests
  tests/Session/SessionDataTest.php
Due: none

Sessions: fixes after review
  src/Session/Session.php
  src/Session/SessionData.php
  src/Session/Sessions.php
Due: backend

Session: fix setting int keys
  src/Session/SessionData.php
  tests/Session/SessionDataTest.php
Due: backend

`Session`: format exception calls
  src/Session/Sessions.php
Due: backend

Session: fix `$data` prop types
  src/Session/Session.php
Due: backend

`Session::__construct`: remove unneeded exceptions
  src/Session/Session.php
Due: backend

SessionData: more efficient `::set()` again
  src/Session/SessionData.php
Due: backend

Fix method order of `Toolkit\A`
  src/Toolkit/A.php
Due: backend

New button style in dialogs
  panel/src/components/Dialogs/Elements/Buttons.vue
  panel/src/components/Dialogs/Elements/Footer.vue
Due: frontend

Date field outline fix
  panel/src/components/Forms/Field/DateField.vue
Due: frontend

Additional unit tests
  src/Session/Sessions.php
  src/Toolkit/Properties.php
  tests/Toolkit/ComponentTest.php
  tests/Toolkit/IteratorTest.php
  tests/Toolkit/StrTest.php
  tests/Uuid/HasUuidsTest.php
Due: backend

Remove dead Properties code from Pagination class
  src/Toolkit/Pagination.php
Due: backend

Coverage annotations for `Toolkit\V` tests
  tests/Toolkit/VTest.php
Due: none

Improve test coverage fro `Toolkit\View`
  tests/Toolkit/ViewTest.php
Due: none

Build dist files
  panel/dist/css/style.css
  panel/dist/js/css-has-polyfill.js
  panel/dist/js/index.js
  panel/dist/js/vendor.js
Due: none

Update composer
  composer.json
  composer.lock
  vendor/composer/installed.php
Due: none

Query language support for pages section `create` and `templates` props
  config/sections/files.php
  config/sections/pages.php
  tests/Cms/Sections/FilesSectionTest.php
  tests/Cms/Sections/PagesSectionTest.php
Due: backend

Fix type hints for `search` component
  config/components.php
  src/Cms/Search.php
Due: backend

Simplify some null assignments
  config/api/models/User.php
  src/Blueprint/NodeString.php
  src/Cms/AppUsers.php
  src/Cms/Pages.php
  src/Filesystem/File.php
  src/Form/Field.php
  src/Form/Field/LayoutField.php
  src/Form/FieldClass.php
  src/Http/Environment.php
  src/Http/Request.php
  src/Panel/View.php
Due: backend

Fix missing unit tests for codecov
  config/sections/files.php
  tests/Cms/Sections/FilesSectionTest.php
  tests/Cms/Sections/PagesSectionTest.php
Due: backend

Reorganize `View` components
  panel/src/components/Layout/index.js
  panel/src/components/View/FilePreview.vue
  panel/src/components/View/Inside.vue
  panel/src/components/View/Outside.vue
  panel/src/components/View/Panel.vue
  panel/src/components/View/index.js
  panel/src/components/index.js
Due: frontend

Type hinting for `Collection::search()`
  src/Cms/Collection.php
Due: backend

Fix centering `k-outside`
  panel/src/components/View/Outside.vue
Due: frontend

Fix search dialog alignment
  panel/src/components/Dialogs/SearchDialog.vue
Due: frontend

Page create dialog: fix custom fields
  src/Panel/PageCreateDialog.php
Due: backend
