Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Writer field: custom nodes extension
  panel/public/js/plugins.js
  panel/src/components/Forms/Writer/Node.js
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Writer nodes: better toolbar separator suport
  panel/src/components/Forms/Writer/Nodes/Heading.js
  panel/src/components/Forms/Writer/Nodes/Paragraph.js
  panel/src/components/Forms/Writer/Toolbar.vue
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Writer: default list of marks (not all)
  config/fields/writer.php
  panel/src/components/Forms/Writer/Editor.js
  panel/src/components/Forms/Writer/Writer.vue
Due: backend, frontend

Fixes after rebase
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Custom writer marks/nodes: fix class-ificiation
  panel/src/components/Forms/Writer/Toolbar.vue
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Block options: split only in dropdown
  panel/src/components/Forms/Blocks/BlockOptions.vue
Due: frontend

Writer: `clear` mark
  i18n/translations/en.json
  panel/src/components/Forms/Writer/Marks/Clear.js
  panel/src/components/Forms/Writer/Marks/Email.js
  panel/src/components/Forms/Writer/Marks/Link.js
  panel/src/components/Forms/Writer/Toolbar.vue
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Writer toolbar: specific name for activeNodeButton
  panel/src/components/Forms/Writer/Toolbar.vue
Due: frontend

New `clear` icon
  panel/public/img/icons.svg
  panel/src/components/Forms/Writer/Marks/Clear.js
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Heading block: use toggles field for level
  config/blocks/heading/heading.yml
Due: backend

Image block: improve `location` option labels
  config/blocks/image/image.yml
  i18n/translations/en.json
Due: backend

Heading block: use icons for level toggles
  config/blocks/heading/heading.yml
  panel/src/components/Forms/Input/TogglesInput.vue
Due: backend, frontend

Blocks: `fields` preview type
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/Types/Fields.vue
Due: frontend

Fix WriterField defaults test
  tests/Form/Fields/WriterFieldTest.php
Due: none

Allow more fields to be hidden
  config/fields/hidden.php
  config/fields/structure.php
  panel/src/helpers/field.js
  src/Form/Field.php
  src/Form/FieldClass.php
  tests/Cms/Files/FileTest.php
  tests/Form/FieldClassTest.php
  tests/Form/Fields/HiddenFieldTest.php
Due: backend, frontend

Block label: strip HTML
  panel/src/components/Forms/Blocks/BlockTitle.vue
Due: frontend

Better Writer toolbar
  config/fields/writer.php
  panel/src/components/Forms/Field/WriterField.vue
  panel/src/components/Forms/Input/TextareaInput.vue
  panel/src/components/Forms/Toolbar.vue
  panel/src/components/Forms/Writer/Extensions/Toolbar.js
  panel/src/components/Forms/Writer/Toolbar.vue
  panel/src/components/Forms/Writer/Writer.vue
  panel/src/components/Forms/Writer/index.js
  panel/src/components/Forms/index.js
Due: backend, frontend

Writer toolbar: fix `false` for `marks` & `nodes`
  panel/src/components/Forms/Writer/Toolbar.vue
Due: frontend

Writer toolbar: fixes for marks buttons
  config/fields/writer.php
  panel/src/components/Forms/Writer/Toolbar.vue
Due: backend, frontend

Fields block: improvements
  panel/src/components/Drawers/Drawer.vue
  panel/src/components/Drawers/DrawerTabs.vue
  panel/src/components/Drawers/index.js
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/Types/Fields.vue
Due: frontend

`sub` and `sup` writer marks
  i18n/translations/en.json
  panel/public/img/icons.svg
  panel/src/components/Forms/Blocks/Types/Heading.vue
  panel/src/components/Forms/Writer/Marks/Sub.js
  panel/src/components/Forms/Writer/Marks/Sup.js
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Drawer tabs: style improvements
  panel/src/components/Drawers/Drawer.vue
  panel/src/components/Drawers/DrawerTabs.vue
  panel/src/components/Forms/Blocks/Types/Fields.vue
Due: frontend

Fields block: fix hidden style
  panel/src/components/Forms/Blocks/Types/Fields.vue
Due: frontend

Fix #92
  panel/src/components/Forms/Field/WriterField.vue
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Writer field: character counter
  config/fields/writer.php
  panel/src/components/Forms/Field/WriterField.vue
  panel/src/mixins/forms/counter.js
Due: backend, frontend

Writer field: min/max backend validations
  config/fields/writer.php
Due: backend

Writer field: unescape html entities for counter
  panel/src/components/Forms/Field/WriterField.vue
Due: frontend

`<k-writer-input>` with validations
  panel/src/components/Forms/Field/WriterField.vue
  panel/src/components/Forms/Input/WriterInput.vue
  panel/src/components/Forms/Input/index.js
Due: frontend

`Cmd + Shift + S` to bring up revert dialog
  panel/src/components/Forms/FormButtons.vue
Due: frontend

Small padding adjustment
  panel/src/components/Forms/Blocks/Types/Fields.vue
Due: frontend

Button: aria-current for all
  panel/src/components/Drawers/DrawerTabs.vue
  panel/src/components/Navigation/Button.vue
Due: frontend

Fix Textarea toolbar
  panel/src/components/Forms/Toolbar.vue
Due: frontend

Added static methods to plugin extendable classes
  src/Cms/Blocks.php
  src/Cms/Layouts.php
Due: backend

Added static methods to affected classes
  src/Cms/Fieldsets.php
  src/Cms/Items.php
  src/Cms/Languages.php
  src/Cms/LayoutColumns.php
  src/Cms/Roles.php
  src/Cms/Structure.php
  src/Cms/Translations.php
Due: backend

TogglesInput improve accessibility
  config/blocks/heading/heading.yml
  panel/src/components/Forms/Input/TogglesInput.vue
Due: backend, frontend

Fix layout paste #32
  panel/src/components/Forms/Layouts/Layouts.vue
  src/Cms/Layouts.php
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
Due: backend, frontend

Fix unit test
  tests/Form/Fields/LayoutFieldTest.php
Due: none

Fix remaining issues
  panel/src/components/Forms/Layouts/Layouts.vue
  src/Form/Field/LayoutField.php
Due: backend, frontend

Update layout paste endpoint
  panel/src/components/Forms/Layouts/Layouts.vue
  src/Form/Field/LayoutField.php
Due: backend, frontend

Fix issues from code reviews
  panel/src/components/Forms/Layouts/Layouts.vue
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
Due: backend, frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
