Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

fix: Align Darkroom driver resize methods
  src/Image/Darkroom/GdLib.php
  src/Image/Darkroom/ImageMagick.php
  src/Image/Darkroom/Imagick.php
Due: backend

refact: Change picker field names
  panel/src/components/Forms/Field/FilePickerField.vue
  panel/src/components/Forms/Field/ModelPickerField.vue
  panel/src/components/Forms/Field/PagePickerField.vue
  panel/src/components/Forms/Field/UserPickerField.vue
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/FilePickerField.php
  src/Form/Field/ModelPickerField.php
  src/Form/Field/PagePickerField.php
  src/Form/Field/UserPickerField.php
  tests/Form/Field/FilePickerFieldTest.php
  tests/Form/Field/PagePickerFieldTest.php
  tests/Form/Field/UserPickerFieldTest.php
Due: backend, frontend

fix: Link field using removed prop
  panel/src/components/Forms/Field/LinkField.vue
Due: frontend

chore: Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

fix: Pass uploads prop to textarea input
  src/Form/Field/TextareaField.php
Due: backend

refact!: New `TextareaField` class
  panel/src/components/Forms/Field/index.js
  src/Cms/Core.php
  src/Form/Field/TextareaField.php
  tests/Form/Field/TextareaFieldTest.php
Due: backend, frontend

test: Fix unit test
  tests/Form/Field/TextareaFieldTest.php
Due: none

fix: Psalm error for `::fill()`
  src/Form/Field/TextareaField.php
Due: backend

refact: Replace `::routes()` with `::api()` (#7730)
  src/Form/Field.php
  src/Form/Field/BlocksField.php
  src/Form/Field/LayoutField.php
  src/Form/Mixin/Api.php
  tests/Form/Field/BlocksFieldTest.php
  tests/Form/Field/LayoutFieldTest.php
  tests/Form/FieldClassTest.php
Due: backend

fix: Reset models tab badge when no changes
  panel/src/components/Navigation/ModelTabs.vue
Due: frontend

refact: Remove unneeded type casts
  src/Cms/Auth.php
  src/Cms/Blocks.php
  src/Cms/Layouts.php
  src/Filesystem/Dir.php
  src/Filesystem/F.php
Due: backend

refact: Remove unneeded else statement
  src/Cms/BlockConverter.php
Due: backend

fix: `t()` allow array for `$fallback`
  config/helpers.php
Due: backend

fix: Handle malformed image files gracefully
  src/Image/Dimensions.php
  src/Image/Image.php
  tests/Cms/Sections/PagesSectionTest.php
  tests/Cms/Sections/fixtures/image/cover.jpg
  tests/Image/DimensionsTest.php
  tests/Image/ImageTest.php
  tests/Image/fixtures/image/invalid.jpg
  tests/Panel/FileTest.php
  tests/Panel/ModelTest.php
  tests/Panel/PageTest.php
  tests/Panel/SiteTest.php
  tests/Panel/UserTest.php
  tests/Panel/fixtures/image/test.jpg
Due: backend

chore: Update JS dependencies
  panel/dist/css/style.min.css
  panel/dist/img/icons.svg
  panel/dist/js/Docs.min.js
  panel/dist/js/index.min.js
  panel/dist/js/sortable.min.js
  panel/dist/js/vendor.min.js
  panel/dist/ui/Button.json
  panel/dist/ui/CheckboxesField.json
  panel/dist/ui/DropdownItem.json
  panel/dist/ui/LanguagesViewButton.json
  panel/dist/ui/ViewButton.json
  panel/package-lock.json
  panel/package.json
Due: none

chore: Update PHP dependencies
  cacert.pem
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: none

chore: Update PHP dependencies
  cacert.pem
  composer.json
  composer.lock
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/phpmailer/phpmailer/composer.json
  vendor/phpmailer/phpmailer/get_oauth_token.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-da.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-eo.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-es.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-nb.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-nl.php
  vendor/phpmailer/phpmailer/language/phpmailer.lang-pl.php
  vendor/phpmailer/phpmailer/src/PHPMailer.php
  vendor/phpmailer/phpmailer/src/POP3.php
  vendor/phpmailer/phpmailer/src/SMTP.php
  vendor/symfony/yaml/Command/LintCommand.php
  vendor/symfony/yaml/Escaper.php
  vendor/symfony/yaml/Inline.php
  vendor/symfony/yaml/Parser.php
  vendor/symfony/yaml/Resources/bin/yaml-lint
  vendor/symfony/yaml/composer.json
Due: none

fix: PHPMailer unit test
  tests/Email/PHPMailerTest.php
Due: none

build: Preflight for 5.2.0-rc.1
  composer.json
  composer.lock
  i18n/translations/bg.json
  i18n/translations/bs.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/eo.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/is_IS.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ro.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sr@latin.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
  i18n/translations/zh_TW.json
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

build: 5.2.0-rc.1 (#7736)
  composer.json
  composer.lock
  i18n/translations/bg.json
  i18n/translations/bs.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/eo.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/is_IS.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ro.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sr@latin.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
  i18n/translations/zh_TW.json
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

chore: Update JS dependencies
  panel/dist/css/style.min.css
  panel/dist/img/icons.svg
  panel/dist/js/Docs.min.js
  panel/dist/js/index.min.js
  panel/dist/js/sortable.min.js
  panel/dist/js/vendor.min.js
  panel/dist/ui/Button.json
  panel/dist/ui/CheckboxesField.json
  panel/dist/ui/DropdownItem.json
  panel/dist/ui/LanguagesViewButton.json
  panel/dist/ui/ViewButton.json
  panel/package-lock.json
Due: none

build: 5.2.0-rc.1 (#7736)
  composer.json
  composer.lock
  i18n/translations/bg.json
  i18n/translations/bs.json
  i18n/translations/ca.json
  i18n/translations/cs.json
  i18n/translations/da.json
  i18n/translations/de.json
  i18n/translations/el.json
  i18n/translations/eo.json
  i18n/translations/es_419.json
  i18n/translations/es_ES.json
  i18n/translations/fa.json
  i18n/translations/fi.json
  i18n/translations/fr.json
  i18n/translations/hu.json
  i18n/translations/id.json
  i18n/translations/is_IS.json
  i18n/translations/it.json
  i18n/translations/ko.json
  i18n/translations/lt.json
  i18n/translations/nb.json
  i18n/translations/nl.json
  i18n/translations/pl.json
  i18n/translations/pt_BR.json
  i18n/translations/pt_PT.json
  i18n/translations/ro.json
  i18n/translations/ru.json
  i18n/translations/sk.json
  i18n/translations/sr@latin.json
  i18n/translations/sv_SE.json
  i18n/translations/tr.json
  i18n/translations/zh_TW.json
  vendor/composer/installed.php
Due: none

docs: Specify `Str::short()` $length clearly
  src/Toolkit/Str.php
Due: backend

fix: `Str::short()` to consider appendix length (#7734)
  src/Toolkit/Str.php
Due: backend

test: Fix unit tests after merge conflicts
  tests/Panel/FileTest.php
  tests/Panel/ModelTest.php
  tests/Panel/PageTest.php
  tests/Panel/SiteTest.php
  tests/Panel/UserTest.php
Due: none

test: Fix vitest unit tests
  panel/package-lock.json
  panel/package.json
  panel/src/panel/feature.test.js
  panel/src/panel/state.test.js
Due: frontend

fix: Vitest unit tests (#7737)
  panel/package-lock.json
  panel/package.json
  panel/src/panel/feature.test.js
  panel/src/panel/state.test.js
Due: frontend

refact: Move FieldOption class into Form namespace
  config/aliases.php
  config/fields/color.php
  config/fields/mixins/options.php
  config/fields/select.php
  panel/package-lock.json
  src/Form/Field/ColorField.php
  src/Form/Field/SelectField.php
  src/Form/FieldOptions.php
  src/Form/Mixin/Options.php
  tests/Field/TestCase.php
  tests/Form/FieldOptionsTest.php
  tests/Option/OptionTest.php
  tests/Option/OptionsApiTest.php
  tests/Option/OptionsQueryTest.php
  tests/Option/OptionsTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

refact: Move FieldOption class into Form namespace (#7739)
  config/aliases.php
  config/fields/color.php
  config/fields/mixins/options.php
  config/fields/select.php
  panel/package-lock.json
  src/Form/Field/ColorField.php
  src/Form/Field/SelectField.php
  src/Form/FieldOptions.php
  src/Form/Mixin/Options.php
  tests/Field/TestCase.php
  tests/Form/FieldOptionsTest.php
  tests/Option/OptionTest.php
  tests/Option/OptionsApiTest.php
  tests/Option/OptionsQueryTest.php
  tests/Option/OptionsTest.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

fix: Sort blocks by position before merging #7711
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

refact!: Simplify link field preview
  panel/lab/internals/helpers/link/index.vue
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Forms/Previews/LinkFieldPreview.vue
  panel/src/components/Forms/Previews/ModelsFieldPreview.vue
  panel/src/components/Forms/Previews/TagsFieldPreview.vue
  panel/src/helpers/link.js
Due: frontend

refact!: Simplify link field preview (#7725)
  panel/lab/internals/helpers/link/index.vue
  panel/src/components/Forms/Field/LinkField.vue
  panel/src/components/Forms/Previews/LinkFieldPreview.vue
  panel/src/components/Forms/Previews/ModelsFieldPreview.vue
  panel/src/components/Forms/Previews/TagsFieldPreview.vue
  panel/src/helpers/link.js
Due: frontend

test: Bump base PHP env for CI
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

test: Upgrade CI GitHub actions
  .github/workflows/backend.yml
  .github/workflows/frontend.yml
Due: none

fix: Pass undefined instead of null as field value
  panel/src/components/Forms/Fieldset.vue
Due: frontend

fix: Prevent passing event to Vue click handlers
  panel/src/components/Collection/Collection.vue
  panel/src/components/Forms/Field/EntriesField.vue
  panel/src/components/Forms/Field/ObjectField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Sections/ModelsSection.vue
  panel/src/components/Views/System/SystemSecurity.vue
  panel/src/components/Views/System/SystemView.vue
  panel/src/components/Views/Users/UserAvatar.vue
  panel/src/mixins/batchEditing.js
Due: frontend
