Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

fix coding style
  tests/Cms/Blueprints/FileBlueprintTest.php
Due: none

Fix coding style
  src/Cms/FileBlueprint.php
  src/Filesystem/Mime.php
Due: backend

Fix coding style
  src/Database/Sql.php
  src/Database/Sql/Sqlite.php
Due: backend

Apply CSS `color-scheme`
  panel/src/styles/config/colors.css
  panel/src/styles/reset.css
Due: frontend

Change option to camel case
  src/Database/Sql.php
  tests/Database/SqlTest.php
Due: backend

Small design change for invalid examples
  panel/src/components/Lab/PlaygroundView.vue
Due: frontend

Native validaty for `date`/`time` inputs
  panel/lab/components/inputs/calendar/index.vue
  panel/lab/components/inputs/date/index.vue
  panel/lab/components/inputs/time/index.vue
  panel/lab/components/inputs/timeoptions/index.vue
  panel/src/components/Forms/Input/CalendarInput.vue
  panel/src/components/Forms/Input/DateInput.vue
  panel/src/components/Forms/Input/TimeInput.vue
  panel/src/components/Forms/Input/TimeoptionsInput.vue
  panel/src/libraries/dayjs-iso.js
Due: frontend

Tweak const name
  panel/src/components/Forms/Input/CalendarInput.vue
  panel/src/components/Forms/Input/DateInput.vue
  panel/src/components/Forms/Input/TimeInput.vue
  panel/src/components/Forms/Input/TimeoptionsInput.vue
Due: frontend

Removed UTC from key on roundProvider
  tests/Toolkit/DateTest.php
Due: none

Use `panel.theme` module with localStorage
  config/areas/account/dialogs.php
  panel/src/components/View/Panel.vue
  panel/src/components/Views/Users/AccountThemeButton.vue
  panel/src/panel/panel.js
  panel/src/panel/theme.js
  panel/src/panel/user.js
  panel/src/panel/user.test.js
  src/Panel/View.php
Due: backend, frontend

Video block: fix for missing poster
  config/blocks/video/video.php
Due: backend

Video block: support for local video files
  config/blocks/video/video.php
  config/blocks/video/video.yml
  panel/src/components/Forms/Blocks/Types/Video.vue
Due: backend, frontend

Video block: add fields for attributes
  config/blocks/video/video.php
  config/blocks/video/video.yml
Due: backend

Add translation strings for the new video fields
  config/blocks/video/video.yml
  i18n/translations/en.json
Due: backend

Video block: fix preview order
  panel/src/components/Forms/Blocks/Types/Video.vue
Due: frontend

Wrap custom commands in another anonymous function to fix the binding issue
  panel/src/components/Forms/Toolbar/TextareaToolbar.vue
Due: frontend

Don’t throw an exception if a model for a UUID cannot be found
  config/methods.php
  tests/Content/FieldMethodsTest.php
Due: backend

Don’t redeclare the dump helper if it already exists
  config/helpers.php
Due: backend

Lab: more `$helper` docs
  panel/lab/internals/helpers/color/index.vue
  panel/lab/internals/helpers/embed/index.vue
  panel/lab/internals/helpers/file/index.vue
  panel/lab/internals/helpers/isComponent/index.vue
  panel/lab/internals/helpers/isUploadEvent/index.vue
  panel/lab/internals/helpers/keyboard/index.vue
  panel/lab/internals/helpers/page/index.vue
  panel/lab/internals/helpers/ratio/index.vue
  panel/lab/internals/helpers/url/index.vue
  panel/lab/internals/library.colors/index.vue
  panel/src/helpers/file.js
  panel/src/helpers/page.js
  panel/src/helpers/ratio.js
  panel/src/helpers/url.js
  panel/src/libraries/colors.js
Due: frontend

Lab: finalize `$helper.url` docs
  panel/lab/internals/helpers/url/index.vue
Due: none

Lab `$helper.debounce` docs
  panel/lab/internals/helpers/debounce/index.vue
Due: none

Lab `RegExp.escape()` docs
  panel/lab/internals/helpers/regex/index.vue
Due: none

Make `$helper.field` functions internal
  panel/lab/internals/helpers/field/index.php
  panel/lab/internals/helpers/field/index.vue
  panel/src/helpers/field.js
Due: frontend

Lab: remove helper focus placeholder
  panel/lab/internals/helpers/focus/index.php
  panel/lab/internals/helpers/focus/index.vue
Due: none

Fix emoji overflow issue in k-icon-frame
  panel/src/components/Layout/Frame/IconFrame.vue
Due: frontend

Lab `$helper.link` docs
  panel/lab/internals/helpers/link/index.vue
  panel/src/helpers/link.js
Due: frontend

Lab: `$object` docs
  panel/lab/internals/helpers/object/index.vue
  panel/src/helpers/object.js
Due: frontend

Lab: remove helper queue placeholder
  panel/lab/internals/helpers/queue/index.php
  panel/lab/internals/helpers/queue/index.vue
Due: none

Lab `$helper.sort` docs
  panel/lab/internals/helpers/sort/index.vue
Due: none

Lab `$helper.upload` docs
  panel/lab/internals/helpers/object/index.vue
  panel/lab/internals/helpers/upload/index.vue
Due: none

Fix inline docs
  panel/src/components/Layout/Bubbles.vue
Due: frontend

Suppress warnings in remote class if system CA is outside of open_basedir
  src/Http/Remote.php
Due: backend

Sanity check for the file id in the toFiles method
  config/methods.php
Due: backend

Small fix to highlight results
  panel/lab/internals/helpers/link/index.vue
Due: none

Small fix for invalid highlighting
  panel/src/components/Lab/PlaygroundView.vue
Due: frontend

Fix choice input grid in picklist input
  panel/src/components/Forms/Input/PicklistInput.vue
Due: frontend

Add string input lab examples
  panel/lab/components/inputs/string/index.php
  panel/lab/components/inputs/string/index.vue
Due: none

Add `k-lab-input-examples` class
  panel/lab/components/inputs/checkboxes/index.vue
  panel/lab/components/inputs/choice/index.vue
  panel/lab/components/inputs/colorname/index.vue
  panel/lab/components/inputs/coloroptions/index.vue
  panel/lab/components/inputs/colorpicker/index.vue
  panel/lab/components/inputs/coords/index.vue
  panel/lab/components/inputs/email/index.vue
  panel/lab/components/inputs/list/index.vue
  panel/lab/components/inputs/multiselect/index.vue
  panel/lab/components/inputs/number/index.vue
  panel/lab/components/inputs/password/index.vue
  panel/lab/components/inputs/picklist/index.vue
  panel/lab/components/inputs/radio/index.vue
  panel/lab/components/inputs/select/index.vue
  panel/lab/components/inputs/slug/index.vue
  panel/lab/components/inputs/tags/index.vue
  panel/lab/components/inputs/tel/index.vue
  panel/lab/components/inputs/text/index.vue
  panel/lab/components/inputs/textarea/index.vue
  panel/lab/components/inputs/toggle/index.vue
  panel/lab/components/inputs/toggles/index.vue
  panel/lab/components/inputs/url/index.vue
  panel/lab/components/inputs/writer/index.vue
Due: none

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
