Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Video block: support for local video files
  config/blocks/video/video.php
  config/blocks/video/video.yml
  panel/src/components/Forms/Blocks/Types/Video.vue
Due: backend, frontend

Video block: fix for missing poster
  config/blocks/video/video.php
Due: backend

Video block: add fields for attributes
  config/blocks/video/video.php
  config/blocks/video/video.yml
Due: backend

Move Block classes into their own namespace
  composer.lock
  config/aliases.php
  src/Block/Block.php
  src/Block/BlockConverter.php
  src/Block/Blocks.php
  tests/Block/BlockMethodsTest.php
  tests/Block/BlockModelsTest.php
  tests/Block/BlockTest.php
  tests/Block/BlocksMethodsTest.php
  tests/Block/BlocksTest.php
  tests/Block/fixtures/editor.json
  tests/Block/fixtures/files/bar.jpg
  tests/Block/fixtures/files/bar.jpg.txt
  tests/Block/fixtures/files/foo.jpg
  tests/Block/fixtures/snippets/blocks/debug.php
  tests/Block/fixtures/snippets/blocks/heading.php
  tests/Block/fixtures/snippets/blocks/text.php
  vendor/composer/ClassLoader.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

Load mocks early in PHPUnit tests
  tests/Cache/ApcuCacheTest.php
  tests/Cache/CacheTest.php
  tests/Cache/FileCacheTest.php
  tests/Cache/MemCachedTest.php
  tests/Cache/MemoryCacheTest.php
  tests/Cache/ValueTest.php
  tests/Cms/App/AppErrorsTest.php
  tests/Cms/App/AppPluginsTest.php
  tests/Cms/Auth/AuthChallengeTest.php
  tests/Cms/Auth/AuthProtectionTest.php
  tests/Cms/ResponderTest.php
  tests/Cms/System/UpdateStatusTest.php
  tests/Cms/TestCase.php
  tests/Data/DataTest.php
  tests/Data/HandlerTest.php
  tests/Database/QueryTest.php
  tests/Database/SqlTest.php
  tests/Filesystem/FTest.php
  tests/Filesystem/FileTest.php
  tests/Http/RemoteTest.php
  tests/Http/ResponseTest.php
  tests/Sane/DomHandlerTest.php
  tests/Sane/HandlerTest.php
  tests/Sane/SaneTest.php
  tests/Session/AutoSessionTest.php
  tests/Session/FileSessionStoreTest.php
  tests/Session/SessionDataTest.php
  tests/Session/SessionTest.php
  tests/Session/SessionsTest.php
  tests/Toolkit/TotpTest.php
  tests/bootstrap.php
Due: none

Destroy app in Template test case
  tests/Template/TestCase.php
Due: none

License dialog: Always use `date` handler
  config/areas/system/dialogs.php
  src/Cms/License.php
  tests/Cms/System/LicenseTest.php
Due: backend

Deprecate `Array.prototype` functions
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/View/Menu.vue
  panel/src/helpers/array.js
Due: frontend

Support dimensions for `avif` images
  src/Image/Image.php
Due: backend

Add unit test for avif image dimensions
  tests/Image/DimensionsTest.php
  tests/Image/fixtures/image/onigiri-adobe-rgb-gps.avif
Due: none

Fix default type if `url` option not available
  panel/src/components/Forms/Field/LinkField.vue
Due: frontend

Fix Panel menu button centering
  panel/src/components/View/Menu.vue
Due: frontend

Clean up code
  panel/src/components/Collection/Items.vue
Due: frontend

Pages section table: add field types for columns
  config/sections/files.php
  config/sections/mixins/layout.php
  config/sections/pages.php
  panel/src/components/Collection/Collection.vue
  panel/src/components/Collection/Items.vue
  panel/src/components/Sections/ModelsSection.vue
Due: backend, frontend

PageCreateDialog: use field default values
  src/Panel/PageCreateDialog.php
  tests/Panel/PageCreateDialogTest.php
Due: backend

PageCreateDialog: fill custom fields w/ defaults
  src/Panel/PageCreateDialog.php
  tests/Panel/PageCreateDialogTest.php
Due: backend

Don't throw exception when uuid point to non-existing page #6083
  config/tags.php
  tests/Text/KirbyTagsTest.php
Due: backend

Improve link kirbytag behaviour
  config/tags.php
  tests/Text/KirbyTagsTest.php
Due: backend

Code reviews
  config/tags.php
  tests/Text/KirbyTagsTest.php
Due: backend

Update config/tags.php
  config/tags.php
Due: backend

PageCreateDialog: safer default values
  src/Panel/PageCreateDialog.php
Due: backend

Block models for each block type and simplified block snippets
  config/blocks/code/code.php
  config/blocks/gallery/gallery.php
  config/blocks/heading/heading.php
  config/blocks/image/image.php
  config/blocks/list/list.php
  config/blocks/markdown/markdown.php
  config/blocks/quote/quote.php
  config/blocks/text/text.php
  config/blocks/video/video.php
  src/Block/Block.php
  src/Block/BlockConverter.php
  src/Block/Blocks.php
  src/Block/CodeBlock.php
  src/Block/GalleryBlock.php
  src/Block/HeadingBlock.php
  src/Block/ImageBlock.php
  src/Block/LineBlock.php
  src/Block/ListBlock.php
  src/Block/MarkdownBlock.php
  src/Block/Origin.php
  src/Block/QuoteBlock.php
  src/Block/TextBlock.php
  src/Block/VideoBlock.php
  src/Cms/AppPlugins.php
  src/Cms/Core.php
  tests/Block/BlockModelsTest.php
  tests/Block/BlockTest.php
Due: backend

Writer toolbar: fix when implicitly inline
  panel/src/components/Forms/Writer/Writer.vue
Due: frontend

Files section: fix `NaN` after file sort
  config/sections/files.php
Due: backend

Avif dimensions test for PHP 8.2+
  tests/Image/DimensionsTest.php
Due: none

Date field: close calendar dropdown when selecting
  panel/src/components/Forms/Field/DateField.vue
Due: frontend

Color field: fix options from query
  config/fields/color.php
Due: backend

Color field: fix unit tests
  tests/Form/Fields/ColorFieldTest.php
Due: none

Color field: further fixes for query options
  config/fields/color.php
  tests/Form/Fields/ColorFieldTest.php
Due: backend

Fix cs
  config/fields/color.php
Due: backend

PageCreateDialog: allow hiding title + slug
  src/Panel/PageCreateDialog.php
Due: backend

PageCreateDialog: directly submit if no fields
  src/Panel/PageCreateDialog.php
Due: backend

Fix error handling
  src/Option/OptionsQuery.php
Due: backend

fix(DB): added charset to DB Params
  src/Database/Db.php
Due: backend

Don’t automatically overwrite text and value definition per default
  config/fields/color.php
Due: backend

Get modal redirects up and running
  panel/src/panel/modal.js
  panel/src/panel/panel.js
  src/Panel/PageCreateDialog.php
Due: backend, frontend
