Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags: 
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags: 
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags: 
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Apply suggestions from code review
  config/helpers.php
  src/Cms/App.php
  src/Cms/File.php
  src/Http/Uri.php
  src/Toolkit/Str.php
Due: backend

More suggestions from code review
  src/Toolkit/Str.php
Due: backend

Even more suggestions from code review
  config/helpers.php
Due: backend

`Toolkit\Xml`: correct `ENT_` flags for `htmlentities`
  src/Toolkit/Xml.php
  tests/Toolkit/XmlTest.php
Due: backend

Fix `File::previewUrl` on custom `file::url` component #4143
  src/Cms/AppPlugins.php
  src/Cms/File.php
  tests/Cms/Files/FileTest.php
Due: backend

Remove unused `use` statement
  config/helpers.php
Due: backend

Make `Environment::sanitize()` a static method
  src/Http/Environment.php
  tests/Http/EnvironmentTest.php
Due: backend

New `Environment::getGlobally()` method
  src/Http/Environment.php
  tests/Http/EnvironmentTest.php
Due: backend

`AppErrors`: Output relative paths in JSON errors
  src/Cms/AppErrors.php
Due: backend

Adapt unit tests
  tests/Cms/App/AppErrorsTest.php
  tests/Cms/Auth/AuthTest.php
  tests/Exception/ExceptionTest.php
  tests/Http/RequestTest.php
  tests/Session/AutoSessionTest.php
  tests/Session/SessionsTest.php
Due: none

Use env instead of `$_SERVER` wherever possible
  src/Api/Api.php
  src/Cms/AppErrors.php
  src/Exception/Exception.php
  src/Http/Header.php
  src/Http/Request.php
  src/Http/Url.php
  src/Http/Visitor.php
  tests/Cms/Api/ApiTest.php
Due: backend

Add missing `@since` tag for `Str` class
  src/Toolkit/Str.php
Due: backend

Fix `Environment::sanitzeHost` for multibyte #4353
  src/Http/Environment.php
Due: backend

`Pages`: Consistent find behavior for non-children
  src/Cms/Pages.php
  tests/Cms/Pages/PagesTest.php
Due: backend

Rough first table layout implementation
  config/fields/mixins/layout.php
  config/sections/mixins/layout.php
  panel/src/components/Layout/Items.vue
Due: backend, frontend

Pass columns to table
  panel/src/components/Layout/Collection.vue
  panel/src/components/Layout/Items.vue
Due: frontend

Fix sorting for sections with table layout
  panel/src/components/Layout/Items.vue
  panel/src/components/Layout/Table.vue
Due: frontend

First implementation of the table layout for pages sections
  config/sections/pages.php
  panel/src/components/Forms/Previews/BubblesFieldPreview.vue
  panel/src/components/Forms/Previews/DateFieldPreview.vue
  panel/src/components/Forms/Previews/FlagFieldPreview.vue
  panel/src/components/Forms/Previews/ImageFieldPreview.vue
  panel/src/components/Forms/Previews/index.js
  panel/src/components/Layout/Collection.vue
  panel/src/components/Layout/Items.vue
  panel/src/components/Sections/ModelsSection.vue
Due: backend, frontend

Sections: merge `max` + `min` to `limits` mixin
  config/sections/files.php
  config/sections/mixins/limits.php
  config/sections/mixins/max.php
  config/sections/mixins/min.php
  config/sections/mixins/pagination.php
  config/sections/pages.php
  src/Cms/Core.php
Due: backend

CS fixes
  config/sections/files.php
  config/sections/pages.php
Due: backend

Section `columns` mixin
  config/sections/files.php
  config/sections/mixins/columns.php
  config/sections/pages.php
  src/Cms/Core.php
Due: backend

Support `layout: table` in files sections
  config/sections/files.php
  config/sections/pages.php
Due: backend

Section `details` mixin
  config/sections/files.php
  config/sections/mixins/details.php
  config/sections/pages.php
  src/Cms/Core.php
  src/Cms/ModelWithContent.php
Due: backend

Sections `sort` mixin
  config/sections/files.php
  config/sections/mixins/layout.php
  config/sections/mixins/sort.php
  config/sections/pages.php
  src/Cms/Core.php
Due: backend

CS fixes
  config/sections/mixins/layout.php
  config/sections/pages.php
Due: backend

Table layout: fix emitting option
  panel/src/components/Layout/Items.vue
Due: frontend

Revert "Sections: merge `max` + `min` to `limits` mixin"
  config/sections/files.php
  config/sections/mixins/limits.php
  config/sections/mixins/max.php
  config/sections/mixins/min.php
  config/sections/pages.php
  src/Cms/Core.php
Due: backend

Section mixins: merge `columns` into `layout`
  config/fields/mixins/layout.php
  config/sections/files.php
  config/sections/mixins/columns.php
  config/sections/mixins/layout.php
  config/sections/pages.php
  src/Cms/Core.php
Due: backend

Sections: clean up
  config/sections/files.php
  config/sections/mixins/columns.php
  config/sections/pages.php
Due: backend

Sections: fix mixins
  config/sections/files.php
  config/sections/mixins/pagination.php
  config/sections/pages.php
Due: backend

`k-empty` for `layout: table`
  panel/src/components/Layout/Empty.vue
Due: frontend

CS fix
  config/sections/files.php
Due: backend

Sections: allow html values in table layout
  config/sections/mixins/layout.php
Due: backend

Sections: disabling title column in table layout
  config/sections/mixins/layout.php
Due: backend

CS fix
  config/sections/pages.php
Due: backend

Table layout: proper HTML support via `type: html`
  config/sections/mixins/layout.php
  panel/src/components/Forms/Previews/TextFieldPreview.vue
  panel/src/components/Layout/Table.vue
Due: backend, frontend

Pages section: fix sorting
  config/sections/pages.php
  panel/src/components/Layout/Items.vue
Due: backend, frontend

Fix section header links
  config/sections/files.php
  config/sections/pages.php
Due: backend

Sort mixin tests
  tests/Cms/Sections/mixins/SortMixinTest.php
Due: none

Add mixin tests
  config/sections/mixins/layout.php
  tests/Cms/Sections/mixins/LayoutMixinTest.php
  tests/Cms/Sections/mixins/SortMixinTest.php
Due: backend
