Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

New `license` area with register btn in sidebar
  config/areas/license.php
  config/areas/license/dialogs.php
  config/areas/system.php
  panel/src/components/Misc/Registration.vue
  panel/src/components/Misc/index.js
  panel/src/components/View/Inside.vue
  panel/src/components/View/Menu.vue
  src/Cms/Core.php
  src/Panel/Panel.php
  src/Panel/View.php
Due: backend, frontend

Fix main breadcrumb
  config/areas/license.php
  src/Panel/Panel.php
  src/Panel/View.php
Due: backend

First round of purging `:has()`
  panel/package-lock.json
  panel/package.json
  panel/src/components/Collection/Item.vue
  panel/src/components/Dialogs/Dialog.vue
  panel/src/components/Dialogs/Elements/Body.vue
  panel/src/components/Drawers/Elements/Body.vue
  panel/src/components/Forms/Blocks/Block.vue
  panel/src/components/Forms/Blocks/Types/Fields.vue
  panel/src/components/Forms/Field.vue
  panel/src/components/Forms/Field/BlocksField.vue
  panel/src/components/Forms/Input/CheckboxesInput.vue
  panel/src/components/Forms/Layouts/Layouts.vue
  panel/src/components/Forms/Previews/ColorFieldPreview.vue
  panel/src/components/Forms/Toolbar.vue
  panel/src/components/Forms/Writer/Toolbar.vue
  panel/src/components/Forms/Writer/Writer.vue
  panel/src/components/Layout/Bubble.vue
  panel/src/components/Layout/Header.vue
  panel/src/components/Navigation/Button.vue
  panel/src/components/Navigation/Tag.vue
  panel/src/components/Navigation/Tree.vue
  panel/src/components/View/Inside.vue
  panel/src/components/View/Menu.vue
  panel/src/components/View/Outside.vue
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Users/UserView.vue
  panel/src/components/Views/Users/UsersView.vue
  panel/src/components/Views/index.js
  panel/src/index.js
  panel/src/styles/reset.css
Due: frontend

License: open buy links in new tab
  config/areas/license/dialogs.php
Due: backend

Caches for no template
  src/Cms/File.php
Due: backend

Show revert button without dropdown
  panel/src/components/Forms/FormButtons.vue
Due: frontend

Fix tab margin in model views
  panel/src/components/Views/Files/FileView.vue
  panel/src/components/Views/Pages/PageView.vue
  panel/src/components/Views/Users/UserView.vue
Due: frontend

Only show registration button if there’s no license
  config/areas/license.php
Due: backend

Fix tabs in site view
  panel/src/components/Views/Pages/SiteView.vue
Due: frontend

Fix alert color
  panel/src/components/Dialogs/UploadDialog.vue
Due: frontend

`panel.menu`
  panel/src/components/View/Inside.vue
  panel/src/components/View/Menu.vue
  panel/src/components/View/Topbar.vue
  panel/src/panel/menu.js
  panel/src/panel/panel.js
Due: frontend

Better changes dialog
  config/areas/site/dialogs.php
  config/areas/site/dropdowns.php
  panel/src/components/Dialogs/ChangesDialog.vue
  panel/src/components/Dialogs/index.js
  panel/src/components/Forms/FormIndicator.vue
  panel/src/components/Forms/index.js
  src/Panel/ChangesDialog.php
  src/Panel/Dropdown.php
  src/Panel/Model.php
Due: backend, frontend

Menu suggestions
  panel/src/panel/menu.js
  panel/src/panel/panel.js
Due: frontend

Hide the collapse handle when the menu is open
  panel/src/components/View/Menu.vue
Due: frontend

Use tabs instead of role filter dropdown
  config/areas/users/views.php
  panel/src/components/Views/Users/UsersRoleFilter.vue
  panel/src/components/Views/Users/UsersView.vue
  panel/src/components/Views/index.js
Due: backend, frontend

`panel.menu.escape()`
  panel/src/components/View/Menu.vue
  panel/src/panel/menu.js
Due: frontend

Avoid unnecessary breaking change
  config/sections/pages.php
Due: backend

Add dist files
  composer.json
  composer.lock
  panel/dist/css/style.css
  panel/dist/img/icons.svg
  panel/dist/js/index.js
  panel/dist/js/vendor.js
  vendor/composer/InstalledVersions.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

Fix headline field
  panel/src/components/Forms/Field/HeadlineField.vue
Due: frontend

Fix unit tests
  tests/Panel/Areas/SiteDropdownsTest.php
  tests/Panel/Areas/SystemDialogsTest.php
  tests/Panel/DropdownTest.php
  tests/Panel/FileTest.php
  tests/Panel/ModelTest.php
  tests/Panel/PageTest.php
  tests/Panel/PanelTest.php
  tests/Panel/SiteTest.php
  tests/Panel/UserTest.php
  tests/Panel/ViewTest.php
Due: none

Fix user blueprint home option #5359
  src/Panel/Home.php
  src/Panel/Panel.php
  tests/Panel/HomeTest.php
Due: backend

Cache `System::$license`
  src/Cms/System.php
Due: backend

Remoev `:has()` polyfill
  panel/package-lock.json
  panel/package.json
  panel/src/components/Collection/Item.vue
  panel/src/components/Forms/Blocks/Types/Fields.vue
  panel/src/components/Forms/Field/CheckboxesField.vue
  panel/src/components/Forms/Field/DateField.vue
  panel/src/components/Forms/Field/RadioField.vue
  panel/src/components/Forms/Field/StructureField.vue
  panel/src/components/Forms/Field/TogglesField.vue
  panel/src/components/Forms/Input.vue
  panel/src/components/Forms/Input/TogglesInput.vue
  panel/src/components/Forms/Selector.vue
  panel/src/components/Navigation/Browser.vue
  panel/src/components/View/Menu.vue
  panel/src/index.js
  panel/src/panel/menu.js
  panel/vite.config.js
Due: frontend

Clear license cache on register
  src/Cms/System.php
Due: backend

Panel menu: reverse behavior, default is expanded
  panel/src/panel/menu.js
Due: frontend

Update System.php
  src/Cms/System.php
Due: backend

Panel menu: new toggle
  panel/src/components/View/Menu.vue
  panel/src/components/View/Topbar.vue
  panel/src/panel/menu.js
  panel/src/panel/panel.js
Due: frontend

Tweak panel menu toggle color
  panel/src/components/View/Menu.vue
Due: frontend

Fixed button background in table navigation
  panel/src/components/Layout/Table.vue
Due: frontend

Small toggle changes
  panel/src/components/View/Menu.vue
Due: frontend

`none` theme
  panel/src/components/Layout/Box.vue
  panel/src/styles/utilities/theme.css
Due: frontend

Fix cs
  config/areas/site/dropdowns.php
  config/areas/users/views.php
  tests/Panel/DropdownTest.php
Due: backend

New `Panel\Menu` class
  config/areas/license.php
  config/areas/search.php
  src/Panel/Home.php
  src/Panel/Menu.php
  src/Panel/View.php
  tests/Panel/MenuTest.php
  tests/Panel/ViewTest.php
Due: backend

Menu: move license button to bottom options
  src/Panel/Menu.php
  tests/Panel/MenuTest.php
Due: backend

New `panel.menu` config feature
  panel/src/components/Navigation/Button.vue
  panel/src/components/View/Menu.vue
  src/Cms/Loader.php
  src/Panel/Panel.php
  src/Panel/View.php
  tests/Panel/ViewTest.php
Due: backend, frontend

Fix layout settings drawer
  panel/src/components/Forms/Layouts/Layout.vue
Due: frontend

Fix collapsed fields block preview styling
  panel/src/components/Forms/Blocks/Types/Fields.vue
Due: frontend

Simplify register menu entry setup
  config/areas/license.php
  config/areas/system.php
  config/areas/system/dialogs.php
  src/Cms/Core.php
  src/Panel/Menu.php
  tests/Panel/MenuTest.php
  tests/Panel/PanelTest.php
Due: backend

Panel menu: remove ids
  src/Panel/Menu.php
  tests/Panel/MenuTest.php
Due: backend

New login and installation style
  panel/src/components/View/Outside.vue
  panel/src/components/Views/Login/InstallationView.vue
  panel/src/components/Views/Login/LoginView.vue
Due: frontend
