Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

Move logic from `Language` to `ContentStorage`
  src/Cms/Language.php
  src/Content/ContentStorage.php
  src/Content/ContentStorageHandler.php
  src/Content/PlainTextContentStorage.php
Due: backend

Simplify `FileActions` via `ContentStorage`
  src/Cms/FileActions.php
  src/Content/ContentStorage.php
Due: backend

Make `FileAction` content storage handler agnostic
  src/Cms/FileActions.php
Due: backend

`ContentStorage::defaultVersion()`
  src/Cms/ModelWithContent.php
  src/Content/ContentStorage.php
Due: backend

`ContentStorage` first tests
  src/Content/ContentStorage.php
  src/Content/PlainTextContentStorage.php
  tests/Content/ContentStorageTest.php
  tests/Content/PlainTextContentStorageTest.php
Due: backend

Simple `Cms` namespace clean-up
  src/Cms/AppUsers.php
  src/Cms/Blueprint.php
  src/Cms/Collection.php
  src/Cms/File.php
  src/Cms/FileActions.php
  src/Cms/Files.php
  src/Cms/HasMethods.php
  src/Cms/HasSiblings.php
  src/Cms/Helpers.php
  src/Cms/Ingredients.php
  src/Cms/ModelWithContent.php
  src/Cms/Page.php
  src/Cms/PageActions.php
  src/Cms/PageBlueprint.php
  src/Cms/PageRules.php
  src/Cms/PageSiblings.php
  src/Cms/Pages.php
  src/Cms/Pagination.php
  src/Cms/Responder.php
  src/Cms/Response.php
  src/Cms/Roles.php
  src/Cms/Section.php
  src/Cms/Site.php
  src/Cms/User.php
  src/Cms/Users.php
  tests/Cms/Models/ModelWithContentTest.php
Due: backend

Update composer
  composer.json
  composer.lock
  vendor/composer/InstalledVersions.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.php
Due: none

Update dist files
  panel/dist/css/style.css
  panel/dist/img/icons.svg
  panel/dist/js/index.js
Due: none

Add code coverage comment
  src/Cms/Page.php
Due: backend

ContentStorage: changes after code review
  src/Cms/FileActions.php
  src/Cms/Language.php
  src/Cms/ModelWithContent.php
  src/Content/ContentStorage.php
  src/Content/ContentStorageHandler.php
  src/Content/PlainTextContentStorageHandler.php
  tests/Content/ContentStorageTest.php
  tests/Content/PlainTextContentStorageHandlerTest.php
  vendor/composer/InstalledVersions.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: backend

Update type hints to new Content namespace
  config/methods.php
  src/Cms/Block.php
  src/Cms/File.php
  src/Cms/Layout.php
  src/Cms/ModelWithContent.php
  src/Cms/Nest.php
  src/Cms/Page.php
  src/Cms/Site.php
  src/Cms/StructureObject.php
  src/Cms/User.php
  src/Content/PlainTextContentStorageHandler.php
  src/Image/Image.php
  src/Option/OptionsApi.php
  src/Option/OptionsQuery.php
  src/Toolkit/V.php
  src/Uuid/BlockUuid.php
  src/Uuid/FieldUuid.php
  src/Uuid/StructureUuid.php
  tests/Cms/App/AppComponentsTest.php
  tests/Cms/Collections/CollectionTest.php
  tests/Cms/Files/FileModificationsTest.php
  tests/Cms/Items/ItemTest.php
  tests/Cms/Items/ItemsTest.php
  tests/Cms/Nests/NestObjectTest.php
  tests/Cms/Pages/PageActionsTest.php
  tests/Toolkit/VTest.php
Due: backend

Fix code coverage annotations
  tests/Cms/Auth/StatusTest.php
  tests/Filesystem/FileTest.php
  tests/Form/FieldTest.php
  tests/Panel/DropdownTest.php
Due: none

Ignore `__debugInfo` in code coverage
  src/Blueprint/Collection.php
  src/Cms/App.php
  src/Cms/Blueprint.php
  src/Cms/Event.php
  src/Cms/Ingredients.php
  src/Cms/Language.php
  src/Cms/ModelPermissions.php
  src/Cms/Page.php
  src/Cms/Role.php
  src/Cms/Site.php
  src/Cms/System.php
  src/Cms/Translation.php
  src/Cms/User.php
  src/Content/Content.php
  src/Content/ContentTranslation.php
  src/Content/Field.php
  src/Filesystem/File.php
  src/Http/Request.php
  src/Http/Request/Data.php
  src/Http/Response.php
  src/Image/Camera.php
  src/Image/Dimensions.php
  src/Image/Exif.php
  src/Image/Location.php
  src/Toolkit/Collection.php
  src/Toolkit/Component.php
  src/Toolkit/Iterator.php
  src/Toolkit/Obj.php
  tests/Cms/EventTest.php
Due: backend

Unit test for files field `parentModel`
  tests/Form/Fields/FilesFieldTest.php
Due: none

Simple `Toolkit` clean ups
  src/Toolkit/Component.php
  src/Toolkit/I18n.php
  src/Toolkit/Iterator.php
  src/Toolkit/Locale.php
Due: backend

Update dependencies
  i18n/translations/is_IS.json
  i18n/translations/ko.json
  i18n/translations/pl.json
  panel/dist/js/vendor.js
  vendor/composer/InstalledVersions.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
Due: none

SImplify `UserProfile`
  panel/src/components/Views/Users/UserProfile.vue
Due: frontend

Fix focus helper
  panel/src/helpers/focus.js
Due: frontend

Use new dialog pattern for pasteboard in layouts
  panel/src/components/Forms/Layouts/Layouts.vue
Due: frontend

Fix pasting blocks
  panel/src/components/Forms/Blocks/Blocks.vue
Due: frontend

Item: no focus on sort handle
  panel/src/components/Collection/Item.vue
Due: frontend

Fix styling for disabled filled buttons
  panel/src/components/Navigation/Button.vue
Due: frontend

Fix sort order of Language unit tests
  src/Cms/Language.php
  tests/Cms/Languages/LanguageTest.php
Due: backend

Fix checkbox
  panel/src/components/Forms/Input/CheckboxInput.vue
Due: frontend

Don’t close dialog when drag-select
  panel/src/components/Layout/Overlay.vue
Due: frontend

Fix tabs badge overflow
  panel/src/components/Layout/Tabs.vue
Due: frontend

Fix default language handling
  src/Cms/App.php
  src/Cms/Language.php
  tests/Cms/Languages/LanguageTest.php
Due: backend

Typing for `CmsLanguageRouter`
  src/Cms/Language.php
  src/Cms/LanguageRouter.php
  src/Cms/LanguageRoutes.php
  src/Cms/LanguageRules.php
  src/Cms/Languages.php
Due: backend

Fixes after code review
  src/Cms/LanguageRouter.php
  src/Cms/LanguageRoutes.php
  src/Cms/Languages.php
Due: backend

Clean up `Cms\Auth`
  src/Cms/Auth.php
Due: backend

Fix code style
  src/Cms/Auth.php
Due: backend

Fix code selector in code block
  panel/src/components/Forms/Blocks/Types/Code.vue
Due: frontend

Less intrusive error handling when object and structure fields don’t have subfields
  config/fields/object.php
  config/fields/structure.php
  i18n/translations/en.json
  panel/src/components/Forms/Field/ObjectField.vue
  panel/src/components/Forms/Field/StructureField.vue
Due: backend, frontend

UsersView: use role value for create dialog
  config/areas/users/dialogs.php
  panel/src/components/Views/Users/UsersView.vue
Due: backend, frontend

Fix duplicated layout issues #5349
  panel/src/components/Forms/Layouts/Layouts.vue
Due: frontend

Improve duplicate action and add description for `updateIds` method #5349
  panel/src/components/Forms/Layouts/Layouts.vue
Due: frontend

Only show add button on focus
  panel/src/components/Forms/Input/TagsInput.vue
Due: frontend

Button text alignment based on button-align
  panel/src/components/Navigation/Button.vue
Due: frontend

More subtle add button
  panel/src/components/Dropdowns/SelectDropdown.vue
  panel/src/components/Forms/Input/TagsInput.vue
  panel/src/components/Navigation/Tag.vue
Due: frontend

Path conditions:
  backend: any of: config/, src/
  frontend: any of: panel/src/
