Repository getkirby/kirby: changes, and which Codecov flags are due for each by the changed paths.
All: backend, frontend

.codecov.yml:

coverage:
  status:
    default_rules:
      # don't send status checks that don't have flag coverage uploaded
      flag_coverage_not_uploaded_behavior: exclude

    # rules for overall project-wide coverage
    project:
      backend:
        flags:
          - backend
        target: auto
        threshold: 1%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

    # rules based on the specific changes of the PR
    patch:
      backend:
        flags:
          - backend
        target: 100%
        threshold: 2%
      frontend:
        flags:
          - frontend
        target: auto
        informational: true # don't fail because of frontend tests for now

flags:
  backend:
    paths:
      - config/
      - src/
  frontend:
    paths:
      - panel/src/

Use setPosition() to solve the conflict
  panel/src/components/Dropdowns/DropdownContent.vue
Due: frontend

Fix collection items index #5623
  panel/src/components/Collection/Items.vue
Due: frontend

Add unit tests for `$auth->login()`
  tests/Cms/Auth/AuthTest.php
Due: none

Nested dialogs
  panel/src/panel/dialog.js
  panel/src/panel/dialog.test.js
  panel/src/panel/drawer.js
  panel/src/panel/modal.js
  panel/src/panel/modal.test.js
  panel/src/panel/upload.js
Due: frontend

Update filename when changing format on upload
  src/Cms/FileActions.php
  tests/Cms/Files/FileActionsTest.php
Due: backend

New `FileActions::changeExtension()`
  src/Cms/FileActions.php
Due: backend

Fix #5620
  src/Cms/Plugin.php
  tests/Cms/Plugins/PluginAssetsTest.php
  tests/Cms/Plugins/PluginTest.php
Due: backend

Fix `$collection->group()` for case-sensitive
  src/Cms/Collection.php
  src/Toolkit/Collection.php
  tests/Cms/Collections/CollectionTest.php
Due: backend

Deprecate `Collection::$caseSensitive`
  src/Toolkit/Collection.php
  tests/Toolkit/CollectionTest.php
Due: backend

Fix cards overflowing column
  panel/src/components/Collection/Items.vue
Due: frontend

Unify models fields
  panel/src/components/Forms/Field/FilesField.vue
  panel/src/components/Forms/Field/ModelsField.vue
  panel/src/components/Forms/Field/PagesField.vue
  panel/src/components/Forms/Field/UsersField.vue
Due: frontend

Files field: add upload button back in
  panel/src/components/Forms/Field/FilesField.vue
  panel/src/components/Forms/Field/ModelsField.vue
Due: frontend

ModelsField: show select btn also if max reached
  panel/src/components/Forms/Field/ModelsField.vue
Due: frontend

Update src/Toolkit/Collection.php
  src/Toolkit/Collection.php
Due: backend

Rename parameter to `$caseInsensitive`
  src/Cms/Collection.php
  src/Toolkit/Collection.php
Due: backend

Upload dialog: fix error overflow
  panel/src/components/Dialogs/UploadDialog.vue
Due: frontend

Fix failed database query with fetch closure
  src/Database/Database.php
Due: backend

`Collection::$caseSensitive`: add todo comment
  src/Toolkit/Collection.php
Due: backend

Recreate nico's reformatting
  src/Database/Database.php
Due: backend

Fix calling fetch(Closure) with first/row/one
  src/Database/Database.php
  src/Database/Query.php
  tests/Database/QueryTest.php
Due: backend

php-cs-fixer formatting fixes
  src/Database/Database.php
  src/Database/Query.php
Due: backend

Fixes #5642
  src/Content/Field.php
Due: backend

Display `$app->trigger/apply()` in the reference
  src/Cms/App.php
Due: backend

Send null to fetch closures as the second parameter
  src/Database/Database.php
Due: backend

Tweak Vite setup
  panel/scripts/vite-kirby-dev.js
  panel/vite.config.js
Due: none

Ignore `panel/scripts` for github export
  .gitattributes
Due: none

Fix optional parameter for `Cms\Api::file()`
  src/Cms/Api.php
  src/Cms/Find.php
Due: backend

Fix RemoteTest when curl.cainfo is actually set
  tests/Http/RemoteTest.php
Due: none

Unset `url.cainfo` mock at end of test
  tests/Http/RemoteTest.php
Due: none

Upgrade npm dependencies
  panel/package-lock.json
  panel/package.json
Due: none

Update version constraints for PHP 8.3
  .github/workflows/backend.yml
  bootstrap.php
  composer.json
  composer.lock
  vendor/composer/InstalledVersions.php
  vendor/composer/autoload_classmap.php
  vendor/composer/autoload_static.php
  vendor/composer/installed.json
  vendor/composer/installed.php
  vendor/symfony/polyfill-ctype/LICENSE
  vendor/symfony/polyfill-ctype/composer.json
  vendor/symfony/polyfill-intl-normalizer/LICENSE
  vendor/symfony/polyfill-intl-normalizer/composer.json
Due: none

Fix optional parameters for PHP 8.3
  src/Content/ContentStorage.php
Due: backend

Use lightningcss
  panel/package-lock.json
  panel/package.json
  panel/vite.config.js
Due: none

Remove unused chunkFileName rule
  panel/vite.config.js
Due: none

Update .gitattributes
  .gitattributes
Due: none

Add callable support to $query->fetch()
  src/Database/Query.php
Due: backend

Add tests for $query->fetch(callable)
  tests/Database/QueryTest.php
  tests/Database/mocks.php
Due: none

Fix coding style
  tests/Database/QueryTest.php
Due: none

Fix coding style
  tests/Database/mocks.php
Due: none
